= simple_form_for @forms_credential, url: credentials_path(@domain_id), method: :post do |f|
  - projects = services.identity.projects(@domain_id)
  
  %fieldset
    = f.input :type,
      collection:         Settings.credentials.types,
      as:                 :select,
      input_html:         { class: "dynamic-form-trigger" },
      include_blank:      "Select credential type"

  = f.simple_fields_for :blob do |blob|
    %fieldset.dynamic-form-target{data: {type: "ec2"}}
      = blob.input :access,
        label:              t('credentials.ec2.access'),
        input_html:         { maxlength: 255, value: @forms_credential.blob.fetch("access",nil) }

      = blob.input :secret,
        label:              t('credentials.ec2.secret'),
        input_html:         { maxlength: 255, value: @forms_credential.blob.fetch("secret",nil) }

      = f.input :project_id,
        label:              "Project",
        as:                 :select,
        collection:         projects,
        include_blank:      "Choose a project"

    %fieldset.dynamic-form-target{data: {type: "ssh-key"}}
      = blob.input :name,
        label:              t('credentials.ssh-key.name'),
        input_html:         { maxlength: 255, value: @forms_credential.blob.fetch("name",nil) },
        disabled:           true

      = blob.input :public_key,
        as:                 :text,
        label:              t('credentials.ssh-key.public_key'),
        input_html:         { rows: 15, value: @forms_credential.blob.fetch("public_key",nil) },
        disabled:           true

      = f.input :project_id,
        label:              "Project",
        as:                 :select,
        collection:         projects,
        include_blank:      "Choose a project",
        disabled:           true


  %fieldset
    = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: "Saving..." }
    
