= simple_form_for @credential, url: credentials_path(@domain_id), method: :post do |f|

  %fieldset
    = f.input :type,
      collection:         Settings.credentials.types,
      as:                 :select,
      input_html:         { class: "dynamic_input" },
      include_blank:      false

  %fieldset{data: {type: "ec2"}}
    = f.input :access,
      label:              t('credentials.ec2.access'),
      input_html:         { maxlength: 255, name: "forms_credential[blob][access]" }

    = f.input :secret,
      label:              t('credentials.ec2.secret'),
      input_html:         { maxlength: 255, name: "forms_credential[blob][secret]" }

    = f.input :project,
      label:              "Project",
      as:                 :select,
      collection:         services.identity.user_domain_projects(@domain_id),
      include_blank:      "Choose a project"

  %fieldset{data: {type: "ssh-key"}}
    = f.input :name,
      label:              t('credentials.ssh-key.name'),
      input_html:         { maxlength: 255, name: "forms_credential[blob][name]" },
      disabled:           true

    = f.input :public_key,
      as:                 :text,
      label:              t('credentials.ssh-key.public_key'),
      input_html:         { rows: 15, name: "forms_credential[blob][public_key]" },
      disabled:           true

  %fieldset
    = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: "Saving..." }
