.container

  .modal#pleaseWaitDialog{data:{backdrop:"static", keyboard:"false"}}
    .modal-header
      %h1 Processing...
        
    .modal-body
      .progress.progress-striped.active
        .bar{style:"width: 100%;"}
    
  .page-header
    %h1
      Credentials
      %small Manage your ssh keys and ec2 credentials

  - if current_user.is_allowed?("identity:create_credential", {credential: {user_id: current_user.id} })              
    .toolbar    
      %button.btn.btn-primary.btn-lg{type:"button", data: {toggle:"modal", target: "#myModal"}} Create new
    
    .modal#myModal.fade{data: { backdrop: 'static' }}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}}
              %span{aria: {hidden: "true"}} &times;
            %h4.modal-title Modal title
        
          .modal-body
            #credential_form= render "form"
        
          .modal-footer
            %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
            %button{type: "button", onclick: "$(this).closest('.modal-content').find('form').submit()",class: 'btn btn-primary', data: { disable_with: "Saving..." }} Save

                    
  .table-responsive
    %table.table
      %thead
        %tr
          %th Type
          %th Scope
          %th Data
          %th
      %tbody
        - @user_credentials.each do |credential|
          %tr
            %td= credential.type
            %td
              - unless credential.project_id.blank?
                = services.identity.find_project(credential.project_id)
              - else
                \--
            %td
              .data-tabular-display
                - JSON.parse(credential.blob).each do |key, value|
                  - key_string = t("credentials.#{credential.type}.#{key}")
                  .data-tabular-row
                    .data-tabular-cell.text-nobreak
                      #{key_string}:
                    .data-tabular-cell
                      #{value}

            %td.snug
              - if current_user.is_allowed?("identity:delete_credential", {target: { credential: credential } })
                .btn-group
                  %button.btn.btn-default.btn-sm{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
                    %span.glyphicon.glyphicon-cog
                
                  %ul.dropdown-menu{ role:"menu"}
                    / %li= link_to "Edit", "#"
                    / %li.divider
                    %li= link_to 'Delete', credential_path(id: credential.id, domain_id: @domain_id), method: :delete 
              



