.content
  .container
    .page-header
      %h1
        Credentials

    %table.table
      %thead
        %tr
          %th Type
          %th Scope
          %th Data
          %th
      %tbody
        - @user_credentials.each do |credential|
          %tr
            %td= credential.type
            %td
              - unless credential.project_id.blank?
                = services.identity.find_project(credential.project_id)
              - else
                Domain
            %td
              .data-tabular-display
                - JSON.parse(credential.blob).each do |key, value|
                  - key_string = t("credentials.#{credential.type}.#{key}")
                  .data-tabular-row
                    .data-tabular-cell
                      #{key_string}:
                    .data-cell{style: "width: 500px; overflow: scroll"}
                      #{value}

            %td.snug
              - if current_user.is_allowed?("identity:delete_credential", {target: { credential: credential } })
                .btn-group
                  %button.btn.btn-default.btn-sm{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
                    %span.glyphicon.glyphicon-cog
                
                  %ul.dropdown-menu{ role:"menu"}
                    / %li= link_to "Edit", "#"
                    / %li.divider
                    %li= link_to 'Delete', credential_path(id: credential.id, domain_id: @domain_id), method: :delete 
              


    - if current_user.is_allowed?("identity:create_credential", {credential: {user_id: current_user.id} })                
      .row
        .col-sm-6= render "form"
