.content
  .container
    .page-header
      %h1
        Credentials



    %table.table
      %thead
        %tr
          %th Type
          %th Scope
          %th Data
          %th
      %tbody
        - @user_credentials.each do |credential|
          - puts "---------------------------------- Credential: #{credential.inspect}"
          %tr
            %td= credential.type
            %td
              - unless credential.project_id.blank?
                = services.identity.user_project(credential.project_id)
              - else
                Domain
            %td
              .data-tabular-display
                - JSON.parse(credential.blob).each do |key, value|
                  - key_string = t("credentials.#{credential.type}.#{key}")
                  .data-tabular-row
                    .data-tabular-cell
                      #{key_string}:
                    .data-cell
                      #{value}

            %td.snug
              %a.btn.btn-default.btn-sm
                %span.glyphicon.glyphicon-cog
          -# = link_to credential.name, credential_path(id: credential.id, domain_id: @domain_id)


    .row
      .col-sm-6
        = render "form"
