.container
  .page-header
    %h1
      Credentials
      %small Manage your ssh keys and ec2 credentials



  .toolbar
    %a.btn.btn-primary Create new

  .table-responsive
    %table.table
      %thead
        %tr
          %th Type
          %th Scope
          %th Data
          %th
      %tbody
        - @user_credentials.each do |credential|
          %tr
            %td= credential.type
            %td
              - unless credential.project_id.blank?
                = services.identity.find_project(credential.project_id)
              - else
                \--
            %td
              .data-tabular-display
                - JSON.parse(credential.blob).each do |key, value|
                  - key_string = t("credentials.#{credential.type}.#{key}")
                  .data-tabular-row
                    .data-tabular-cell.text-nobreak
                      #{key_string}:
                    .data-tabular-cell
                      #{value}

            %td.snug
              %a.btn.btn-default.btn-sm
                %span.glyphicon.glyphicon-cog



  .row
    .col-sm-6
      = render "form"
