.bs-callout.bs-callout-primary
  %p
    %h3
      = link_to 'Maia', 'https://github.com/sapcc/maia/blob/master/README.md', target:'_blank'
    %p
      Maia is a multi-tenant OpenStack-service for accessing metrics and alarms collected
      through Prometheus. It offers a Prometheus-compatible API and supports federation.
    %ul
      %li
        %h4
          = link_to 'Maia Service', 'https://github.com/sapcc/maia/blob/master/docs/operators-guide.md', target:'_blank'
        %p
          The service is depending on an existing Prometheus installation that is responsible
          for collecting metrics. These metrics are exposed by Maia using the same, familiar
          Prometheus API. The only difference is that all API requests have to be authenticated and
          scoped using either OpenStack identity tokens or basic authentication.
      %li
        %h4
          = link_to 'Maia CLI', 'https://github.com/sapcc/maia/blob/master/docs/users-guide.md#using-the-maia-client', target:'_blank'
        %p
          The maia command can also be used to retrieve metrics from the Maia service.
          It behaves like any other OpenStack CLI, supporting the same command line options and
          environment variables for authentication
      %li
        %h4
          = link_to 'Maia User Interface', 'https://github.com/sapcc/maia/blob/master/docs/users-guide.md#using-the-maia-ui', target:'_blank'
        %p
          This is a Prometheus expression browser adapted to Maia. You can use it to discover metrics,
          series and perform ad-hoc queries leveraging all of PromQL's rich query syntax.
        %p
%p
- maia_dashboard_url = "https://maia.#{current_region}.cloud.sap/#{@scoped_domain_name}?x-auth-token=#{current_user.token}"
%p
  = link_to maia_dashboard_url, class: 'btn btn-primary', target: '_blank' do
    %i.fa.fa-external-link
    Open Maia Dashboard