- content_for (:details) do
  %h4 Overview
  %table.table
    %tbody
      %tr
        %th Name
        %td= @recordset.name
      %tr
        %th ID
        %td= @recordset.id
      %tr
        %th Type
        %td= @recordset.type
      %tr
        %th Description
        %td= @recordset.description
      %tr
        %th Record Data
        %td= sanitize(@recordset.records.join(', '))
      %tr
        %th TTL
        %td= @recordset.ttl
      %tr
        %th Priority
        %td= @recordset.priority
      %tr
        %th Project
        %td
          - project_id_and_name(@recordset.project_id)

      - if @recordset.created_at
        %tr
          %th Created at
          %td= @recordset.pretty_created_at
      - if @recordset.updated_at
        %tr
          %th Updated at
          %td= @recordset.pretty_updated_at

#recordset
  - if modal? && !@action_from_show
    = yield :details
  - else
    .row
      .col-md-11
        = yield :details
      .col-md-1
        .loading-place
        .btn-group
          = render partial: 'item_actions', locals: {zone: @zone, recordset: @recordset, show_view: true}