- data = {search_name: recordset.name+'_'+recordset.id+'_'+recordset.type, marker_id: recordset.id}

%tr{id: "recordset_#{recordset.id}", data: data}
  %td.big-data-cell
    - if current_user.is_allowed?("dns_service:recordset_get", recordset: recordset.attributes, zone: zone)
      = link_to recordset.name, zone_recordset_path(zone_id:zone.id,id:recordset.id), data: {modal: true}
    - else
      = recordset.name
    %br
    %span.info-text= recordset.id
  %td= recordset.type
  %td.big-data-cell
    - if recordset.records.is_a?(Array)
      = sanitize(recordset.records.join(', '))
    - else
      = sanitize(recordset.records)

  %td= recordset.ttl
  %td.snug
    - if current_user.is_allowed?("dns_service:recordset_update", zone: zone) || current_user.is_allowed?("dns_service:recordset_delete", zone: zone)
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.fa.fa-cog
          -# %span.spinner

        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if recordset.type!='NS' && current_user.is_allowed?("dns_service:recordset_update", zone: zone)
            %li= link_to 'Edit', plugin('dns_service').edit_zone_recordset_path(zone_id:zone.id,id: recordset.id), data: {modal: true}
          - if current_user.is_allowed?("dns_service:recordset_delete", zone: zone)
            %li= link_to 'Delete', plugin('dns_service').zone_recordset_path(zone_id:zone.id,id:recordset.id), method: :delete, data: { confirm: 'Are you sure you want to delete this record?', ok: "Yes, delete it", confirmed: :loading_status}, remote: true
