- data = {search_name: recordset.name+'_'+recordset.id+'_'+recordset.type, marker_id: recordset.id}

%tr{id: "recordset_#{recordset.id}", data: data}
  %td.big-data-cell
    - if current_user.is_allowed?("dns_service:recordset_get", recordset: recordset.attributes, zone: zone)
      = link_to recordset.name, zone_recordset_path(zone_id:zone.id,id:recordset.id), data: {modal: true}
    - else
      = recordset.name
    %br
    %span.info-text= recordset.id
  %td= recordset.type
  %td.big-data-cell
    - if recordset.records.is_a?(Array)
      = sanitize(recordset.records.join(', '))
    - else
      = sanitize(recordset.records)

  %td= recordset.ttl
  %td.snug
    - if current_user.is_allowed?("dns_service:recordset_update", zone: zone) || current_user.is_allowed?("dns_service:recordset_delete", zone: zone)
      = render partial: 'dns_service/zones/recordsets/item_actions', locals: {zone: zone, recordset: recordset,  show_view: false}
