= content_for :title do
  Record Detail

- if modal?
  .flashes_area
    = render 'flashes'

%div{class: modal? ? 'modal-body' : ''}
  %h4 Overview
  %table.table
    %tbody
      %tr
        %th Name
        %td= @recordset.name
      %tr
        %th ID
        %td= @recordset.id        
      %tr
        %th Type
        %td= @recordset.type   
      %tr
        %th Description
        %td= @recordset.description
      %tr
        %th Record Data
        %td= @recordset.records.join(', ')
      %tr
        %th TTL
        %td= @recordset.ttl
        
      - if @recordset.created_at  
        %tr
          %th Created at
          - created_at = @recordset.created_at.is_a?(Time) ? @recordset.created_at : DateTime.parse(@recordset.created_at)
          %td= created_at.strftime("%b. %d, %Y, %l:%M %P") rescue created_at
      - if @recordset.updated_at
        %tr
          %th Updated at
          - updated_at = @recordset.updated_at.is_a?(Time) ? @recordset.updated_at : DateTime.parse(@recordset.updated_at)
          %td= updated_at.strftime("%b. %d, %Y, %l:%M %P") rescue updated_at
                                        
%div.buttons{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{ type: 'button', data: { dismiss:'modal' }, aria: { label: 'Cancel' } } Close
  - else
    = link_to 'Back', plugin('networking').floating_ips_path, class: 'btn btn-default'