%tr
  %td.name-with-icon
    - if object.is_directory?
      %span.glyphicon.glyphicon-folder-open{ title: 'Directory' }
      = link_to object.basename, plugin('object_storage').list_objects_path(@container_name, object.path), title: 'List contents'
    - else
      -if object.content_type.start_with?('image/')
        %span.glyphicon.glyphicon-picture{ title: 'Object' }
      - else
        %span.glyphicon.glyphicon-file{ title: 'Object' }
      = link_to object.basename, plugin('object_storage').download_object_path(@container_name, object.path, inline: 1), title: 'Show file contents in browser'
  %td
    - unless object.is_directory?
      = "#{object.size_bytes} bytes" # TODO: format
  %td
    - unless object.is_directory?
      = object.last_modified         # TODO: format
  %td.snug
    - if object.is_directory?
      -# for dirs, render a hidden button to ensure consistent row height
      %button.btn.btn-default.btn-sm.invisible
        %span.fa.fa-cog
    - else
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { expanded: true } }
          %span.fa.fa-cog

        %ul.dropdown-menu.dropdown-menu-right{ role: 'menu' }
          %li= link_to 'Download', plugin('object_storage').download_object_path(@container_name, object.path)
          %li.divider
          %li= link_to 'Properties', plugin('object_storage').object_path(@container_name, object.path), data: { modal: true }
