=content_for :main_toolbar do
  Object Storage

%ol.breadcrumb
  %li= link_to 'All containers', plugin('object_storage').containers_path
  - crumbs, last_crumb = make_breadcrumb(@container_name, params[:path])
  - crumbs.each do |crumb|
    %li= crumb
  %li.active= last_crumb

.toolbar
  .main-buttons
    = link_to 'Create folder', plugin('object_storage').new_folder_path(@container_name, params[:path]), class: 'btn btn-default', data: { modal: true }
    = link_to 'Upload file', plugin('object_storage').new_object_path(@container_name, params[:path]), class: 'btn btn-primary', data: { modal: true }


#object_list
  = render partial: 'object_list'
