=content_for :main_toolbar do
  Object Storage

%p
  = link_to 'All containers', plugin('object_storage').containers_path
  &gt;
  = make_breadcrumb(@container_name, params[:path])

.toolbar
  = link_to 'Upload file', plugin('object_storage').new_object_path(@container_name, params[:path]), class: 'btn btn-primary btn-lg', data: { modal: true }
  = link_to 'Create folder', plugin('object_storage').new_folder_path(@container_name, params[:path]), class: 'btn btn-primary btn-lg', data: { modal: true }

#object_list
  = render partial: 'object_list'
