= content_for :title do
  Move and/or rename object: #{@object.path}

- pl = plugin('object_storage')
- encoded_container_name = URI.encode_www_form_component(@container_name)
= simple_modal_form_for @form, submit_action: 'Move', url: pl.update_object_path(encoded_container_name, @object.path), method: :post, cancel_url: pl.list_objects_path(encoded_container_name, @object.dirname) do |f|
  %fieldset
    .row
      .col-md-3= f.input :container_name, as: :select,  label: 'Target container', collection: @all_container_names, include_blank: false
      .col-md-9= f.input :path,           as: :string,  label: 'Target path', input_html: { autofocus: true }
