= content_for :title do
  - if @object.is_directory?
    Directory: #{@object.path}
  - else
    File: #{@object.path}

- pl = plugin('object_storage')

= simple_modal_form_for @object, 'Update object', url: pl.update_object_path(@container_name, @object.path), method: :post, cancel_url: pl.list_objects_path(@container_name, @object.dirname) do |f|
  %table.table
    %tbody
      %tr
        %th Size
        %td= format_bytes(@object.size_bytes)
      %tr
        %th Uploaded
        %td= @object.created_at.to_time.getlocal.strftime('%F %T')
      %tr
        %th Last Modified
        %td= @object.last_modified_at.to_time.getlocal.strftime('%F %T')
      %tr
        %th Content type
        %td= @object.content_type
      %tr
        %th MD5 checksum
        %td= @object.md5_hash
      %tr
        %th Metadata
        %td= render partial: 'editable_metadata_display', locals: { metadata: @object.metadata }
