= content_for :title do
  - if @object.is_directory?
    Directory: #{@object.path}
  - else
    File: #{@object.path}

.modal-body
  %table.table
    %tbody
      %tr
        %th Size
        %td= format_bytes(@object.size_bytes)
      %tr
        %th Last Modified
        -# TODO: format
        %td= @object.last_modified
      %tr
        %th Content type
        %td= @object.content_type
      %tr
        %th MD5 checksum
        %td= @object.md5_hash
