= content_for :page_lead do
  .jumbotron
    .container
      %h1 Monsoon Container Cloud Services
      %p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
      %a.btn.btn-outline-negative.btn-lg Learn more



%h1.page-header Compute

%p.lead Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.

.row
  .col-sm-4
    %h3 Instances
    %p
      Completely synergize resource sucking relationships via premier niche markets.

    %p
      = link_to "Go to Instances", instances_path(@scoped_domain_fid), class: "btn btn-outline"

  .col-sm-4
    %h3 Volumes
    %p
      Dramatically maintain clicks-and-mortar solutions without functional solutions.

    %p
      = link_to "Go to Volumes", volumes_path(@scoped_domain_fid), class: "btn btn-outline"

  .col-sm-4
    %h3 OS Images
    %p
      Dynamically innovate resource-leveling customer service for state of the art customer service.

    %p
      = link_to "Go to Images", os_images_path(@scoped_domain_fid), class: "btn btn-outline"



%h1.page-header Identity

%p.lead Proactively envisioned multimedia based expertise and cross-media growth strategies.

.row
  .col-sm-4
    %h3 User Permissions
    %p
      Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.

    %p
      %a.btn.btn-outline Go to User Permissions

  .col-sm-4
    %h3 Teams
    %p
      Holistically pontificate installed base portals after maintainable products.

    %p
      %a.btn.btn-outline Go to Teams

  .col-sm-4
    %h3 Credentials
    %p
      Phosfluorescently engage worldwide methodologies with web-enabled technology.

    %p
      = link_to "Go to Credentials", credentials_path(@scoped_domain_fid), class: "btn btn-outline"

  .col-sm-4
    %h3 Projects
    %p
      Phosfluorescently engage worldwide methodologies with web-enabled technology.

    %p
      = link_to "Go to Projects", projects_path(@scoped_domain_fid), class: "btn btn-outline"






%h1.page-header Networking

%p.lead Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

.row
  .col-sm-4
    %h3 Networks
    %p
      Holisticly predominate extensible testing procedures for reliable supply chains.

    %p
      %a.btn.btn-outline Go to Networks

  .col-sm-4
    %h3 Loadbalancers
    %p
      Objectively innovate empowered manufactured products whereas parallel platforms.

    %p
      %a.btn.btn-outline Go to Loadbalancers




%h1.page-header Storage

%p.lead Phosfluorescently engage worldwide methodologies with web-enabled technology.

.row
  .col-sm-4
    %h3 Swift
    %p
      Completely pursue scalable customer service through sustainable potentialities.

    %p
      %a.btn.btn-outline Go to Swift




-# .container
-#   %p
-#     %a.btn.btn-default.btn-lg Default
-#     %a.btn.btn-outline.btn-lg Outline
-#     %a.btn.btn-primary.btn-lg Primary
-#     %a.btn.btn-info.btn-lg Info
-#     %a.btn.btn-success.btn-lg Success
-#     %a.btn.btn-warning.btn-lg Warning
-#     %a.btn.btn-danger.btn-lg Danger
-#
-#   %p
-#     %a.btn.btn-default.btn-lg.disabled Default
-#     %a.btn.btn-outline.btn-lg.disabled Outline
-#     %a.btn.btn-primary.btn-lg.disabled Primary
-#     %a.btn.btn-info.btn-lg.disabled Info
-#     %a.btn.btn-success.btn-lg.disabled Success
-#     %a.btn.btn-warning.btn-lg.disabled Warning
-#     %a.btn.btn-danger.btn-lg.disabled Danger
-#
-#   %p
-#     %a.btn.btn-default Default
-#     %a.btn.btn-outline Outline
-#     %a.btn.btn-primary Primary
-#     %a.btn.btn-info Info
-#     %a.btn.btn-success Success
-#     %a.btn.btn-warning Warning
-#     %a.btn.btn-danger Danger
-#
-#   %p
-#     %a.btn.btn-default.btn-sm Default
-#     %a.btn.btn-outline.btn-sm Outline
-#     %a.btn.btn-primary.btn-sm Primary
-#     %a.btn.btn-info.btn-sm Info
-#     %a.btn.btn-success.btn-sm Success
-#     %a.btn.btn-warning.btn-sm Warning
-#     %a.btn.btn-danger.btn-sm Danger
-#
-#   %p
-#     %a.btn.btn-default.btn-xs Default
-#     %a.btn.btn-outline.btn-xs Outline
-#     %a.btn.btn-primary.btn-xs Primary
-#     %a.btn.btn-info.btn-xs Info
-#     %a.btn.btn-success.btn-xs Success
-#     %a.btn.btn-warning.btn-xs Warning
-#     %a.btn.btn-danger.btn-xs Danger
