%ul.nav.nav-tabs
  - if tab == 'overview'
    %li.active{role: 'presentation'}
      = link_to "Overview", '#'
  - else 
    %li{role: 'presentation'}
      = link_to 'Overview', plugin('monitoring').send("entry_path")
  - if tab == 'alarms'
    %li.active{role: 'presentation'}
      = link_to '#' do
        Alarms (
        %span#count 0
        )
        %span.loading-place
  - else 
    %li{role: 'presentation'}
      = link_to "Alarms", plugin('monitoring').alarms_path(state: 'Alarm')
  - if tab == 'alarm_definitions'
    %li.active{role: 'presentation'}
      = link_to '#' do
        Alarm Definitions (
        %span#count= count
        )
        %span.loading-place
  - else 
    %li{role: 'presentation'}
      = link_to 'Alarm Definitions', plugin('monitoring').alarm_definitions_path()
  - if tab == 'notification_methods'
    %li.active{role: 'presentation'}
      = link_to '#' do
        Notification Methods (
        %span#count= count
        )
        %span.loading-place
  - else 
    %li{role: 'presentation'}
      = link_to 'Notification Methods', plugin('monitoring').notification_methods_path()

  .go-to-grafana
    = link_to sap_url_for('grafana'), class: "btn", title: "Open grafana in new window.", target: "_blank" do
      %i.fa.fa-external-link
      Grafana

