- search_name = floating_ip.floating_ip_address
- search_name += floating_ip.subnet_object.nil? ? floating_ip.floating_network_id : floating_ip.subnet_object.name
%tr{id: "floating_ip_#{floating_ip.id}", data: {search_name: search_name, marker_id: floating_ip.id}}
  %td
    .pull-left
      %i.fa.fa-globe.fa-fw
    .pull-left
      = floating_ip.floating_ip_address
      - if floating_ip.subnet_object
        %span.info-text= " / #{floating_ip.subnet_object.name}"
      - if floating_ip.dns_domain
        %br
        %small.info-text= "#{floating_ip.dns_name}.#{floating_ip.dns_domain}"
  %td
    - if floating_ip.fixed_ip_address.present?
      = link_to plugin('networking').floating_ip_path(floating_ip.id), data: {modal: true} do
        %i.fa.fa-desktop.fa-fw
        = floating_ip.fixed_ip_address
  %td= floating_ip.description
  %td= floating_ip.status

  %td.snug
    - if current_user.is_allowed?("networking:floating_ip_delete", {floating_ip: floating_ip}) or current_user.is_allowed?("networking:floating_ip_associate", {})
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.fa.fa-cog

        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if current_user.is_allowed?("networking:floating_ip_update", {floating_ip: floating_ip})
            %li= link_to 'Edit', plugin('networking').edit_floating_ip_path(floating_ip.id), data: {modal: true}
          - if current_user.is_allowed?("networking:floating_ip_delete", {floating_ip: floating_ip})
            %li= link_to 'Release',
              plugin('networking').floating_ip_path(id: floating_ip.id),
              method: :delete,
              data: { confirm: 'Are you sure you want to release this Floating IP?',
                ok: "Yes, release it",
                confirmed: :loading_status},
              remote: true
          -# - if current_user.is_allowed?("networking:floating_ip_associate", {})
          -#   %li= link_to 'Associate'
