= content_for :title do
  New Floating IP

- if modal?
  .flashes_area
    = render 'flashes'

= simple_form_for @floating_ip, url: plugin('networking').floating_ips_path, method: :post, remote: request.xhr?, html: {class: 'form-horizontal', data: {modal: true} }, wrapper: :horizontal_form do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - unless @floating_ip.errors.empty?
      %p.alert.alert-error= @floating_ip.errors.full_messages.to_sentence

    %fieldset
      = f.input :floating_network_id,
        as: :select,
        required: true,
        collection: @floating_networks

    %fieldset#subnets
      = f.input :floating_subnet_id,
        as: :select,
        collection: @floating_networks

    %fieldset
      = f.input :dns_domain,
        as: :select,
        required: false,
        collection: @dns_zones
    
    %fieldset
      = f.input :dns_name

    %fieldset
      = f.input :description
      - if current_user.is_allowed?("context_is_network_admin")
        = f.input :floating_ip_address,
          placeholder: 'Optional',
          icon_hint: 'Optional: Specify floating IP address. Leave blank to get one assigned by the DHCP server. If you request a specific address the selected subnet will be ignored since the FIP determines the subnet.'

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{ type: 'button', data: { dismiss:'modal' }, aria: { label: 'Cancel' } } Cancel
    - else
      = link_to 'Cancel', plugin('networking').floating_ips_path, class: 'btn btn-default'
    %button{ type: 'submit', class: 'btn btn-primary', data: { disable_with: 'Please wait...'} } Allocate
