%fieldset
  = f.input :name
  = f.input :description
  = f.input :position, as: :integer, input_html: {min: '1', value: @l7policy.position || 1}, hint: 'Starts with 1. A value > Sum(Policies) will append Policy to the end.'
  = f.input :action, required: true, as: :select, collection: Lbaas::L7policy::ACTIONS
  = f.input :redirect_url, { required: true, wrapper_html: {class: ("hidden" unless @l7policy.action == 'REDIRECT_TO_URL')}, label: 'Redirect Url', icon_hint: 'Enter a url starting with http(s)://' }
  = f.input :redirect_pool_id, { required: true, wrapper_html: {class: ("hidden" unless @l7policy.action == 'REDIRECT_TO_POOL')}, as: :select, label: 'Redirect Pool', collection: @pools, label_method: -> p {name_or_id(p.name, p.id)}, include_blank: true }

=content_for :javascripts do
  :javascript
    $(document).ready(function() {
    });