= content_for :main_toolbar do
  = link_to 'Load Balancers', plugin('lbaas').loadbalancers_path()
  = ' / '
  = link_to "Listeners" , plugin('lbaas').loadbalancer_listeners_path(@loadbalancer.id)
  = ' / '
  = link_to "Policies" , plugin('lbaas').loadbalancer_listener_l7policies_path(loadbalancer_id: @loadbalancer.id, listener_id: @listener.id)

%ul.nav.nav-tabs
  %li.active{role: "presentation"}= link_to 'Policies', '#l7policies', aria: {controls:"l7policies"}, role: "tab", data: {toggle:"tab"}

.tab-content
  #l7policies.tab-pane.active{role: "tabpanel"}
  .row
    .col-md-9
      - if current_user.is_allowed?('lbaas:resource_create', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
        - if !@pre_polices.blank? or @listener.protocol != 'TCP'
          .toolbar.toolbar-aligntop
            .main-buttons
              %button.btn.btn-primary.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
                Create New
              %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
                - unless @listener.protocol == 'TCP'
                  %li= link_to 'L7 Policy', plugin('lbaas').new_loadbalancer_listener_l7policy_path(loadbalancer_id: @loadbalancer.id, listener_id: @listener.id), data: {modal: true}
                - unless @pre_polices.blank?
                  %li= link_to 'Extended Policy', plugin('lbaas').new_pre_loadbalancer_listener_l7policies_path(loadbalancer_id: @loadbalancer.id, listener_id: @listener.id), data: {modal: true}

      %table.table.l7policies
        %tr
          %th Name/ID
          %th Description
          %th Position
          %th Action
          %th Redirect To
          %th= '#Rules'
          %th State

        - unless @l7policies.blank?
          - @l7policies.each do |l7policy|
            = render partial: 'lbaas/loadbalancers/listeners/l7policies/item', locals: {loadbalancer: @loadbalancer, listener: @listener, l7policy: l7policy}
        -else
          %tr
            %td{colspan:7} No Policies defined
      =# render_paginatable(@l7policies)
    .col-md-3
      = render :partial => 'lbaas/loadbalancers/listeners/info', locals: {loadbalancer: @loadbalancer, listener: @listener}
