= content_for :main_toolbar do
  = link_to 'Groups', groups_path 
  = "/ #{@group.name}"

.row
  .col-md-9
    = render partial: 'identity/groups/members', locals: {members: @group_members, group: @group}
    

  .col-md-3
    .infobox
      %h4.action-heading
        Group Info 
        / can_edit = current_user.is_allowed?('identity:group_update', group: @group)
        / disabled because write access to ldap is not allowed
        /- can_delete = current_user.is_allowed?('identity:group_delete', group: @group) 
        /- if can_delete# or can_edit
        /  .dropdown.header-action
        /    %i.fa.fa-cog.dropdown-toggle{ data: { toggle: "dropdown"}, aria: { expanded: true} }
        /    %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
        /      / - if can_edit
        /      /   %li
        /      /     = link_to plugin('identity').edit_group_path(project_id:nil,id:@group.id), title: "Edit group info", data: {modal: true, toggle: "tooltip", placement: "left"} do
        /      /       %i.fa.fa-edit.fa-fw
        /      /       Edit Group
        /      - if can_delete
        /        / %li.divider{role: "separator"}
        /        %li
        /          = link_to plugin('identity').group_path(project_id: nil, id:@group.id), method: :delete, data: {confirm:'This cannot be undone, are you sure?', ok: 'Yes, delete it!', confirm_term: @group.name, confirm_term_label: "Type group name to confirm (#{@group.name})" } do
        /            %i.fa.fa-trash.fa-fw
        /            Delete Group
        /            / %i.fa.fa-exclamation-triangle 
        
      %table.table
        %tbody
          %tr
            %td
              %b Description:
              %br
              = @group.description    