=content_for :main_toolbar do
  Email Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav.html', locals: {pane: 'statistics'}

- if current_user.is_allowed?('email_service:statistics_list')
  .tab-content
    .tab-pane.active{role:"tabpanel", id:"statistics-pane"}
      .col-sm-9
        .toolbar
          .main-buttons
            - if current_user.is_allowed?('email_service:statistics_create')
              = link_to "Create Report", plugin('email_service').statistics_path, data: { modal: true }, class: 'btn btn-primary'
        %br
        %hr
        .js-table-domain-statistics-report-list
          = render partial: 'table_domain_statistics_report', locals: { domain_statistics_report: domain_statistics_report }
        %hr
        %br
        .js-table-domain-statistics-report-list
          = render partial: 'table_statistics', locals: { send_stats: send_stats }
    .col-sm-3
      .bs-callout.bs-callout-primary.toolbar-aligment
        %p
          The Amazon SES API provides the
          %code
            GetSendStatistics
          operation, which returns information about your service usage. We recommend that you check your sending statistics regularly, so that you can make adjustments if needed.
          = link_to "For more information", "https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity-api.html", :target => "_blank"
          \.


