- unless modal?
  %h3 Statistics

= simple_form_for @statistics, as: :statistics, url: plugin('email_service').statistics_path(), method: :post, remote: request.xhr?,  html: {id: 'form_statistics', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body.static-columns
    .modal-flashes
      = render "email_service/shared/flashes.html"

    = render partial: 'form', locals: {statistics: @statistics, f: f, form_type: 'new' }

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').statistics_path(), class: 'btn btn-default'
    = button_tag "Generate Report", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
