= content_for :page_lead do
  .jumbotron
    .container
      %h1
        Welcome
        = current_user.full_name
      %p Please accept the terms of use for this domain before you continue. You only need to do this once as a new user or when the terms change.
      %p Thank you and enjoy your stay!


= form_tag main_app.accept_terms_of_use_path, method: :post do
  = hidden_field_tag 'orginal_url', "#{@orginal_url}"
  .row
    .col-sm-8
      .form-group
        %label Terms and Conditions
        .scrollable-text
          :markdown
            #{Settings.actual_terms.terms}

    .col-sm-4
      .form-group
        %label User
        %input.form-control{type: "text", placeholder: "#{current_user.full_name} (#{current_user.name})", readonly: "readonly"}

      .form-group
        %label Domain
        %input.form-control{type: "text", placeholder: @scoped_domain_name, readonly: "readonly"}


      .form-group
        .checkbox
          %label
            = check_box_tag 'terms_of_use', 'accepted', false, id: "accept_tos"
            I have read and agree to the terms of use

      .form-group
        = submit_tag "Accept", class: "btn btn-primary btn-lg", id: "register-button", disabled: true
