= content_for :title do
  Terms of Use

.modal-body
  %ul.nav.nav-tabs
    %li.active{role: "presentation"}= link_to 'Content', '#overview', aria: {controls:"overview"}, role: "tab", data: {toggle:"tab"}
    - if @tou and current_user
      %li{role: "presentation"}= link_to 'Acknowledgment', '#accepted', aria: {controls:"accepted"}, role: "tab", data: {toggle:"tab"}

  .tab-content
    .tab-pane.active{role:"tabpanel", id:"overview"}
      .scrollable-text.plain
        :markdown
          #{Settings.send(@domain_config.terms_of_use_name).terms}

    -if @tou and current_user
      .tab-pane{role:"tabpanel", id:"accepted"}
        %table.table.datatable
          %tbody
            %tr
              %th User
              %td= "#{current_user.full_name} (#{current_user.name})"
            %tr
              %th Domain
              %td= @scoped_domain_name
            %tr
              %th Accepted Version
              %td= @tou.tou_version
            %tr
              %th Accepted on
              %td= @tou.created_at