=content_for :main_toolbar do
  Email Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav.html', locals: {pane: 'custom-templates'}
.tab-content
  .tab-pane.active{role:"tabpanel", id:"custom-templates-pane"}
    %h3
      Available Custom Verification Email Templates
    .row
      .col-sm-9
        .toolbar
          - if current_user.is_allowed?('email_service:custom_verification_email_template_create')
            .main-buttons
              = link_to "New Custom Verification Email Template", plugin('email_service').new_custom_verification_email_template_path, data: {modal: true}, class: 'btn btn-primary'
        .js-table-templates-list
          = render partial: 'table_templates', locals: {templates: @custom_templates}
      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            %center
              Custom verification email templates in use
              %br
              %b
                = @custom_templates&.count
                out of 50
            %br
            %center
              Max Template Size
              %br
              %b
                10 MB
            %br
            %hr
            Custom verification email templates are useful when you wish to send customized verification Emails to your recipients. More on
            %b
              = link_to "Verification Email Templates", "https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom", :target => "_blank"
