= content_for :title do
  New Custom Verification eMail Templates

- url = plugin('email_service').custom_verification_email_templates_path
- unless modal?
  %h3 New Custom Verification eMail Templates

= simple_form_for @custom_template, as: :custom_template, url: url, method: :post, remote: request.xhr?,  html: {id: 'form_template', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body.static-columns
    .modal-flashes
      = render "email_service/shared/flashes.html"
    
    = render partial: 'form', locals: { f: f, form_type: 'new' }

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", url, class: 'btn btn-default'
    = button_tag "Save", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
