=content_for :main_toolbar do
  Email Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav', formats: :html, locals: {pane: 'suppression-list'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"suppression-list-pane"}
    %h3
      - if @suppressed_destinations.length > 0
        Suppression List
      - else 
        No Suppression emails added to your account
    .row
      .col-sm-9
        - if @suppressed_destinations
          = render partial: 'table_suppression_list',locals: { suppression_list: @suppressed_destinations }
      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            Here you can find information about Suppression destinations
            = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service", :target => "_blank"
            and you can find How-To guides
            = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/email-serv-howto", :target => "_blank"
            \.