!!!
%html{class: action_name}
  %head
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= "Automation Log"

    = render "layouts/favicon" 

    :css
      pre {
        overflow-y: hidden;
        margin: 0;
        line-height: 1.3;
        color: white;
        background: black;
        margin: 1em 0px;
      }
      .hidden {
        display: none;
      }

    = csrf_meta_tags

    
    = javascript_include_tag "essentials"
    = javascript_include_tag "automation_plugin"

  %body
    = yield
