%tr{id: "image_#{image.id}", data: {search_name: image.name+'_'+image.id, marker_id: image.id}}
  %td
    - if current_user.is_allowed?('image:image_get', {})
      = link_to "#{image.name} #{('(' + image.buildnumber + ')') if image.buildnumber}", plugin('image').send("os_images_public_path", image.id), data: { modal: true, cancel: 'Close' }
    - else
      = image.name
  %td= image.disk_format
  %td= byte_to_human(image.size)
  %td= image.pretty_created_at
  %td= image.status
  %td.snug
    - if current_user.is_allowed?("compute:instance_create", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}}) or current_user.is_allowed?("image:image_unpublish")
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { expanded: true } }
          %span.fa.fa-cog
        %ul.dropdown-menu.dropdown-menu-right{ role: 'menu' }
          - if current_user.is_allowed?("compute:instance_create", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
            %li= link_to 'Launch Instance', plugin('compute').new_instance_path(image_id: image.id), data: {modal: true}
          - if current_user.is_allowed?("image:image_unpublish")
            %li= link_to 'Unpublish', plugin('image').os_images_public_unpublish_path(public_id:image.id), method: :put, remote:true, data: {loading_status: true}
