= content_for :page_lead do
  .jumbotron
    .container
      %h2 Domain access was rejected!
      %p
        Your request for the domain
        = @scoped_domain_name
        was rejected by one of the domain administrators.

%p.lead
  If you think this is an error please contact one of the administrators below and let them know why you need that access:

%ul.content-list
- @processors.each do |p|
  %li= "#{p.full_name} - #{p.email}"
