=content_for :main_toolbar do
  Email Service
  .placeholder-div
- identity_hint = "The email address to be verified"
= simple_form_for @verified_email, as: :verified_email, url: plugin('email_service').email_verifications_path, method: :post, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal' } do |f|
  .modal-body
    %div{class: modal? ? 'modal-body' : ''}
      = f.input :identity, required: true, icon_hint: identity_hint, default: "fake1@gmail.com"
      -#= f.text :tags, required: true
      = f.input :configset_name, required: false, label: "Configset Name", input_html: {}, as: :select, collection: @configsets_collection
    %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').email_verifications_path, class: 'btn btn-default'
    = button_tag "Verify", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
