= content_for :title do
  Show L7 Rule
  
.modal-body

  %table.table.datatable
    %tbody
      %tr.well
        %th Rule Formula
        %td= @l7rule.rule_formula
      %tr
        %th Type
        %td= @l7rule.type
      %tr
        %th Compare Type
        %td= @l7rule.compare_type
      %tr
        %th Invert
        %td= @l7rule.invert
      %tr
        %th Value
        %td= @l7rule.value
      %tr
        %th Key
        %td= @l7rule.key

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", loadbalancer_listener_l7policies_l7rules_path(loadbalancer_id: @loadbalancer.id, listener_id: @listener.id, l7policy_id: @l7policy.id), class: 'btn btn-default'
    
