= content_for :title do
  Edit Listener

- if modal?
  .flashes_area
    = render 'flashes'

= simple_form_for @listener, url: plugin('loadbalancing').loadbalancer_listener_path(loadbalancer_id: @loadbalancer.id, id: @listener.id), method: :put, remote: request.xhr?, html: {id: 'listener_form', data: {modal: true} } do |f|

  %div{class: modal? ? 'modal-body' : ''}

    = render :partial => 'loadbalancing/application/errors', locals: {object: @listener}

    .row
      .col-sm-6
        = render partial: 'form', locals: {f: f, update: true}

      .col-sm-6
        .bs-callout.bs-callout-primary.small
          %h3= "Listener"
          %p= "A Listener defines a protocol/port combination under which the load balancer can be called."
          %h4= "Protocol Port"
          %p= "The port under which the load balancer can be called"
          %h4= "Protocol"
          %p= "The protocol which can be used to access the load balancer port"
          %h4= "Default Pool"
          %p= "The pool to which all traffic will be routed if no L7 Policy defines a different pool."
          %h4= "Connection Limit"
          %p= "The number of parallel connections allowed to access the load balancer."
          %h4= "Certificate Container"
          %p= "The container with the TLS secrets used for the listener"
          %h4= "SNI Containers"
          %p= "A list of containers with alternative TLS secrets used for Server Name Indication (SNI)."

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{ type: 'button', data: { dismiss:'modal' }, aria: { label: 'Cancel' } } Cancel
    - else
      = link_to 'Cancel', plugin('loadbalancing').loadbalancer_listeners_path(@loadbalancer.id), class: 'btn btn-default'
    %button{ type: 'submit', class: 'btn btn-primary', data: { disable_with: 'Please wait...'} } Save
