.modal-body

  %table.table.datatable
    %tbody
      %tr
        %th Name
        %td= @keypair.nil? ? "" : @keypair.name
      %tr
        %th User ID
        %td= @keypair.nil? ? "" : @keypair.user_id
      %tr
        %th Fingerprint
        %td= @keypair.nil? ? "" : @keypair.fingerprint
      %tr
        %th Public Key
        %td.big-data-cell
          = @keypair.nil? ? "" : @keypair.public_key

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", plugin('compute').keypairs_url, class: 'btn btn-default'
