= inside_layout 'login' do
  .container

    = form_tag(check_passcode_path(after_login: params[:after_login]), class: "form-signin") do
      = hidden_field_tag :domain_id, @domain_id
      = hidden_field_tag :domain_name, @domain_name

      %h2.form-signin-heading Two-Factor Verification
      %p Enter your D/I/C number and SecureID passcode

      - flash.each do |name, msg|
        .alert{class: "alert-#{name}"}= msg

      = hidden_field_tag :username, @username if @username

      %label.sr-only{:for => "username"} User ID
      = text_field_tag :username, @username,
        placeholder: "User ID",
        required: "",
        class: "form-control",
        disabled: !@username.nil?

      =# password_field_tag :passcode, nil, placeholder: "SecurID Passcode", autofocus: "", required: "", class: "form-control bottom-input"
 
      .input-group.rsa
        %label.sr-only{:for => "passcode"} Password
        = password_field_tag :passcode, nil, placeholder: "SecurID Passcode", autofocus: "", required: "", class: "form-control"
        %span.input-group-addon{data: { toggle: 'tooltip', placement: 'top'}, title: "Click here for more information about SecureID."}
          %a{href:"https://portal.wdf.sap.corp/go/securid ", target: "_blank"}= image_tag "rsa_logo.jpg", height: 43
      


      %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Sign in

      %p.pull-right
        %br
        %i.fa.fa-info-circle.text-info
        This is valid for 4 hours.
