- data_type = project_resource.data_type

%tr{ class: project_resource.current_quota == project_resource.quota ? '' : 'danger', data: { id: project_resource.project_id } }
  %td.col-md-3
    = project_resource.project_name
    .small.text-muted= project_resource.project_id
  %td.col-md-3
    .resource-approved-quota.input-group.input-group-sm
      = data_type.format(project_resource.quota)
  %td.col-md-2
    .resource-current-quota
      = data_type.format(project_resource.current_quota)
  %td.col-md-2
    = data_type.format(project_resource.usage)
  %td.col-md-2
    .resource-actions
      - if project_resource.externally_managed?
        = link_to 'Edit', '#', disabled: true, class: 'btn btn-default btn-sm', title: 'Externally Managed', data: { toggle: 'popover', placement: 'right', content: 'The resource is flagged as externally managed. No configuration possible.' }
      - else
        = link_to 'Edit', plugin('resource_management').admin_edit_path(id: project_resource.project_id, service: project_resource.service_type, resource: project_resource.name), data: { disable_with: 'Loading' }, class: 'btn btn-primary btn-sm', remote: true
