- display_unit = project.attributes[:display_unit] || 1
- current_quota = project.current_quota / display_unit
- current_quota = "unlimited" if project.current_quota == -1

- class_name = ""
- if current_quota == "unlimited"
  - class_name = "danger"
- else
  - class_name = "danger" if project.approved_quota > current_quota
  - class_name = "danger" if project.approved_quota < project.usage
  - class_name = "warning" if project.approved_quota < current_quota

%tr{ class: class_name }
  %td.col-md-3
    = project.project_id
  %td.col-md-3
    %div{ id: "#{project.project_id}_approved_quota", class: "input-group input-group-sm" }
      = project.approved_quota / display_unit
  %td.col-md-2
    = current_quota
  %td.col-md-2
    = project.usage / display_unit
  %td.col-md-2
    %div{ id: "#{project.project_id}_edit" }
      = link_to 'Edit', plugin('resource_management').admin_edit_path( :project => project.project_id, :value => project.approved_quota/display_unit ) , data: { disable_with: 'Loading'}, class: 'btn btn-primary btn-sm', remote: true


