%table.table.resource-details
  %thead
    %tr
      %th.sortable#project_row
        Project
        = icon 'sort-asc'
      %th.sortable#approved_quota_row
        Approved Quota
        = icon 'sort-asc'
      %th.sortable#current_quota_row
        Current Quota
        = icon 'sort-asc'
      %th.sortable#usage_row
        Usage
        = icon 'sort-asc'
      %th Actions
  %tbody
    - @projects.each do |project_resource|
      = render :partial => 'details_table_row', :locals => { :project_resource => project_resource }
  
= paginate @projects, :theme => 'twitter-bootstrap-3', :remote => true

= content_for :javascripts do
  :javascript
    #{render partial: 'details_table_script.js', locals: { scope: 'admin'} }
    $(function() {
      $( ".sortable" ).click(function() {
      });
    });
