%table.table.resource-details
  %thead
    %tr
      %th Project
      %th.sortable#approved_quota_column
        Approved Quota
        = icon 'sort-amount-asc'
      %th.sortable#current_quota_column
        Current Quota
        = icon 'sort-amount-asc'
      %th.sortable#usage_column
        Usage
        = icon 'sort-amount-asc'
      %th Actions
  %tbody
    - @projects.each do |project_resource|
      = render :partial => 'details_table_row', :locals => { :project_resource => project_resource }
  
= paginate @projects, :theme => 'twitter-bootstrap-3', :remote => true

= content_for :javascripts do
  :javascript
    #{render partial: 'details_table_script.js', locals: { scope: 'admin', resource: @resource, service: @service} }

