- data_type = project_resource.attributes[:data_type]

- class_name = ""
- if project_resource.current_quota == -1
  - class_name = "danger"
- else
  - class_name = "warning" if project_resource.approved_quota > project_resource.current_quota
  - class_name = "danger" if project_resource.approved_quota < project_resource.usage
  - class_name = "danger" if project_resource.approved_quota < project_resource.current_quota

%tr{ id: "#{project_resource.project_id}_quota_row", class: class_name }
  %td.col-md-3
    = project_resource.project_id
  %td.col-md-3
    %div{ id: "#{project_resource.project_id}_approved_quota", class: "input-group input-group-sm" }
      = format_usage_or_quota_value(project_resource.approved_quota,data_type )
  %td.col-md-2
    %div{ id: "#{project_resource.project_id}_current_quota" }
      - if project_resource.current_quota == -1
        unlimited
      - else
        = format_usage_or_quota_value(project_resource.current_quota,data_type )
  %td.col-md-2
    = format_usage_or_quota_value(project_resource.usage,data_type)
  %td.col-md-2
    %div{ id: "#{project_resource.project_id}_edit" }
      = link_to 'Edit', plugin('resource_management').admin_edit_path( :project => project_resource.project_id, :value =>  project_resource.approved_quota ) , data: { disable_with: 'Loading'}, class: 'btn btn-primary btn-sm', remote: true

