= content_for(:title, "Details for resource: #{t("resource_management.#{@service}")} > #{t("resource_management.#{@resource}")}")
.modal-body
  %p.alert.alert-danger{style: "display:none"}
  #usage_bars
    = render :partial => "details_usage_bar"

  .row
    .col-md-12
      %h2
        %small Details
      #details_table
        = render partial: "details_table"

- if modal?
  .modal-footer
    - if @service and @show_all_button
      = link_to "Show all #{t("resource_management.#{@service}")} quotas", plugin('resource_management').admin_area_path(area: @area), class: 'btn btn-primary btn-sm'
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

= content_for :javascripts do
  :javascript
    #{render partial: 'sort_details_table_script.js'}



