= content_for(:title, "Details for quota #{@resource}")
.modal-body
  .row
    .col-md-2.quota-label
      .text-muted
        Quota usage
    .col-md-9
      = render :partial => 'bar', :locals => { :overview => false, :render_bar_only => true, :data => @resource_status[@service.to_sym][0], :service => @service }   
  .row
    .col-md-2.quota-label
      .text-muted
        Resource usage
    .col-md-9
      = render :partial => 'bar', :locals => { :overview => false, :render_bar_only => true, :render_usage => true ,:data => @resource_status[@service.to_sym][0], :service => @service }   

  .row
    .col-md-12
      %div{:id => "details_table"}
        = render partial: "details_table"
  
- if modal?
  .modal-footer
    - if @service and @show_all_button
      -# TODO: @service -> @area
      = link_to "Show all #{@service} quotas", plugin('resource_management').admin_area_path(area: @service), class: 'btn btn-primary btn-sm'
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
   


