= content_for :title do
  Request more: #{t("resource_management.#{@resource.category.presence || @resource.service_type}")} &gt; #{userfriendly_resource_name(@resource)}

=simple_form_for @resource, url: admin_create_request_path(service: @resource.service_type, resource: @resource.name), method: :post, remote: request.xhr?, html: { data: { modal: true } } do |f|

  %div{class: modal? ? 'modal-body' : ''}

    - @domain_resource = @resource
    #usage_bars= render :partial => "details_usage_bar"

    - unless @resource.errors.empty?
      %p.alert.alert-error= @resource.errors.full_messages.to_sentence

    %fieldset
      - if @resource.data_type.to_sym == :number
        = f.input :quota, label: 'Desired quota'
      - else
        - current_value = @resource.data_type.format(@resource.quota)
        - previous_value = params[:new_style_resource] ? params[:new_style_resource][:quota] : nil
        = f.input :quota, label: 'Desired quota', as: :string, input_html: { value: previous_value || current_value }

  .buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: { dismiss:"modal" }, aria: { label: "Cancel" }} Cancel
    - else
      = link_to "Cancel", plugin('inquiry').inquiries_url(), class: 'btn btn-default'
    %button.btn.btn-primary{type: "submit", data: { disable_with: 'Please wait...'}} Submit
