= content_for :title do
  Review Request for Quota Package

= form_tag plugin('resource_management').admin_approve_package_request_path, authenticity_token: true, method: :post, remote: request.xhr?, html: { data: { modal: true } } do
  =hidden_field_tag :inquiry_id, params[:inquiry_id]

  %div{class: modal? ? 'modal-body' : ''}
    - unless (@errors || []).empty?
      %p.alert.alert-error= @errors.full_messages.to_sentence

    %p
      The project
      %strong= @target_project_name
      requests the quota package
      = succeed '.' do
        %strong= t("resource_management.packages.#{@package.key}")
      - if @relevant_resources.empty?
        This will not increase quota usage since the requested project quotas are lower than the project's current quotas.
      - else
        This will increase quota usage as follows:

    - unless @relevant_resources.empty?
      %table.table.table-hover
        %thead
          %tr
            %th &nbsp;
            %th Approved quota for domain
            %th Quota for projects
            %th Resource usage by projects
        %tbody
          - @relevant_resources.each do |domain_resource|
            - dt = domain_resource.data_type
            - project_resource = @project.find_resource(domain_resource.service_type, domain_resource.name)
            - package_quota = @package.quota(domain_resource.service_type, domain_resource.name)
            - new_projects_quota = domain_resource.projects_quota - project_resource.quota + package_quota
            %tr{ class: new_projects_quota > domain_resource.quota ? 'bg-danger' : (new_projects_quota > 0.8 * domain_resource.quota ? 'bg-warning' : '') }
              %td
                = t("resource_management.#{domain_resource.category.presence || domain_resource.service_type}")
                &gt;
                = userfriendly_resource_name(domain_resource)
              %td= dt.format(domain_resource.quota)
              %td
                = dt.format(domain_resource.projects_quota)
                &gt;
                = dt.format(new_projects_quota)
              %td= dt.format(domain_resource.usage)

    - unless @can_approve
      %p.text-danger
        You cannot approve this request because it would exceed your approved domain quota (see resources marked red).

  .buttons{class: modal? ? 'modal-footer' : ''}
    - if @can_approve
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
      %button.btn.btn-primary{type:'submit', data:{disable_with: "Please wait..."}} Approve
    - else
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
