= render :partial => 'header'
%ul{:class => "nav nav-tabs"}
  = render :partial => 'tabs', :locals => { :level => 'storage'}

.row.quota-row
  .col-md-9
    
    %h3 Block Storage
    .row
      .col-md-2.quota-label
        .text-muted
          Volumes
      .col-md-7
        .quota
          .quota-current
            %span.text-nowrap
              500
          .progress
            .progress-bar.progress-bar-quota{:style => "width:80%"} 400
      .col-md-1.quota-request-more
        = link_to 'Details', plugin('resource_management').admin_details_path(:level => 'storage', :resource_type => 'block storage volumes', :disable_show_all => true), data: {modal: true}, class: 'btn btn-primary btn-sm' 
      .col-md-1.quota-request-more
        = link_to 'Request more',plugin('resource_management').resources_request_path(:level => 'storage', :resource_type => 'block storage volumes'), data: {modal: true}, class: 'btn btn-primary btn-sm'
  
    .row
      .col-md-2.quota-label
        .text-muted
          Capacity (GiB)
      .col-md-7
        .quota
          .quota-current
            %span.text-nowrap
              1000
          .progress
            .progress-bar.progress-bar-quota{:style => "width:70%"} 700
      .col-md-1.quota-request-more
        = link_to 'Details', plugin('resource_management').admin_details_path(:level => 'storage', :resource_type => 'block storage capacity', :disable_show_all => true), data: {modal: true}, class: 'btn btn-primary btn-sm' 
      .col-md-1.quota-request-more
        = link_to 'Request more',plugin('resource_management').resources_request_path(:level => 'storage', :resource_type => 'block storage capacity'), data: {modal: true}, class: 'btn btn-primary btn-sm'
  
    .row
      .col-md-2.quota-label
        .text-muted
          Snapshots 
      .col-md-7
        .quota
          .quota-approved{:style => "right:27%"} 
            %span.text-nowrap
              Approved quota: 150
          .quota-current
            %span.text-nowrap
              180
          .progress
            .progress-bar.progress-bar-danger.progress-bar-quota{:style => "width:73%"} 180 
            .progress-bar.progress-bar-quota.quota-overcommit-danger{:style => "width:27%"}
      .col-md-1.quota-request-more
        = link_to 'Details', plugin('resource_management').admin_details_path(:level => 'storage', :resource_type => 'block storage snapshots', :disable_show_all => true), data: {modal: true}, class: 'btn btn-primary btn-sm' 
      .col-md-1.quota-request-more
        = link_to 'Request more',plugin('resource_management').resources_request_path(:level => 'storage', :resource_type => 'block storage snapshots'), data: {modal: true}, class: 'btn btn-primary btn-sm'
     
    %h3 Object Storage
    .row
      .col-md-2.quota-label
        .text-muted
          Capacity (GiB) 
      .col-md-7
        .quota
          .quota-approved{:style => "right:15%"} 
            %span.text-nowrap
              Approved quota: 300 
          .quota-current
            %span.text-nowrap
              350
          .progress
            .progress-bar.progress-bar-danger.progress-bar-quota{:style => "width:85%"} 350
            .progress-bar.progress-bar-quota.quota-overcommit-danger{:style => "width:15%"}
      .col-md-1.quota-request-more
        = link_to 'Details', plugin('resource_management').admin_details_path(:level => 'storage', :resource_type => 'object storage capacity', :disable_show_all => true), data: {modal: true}, class: 'btn btn-primary btn-sm' 
      .col-md-1.quota-request-more
        = link_to 'Request more',plugin('resource_management').admin_request_path(:level => 'storage', :resource_type => 'object storage capacity'), data: {modal: true}, class: 'btn btn-primary btn-sm'

  .col-md-3
    .bs-callout.bs-callout-primary
      Good to know: I should like to see him try it; I'd give him such a pair of black eyes that he wouldn't dare to show his face in the admiral's cabin again for a long while, let alone down in the orlop there, where he lives, and hereabouts on the upper decks where he sneaks so much. Damn the devil, Flask; so you suppose I'm afraid of the devil? Who's afraid of him, except the old governor who daresn't catch him and put him in double-darbies, as he deserves, but lets him go about kidnapping people; aye, and signed a bond with him, that all the people the devil kidnapped, he'd roast for him? There's a governor!



