=content_for :main_toolbar do
  eMail Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav.html', locals: {pane: 'emails'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"emails-pane"}
    %h3
      Send eMail
    .col-sm-9
      .toolbar
        - if current_user.is_allowed?('email_user')
          .main-buttons
            = link_to "New plain eMail", plugin('email_service').new_email_path, data: { modal: true }, class: 'btn btn-primary'
            = link_to "New templated eMail", plugin('email_service').new_templated_emails_path, data: {modal: true}, class: 'btn btn-primary'
               
    -#.btn-group{role: "group"}
      -#%button.btn.btn-default.btn-sm.dropdown-toggle#btnGroupDrop1{type: "button", data: { toggle: "dropdown"}, aria: { expanded: false, haspopup: true}}
        -#.dropdown-menu{ aria: { labelledby: "btnGroupDrop1"}}
          -#= link_to 'Edit',"#", data: {modal: true}, class: 'btn btn-primary'
          -#= link_to 'Remove', "#", method: :delete, data: { confirm: "Are you sure you want to remove the automation #{}?", ok: "Yes, remove it", confirmed: :loading_status}, remote: true, class: 'btn btn-primary'

      .js-table-email
        = render partial: 'table_emails', locals: {emails: @emails}
      
    .col-sm-3
      .bs-callout.bs-callout-primary.toolbar-aligment
        %p
          Max Send Quota / 24 hours
          %br
          %center
            %b
              = @send_data[:max_24_hour_send].to_i if @send_data
          %br
          Max Send Rate / second
          %br
          %center
            %b
              = @send_data[:max_send_rate].to_i if @send_data
          %br
          eMails Sent (last 24 hours)
          %br
          %center
            %b
              = @send_data[:sent_last_24_hours].to_i if @send_data
          %hr
          You can send eMail to maximum 50 email addresses at a time which includes 
          %b 
            To, Cc
          and
          %b
            Bcc 
          recipients. 
          You can also send 
          %b
            = link_to "templated eMails", "https://documentation.global.cloud.sap/services/email-howto-templates#send-template-email", :target => "_blank"
