=content_for :main_toolbar do
  eMail Service - Cronus
= render partial: 'email_service/shared/nav.html', locals: {pane: 'emails'}
           
.tab-content
  .tab-pane.active{role:"tabpanel", id:"emails-pane"}

%h3
  = @creds
  
%section.section-features
  .row
    .col-sm-3
      .feature-box
        %i.feature-box__icon.icon-basic-world
        %h2.heading-tertiary.u-margin-bottom-small
          Max Send Quota
          %br
          (24 hours)
        %p.feature-box__text
          = @send_data[:max_24_hour_send] if @send_data
    .col-sm-3
      .feature-box
        %i.feature-box__icon.icon-basic-world
        %h2.heading-tertiary.u-margin-bottom-small
          Max Send Rate
          %br
          (per second)
        %p.feature-box__text
          = @send_data[:max_send_rate] if @send_data
    .col-sm-3
      .feature-box
        %i.feature-box__icon.icon-basic-world
        %h2.heading-tertiary.u-margin-bottom-small
          Sent 
          %br
          (last 24 hours)
        %p.feature-box__text
          = @send_data[:sent_last_24_hours] if @send_data

  %h4
    Information
%table.table
  %tr
    %td
      Timestamp
    %td
      Delivery attempts
    %td
      Bounces
    %td
      Rejects
    %td
      Complaints
  -if @send_stats 
    - @send_stats.each do | stat |
      %tr        
        %td
          =stat[:timestamp]
        %td
          =stat[:delivery_attempts]
        %td
          =stat[:bounces]
        %td
          =stat[:rejects]
        %td
          =stat[:complaints]
%hr

%table.table
  %tr
    %td token:
    %td
      =current_user.token
  %tr
    %td Identity URL:
    %td
      ="#{current_user.service_url('identity')}"
      %br
      =current_user.service_url('identity')
  %tr
    %td user_id
    %td 
      =current_user.id
  %tr
    %td project_id
    %td 
      =current_user.project_id
  %tr
    %td region
    %td 
      =current_user.default_services_region
  %tr
    %td Cronus URL:
    %td 
      =current_user.service_url('email-aws')

All templates
- if @all_templates 
  - @all_templates.each do | template |
    %br
    =template[:name]

%br

Current User:
=current_user.roles.inspect

%br

Count:
=current_user.roles.count

%br
Has Role? email_user :
=current_user.has_role?('email_user')

%br
Has Role? email_admin :
=current_user.has_role?('email_admin')

%br
Has Role? fake_email_admin :
=current_user.has_role?('fake_email_admin')

%br
Current User Allowed (email_service:email_create):
=current_user.is_allowed?('email_service:email_create')

%br
All Emails:
= @all_emails
%br
Verified Emails:
= @verified_emails
%br
Pending Emails:
= @pending_emails
%br
Failed Emails:
= @failed_emails

%br
Verified Email Collection
%br
= @verified_emails_collection

%h4
  Domains:
%br
All
%br
= @all_domains
%br
Verified
%br
= @verified_domains
%br
Pending
%br
= @pending_domains
%br
Failed
%br
= @failed_domains

%br
Domain Collection
%br
= @verified_domains_collection

%h2 Templates

%br
All Templates
%br
= @all_templates

%br
All Templates Count
%br
= @all_templates.count if !@all_templates.nil?

%br
Template Item Match
%br
= @subject_match

%br
HTML Match
%br
= @html_part_match
%br
Text Match
%br
= @text_part_match
%br
Access
%br
= @creds.access
%br
Secret
%br
= @creds.secret