= content_for :title do
  New Email
=content_for :main_toolbar do
  Email Service
= render partial: 'email_service/shared/nav.html', locals: {pane: 'emails'}
%h3
  New Email
= simple_form_for :email, url: plugin('email_service').emails_path(), method: :post, remote: request.xhr?,  html: {id: 'form_email', data: {modal: true}}, wrapper: :vertical_form do |f|
  .row
    .col-sm-6
      = f.input :encoding, required: true, label: 'Encoding', input_html: { autofocus: 'autofocus' }, placeholder: 'Choose encoding'
      = f.input :source, required: true, label: 'Sender', placeholder: 'Enter name'
      = f.input :to_addr, required: true, label: 'To Address(es)', placeholder: 'Enter To Addresses'
      = f.input :cc_addr, required: true, label: 'Cc Address(es)', placeholder: 'Enter Bcc Addresses'
      = f.input :subject, required: true, label: 'Subject', placeholder: 'Enter Subject'
      = f.text_area :htmlbody, required: true, label: 'HTML Body', placeholder: 'Enter HTML Email Body '
      = f.text_area :textbody, required: true, label: 'Text Body', placeholder: 'Enter Text Email Body'
      
  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').emails_path(), class: 'btn btn-default'
    = button_tag "Create", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
