= content_for :title do
  New Email


= simple_form_for @email, url: plugin('email_service').emails_path(), method: :post, remote: request.xhr?,  html: {id: 'form_email', data: {modal: true}}, wrapper: :vertical_form do |f|

  .modal-body
    - if @email.errors.present?
      .alert.alert-error
        = render_errors(@email.errors)

    .row
      .col-sm-6
        = f.input :from required: true, label: 'From', input_html: { autofocus: 'autofocus' }, placeholder: 'Select email Address to send from'
        = f.input :to_addr required: true, label: 'To', , placeholder: 'Enter To email address(es)'
        = f.input :cc_addr required: false, label: 'Cc', , placeholder: 'Enter Cc email address(es)'
        = f.input :bcc_addr required: false, label: 'Bcc', , placeholder: 'Enter Bcc email address(es)'
        = f.input :subject required: true, label: 'Subject', , placeholder: 'Enter Subject'
        = f.input :htmlbody required: false, label: 'HTML body', , placeholder: 'Enter HTML body here'
        = f.input :textbody required: true, label: 'Text body', , placeholder: 'Enter Text body here'
        = f.input :encoding required: false, label: 'Encoding', , placeholder: 'Enter encoding(optional)'

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('key_manager').containers_path(), class: 'btn btn-default'
    = button_tag "Create", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
