= content_for :title do
  Verify Sender Email Address


= simple_form_for @verify_email, url: '/emails/verify_email', method: :post, remote: request.xhr?,  html: {id: 'form_verify_email', data: {modal: true}}, wrapper: :vertical_form do |f|

  .modal-body
    - if @verify_email.errors.present?
      .alert.alert-error
        = render_errors(@verify_email.errors)

    .row
      .col-sm-6
        = f.input :recipient, required: true, label: 'Email Address', input_html: { autofocus: 'autofocus' }, placeholder: 'Enter email address'

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').emails_path(), class: 'btn btn-default'
    = button_tag "Verify", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
