- if @domain_masterdata.errors.present?
  .alert.alert-error
    = render_errors(@domain_masterdata.errors)

= f.input :description, label: "Description"

%label.control-label Cost Object
.panel.panel-default
  .panel-body
    .row
      .col-sm-3
        = f.input :cost_object_projects_can_inherit, 
          label: raw("Projects can inherit #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.projects_can_inherit_help') }}"),
          as: :select, 
          include_hidden:false, 
          required:true
      .col-sm-3
        - types = MasterdataCockpit::Config.cost_object_types
        = f.input :cost_object_type, 
            label: "Type",
            as:           :select, 
            collection:   types.keys, 
            label_method: -> (k) { types[k] },
            required:true
      .col-sm-6
        = f.input :cost_object_name,
          label: "Name/Number",
          required:true
%label.control-label Responsibility
.panel.panel-default
  .panel-body
    .row
      .col-sm-6.operator-id
        = f.input :responsible_primary_contact_id, label: "Primary Contact", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
      .col-sm-6.operator-email
        = f.input :responsible_primary_contact_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
    .row
      .col-md-12.op-help-block
        = icon ('info-circle')
        = t('masterdata_cockpit.responsible_primary_contact_help')
    .row
      .col-sm-6.operator-id
        = f.input :primary_contact_id, label: "Controller", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
      .col-sm-6.operator-email
        = f.input :primary_contact_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
    .row
      .col-md-12.op-help-block
        = icon ('info-circle')
        = t('masterdata_cockpit.responsible_controller_help')

:javascript
  $(function(){
    // to hide the label of the email input field
    $('label.control-label.email.optional').html("&nbsp");
    // for attribute: when labels have the for attribute and you add an ID to the input it will wire that up
    // remove label -> input autofocus because the help in the label and disabled and readonly fields
    $('[for]').removeAttr('for')
    // renew popover 
    $('[data-toggle="popover"]').popover('destroy');
    $('[data-toggle="popover"][data-popover-type="help-hint"]').attr("tabindex","0");
    $('[data-toggle="popover"]').popover( {placement: 'top', trigger: 'focus'});
  });

