%label Cost Object 
%a.help-link{data:{content: "to be defined", popover: {type: "help-hint"}, toggle: "popover"}}
  = icon('question-circle')
.panel.panel-default
  .panel-body
    .row
      .col-sm-4.details-label
        %strong
          Type
      .col-sm-8.details-value
        = @domain_masterdata.cost_object['type']
    .row
      .col-sm-4.details-label
        %strong
          Name
      .col-sm-8.details-value
        = @domain_masterdata.cost_object['name']
    .row
      .col-sm-4.details-label
        %strong
          Projects can inherit
      .col-sm-8.details-value
        - if @domain_masterdata['projects_can_inherit']
          = icon('check-square-o')
        -else 
          = icon('times')
%label Responsibility
%a.help-link{data:{content: "to be defined", popover: {type: "help-hint"}, toggle: "popover"}}
  = icon('question-circle')
.panel.panel-default
  .panel-body
    .row
      .col-sm-4.details-label
        %strong
          Operator
      .col-sm-2.details-value
        - unless @domain_masterdata.responsible_controller_id
          \-
        = @domain_masterdata.responsible_controller_id
      - if @domain_masterdata.responsible_controller_email
        .col-sm-1.details-label
          Contact:
        .col-sm-4.details-value
          = icon('envelope-o')
          = mail_to @domain_masterdata.responsible_controller_email

