= simple_modal_form_for :email, submit_action: "Send", url: plugin('email_service').templated_emails_path(), method: :post, remote: request.xhr?, cancel_url: plugin('email_service').templated_emails_path(), html: {id: 'form_templated_email', data: {modal: true} } do |f|
  - if !@verified_emails_collection || @verified_emails_collection.empty? 
    %p.alert.alert-warning
      There are no verified eMail addresses defined for your account to send email from. Without a verified eMail address, you can't send eMail.
      You can get verified your eMail address
      = link_to 'here', plugin('email_service').new_verification_path()
  - if !@templates_collection || @templates_collection.empty?
    %p.alert.alert-warning
      There is no eMail template defined for your account to send email from. Without an eMail template, you can't send templated eMail.
      You can create eMail template from
      = link_to 'here', plugin('email_service').new_template_path()
      or you can send plain eMail from
      = link_to 'here', plugin('email_service').new_email_path() 
  - if !@configsets || @configsets.empty?
    %p.alert.alert-warning
      There is no Configuration Set defined for your account. Without a Config Set, you can't send templated eMail.
      You can create Configuration Set from
      = link_to 'here', plugin('email_service').configset_new_configset_path()
  
  .modal-body
    .row
      .col-sm-6
        = f.input :source, { label: "Sender", 
          collection: @verified_emails_collection, as: :select,
          hint: "Choose an eMail address you wish to send this email from",
          required: true}
        = f.input :to_addr, required: true, 
          label: 'To Address(es)', 
          placeholder: 'Enter To Addresses', 
          input_html: {value: ""},
          hint: 'You can enter up to 50 recipient email addresses (To, Cc, Bcc) together'
        %span.toEmailHelpBlock
        %span.toErrBlock
        = f.input :cc_addr, 
          required: false, 
          label: 'Cc Address(es)', 
          placeholder: 'Enter Cc Addresses',
          input_html: { value: "" },
          hint: 'You can enter up to 50 recipient email addresses (To, Cc, Bcc) together'
        %span.ccEmailHelpBlock 
        %span.ccErrBlock
        = f.input :bcc_addr, 
          required: false, 
          label: 'Bcc Address(es)', 
          placeholder: 'Enter Bcc Addresses',
          input_html: { value: "" },
          hint: 'You can enter up to 50 recipient email addresses (To, Cc, Bcc) together'
        %span.bccEmailHelpBlock
        %span.bccErrBlock
        = f.input :reply_to_addr, 
          required: false, 
          label: 'Reply To', 
          placeholder: 'Enter Bcc Addresses',
          collection: @verified_emails_collection, as: :select,
          hint: 'Reply To Address'
        %span.bccEmailHelpBlock
        %span.bccErrBlock
        = f.input :template_name,label: "Template Name", 
          collection: @templates_collection, as: :select,
          data: {toggle: "selectTemplateName"},
          hint: 'Choose a template',
          required: true    
        = f.input :template_data,
          label:              "Template data",
          input_html:         {rows: "25", class: "u-text-monospace", 
          value: "{}"},
          as:                 :text,
          required:           true,
          hint: 'Enter template data in JSON format'
        = f.input :configset_name,        
          label:              "ConfigSet Name",
          collection: @configsets, as: :select,
          required:           false,
          hint: 'Choose ConfigSet Name'