= content_for :title do
  New Templated eMail

- unless modal?
  %h3 New Templated eMail

= simple_form_for @templated_email, as: :templated_email, url: plugin('email_service').templated_emails_path(), method: :post, remote: request.xhr?,  html: {id: 'form_templated_email', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body.static-columns
    .modal-flashes
      = render "email_service/shared/flashes.html"

    = render partial: 'form', locals: { f: f, form_type: 'new' }

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('automation').emails_path(), class: 'btn btn-default'
    = button_tag "Send", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
