=content_for :main_toolbar do
  Email Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav.html', locals: {pane: 'ec2'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"settings-pane"}
    %h3
      AWS EC2 Credentials
    .row
      .col-sm-9
        .toolbar
          - if current_user.is_allowed?('email_service:template_create')
            .main-buttons
              = link_to "New EC2 Credentials", plugin('email_service').ec2_credentials_path, method: :post, class: 'btn btn-primary'
        %br
        - if ec2_creds_collection
          = render partial: 'table_ec2_creds'
      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            Here you can find information about Cronus Endpoint and AWS Credentials to interact with cronus programmatically. More information can be found
            = link_to "here", "https://documentation.global.cloud.sap/services/email-overview", :target => "_blank"
            and you can find How-To guides
            = link_to "here", "https://documentation.global.cloud.sap/services/email-howto", :target => "_blank"
            \.
