%tr{id: "security_group_#{security_group.id}"}
  %td
    - if current_user.is_allowed?("networking:security_group_get", {})
      = link_to security_group.name, plugin('networking').security_group_path(id: security_group.id)
    - else
      = security_group.name
  %td= security_group.description

  %td.snug
    - if current_user.is_allowed?("networking:security_group_delete", {}) and security_group.name!='default'
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.fa.fa-cog

        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if current_user.is_allowed?("networking:security_group_delete", {})
            %li= link_to 'Delete',
              plugin('networking').security_group_path(id: security_group.id),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this Security Group?',
                ok: "Yes, delete it",
                confirmed: :loading_status},
              remote: true

