= content_for :main_toolbar do
  = link_to 'Security Groups', plugin('networking').security_groups_path
  = "/ #{@security_group.name}" unless @security_group.blank?


- unless @security_group.blank?

  .row
    .col-md-9
      = render partial: 'networking/security_groups/rules/rule_list', locals: { rules: @rules }

    .col-md-3
      .infobox
        %h4.action-heading
          Security Group Info
          - can_delete = current_user.is_allowed?("networking:security_group_delete") && @security_group.name!='default'
          - #can_edit = current_user.is_allowed?("networking:security_group_update")
          - if can_delete #or can_edit
            .dropdown.header-action
              %i.fa.fa-cog.dropdown-toggle{ data: { toggle: "dropdown"}, aria: { expanded: true} }
              %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
                / - if can_edit
                /   / %li.divider{role: "separator"}
                /   %li
                /     = link_to plugin('networking').edit_security_group_path(id:@security_group.id), data: {modal: true} do
                /       %i.fa.fa-edit.fa-fw
                /       Edit Security Group
                /       / %i.fa.fa-exclamation-triangle
                - if can_delete
                  / %li.divider{role: "separator"}
                  %li
                    = link_to plugin('networking').security_group_path(id:@security_group.id), method: :delete, data: {confirm:'This cannot be undone, are you sure?', ok: 'Yes, delete it!', confirm_term: @security_group.name, confirm_term_label: "Type group name to confirm (#{@security_group.name})" } do
                      %i.fa.fa-trash.fa-fw
                      Delete Security Group
                      / %i.fa.fa-exclamation-triangle

        %table.table
          %tbody
            %tr
              %td
                %b Description:
                %br
                = @security_group.description
