- className= ''
- className= 'bg-success' if zone.status=='PENDING' and zone.action=='CREATE'
- className= 'bg-warning' if zone.status=='PENDING' and zone.action=='UPDATE'
- className= 'bg-danger' if zone.status=='PENDING' and zone.action=='DELETE'

%tr{id: "zone_#{zone.id}", class: className, data: {search_name: zone.name+'_'+zone.id, marker_id: zone.id} }
  %td
    - if active_zone_transfer_requests[zone.id]
      %i.fa.fa-fw.fa-truck{ data: {toggle:"tooltip", placement:"bottom", title: "There is a transfer request for this zone."}}
    - if current_user.is_allowed?("dns_service:zone_get", zone: zone.attributes)
      = link_to zone.name, zone_path(zone.id)
    - else
      = zone.name
    %br
    %span.info-text= zone.id
  - if @all_projects
    %td
      - project_id_and_name(zone.project_id)
    %td= pool_name(zone.pool_id, pools)
  %td= zone.email
  %td= zone.ttl
  %td= zone.status
  %td= zone.action
  %td.snug
    - if current_user.is_allowed?("dns_service:zone_get", zone: zone.attributes) or current_user.is_allowed?("dns_service:zone_delete", zone: zone.attributes) or current_user.is_allowed?("dns_service:zone_update", zone: zone.attributes)
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.fa.fa-cog
          -# %span.spinner

        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if current_user.is_allowed?("dns_service:zone_get", zone: zone.attributes)
            %li= link_to 'Manage Records', plugin('dns_service').zone_path(zone.id)
          - if current_user.is_allowed?("dns_service:zone_update", zone: zone.attributes)
            %li= link_to 'Edit', plugin('dns_service').edit_zone_path(zone.id), data: {modal: true}
          - if current_user.is_allowed?("dns_service:transfer_request_create", zone: zone.attributes)
            %li= link_to 'Zone Transfer', plugin('dns_service').new_zone_transfer_request_path(zone_id: zone.id), data: {modal: true}
          - if current_user.is_allowed?("dns_service:zone_delete", zone: zone.attributes)
            %li= link_to 'Delete', plugin('dns_service').zone_path(zone.id), method: :delete, data: { confirm: 'Are you sure you want to delete this zone?', ok: "Yes, delete it", confirmed: :loading_status}, remote: true
