.alert.alert-info
  %p Please check your DNS roles assignment as new roles were introduced.
  = link_to "#{sap_url_for('documentation')}docs/dns/start/roles.html", class: "btn", title: "Open documentation in new window.", target: "_blank" do
    %i.fa.fa-external-link
    DNS roles

- if @zone_transfer_requests.length>0
  .alert.alert-info
    %p There are zone transfer requests available.
    = link_to 'show', transfer_requests_path, data: { modal: true }

.toolbar
  .has-feedback.has-feedback-searchable
    = text_field_tag 'search_zones_input', '', class: "form-control", placeholder: 'Zone name or ID'

  .has-feedback-help
    %a.help-link{href: "#", data: {toggle: "popover", "popover-type": "help-hint", content: "Searches by zone name or ID in visible zone list only. Entering a search term will automatically start loading the next pages and filter the loaded items using the search term. Emptying the search input field will show all currently loaded items."}}
      %i.fa.fa-question-circle

  - if current_user.is_allowed?("dns_service:zone_create")
    .main-buttons
      = link_to 'Create New', plugin('dns_service').new_zone_path, data: {modal: true}, class: 'btn btn-primary'
  - elsif current_user.is_allowed?("dns_service:request_zone")
    .main-buttons
      = link_to 'Request New Domain', plugin('dns_service').new_zone_request_path, data: {modal: true}, class: 'btn btn-primary'

%table.table.zones.searchable{data:{search_input: '#search_zones_input'}}
  %thead
    %tr
      %th Name
      - if @all_projects
        %th Owning Project
        %th Pool
      %th Email
      %th Status
      %th Action
      %th.snug
  %tbody
    - if @zones.length==0
      %tr{data: {empty: true}}
        %td{colspa: 6}
          = 'No zones available.'
          - unless current_user.is_allowed?("dns_service:zone_create") or current_user.is_allowed?("dns_service:request_zone")
            = link_to "#{sap_url_for('documentation')}docs/learn/network/how-to-create-dns-zone.html", class: "btn", title: "Open documentation in new window.", target: "_blank" do
              %i.fa.fa-external-link
              How to get a DNS zone
    - else
      = render partial: 'list', locals: {zones: @zones, active_zone_transfer_requests: @active_zone_transfer_requests, pools: @pools}

=# render_paginatable(@zones)
- if @pagination_has_next
  .ajax-paginate{ data: { ajax_paginate: true, list_selector: 'table.zones tbody', search_input_selector: '#search_zones_input'} }
