- if current_user.is_allowed?("dns_service:zone_create")
  .toolbar
    = link_to 'Create new', plugin('dns_service').new_zone_path, data: {modal: true}, class: 'btn btn-primary btn-lg'

%table.table.zones
  %thead
    %tr
      %th Name
      - if @all_projects
        %th Owning Project
      %th Email
      %th TTL
      %th Serial
      %th Status
      %th Action
      %th.snug
  %tbody
    - if @zones.length==0
      %tr{data: {empty: true}}
        %td{colspa: 6}
          = 'No zones available.'
          = link_to "#{sap_url_for('documentation')}docs/learn/network/create_dns_zone.html", class: "btn", title: "Open documentation in new window.", target: "_blank" do
            %i.fa.fa-external-link
            How to get a DNS zone
    - else
      - @zones.each do | zone |
        = render partial: 'zone_item', locals: {zone: zone}

= render_paginatable(@zones)        
