
- if @zone_transfer_requests.length>0
  .alert.alert-info
    %p There are zone transfer requests available.
    = link_to 'show', transfer_requests_path, data: { modal: true }

%form
  .toolbar.toolbar-controlcenter
    / / search form
    .inputwrapper
      = select_tag 'searchfor', options_for_select(['Name', 'Email', 'TTL', 'Status'], @searchfor), class: "form-control"
    .inputwrapper
      .input-group.has-feedback.has-feedback-searchable
        %input.form-control{:id => "search", :name => 'search', :placeholder => "Enter search term", :type => "text", :size => 40, :value => @search }
        .span.input-group-btn
          %button.btn.btn-default{type: "submit"}
            %i.fa.fa-search
    %a.help-link.has-feedback-help{href: "#", data: {toggle: "popover", "popover-type": "help-hint", content: 'Search term can use wildcard "*".'}}
      %i.fa.fa-question-circle

    - if current_user.is_allowed?("dns_service:zone_create")
      .main-buttons
        = link_to 'Create New Zone', plugin('dns_service').new_zone_path, data: {modal: true}, class: 'btn btn-primary'
    - elsif current_user.is_allowed?("dns_service:request_zone")
      .main-buttons
        = link_to 'Request New Zone', plugin('dns_service').new_zone_request_path, data: {modal: true}, class: 'btn btn-primary'

%table.table.zones
  %thead
    %tr
      %th Name
      - if @all_projects
        %th Owning Project
        %th Pool
      %th Email
      %th TTL
      %th Status
      %th Action
      %th.snug
  %tbody
    - if @zones.length==0
      %tr{data: {empty: true}}
        %td{colspa: 6}
          = 'No zones available.'
          - unless current_user.is_allowed?("dns_service:zone_create") or current_user.is_allowed?("dns_service:request_zone")
            = link_to "#{sap_url_for('documentation')}docs/learn/network/how-to-create-dns-zone.html", class: "btn", title: "Open documentation in new window.", target: "_blank" do
              %i.fa.fa-external-link
              How to get a DNS zone
    - else
      = render partial: 'list', locals: {zones: @zones, shared_zones: @shared_zones, active_zone_transfer_requests: @active_zone_transfer_requests, pools: @pools}

-# if @pagination_has_next
  .ajax-paginate{ data: { ajax_paginate: true, list_selector: 'table.zones tbody', search_input_selector: '#search_zones_input'} }

= render_paginatable(@zones, {searchfor: @searchfor, search: @search})
