= simple_form_for @zone, url: plugin('dns_service').zones_path(@zone.id), method: :post, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - if @zone.errors.present?
      .alert.alert-error
        = render_errors(@zone.errors)

    = f.input :name,  required: true
    = f.input :pool_id, as: :select, label: 'DNS Provider', required: false do
      = f.select :pool_id, @pools.uniq.collect{|pool| [(pool.attributes.fetch("attributes", {}).fetch("label",nil) || pool.name.humanize), pool.id]},
        { include_blank: true },
        class: "select required form-control"
      %p.help-block
        %i.fa.fa-info-circle
        Default is "Internal SAP Hosted Zone" 
        #{link_to 'See the documentation for more information','https://documentation.global.cloud.sap/docs/dns/'}
    = f.input :email, required: true
    = f.input :ttl,   required: false, as: :integer, input_html: {value: @zone.ttl || 7200}
    = f.input :description, required: false, as: :text

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Cancel'}} Cancel
    - else
      = link_to 'Cancel', zones_url(), class: 'btn btn-default'
    = button_tag 'Create', { class: 'btn btn-primary pull-right', data: { disable_with: 'Please wait... '} }
