=content_for :main_toolbar do
  eMail Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav.html', locals: {pane: 'configset'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"settings-pane"}
    %h3
      Configuration Set
    .row
      .col-sm-9
        .toolbar
          - if current_user.is_allowed?('email_service:configset_create')
            .main-buttons
              = link_to "New ConfigSet", plugin('email_service').configset_new_configset_path(), data: {modal: true}, class: 'btn btn-primary'

        .js-table-configset
          = render partial: 'table_configset', locals: {configsets: @configsets}

      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            %center
              Total ConfigSets
            %br
            %center
              %b
                = @configsets.count if @configsets
            %hr
            Configuration sets are groups of rules that you can apply to the emails you send using Amazon SES. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.
            = link_to "More on ConfigSets", "https://docs.aws.amazon.com/ses/latest/dg/using-configuration-sets.html", :target => "_blank"
            \.