= content_for :title do
  New Configuration Set

= simple_form_for :configset, url: plugin('email_service').configset_create_configset_path(), method: :post, remote: request.xhr?, html: {id: 'form_configset', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  .modal-body
    .row
      .col-sm-6
        = f.input :name, label: "ConfigSet Name",
          placeholder: "Enter Configuration Set Name",
          hint: "Enter Configuration Set Name",
          required: true
        %span#canbehidden.can-be-hidden 
          This will be hidden
  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').configset_path(), class: 'btn btn-default'
    = button_tag "Create", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }