- data = {search_name: "#{snapshot.name} #{snapshot.description} #{snapshot.size}", marker_id: snapshot.id}
- if snapshot
  %tr{id:"snapshot_#{snapshot.id}", data: data}
    - if current_user.is_allowed?("block_storage:snapshot_get", {target: {scoped_domain_name: @scoped_domain_name}})
      %td
        = link_to snapshot.name, plugin('block_storage').snapshot_path(id: snapshot.id), data: {modal: true}
    - else
      %td= snapshot.name
    %td= snapshot.description
    %td= snapshot.size
    %td= cached_object(snapshot.volume_id, type: 'volume', url: plugin('block_storage').volume_path(snapshot.volume_id))
    %td= snapshot.status

    %td.snug
      - if current_user.is_allowed?("block_storage:snapshot_delete", {target: {scoped_domain_name: @scoped_domain_name}}) or current_user.is_allowed?("block_storage:snapshot_update", {target: {scoped_domain_name: @scoped_domain_name}})
        .btn-group
          %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
            %span.fa.fa-cog
          %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
            - if current_user.is_allowed?("block_storage:snapshot_update", {target: {scoped_domain_name: @scoped_domain_name}})
              %li= link_to 'Change', plugin('block_storage').edit_snapshot_path(snapshot.id), data: {modal: true}
              %li.divider
              %li= link_to 'Create Volume', plugin('block_storage').create_volume_snapshot_path(snapshot.id), data: {modal: true}
            - if current_user.is_allowed?("block_storage:snapshot_delete", {target: {scoped_domain_name: @scoped_domain_name}})
              %li.divider
              %li= link_to 'Delete', plugin('block_storage').snapshot_path(id: snapshot.id), method: :delete, data: { confirm: 'Are you sure you want to delete this snapshot?' }
            - if current_user.is_allowed?("block_storage:snapshot_reset_status")
              %li.divider
              %li= link_to 'Reset Status', plugin('block_storage').new_status_snapshot_path(id: snapshot.id), data: { modal: true }
