/ = content_for :title do
/   Show
  
.modal-body
  %table.table.datatable
    %tbody
      %tr
        %th Name
        %td= @snapshot.name
      %tr
        %th Description
        %td= @snapshot.description
      %tr
        %th ID
        %td= @snapshot.id
      %tr
        %th Size (GB)
        %td= @snapshot.size
      %tr
        %th State
        %td= @snapshot.status
      %tr
        %th Source Volume
        %td= @snapshot.volume_id

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", plugin('block_storage').snapshots_url, class: 'btn btn-default'
    
