= content_for :main_toolbar do
  Share Backend Pools

%table.table
  %thead
    %tr
      %th Availability Zone
      %th Aggregate
      %th Host
      %th Total Capacity
      %th Allocated Capacity
      %th Free Capacity
      %th Reserved Capacity
      %th
  %tbody#pools_table
    - if @pools.blank?
      %tr
        %td{colspan: 3}
          No Pools available
    - else
      - accumulated_pools(@pools).each do |data|
        %tr.title-row
          %th= data[:availability_zone]
          %th
          %th
          %th= data[:total_capacity]
          %th
            %span{title: "#{data[:allocated_capacity_percentage]}%", data: {toggle: :tooltip}}= data[:allocated_capacity]
            =# data[:allocated_capacity]
          %th
            %span{title: "#{data[:free_capacity_percentage]}%", data: {toggle: :tooltip}}= data[:free_capacity]
            =# data[:free_capacity]
          %th
            %span{title: "#{data[:reserved_capacity_percentage]}%", data: {toggle: :tooltip}}= data[:reserved_capacity]
            =# data[:reserved_capacity]
          %th

        - data[:items].each do |pool|
          = render partial: 'item', locals: {pool: pool}



      -# - @pools.each do |pool|
      -#   = render partial: 'item', locals: {pool: pool}
