= render 'identity/projects/cloud_admin/shared/choose_scope'

-# @projects_quotas = load_projects_quotas(@project.try(:id))
-# @projects_networks = load_projects_networks(@project.try(:id))
-# @networks = load_networks(@project.try(:id))
-# @networks_usage = load_networks_usage

%table.table
  %thead
    %tr
      %th Project
      %th Floating IP Quota
      %th
        Network
        %span.pull-right
          Floating PIs
          %span.info-text Used | Available | Quota
      -# %th Floating IPs Total
      -# %th Floating IPs Used
  %tbody
    - @projects.each do |project|
      - quota = @projects_quotas[project.id]
      %tr
        %td
          = project.name
          %br
          %span.info-text= project.id
        %td= quota.floatingip if quota
        %td
          - next unless @projects_networks[project.id]
          %table.table.no-borders
            %tbody
              - @projects_networks[project.id].each do |network_id|
                - network = @networks[network_id]
                - next unless network
                - usage = @networks_usage[network_id]
                %tr
                  %td
                    = network.name
                    %br
                    %span.info-text= network.id
                  %td= usage.used_ips
                  %td= usage.total_ips
                  %td= usage.floatingip_total_quota
