#backend_error
= f.input :name, 
  input_html: { autofocus: true }
= f.input :description, as: :text

= f.input :expression, readonly:true, as: :text

- severity = @alarm_definition.severity || 'LOW'
= f.input :severity, 
    collection: @alarm_definition.supported_severities, 
    selected: severity

= f.input :match_by, as: :hidden
- unless @filter_by.empty?
  .form-group
    .row
      = label_tag 'filter_by', 'Separate by', class: 'control-label col-sm-4'
      .col-sm-8.seperate-by
        - @filter_by.each do |dimensions_key|
          - if dimensions_key != ""
            = label_tag dimensions_key, dimensions_key.capitalize, class: 'filter-by-label'
            = check_box_tag dimensions_key, dimensions_key, false, class:'filter-by-input', onchange:'filter_by()'
        %p.help-block
          A separate alarm will be created for every distinct set of values in the chosen dimensions.

= render partial: "form_notification_channels", locals:{f:f}

= content_for :javascripts do
  :javascript

    function filter_by() {
      $('#alarm_definition_match_by').val('');
      var filter_by = "";
      $('.filter-by-input').each(function(index) {
        if($(this).prop('checked')) {
          filter_by += $(this).val()+",";
        }
      });
      // remove the last comma
      filter_by = filter_by.slice(0, -1);
      $('#alarm_definition_match_by').val(filter_by);
    }