#backend_error
= f.input :name, 
  input_html: { autofocus: true }
= f.input :description
= f.input :expression, 
    icon_hint: "If the expression is true, and the alarm actions are enabled and configured a notification will be sent. Refer to the #{link_to 'documentation', 'https://github.com/sapcc/monasca-api/blob/master/docs/monasca-api-spec.md#alarm-definition-expressions', target: '_blank'} for how to write an expression."

- severity = @alarm_definition.severity || 'LOW'
= f.input :severity, 
    collection: @alarm_definition.supported_severities, 
    selected: severity

-# https://github.com/openstack/monasca-api/blob/master/docs/monasca-api-spec.md#changing-alarm-definitions
- if edit
  = f.input :match_by, readonly: true,
      icon_hint: 'Cannot be changed because this field is used to create Alarms and Alarms may already have been created. The only option to change "match by" is to delete the existing Alarm Definition and create a new one.'
- else
  = f.input :match_by, 
      icon_hint: 'Comma-separated list of dimensions, A separate alarm will be created for every single dimension value.'

.row
  .col-md-8.col-md-offset-3
    = f.input :actions_enabled, as: :boolean, label: 'Send status notifications for:'
#alarm_actions
  = f.input :ok_actions, 
      label: 'OK',collection: @notification_methods.map{|s| [s.name, s.id]}, 
      input_html: { multiple: true, size: 3 }, 
      include_hidden: false 
  = f.input :alarm_actions, 
      label: 'Alarm',
      collection: @notification_methods.map{|s| [s.name, s.id]}, 
      input_html: { multiple: true, size: 3 }, 
      include_hidden: false 
  = f.input :undetermined_actions, 
      label: 'Undetermined',
      collection: @notification_methods.map{|s| [s.name, s.id]}, 
      input_html: { multiple: true, size: 3 }, 
      include_hidden: false 

= content_for :javascripts do
  :javascript
    $(function() {
      $('#alarm_actions').toggle($('#alarm_definition_actions_enabled').is(':checked'))
 
      $('#alarm_definition_actions_enabled').change(function(){
         $('#alarm_actions').toggle('fast');
      });
    });

