#backend_error
= f.input :name, placeholder: 'Enter name', :input_html => { autofocus: true }
= f.input :description, placeholder: 'Enter Description'
= f.input :expression, placeholder: 'Enter Expression', icon_hint: "If the expressions is true, a notification will be sent. See #{link_to 'Description', 'https://github.com/openstack/monasca-api/blob/master/docs/monasca-api-spec.md#alarm-definition-expressions'} how to write a expression"
- severity = @alarm_definition.severity || 'LOW'
= f.input :severity, collection: @alarm_definition.supported_severities, selected: severity, icon_hint: 'Defines the severity level for the alarm'
= f.input :match_by, icon_hint: 'Comma seperated list of dimensions, A separate Alarm will be created for every single dimension value'

%hr
.row
  .col-md-3
  .col-md-8
    = f.input :actions_enabled, as: :boolean, label: 'Enable/Disable actions'
    %div{id: 'alarm_actions'}
      = f.input :ok_actions, collection: @notification_methods.map{|s| [s.name, s.id]}, input_html: { multiple: true, size: 3 }, :include_hidden => false
      = f.input :alarm_actions, collection: @notification_methods.map{|s| [s.name, s.id]}, input_html: { multiple: true, size: 3 }, :include_hidden => false
      = f.input :undetermined_actions, collection: @notification_methods.map{|s| [s.name, s.id]}, input_html: { multiple: true, size: 3 }, :include_hidden => false

= content_for :javascripts do
  :javascript
    $(function() {
      if ( $('#alarm_definition_actions_enabled').is(':checked') ) {
        $('#alarm_actions').css('display','inline');
      }
      else {
        $('#alarm_actions').css('display','none')
      }
  
      $('#alarm_definition_actions_enabled').change(function(){
         $('#alarm_actions').toggle('fast');
      });
    });

