= content_for :main_toolbar do 
  Monitoring 
= render partial: '/monitoring/application/tabs', locals: { tab: 'alarm_definitions' }

.toolbar
  .row
    - if current_user.is_allowed?("monitoring:alarm_definition_create")
      .col-sm-9
        Definitions (#{@alarm_definitions.length})
    - else
      .col-sm-10
        Definitions (#{@alarm_definitions.length})
    .col-sm-2
      %input{id: "alarm_definition_search", type:"text", class:"form-control string", placeholder:"Search"}
    - if current_user.is_allowed?("monitoring:alarm_definition_create")  
      .col-sm-1
        = link_to "Create", plugin('monitoring').new_alarm_definition_path(), class: 'btn btn-primary btn-lg', data: {modal:true}
#definitions_list
  = render partial: 'list'

:javascript
  $(function() {
    $('#alarm_definition_search').keypress(function (e) {
      if (e.which == 13) {
        $.get("#{plugin('monitoring').search_alarm_definitions_path()}", {search: $('#alarm_definition_search').val()});
      }
    });
  });

