= content_for :main_toolbar do 
  Monitoring 
= render partial: '/monitoring/application/tabs', locals: { tab: 'alarm_definitions', count: @alarm_definitions_count }

.toolbar
  .row
    - if current_user.is_allowed?("monitoring:alarm_definition_create")
      .col-sm-2.col-sm-offset-9
        %input.form-control.string#alarm_definitions_search{type:"text", placeholder:"Search"}
    - else
      .col-sm-2.col-sm-offset-10
        %input.form-control.string#alarm_definitions_search{type:"text", placeholder:"Search"}
    - if current_user.is_allowed?("monitoring:alarm_definition_create")  
      .col-sm-1
        = link_to "Create", plugin('monitoring').new_alarm_definition_path(), class: 'btn btn-primary btn-lg', data: {modal:true}
#definitions_list
  = render partial: 'list'

:javascript
  $(function() {
    $('#alarm_definitions_search').keypress(function (e) {
      if (e.which == 13) {
        $.ajax({ 
          url: "#{plugin('monitoring').search_alarm_definitions_path()}",
          data: { 
            search: $('#alarm_definitions_search').val() 
          },
          dataType: 'script'
        });
      }
    });
  });

