= content_for :title do
  Show details for alarm definition #{@alarm_definition.name}

%div{class: modal? ? 'modal-body' : ''}
  .row
    .col-md-3.details-label
      %strong Name:
    .col-md-9.details-value= @alarm_definition.name
  .row
    .col-md-3.details-label 
      %strong Description:
    .col-md-9.details-value= @alarm_definition.description
  .row
    .col-md-3.details-label 
      %strong Severity:
    .col-md-9.details-value= @alarm_definition.severity
  .row
    .col-md-3.details-label 
      %strong Expression:
    .col-md-9.details-value= @alarm_definition.expression
  .row
    .col-md-3.details-label 
      %strong Match by:
    .col-md-9.details-value= @alarm_definition.match_by.join(',') 
  %hr
  .row
    .col-md-3.details-label 
      %strong Actions Enabled:
    .col-md-9.details-value= @alarm_definition.actions_enabled 
  .row
    .col-md-3.details-label 
      %strong OK Actions:
    .col-md-9.details-value= @alarm_definition.ok_actions.map{|notification_method_id| @notification_methods_hash[notification_method_id].name  }.join(',')
  .row
    .col-md-3.details-label 
      %strong Alarm Actions:
    .col-md-9.details-value= @alarm_definition.alarm_actions.map{|notification_method_id| @notification_methods_hash[notification_method_id].name  }.join(',') 
  .row
    .col-md-3.details-label 
      %strong Undetermined Actions:
    .col-md-9.details-value= @alarm_definition.undetermined_actions.map{|notification_method_id| @notification_methods_hash[notification_method_id].name  }.join(',') 
  


    -# TODO: howto render the ok, alarm and undetermined actions? because I have only the notification IDs

.buttons{class: modal? ? 'modal-footer' : ''} 
  %button.btn.btn-default{type:"button", data: { dismiss:"modal" }, aria: { label: "Got it" }} Close
