= content_for :title do
  Job details

- unless modal?
  %h3 Job details

.modal-body

  .modal-flashes

  .modal-section.first
    %h3
      Details

    .show_details
      .row
        .col-md-2
          %b
            Job Id:
        .col-md-10
          = @job.request_id

      .row
        .col-md-2
          %b
            Node:
        .col-md-10
          - unless @node.nil?
            = @node.display_name
          - else
            = @job.to

      .row
        .col-md-2
          %b
            Owner:
        .col-md-4
          = @job.owner_name
        .col-md-2
          %b
            Status:
        .col-md-4
          - job_icon_state(@job.status)
          - job_state(@job.status)

      .row
        .col-md-2
          %b
            Agent:
        .col-md-4
          = " #{@job.agent}"
        .col-md-2
          %b
            Action:
        .col-md-4
          = " #{@job.action}"

      .row
        .col-md-2
          %b
            Started:
        .col-md-4
          = date_humanize(@job.created_at)
        .col-md-2
          %b
            Duration:
        .col-md-4
          = @job.duration

  .modal-section
    %h3
      Log

    %p
      = "The generated log has #{@truncated_log.data_lines} lines of output. "
      - if @truncated_log.data_truncated?
        = "The output is too long and has been truncated to the last lines. "
      = link_to("View", plugin('automation').show_log_jobs_path(id: @job.request_id), target: "_blank")
      full log.

    %pre
      %code
        = preserve do
          :escaped
            #{@truncated_log.data_output}

  .modal-section
    %h3
      Payload

    %p
      = "The payload has #{@truncated_payload.data_lines} lines of output. "
      - if @truncated_payload.data_truncated?
        = "The output is too long and has been truncated to the last lines. "
      = link_to("View", plugin('automation').show_payload_jobs_path(id: @job.request_id), target: "_blank")
      full payload.

    %pre
      %code
        = preserve do
          #{@truncated_payload.data_output}


%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
