- @header_title ||= "Application"
- @title ||= "Warning"
- @description ||= "Service unavailable"

- if modal?
  = content_for :title do
    %span{class: "#{plugin_name}-icon warning-icon"}
    %span.active
      = "#{@header_title} Warning"

  .modal-body
    %h3= sanitize(@title)
    %p= sanitize(@description, tags: %w(b))

  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

- else
  %h3= sanitize(@title)
  %p= sanitize(@description, tags: %w(b))
  - if Rails.env.development?
    .bs-callout.bs-callout-info
      %h4 Details
      %p= @details
