= content_for :title do
  Attach Interface

= simple_form_for @os_interface, url: plugin('compute').create_interface_instance_path(id:params[:id]), method: :put, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal', id: 'fixed_ip' }, wrapper: :horizontal_form do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - if @os_interface.errors.present?
      .alert.alert-error
        = render_errors(@os_interface.errors)

    = f.input :net_id, {label: "Network",
      input_html:         {},
      as:                 :select,
      collection:         @networks,
      required:           true}

    = f.input :ip_address, { label: "Fixed IP",
      required: false,
      icon_hint: 'You can request a specific fixed IP address. Leave blank if you are unsure.'}

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", instances_url(), class: 'btn btn-default'
    = button_tag "Attach", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
