= content_for :title do
  Select Security Groups for Server

.modal-body
  .alert.alert-info
    Please note that changing the security groups here affects all assigned
    interfaces (ports). This means that the security groups of each attached
    port are adapted accordingly. If you have individual port security group
    settings we recommend making security group changes only via the ports UI
    in the networking section.
  - if @security_groups.count > 50
    .alert.alert-warning
      Please note that because of the large number of security groups in this project only the security group names are shown in this screen.
      To see the group's rules defnition click the link behind the group which will navigate you to the rules definition (will open in a new window).
  

  .row
    .col-md-12
      = form_tag plugin('compute').assign_securitygroups_instance_path(id: @instance.id, action_from_show:@action_from_show), method: :put, remote: true do
        - unless flash[:error].blank?
          .alert.alert-error=flash[:error]
        %table.table.datatable
          %tbody
            - (@security_groups.compact || []).each do |sg|
              %tr{id: "sg_#{sg.id}"}
                %td= check_box_tag "sgs[]", "#{sg.id}", ((@instance_security_groups_keys.include? sg.id) ? true : false)
                %th= sg.name
                %td
                  - if @security_groups.count <= 50 
                    - if sg.security_group_rules.empty?
                      No rules defined.
                    - else
                      %ul
                        - sg.rule_objects.each do |rule|
                          %li= rule.to_s(@security_groups)
                  - else
                    = link_to("Navigate to rule definition", "#{plugin('networking').widget_security_groups_path()}#/security-groups/#{sg.id}/rules", target: "_blank")
        %div.buttons{class: 'modal-footer'}
          %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
          - if current_user.is_allowed?('compute:instance_assign_securitygroups', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
            = button_tag "Save", { class: 'btn btn-primary pull-right submit', data: { disable_with: "Please wait..." } }
