= content_for :title do
  Resize instance
  
= simple_form_for @instance, url: plugin('compute').resize_instance_path(id:@instance.id, action_from_show:@action_from_show), method: :put, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  
  %div{class: modal? ? 'modal-body' : ''}
    - if @instance.errors.present?
      .alert.alert-error
        = render_errors(@instance.errors)

    = f.input :old_flavor, input_html: {value: @instance.flavor['original_name'], disabled: true},
      icon_hint: @instance.flavor['original_name']
      
    = f.input :flavor_id, label: 'New flavor', as: :select, collection: @flavors.delete_if{|fl| fl.id==@instance.flavor["id"]}, 
      input_html: {data: { flavors: @flavors.inject({}){|hash,flavor| hash[flavor.id] = flavor.to_s; hash }}},
      icon_hint: "<span></span>"
        
  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", instances_url(), class: 'btn btn-default'
    = button_tag "Resize", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }

:javascript
  $('#server_flavor_id').change(function(){
    var data = $(this).data('flavors');
    $($(this).closest('.form-group').find('.help-block span')).text(data[this.value]);
  });    