= content_for :title do
  Attach Floating IP

- if @grouped_fips && @grouped_fips.length>0
  = simple_form_for @floating_ip, url: plugin('compute').attach_floatingip_instance_path(id:params[:id], action_from_show:@action_from_show), method: :put, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal', id: 'allocate_ip' }, wrapper: :horizontal_form do |f|

    %div{class: modal? ? 'modal-body' : ''}
      .flashes
        = render "application/flashes"
        
      - if @floating_ip.errors.present?
        %p.alert.alert-error
          = @floating_ip.errors.full_messages.to_sentence + '.'


      = f.input :fixed_ip_address,
        prompt: "Select an Interface IP",
        as: :grouped_select,
        collection: network_ips_map(instance_ips(@instance).select {|ip_data| ip_data['floating'].nil? }),
        group_method: :last,
        required: true,
        label_method:       -> a {a['fixed']['addr']},
        value_method:       -> a {a['fixed']['addr']},
        label: 'Interface IP'

      = f.input :id,
        prompt: "Select a Floating IP",
        as: :grouped_select,
        collection: @grouped_fips,
        label_method:       -> fip { "#{fip.floating_ip_address} #{fip.description.truncate(30)}" },
        value_method:       -> fip { fip.id },
        group_method: :last,
        required: true,
        label: 'Floating IP'

    %div.buttons{class: modal? ? 'modal-footer' : ''}
      - if modal?
        %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
      - else
        = link_to "Cancel", instances_url(), class: 'btn btn-default'
      = button_tag "Attach", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }

- else
  %div{class: modal? ? 'modal-body' : ''}
    %p There is no floating IP available. Please allocate a new IP first (Note that it won't get attached automatically)
    = link_to 'Allocate IP', plugin('networking').new_floating_ip_path, data: {modal: true}

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", instances_url(), class: 'btn btn-default'
