= content_for :title do
  Resize instance
  
= simple_form_for @instance, url: plugin('compute').resize_instance_path(id:@instance.id, action_from_show:@action_from_show), method: :put, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  
  %div{class: modal? ? 'modal-body' : ''}
    .bs-callout.bs-callout-info
      %h4.text-info Please note! 
      %p 
        Resizing a server is a technically complex operation and might fail for a variety of reasons. 
        In many cases a better course of action is to create a new server in the new size and deleting the old.          



    - if @instance.errors.present?
      .alert.alert-error
        = render_errors(@instance.errors)


    - flavor_name = "#{@instance.flavor['original_name']}  (RAM: #{Core::DataType.new(:bytes, :mega).format(@instance.flavor["ram"])}, VCPUs: #{@instance.flavor["vcpus"]}, Disk: #{Core::DataType.new(:bytes, :giga).format(@instance.flavor["disk"])} )"
    = f.input :old_flavor, input_html: {value: flavor_name, disabled: true}

    - flavors = @flavors.delete_if{|fl| fl.name==@instance.flavor["original_name"]}
    = f.input :flavor_id, { label: "New Flavor",
      as:                 :grouped_select,
      required:           true,
      collection:         grouped_flavors(flavors),
      group_method:       :last,
      include_blank:      "Choose flavor",
      label_method:       -> (flavor) { flavor_label_for_select(flavor) }}      
        
  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", instances_url(), class: 'btn btn-default'
    = button_tag "Resize", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
