= content_for :title do
  Reset Status
  -# %i{class: 'fa fa-info-circle', title: 'Explicitly updates the volume state in the Cinder database. Note that this does not affect whether the volume is actually attached to the Nova compute host or instance and can result in an unusable volume. Being a database change only, this has no impact on the true state of the volume and may not match the actual state. This can render a volume unusable in the case of change to the "available" state.'}

= simple_form_for @instance, url: plugin('compute').reset_status_instance_path(id: @instance.id), method: :post, remote: request.xhr?, html: {id: 'form_instance_status', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form  do |f|
  %div{class: modal? ? 'modal-body' : ''}
    .alert.alert-warning
      Explicitly updates the volume state in the Cinder database. Note that this does not affect whether the volume is actually attached to the Nova compute host or instance and can result in an unusable volume. Being a database change only, this has no impact on the true state of the volume and may not match the actual state. This can render a volume unusable in the case of change to the "available" state.

    = render partial: 'errors', locals: {data: @instance}

    %p
      = f.input :status,
        as: :select,
        collection: BlockStorage::Volume::STATUS,
        include_blank: false

      = f.input :attach_status,
        as: :select,
        collection: BlockStorage::Volume::ATTACH_STATUS,
        selected: params.fetch(:volume_status,{}).fetch(:attach_status, (@volume.attached? ? 'attached' : 'detached') )

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", volumes_url(), class: 'btn btn-default'
    = button_tag "Reset", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
