%tr{id: "hypervisor_#{hypervisor.id}"}

  %td
    - if current_user.is_allowed?("compute:hypervisor_get")
      = link_to hypervisor.name, plugin('compute').hypervisor_path(id: hypervisor.id), data: {modal: true}
    - else
      = hypervisor.name

  %td= hypervisor.type
  %td= Core::DataType.new(:number).format(hypervisor.vcpus_used)
  %td= Core::DataType.new(:number).format(hypervisor.vcpus)
  %td= Core::DataType.new(:bytes, :mega).format(hypervisor.memory_mb_used)
  %td= Core::DataType.new(:bytes, :mega).format(hypervisor.memory_mb)
  %td= Core::DataType.new(:bytes, :giga).format(hypervisor.local_gb_used)
  %td= Core::DataType.new(:bytes, :giga).format(hypervisor.local_gb)
  %td
    - if current_user.is_allowed?("compute:hypervisor_servers")
      = link_to hypervisor.running_vms, plugin('compute').hypervisor_servers_path(hypervisor_id: hypervisor.id), data: {modal: true}
    - else
      = hypervisor.running_vms

  %td.snug
