%tr{id: "hypervisor_#{hypervisor.id}"}
  %td=# hypervisor.availability_zone
  %td
    - if current_user.is_allowed?("compute:hypervisor_get")
      = link_to hypervisor.host, plugin('compute').hypervisor_path(id: hypervisor.id), data: {modal: true}
    - else
      = hypervisor.host

  %td= hypervisor.type
  %td= hypervisor.vcpus_used
  %td= hypervisor.vcpus_total
  %td= hypervisor.memory_used
  %td= hypervisor.memory_total
  %td= hypervisor.local_storage_used
  %td= hypervisor.local_storage_total
  %td
    - if current_user.is_allowed?("compute:hypervisor_servers")
      = link_to hypervisor.running_vms, plugin('compute').hypervisor_servers_path(hypervisor_id: hypervisor.id)
    - else
      = hypervisor.running_vms

  %td.snug
