- unless @instance.nil?
  %p
    Found instance:

  .row.form_row
    .col-sm-2
      %b.pull-right
        Name
    .col-sm-10
      = @instance.name
  .row.form_row
    .col-sm-2
      %b.pull-right
        Image
    .col-sm-10
      = @instance.image.name
  .row.form_row
    .col-sm-2
      %b.pull-right
        ID
    .col-sm-10
      = @instance.id

%p
  Please specify the instance's operating system:

= form_tag plugin('automation').show_instructions_agents_path, :class => 'form-horizontal', :remote => true do
  = hidden_field_tag 'instance_id', @instance_id
  = hidden_field_tag 'instance_type', @instance_type
  = hidden_field_tag 'from', 'select_os'
  .form-group
    = label_tag 'instance_os', 'OS', class: "col-sm-2 control-label"
    .col-sm-10
      %select.form-control{name: 'instance_os', id: 'instance_os', autofocus: 'autofocus'}
        %option{disabled: true, selected:true}
          Please choose OS
        - @os_types.each do |key, value|
          %option{value: key}
            = value

  .buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", instances_url(), class: 'btn btn-default'
    = button_tag "Send", class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." }