.job-popover-content
  .row
    .col-md-12
      %b Id:
  .row
    .col-md-12
      = " #{job.request_id}"
  .row
    .col-md-12
      %b Status:
      - job_status(job.status)
  .row
    .col-md-12
      %b Agent:
      = " #{job.agent}"
  .row
    .col-md-12
      %b Action:
      = " #{job.action}"
  .row
    .col-md-12
      %b Created at:
  .row
    .col-md-12
      = "#{job.created_at}".to_time.strftime('%a %b %d %H:%M:%S %Z %Y')
  .row
    .col-md-12
      %b Updated at:
  .row
    .col-md-12
      = "#{job.updated_at}".to_time.strftime('%a %b %d %H:%M:%S %Z %Y')
  .row
    .col-md-12.clearfix
      = link_to('Show', plugin('automation').agent_job_path(agent_id: instance_id, id: job.request_id), data: {modal: true}, class: 'pull-right')