= content_for :title do
  Install new agent

.modal-body

  #flash_messages

  .section#search_instance

    %p
      Please enter the instance ID where the agent should be installed:

    = form_tag plugin('automation').show_instructions_agents_path, remote: true do
      .form-group
        = label_tag 'instance_id', 'Instance ID', class: 'sr-only'
        = text_field_tag 'instance_id', '', :maxlength => "256", :placeholder => "Enter instance ID", class: 'form-control', autofocus: true

      .form-group
        .clearfix
          = button_tag "Get instructions", class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." }

= content_for :javascript do
  :javascript
    $('#instance_id').focus();
