%p
  Found instance:

%table.table
  %tbody
    %tr
      %th Name
      %td= @instance.name
    %tr
      %th ID
      %td= @instance.id

%p
  Please specify the instance's operating system:

= form_tag plugin('automation').show_instructions_instances_path, :class => '', :remote => true do
  = hidden_field_tag 'instance_id', @instance.id
  = hidden_field_tag 'from', 'select_os'
  .form-group.clearfix
    = label_tag 'instance_os', 'OS', class: "col-sm-3 control-label"
    .col-sm-9
      %select.form-control{name: 'instance_os', id: 'instance_os', autofocus: 'autofocus'}
        %option{disabled: true, selected:true}
          Please choose OS
        - @os_types.each do |key, value|
          %option{value: key}
            = value

  .form-group.clearfix
    = button_tag "Send", class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." }