= content_for :title do
  Agent on instance
  %b
    = @instance_name

.modal-body

  .alert.alert-danger
    %strong IMPORTANT!!!
    Remember to turn off the stove before you leave the house!

  %table.table.datatable
    %tbody
      %tr
      - @facts.attributes.each do |k,v|
        %tr
          %th= k
          %td= v

  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", instances_url(), class: 'btn btn-default'

