%tr
  %td
    = kb11n_billing_object.doc_headertext.presence || content_tag('div', 'Not set', class: 'text-danger')
  %td
    = kb11n_billing_object.cost_element.presence || content_tag('div', 'Not set', class: 'text-danger')
  %td
    = kb11n_billing_object.send_costcenter.presence || content_tag('div', 'Not set', class: 'text-danger')
  %td
    = kb11n_billing_object.rec_costcenter.presence || content_tag('div', 'Not set', class: 'text-danger')
  %td
    = "#{sprintf('%.2f',kb11n_billing_object.costs)} #{kb11n_billing_object.currency}"