Filter by:
.btn-group
  %button.btn.btn-default.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' } }
    %span#status_filter Status:All
    %span.caret
    %span.sr-only Toggle Dropdown
  %ul.dropdown-menu
    %li= link_to 'Alarm', 'javascript:void(0)', onclick: 'set_filter("Status","Alarm",true)'
    %li= link_to 'OK', 'javascript:void(0)', onclick: 'set_filter("Status","OK",true)'
    %li= link_to 'Undetermined', 'javascript:void(0)', onclick: 'set_filter("Status","Undetermined",true)'
    %li.divider{ role: 'separator' }
    %li= link_to 'All', 'javascript:void(0)', onclick: 'set_filter("Status","All",true)'

.btn-group
  %button.btn.btn-default.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' } }
    %span#severity_filter Severity:All
    %span.caret
    %span.sr-only Toggle Dropdown
  %ul.dropdown-menu
    %li= link_to 'Critical', 'javascript:void(0)', onclick: 'set_filter("Severity","Critical",true)'
    %li= link_to 'High', 'javascript:void(0)', onclick: 'set_filter("Severity","High",true)'
    %li= link_to 'Medium', 'javascript:void(0)', onclick: 'set_filter("Severity","Medium",true)'
    %li= link_to 'Low', 'javascript:void(0)', onclick: 'set_filter("Severity","Low",true)'
    %li.divider{ role: 'separator' }
    %li= link_to 'All', 'javascript:void(0)', onclick: 'set_filter("Severity","All",true)'

:javascript

  // set filter on start
  $(function(){ 
    var severity = '#{@severity || ''}';
    var state = '#{@state || ''}';
    
    if (severity != '' && state != '' ) {
      set_filter('Status',state);
      set_filter('Severity',severity,true);
    }
    else if ( severity != '' ) {
      set_filter('Status','All');
      set_filter('Severity',severity,true);
    }
    else if ( state != '' ) {
      set_filter('Severity','All');
      set_filter('Status',state,true);
    }
    else {
      set_filter('Severity','All');
      set_filter('Status','All',true);
    }
  });

  function set_filter(TYPE,VALUE,APPLY) {
    $("#"+TYPE.toLowerCase()+"_filter").text(TYPE+":"+VALUE);
    $("#"+TYPE.toLowerCase()+"_filter").data('filter',VALUE);
    if (APPLY) {
      apply_filter();
    }
  }

  function apply_filter() {
    $('#alarms_search').val('');
    alarm_severity = $('#severity_filter').data('filter') || ''
    alarm_status = $('#status_filter').data('filter') || 'All'
    $.ajax({ 
      url: "#{plugin('monitoring').filter_alarms_path()}",
      data: { 
        severity: alarm_severity, 
        state: alarm_status,
        do_not_redirect: true 
      },
      complete: function(xhr) { 
        check_logon_state(xhr);
      },
      dataType: 'script'
    });
  }


