Filter by:
.btn-group
  %button.btn.btn-default.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' } }
    %span#status_filter Status:All
    %span.caret
    %span.sr-only Toggle Dropdown
  %ul.dropdown-menu
    %li= link_to 'Alarm', 'javascript:void(0)', onclick: 'set_filter("Status","Alarm",true)'
    %li= link_to 'OK', 'javascript:void(0)', onclick: 'set_filter("Status","OK",true)'
    %li= link_to 'Undetermined', 'javascript:void(0)', onclick: 'set_filter("Status","Undetermined",true)'
    %li.divider{ role: 'separator' }
    %li= link_to 'All', 'javascript:void(0)', onclick: 'set_filter("Status","All",true)'

.btn-group
  %button.btn.btn-default.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' } }
    %span#severity_filter Severity:All
    %span.caret
    %span.sr-only Toggle Dropdown
  %ul.dropdown-menu
    %li= link_to 'Critical', 'javascript:void(0)', onclick: 'set_filter("Severity","Critical",true)'
    %li= link_to 'High', 'javascript:void(0)', onclick: 'set_filter("Severity","High",true)'
    %li= link_to 'Medium', 'javascript:void(0)', onclick: 'set_filter("Severity","Medium",true)'
    %li= link_to 'Low', 'javascript:void(0)', onclick: 'set_filter("Severity","Low",true)'
    %li.divider{ role: 'separator' }
    %li= link_to 'All', 'javascript:void(0)', onclick: 'set_filter("Severity","All",true)'

:javascript

  // set filter on start
  $(function(){
    var severity = $.cookie("filter_alarm_severity") || '';
    var state = $.cookie("filter_alarm_state") || ''
    
    // set defaults if nothing was found 
    if (severity != '' && state != '' ) {
      set_filter('Status',state);
      set_filter('Severity',severity,true);
    }
    else if ( severity != '' ) {
      set_filter('Status','All');
      set_filter('Severity',severity,true);
    }
    else if ( state != '' ) {
      set_filter('Severity','All');
      set_filter('Status',state,true);
    }
    else {
      set_filter('Severity','All');
      set_filter('Status','All',true);
    }
  });

  function set_filter(TYPE,VALUE,APPLY) {
    // set value in drop down list
    $("#"+TYPE.toLowerCase()+"_filter").text(TYPE+":"+VALUE);
    
    // store filter for later usage
    if(TYPE == "Status") {
      $.cookie("filter_alarm_state",VALUE,{ expires: 1 });
    }
    if(TYPE == "Severity") {
      $.cookie("filter_alarm_severity",VALUE,{ expires: 1 });
    }
    
    if (APPLY) {
      apply_filter();
    }
  }

  function apply_filter() {

    alarm_severity = $.cookie("filter_alarm_severity") || ''
    alarm_status = $.cookie("filter_alarm_state") || 'All'

    $.ajax({ 
      url: "#{plugin('monitoring').filter_alarms_path()}",
      data: { 
        severity: alarm_severity, 
        state: alarm_status,
        do_not_redirect: true 
      },
      complete: function(xhr) { 
        check_logon_state(xhr);
      },
      dataType: 'script'
    });
  }


