= content_for :main_toolbar do 
  Monitoring
= render partial: '/monitoring/application/tabs', locals: { tab: 'alarms', count: @alarms_count }

.backend-error
.toolbar
  .row 
    .col-md-4
      = render partial: 'filter'
    .col-md-2.col-md-offset-6.has-help-hint.search-field
      = render partial: '/monitoring/application/search', locals: { id:'alarms_search', help:'Search in name, description, expression and metrics' }
      
#alarms_list
  = render partial: 'list'

:javascript

  // load the logon page if we got a new location
  // that happens when the token was invalid
  function check_logon_state(XHR) {
    if(XHR.getResponseHeader('Location')) {
      window.location = "#{ monsoon_openstack_auth.login_path(domain_name:@scoped_domain_name, after_login: plugin('monitoring').alarms_path()) }";
    }
  }

  $(function() {
    $('#alarms_search').keypress(function (e) {
      if (e.which == 13) {
         alarm_severity = $('#severity_filter').data('filter') || ''
         alarm_status = $('#status_filter').data('filter') || 'All'
         
         $.ajax({ 
          url: "#{plugin('monitoring').search_alarms_path()}",
          data: { 
            search: $('#alarms_search').val(),
            severity: alarm_severity,
            state: alarm_status,
            do_not_redirect: true 
          },
          complete: function(xhr) { 
            check_logon_state(xhr);
          },
          dataType: 'script'
        });
      }
    });
  });
  
