= content_for :main_toolbar do 
  Monitoring
= render partial: '/monitoring/application/tabs', locals: { tab: 'alarms' }

%p{style: 'margin:20px'}
.toolbar
  .row
    .col-md-2
      .headline Alarms (#{@alarms.length})
    .col-md-10
      = render partial: 'filter'
      
#alarms_list
  = render partial: 'list'
