= content_for :main_toolbar do
  = link_to 'Loadbalancers', plugin('loadbalancing').loadbalancers_path()
  = ' / '
  = link_to @loadbalancer.name , plugin('loadbalancing').loadbalancer_pools_path(@loadbalancer.id)

%ul.nav.nav-tabs{style: 'border-bottom: none'}
  %li{role: "presentation"}= link_to 'Listeners', plugin('loadbalancing').send("loadbalancer_listeners_path", @loadbalancer.id)
  %li.active{role: "presentation"}= link_to 'Pools', '#pools', aria: {controls:"pools"}, role: "tab", data: {toggle:"tab"}

.tab-content
  #listeners.tab-pane{role: "tabpanel"}

.tab-content
  #pools.tab-pane.active{role: "tabpanel"}

  .row
    .col-md-9

      - if current_user.is_allowed?('loadbalancing:loadbalancer_create')
        .toolbar.toolbar-aligntop= link_to 'Add New Pool', plugin('loadbalancing').new_loadbalancer_pool_path(@loadbalancer.id), data: {modal: true}, class: 'btn btn-primary btn-sm'

      %table.table#group_members
        %tr
          %th Name
          %th Description
          %th Protocol
          %th Algorithm
          %th
        -unless @pools.blank?
          - @pools.each do |pool|
            = render partial: 'loadbalancing/loadbalancers/pools/item', locals: {loadbalancer: @loadbalancer, pool: pool}
        -else
          %tr
            %td{colspan:5} No Pool defined
    .col-md-3
      .infobox
        %h4.action-heading
          Loadbalancer Info
        %table.table
          %tbody
            %tr
              %th.snug-nowrap
                Name:
              %td
                = @loadbalancer.name
            %tr
              %th.snug-nowrap
                Description:
              %td
                = @loadbalancer.description