<!DOCTYPE html>
<html>
<head>
  <title>Email service</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "email_service/application", media: "all" %>
  <%= javascript_include_tag "email_service/application" %>
</head>
<body>

<%= yield %>

</body>
</html>