= content_for :main_toolbar do
  Monitoring
= render partial: 'tabs', locals: { tab: 'overview' }

.overview
  .row
    .col-md-6
      .list-group
        .list-group-item.active 
          Severity
        - @severity_cnt.each do |severity, cnt|
          .list-group-item
            = link_to severity.capitalize, plugin('monitoring').alarms_path( severity: severity.capitalize)
            %span.badge= cnt
    .col-md-6
      .list-group-item.active 
        Status
      - @status_cnt.each do |status, cnt|
        .list-group-item
          = link_to status.capitalize, plugin('monitoring').alarms_path( state: status.capitalize)
          %span.badge= cnt
  
    
  

