= content_for :main_toolbar do
  Monitoring
= render partial: 'tabs', locals: { tab: 'overview' }

.overview
  .row
    .col-md-4
      %svg#States{style:"width:350px; height:350px;"}
      %span.help-block.pie-description
        Alarm states
    .col-md-4
      %svg#Alarm{style:"width:350px; height:350px;"}
      %span.help-block.pie-description
        Triggered alarms by priority
    .col-md-4
      %svg#Undetermined{style:"width:350px; height:350px;"}
      %span.help-block.pie-description
        Undetermined alarms due to missing data by priority

:javascript

  $(function() {
    render_overview_pie('States',#{@states_pie_data.to_json},#{@states_cnt});
    render_overview_pie('Alarm',#{@state_alarm_pie_data.to_json},#{@state_alarm_cnt});
    render_overview_pie('Undetermined',#{@state_undetermined_pie_data.to_json},#{@state_undetermined_cnt});
  });

  function render_overview_pie(TYPE,DATA,CNT,W,S) {
  
    var width =  W || 350;
    var height = W || 350;
    var scale =  S || 1;
  
    // from inner 0,5 (100%) to outer 1.05 (0%)
    // not used but maybe it is later userfull so I keep it here ;-)
    /*
    var multiplicator = 0.45 / CNT;
    var arcRadius = [];
    $.each(DATA, function(index, data) {
      var count = data['count'];
      var inner =  1-(multiplicator*count)
      arcRadius.push({inner: inner, outer:1.05});
    } );
    */
    
    nv.addGraph( function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.count })
            .width(width)
            .height(height)
            .showLegend(true)
            .showLabels(false)
            .labelsOutside(false)
            .labelSunbeamLayout(false)
            .noData("Everything is fine")
            .title(TYPE)
            .donut(true)
            .showTooltipPercent(true)
            //.arcsRadius(arcRadius)
            .donutRatio(0.5)
            .margin({"top": 30, "right": 20, "bottom": 20, "left": 20});
  
        chart.color(function (d, i) {
          // color scheme is used from _variables.scss
           switch(d.label) {
             case "Low":
                //console.log("Low");
                //$medium-blue
                return ["#226ca9"];
             case "Medium":
                //console.log("Medium");
                //$bright-orange
                return ["#de8a2e"];
             case "High":
                //console.log("High");
                //$deep-orange
                return ["#b34a2a"];
             case "Critical":
                //console.log("Critical");
                //$alarm-red
                return ["#e22"];
             case "Ok":
                //console.log("OK");
                //$medium-green
                return ["#8ab54e"];
             case "Alarm":
                //console.log("Alarm");
                //$alarm-red
                return ["#e22"];
             case "Undetermined":
                //console.log("Undetermined");
                return ["#aaa"];
           }
        });
  
        d3.select("#"+TYPE)
            .datum(DATA)
            .transition().duration(1200)
            .attr('width', width)
            .attr('height', height*scale)
            .call(chart);
        // jump to filtered alarm list
        // http://stackoverflow.com/questions/36571654/nvd3-create-click-event-for-individual-slice-of-a-pie-chart
        chart.pie.dispatch.on("elementClick", function(e) {
          //alert("You've clicked " + e.data.label);
          if (TYPE == 'States') {
            window.location = "#{plugin('monitoring').alarms_path}?severity=All&state="+e.data.label
          }
          else {
            window.location = "#{plugin('monitoring').alarms_path}?severity="+e.data.label+"&state="+TYPE;
          }
        });
  
        return chart;
    } );
  
  };
  
