.infobox{data: {update_path: plugin('lbaas').update_status_loadbalancer_path(id: loadbalancer.id, format: :js), update_interval: 30, update_immediately: 'true'}}
  %h4.action-heading
    Listener Info
  %table.table
    %tbody
      %tr
        %th
          States:
        %td
          %label{class: 'spinner', data: {op_status: "#{listener.id}"}}
          %label{class: 'spinner', data: {prov_status: "#{listener.id}"}}
      %tr
        %th.snug-nowrap
          Name:
        %td
          = name_or_id(listener.name,listener.id,18)
      %tr
        %th.snug-nowrap
          Description:
        %td
          = description(listener.description,18)
      %tr
        %th.snug-nowrap
          ID:
        %td.small
          = listener.id
      %tr
        %th.snug-nowrap
          Protocol:
        %td
          = listener.protocol
      %tr
        %th.snug-nowrap
          Port:
        %td
          = listener.protocol_port