= content_for :main_toolbar do
  = link_to 'Loadbalancers', plugin('lbaas').loadbalancers_path()
  = " / "
  = link_to name_or_id(@loadbalancer.name, @loadbalancer.id), plugin('lbaas').loadbalancer_listeners_path(@loadbalancer.id)
  = " / "
  = link_to name_or_id(@listener.name, @listener.id), plugin('lbaas').listener_show_details_path(@listener.id)

.row
  .col-md-9
    = render partial: 'lbaas/loadbalancers/listeners/show_details', locals: { loadbalancer: @loadbalancer, listener: @listener, pool: @pool, healthmonitor: @healthmonitor, members: @members }

  .col-md-3
    .infobox
      %h4.action-heading
        Listener Info
      %table.table
        %tbody
          %tr
            %th.snug-nowrap
              Name:
            %td
              = @listener.name
          %tr
            %th.snug-nowrap
              Description:
            %td
              = @listener.description
