!!!
%html
  %head
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  %body
    %p A resource request needs your attention!

    %p
      - if @inquiry.tags && @inquiry.tags['region']
        %br
        %b CC Region:
        = @inquiry.tags['region']

      %br
      %b CC Domain:
      - if (@inquiry.tags && @inquiry.tags['domain_name'])
        = "#{@inquiry.tags['domain_name']} (#{@inquiry.domain_id})"
      - else
        = @inquiry.domain_id

      %br
      %b Request for:
      = @inquiry.kind

      %br
      %b Requestor:
      = @requester_name

      %br
      %b Request Status:
      = @inquiry.aasm.human_state

    %p
      - inquiries_url = @inquiry.approver_domain_id.blank? ? admin_inquiries_url(domain_id: @inquiry.domain_id) : admin_inquiries_url(domain_id: @inquiry.approver_domain_id)
      %a(href="#{inquiries_url}") Click here to enter the request processing.


    - unless @inquiry_step.description.blank?
      %p
        %Strong Note from the processor:
        %br
        %pre= @inquiry_step.description

    %p
      Details on the request can be found below. The requestor will be informed automatically on status changes.

    %p
      %b Request details:
      %br
      = "---"
      %br
      %b Resource:
      = @inquiry.kind
      %br
      %b Request reason:
      %br
      %pre= @inquiry.description
      %br
      %b Request specific data:
      %pre= JSON.pretty_generate(@inquiry.payload) rescue "Error during rendering of JSON payload!"
      = "---"
      %b Additional data:
      %pre= JSON.pretty_generate(@inquiry.tags) rescue "None"
      = "---"

    %p
      Kind regards,
      %br
      The SAP Converged Cloud Team
