!!!
%html
  %head
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  %body
    %p A resource request needs your attention!

    %p
      - if @inquiry_step.inquiry.tags && @inquiry_step.inquiry.tags['region']
        %br
        %b CC Region:
        = @inquiry_step.inquiry.tags['region']

      %br
      %b CC Domain:
      - if (@inquiry_step.inquiry.tags && @inquiry_step.inquiry.tags['domain_name'])
        = "#{@inquiry_step.inquiry.tags['domain_name']} (#{@inquiry_step.inquiry.domain_id})"
      - else
        = @inquiry_step.inquiry.domain_id

      %br
      %b Request for:
      = @inquiry_step.inquiry.kind

      %br
      %b Requestor:
      = @requester_name

      %br
      %b Request Status:
      = @inquiry_step.inquiry.aasm.human_state

    %p
      - inquiries_url = @inquiry_step.inquiry.kind.downcase.start_with?("domain") ? admin_inquiries_url(domain_id: Rails.configuration.cloud_admin_domain,project_id: Rails.configuration.cloud_admin_project) : admin_inquiries_url(domain_id: @inquiry_step.inquiry.domain_id)
      %a(href="#{inquiries_url}") Click here to enter the request processing.


    %p
      Details on the request can be found below. The requestor will be informed automatically on status changes.

    %p
      %b Request details:
      %br
      = "---"
      %br
      %b Resource:
      = @inquiry_step.inquiry.kind
      %br
      %b Request reason:
      %br
      %pre= @inquiry_step.inquiry.description
      %br
      %b Request specific data:
      %pre= JSON.pretty_generate(@inquiry_step.inquiry.payload) rescue "Error during rendering of JSON payload!"
      = "---"
      %b Additional data:
      %pre= JSON.pretty_generate(@inquiry_step.inquiry.tags) rescue "None"
      = "---"

    %p
      Kind regards,
      %br
      The SAP Converged Cloud Team
