= simple_form_for :access, url: plugin('networking').send("networks_#{network_type}_access_index_path", network_id), method: :post, remote: true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  %div
    - if error
      %p.alert.alert-error= error

    .row
      .col-md-8
        = f.input :auth_project_id, { label: 'Auth Project',
          as:                 :select,
          required:           false,
          collection:         user_domain_projects,
          label_method:       -> (project) { "#{project.name} (#{project.id})" } }

        = f.input :project_id, { required: true }

      .col-md-4
        .bs-callout.bs-callout-info
          %p
            Select one of your Auth Projects or enter the Project ID you want to add access manually.

:javascript

  $(document).ready(function() {
    $("#access_auth_project_id").change(function(event) {
      var str = "";
      $("select option:selected").each(function() {
        str += $(this).val();
      });
      $("#access_project_id").val(str);
    });
  });
