= content_for :title do
  Role Based Access Control

%div{class: modal? ? 'modal-body' : ''}
  - if current_user.is_allowed?("networking:network_#{@network_type}_update",{})
    .toolbar= link_to 'New Access', plugin('networking').send("new_networks_#{@network_type}_access_path", @network_id), data: {modal: true}, class: 'btn btn-primary btn-sm'

  %table.table
    %thead
      %tr
        %th Action
        %th Target Project
        %th.snug
    %tbody
      - if @rbacs.length == 0
        %tr
          %td{colspa: 5} No Access given to other projects
      - else
        - @rbacs.each do | rbac |
          = render partial: 'rbac_item', locals: {rbac: rbac}


%div.buttons{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
  - else
    = link_to "Cancel", plugin('networking').send("networks_#{@network_type}_index_url"), class: 'btn btn-default'
