- if modal?
  = content_for :title do
    New Access
- else
  = content_for :main_toolbar do
    New Access

= simple_form_for @rbac, url: plugin('networking').send("networks_#{@network_type}_access_index_path", @network_id), method: :post, remote: request.xhr?, html: {data: {modal: modal?}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  %div{ class: modal? ? 'modal-body' : '' }
    - unless @rbac.errors.empty?
      %p.alert.alert-error= @rbac.errors.full_messages.to_sentence

    .row
      .col-sm-10  
        = f.input :target_tenant, {label: 'Target Project ID', icon_hint: 'Choose from one of your projects or enter any project ID.'}
        #suggestions


  %div{ class: modal? ? 'modal-footer' : '' }
    - if modal?
      %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Cancel' } } Cancel
    - else
      = link_to 'Back', plugin('networking').send("networks_#{@network_type}_access_index_path", @network_id), class: 'btn btn-default' 
    = f.submit 'Add', class: 'btn btn-primary', data: { disable_with: 'Please wait...' }


:javascript
  $(document).ready(function() {
    $( "#rbac_target_tenant" ).autocomplete({
      source: #{@rbac_auth_projects},
      appendTo: '#suggestions',
      minLength: 0
    }).click(function(){
      $(this).autocomplete( "search", "" );
    });
  });
