= content_for :main_toolbar do
  Kubernetes as a Service

.bs-callout.bs-callout-info.bs-callout-emphasize
  - unless current_user.is_allowed?('kubernetes:application_list')
    %p
      %strong
        You need the role
        %code kubernetes_admin
        to be able to access and use this service.

        For questions and support please use the
        %code= "#kubernikus-users"
        Slack channel

  %p
    = link_to 'Read more about Kubernetes as a Service in our documentation', "#{sap_url_for('documentation')}docs/customer/containers/kubernetes/overview/", target: '_blank'

- if current_user.is_allowed?('kubernetes:application_list')
  - unless @kubernikus_endpoint.blank?
    = javascript_include_tag "kubernetes_app_widget", data: { permissions: {},  get_token_func: "_getCurrentToken", kubernikus_base_url: @kubernikus_endpoint }
  - else
    .alert.alert-warning
      We seem to have misplaced the Kubernetes service connection at the moment. This might be a temporary issue but if it persists don't hesitate to contact us so we can send our minions out to find it again.
- else
  %section
    .row
      .col-sm-5.col-sm-offset-3
        = image_tag "kubernetes/kubernikus_bubbles.svg", alt: "Kubernikus mascot blowing cluster bubbles"
