%tr{id: "instance_#{instance.id}"}
  %td
    - if current_user.is_allowed?("identity:instance_get", {})
      = link_to instance.name, instance_path(domain_id: @domain_id, project_id: @project_id, id: instance.id), data: {modal: true}
        
    / - if current_user.is_allowed?("identity:instance_get", {})
    /   = link_to instance.name, instance_path(domain_id: @domain_id, project_id: @project_id, id: instance.id), class: 'show_instance_button', data: {toggle:"modal", target: "#instanceShow#{instance.id}"}
    / - else
    /   = instance.name
        
  %td= services.compute.images.get(instance.image["id"]).name
  %td= instance.addresses.fetch("private",[]).collect{|address| address["addr"]}.join(', ') 
  %td
    = case instance.os_ext_sts_power_state; when 0 then 'No State'; when 1 then 'Running'; when 3 then 'Paused'; end
  %td= instance.state  
  %td.snug
    - if current_user.is_allowed?("identity:instance_delete", {}) or current_user.is_allowed?("identity:instance_update", {})
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.glyphicon.glyphicon-cog
          -# %span.spinner

        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if current_user.is_allowed?("identity:instance_update", {})
            %li= link_to 'Edit', edit_instance_path(id: instance.id, domain_id: @domain_id), data: {modal: true}            
            %li.divider
          - if current_user.is_allowed?("identity:instance_delete", {})
            %li= link_to 'Delete', instance_path(id: instance.id, domain_id: @domain_id), method: :delete, data: { confirm: 'Are you sure you want to delete the credential?', ok: "Yes, delete it", confirmed: "$(this).closest('tr').addClass('deleting')", modal: true}


