
.page-header
  %h1 Compute: Instances

%p Deliverables next-generation authentic empower distributed empower facilitate infrastructures innovative wikis grow dynamic. Morph widgets integrate, rich scale interfaces world-class create, e-markets supply-chains compelling applications visualize iterate out-of-the-box integrateAJAX-enabled viral.

= render "application/projects_list" unless @project_id

- if @instances
  %table.table.datatable
    %thead
      %tr
        %th Name
        %th OS
        %th Network
        %th Status
        %th.snug
    %tbody
      - (rand(20) + 3).times do | number |
        %tr
          %td= "Server #{number}"
          %td= ["CoreOS", "Ubuntu 14.0", "Suse", "RHEL 7", "Windows 2012"].sample
          %td= "10.#{rand(255)}.#{rand(255)}.#{rand(255)}"
          %td Running
          %td
            %button.btn.btn-sm.btn-default
              %span.glyphicon.glyphicon-cog



%a.toggle-debug(href="#") Toggle debug info
%pre.debug-info= JSON.pretty_generate(current_user.context)

-# %pre= JSON.pretty_generate(JSON.parse(@identity.auth_domains.to_json))
-# %h3 Auth projects
-# %pre= JSON.pretty_generate(JSON.parse(@identity.auth_projects.to_json))
-# = @identity.auth_domains.body["domains"].inspect
-# %hr
-#
-# %pre= JSON.pretty_generate(JSON.parse(@identity.projects.to_json))
-# %hr
-# %pre= JSON.pretty_generate(current_user.context)

-# %pre= JSON.pretty_generate(JSON.parse(@auth_service.user_domains(current_user.id).to_json))


-# %table.table
-#   %thead
-#     %tr
-#       %th Name
-#       %th OS
-#       %th Network
-#       %th Status
-#       %th.snug
-#   %tbody
-#     %tr
-#       %td App Server 1
-#       %td CoreOS
-#       %td 10.67.77.99
-#       %td Running
-#       %td
-#         %button.btn.btn-sm.btn-default
-#           %span.glyphicon.glyphicon-cog
-#
-#     %tr
-#       %td App Server 2
-#       %td CoreOS
-#       %td 10.67.77.101
-#       %td Running
-#       %td
-#         %button.btn.btn-sm.btn-default
-#           %span.glyphicon.glyphicon-cog
-#
-#
-# %pre= JSON.pretty_generate(current_user.context)
-#
-# %h3 Openstack Service
-# %pre= JSON.pretty_generate(JSON.parse(@identity.to_json))
-#
-# %h3 Openstack Service 2
-# %pre= JSON.pretty_generate(JSON.parse(@identity.to_json))
-#
-# %pre= JSON.pretty_generate(current_user.service_catalog)
-#
-# = @auth_service.inspect
-# %hr
-# %h3 Fog services
-# %pre= JSON.pretty_generate(JSON.parse(@identity.services.to_json))
-# %hr
-# %h3 Fog Endpoints
-# %pre= JSON.pretty_generate(JSON.parse(@identity.endpoints.to_json))
-# %hr
-# = @auth_service.user_domains(current_user.id)
-# %hr
-# -# = @service.domain
-# %hr
-# -# = @service.project
-# %hr
-# %h3 Projects for domain
-# %pre= JSON.pretty_generate(JSON.parse(@auth_service.domain_projects("default").to_json))
-# %hr
-# %h3 Fog domains
-# %pre= JSON.pretty_generate(JSON.parse(@identity.domains.to_json))
