/ = content_for :title do
/   Show
  
.modal-body
  %ul.nav.nav-tabs
    %li.active{role: "presentation"}= link_to 'Information', '#information', aria: {controls:"information"}, role: "tab", data: {toggle:"tab"} 
    %li{role: "presentation"}= link_to 'Specs', '#specs', aria: {controls:"specs"}, role: "tab", data: {toggle:"tab"}  
    %li{role: "presentation"}= link_to 'IP Addresses', '#ip_addresses', aria: {controls:"ip_addresses"}, role: "tab", data: {toggle:"tab"}  
    %li{role: "presentation"}= link_to 'Security Groups', '#security_groups', aria: {controls:"security_groups"}, role: "tab", data: {toggle:"tab"}  
    %li{role: "presentation"}= link_to 'Metadata', '#metadata', aria: {controls:"metadata"}, role: "tab", data: {toggle:"tab"}  
    %li{role: "presentation"}= link_to 'Volumes Attached ', '#volumes', aria: {controls:"volumes"}, role: "tab", data: {toggle:"tab"}  
  
  .tab-content
    .tab-pane.active{role:"tabpanel", id:"information"}
      %table.table.datatable
        %tbody
          %tr
            %th Name
            %td= @instance.name 
          %tr
            %th ID
            %td= @instance.id
          %tr
            %th Status
            %td= @instance.state
          %tr
            %th Availability Zone
            %td= @instance.availability_zone
          %tr
            %th Created
            %td= @instance.created
          %tr
            %th Time Since Created
            %td= @instance.updated
          %tr
            %th Host
            %td= @instance.os_ext_srv_attr_host
            
    .tab-pane{role:"tabpanel", id:"specs"}        
      %table.table.datatable
        %tbody
          %tr
            %th Flavor
            %td= @flavor.name
          %tr
            %th Flavor ID
            %td= @flavor.id
          %tr
            %th RAM
            %td= "#{@flavor.ram}MB"
          %tr
            %th VCPUs
            %td= "#{@flavor.vcpus} VCPU"
          %tr
            %th Disk
            %td= "#{@flavor.disk}GB"
      
    .tab-pane{role:"tabpanel", id:"ip_addresses"}  
      %table.table.datatable
        %tbody
          - @instance.addresses.each do |name,values|
            %tr
              %th= name
              %td
                %ul
                  - values.each do |address|
                    %li= address["addr"] 
    
    .tab-pane{role:"tabpanel", id:"security_groups"}  
      %table.table.datatable
        %tbody
          - @instance.security_groups.each do |sg| 
            %tr
              %th= sg.name
              %td
                - if sg.security_group_rules.empty?
                  No rules defined.
                - else
                  %ul
                    - sg.security_group_rules.each do |rule|
                      %li= rule.attributes
            
    .tab-pane{role:"tabpanel", id:"metadata"}  
      %table.table.datatable
        %tbody    
          %tr
            %th Image Name
            %td= @image.name

    .tab-pane{role:"tabpanel", id:"volumes"}  
      %table.table.datatable
        %tbody 
          - if @instance.volumes.empty?
            %tr
              %th Volume
              %td No volumes attached. 
          - @instance.volumes.each do |vol|           
            %tr
              %th Volume
              %td= vol.name  
- if modal?
  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
