%tr{id: "dhcp_agent_#{dhcp_agent.id}"}
  %td= dhcp_agent.host
  %td= dhcp_agent.status
  %td= dhcp_agent.admin_state

  %td.snug
    - if current_user.is_allowed?("networking:network_dhcp_agent_delete", {dhcp_agent: dhcp_agent})
      = link_to plugin('networking').send("networks_#{@network_type}_dhcp_agent_path", @network_id, dhcp_agent.id),
        class: "btn btn-danger btn-sm",
        method: :delete,
        data: { confirm: 'Are you sure you want to remove this DHCP Agent?', ok: "Yes, remove it", confirmed: :loading_status },
        remote: true do
        %i.fa.fa-trash.fa-fw
        Remove
