%tr
  %td.form_content

    = form_for :dhcp, url: plugin('networking').send("networks_#{@network_type}_dhcp_agents_path", @network_id), method: :post, remote: true, html: {data: {inline:true}, class: 'hidden', id: 'new_dhcp_form'} do |f|
      %p.alert.alert-error.hidden
      .input-group
        = f.collection_select :agent_id, @new_dhcp_agents, :id, :host, class: 'form-control'

        %span.input-group-btn
          = f.submit 'Add', class: 'btn btn-primary', data: { disable_with: 'Please wait...' }

  %td#plus{class: @new_dhcp_agents.length == 0 ? 'hidden' : ''}
    = link_to '+', '#', class: 'btn btn-primary', data: {control_dhcp_form: '#new_dhcp_form'}

  :javascript
    $('[data-control-dhcp-form]').dhcpFormControl();
