= content_for :title do
  Image Access Control

%div{ class: modal? ? 'modal-body' : '' }
  %table.table#members
    %thead
      %tr
        %th Target Project
        %th Status
        %th.snug
    %tbody
      - if @members.empty?
        %tr
          %td{ colspa: 3 } No Access given to other projects
      - else
        - @members.each do |member|
          = render partial: 'item', locals: { image:@image, member: member }

      - if current_user.is_allowed?("image:member_create", {image: @image.attributes})
        %tr
          %td
            .form-wrapper.hidden
              .error.text-danger
              = form_for :member, url: plugin('image').os_images_private_members_path(private_id: params[:private_id]), method: :post, remote: request.xhr?, html: {data: {modal: true} } do |f|
                .input-group
                  = f.text_field :member_id, data: {autocomplete_url: main_app.projects_cache_path}, class: "form-control", placeholder: 'Project (name or ID) with whom the image is shared.' 
                  %span.input-group-btn
                    = button_tag "Add", { class: 'btn btn-primary', data: { disable_with: "Please wait..." } }
          %td
          %td
            = link_to ' + ', '#', class: 'btn btn-info', id:'toggle_form'


.buttons{ class: modal? ? 'modal-footer' : '' }
  - if modal?
    %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } } Close
  - else
    = link_to 'Back', os_images_private_index_url, class: 'btn btn-default'


:javascript
  $(document).ready(function(){
    $('#members .form-wrapper').removeClass('hidden').hide();
    $('#toggle_form').click(function(){
      // $(this).closest('tr').find('.form-wrapper').toggleClass('hidden');
      $(this).closest('tr').find('.form-wrapper').fadeToggle();
    });
  });
