= content_for :title do
  Edit Notification Method

= simple_modal_form_for @notification_method, submit_action: 'Update', url: plugin('monitoring').notification_method_path(@notification_method.id), method: :put, cancel_url: plugin('monitoring').notification_methods_path, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  #backend_error
  = f.input :name, placeholder: 'Enter name', input_html: { autofocus: true }
  = f.input :type, collection: ['Email'], selected:@notification_method.type
  = f.input :address , placeholder: 'Enter single email address' 
