= content_for :main_toolbar do 
  Monitoring Notifications
= render partial: '/monitoring/application/tabs', locals: { tab: 'notification_methods' }

.toolbar
  Definitions (#{@notification_methods.length})
  = link_to "Create", plugin('monitoring').new_notification_method_path(), class: 'btn btn-primary btn-lg', data: {modal:true}
#notification_method_list
  = render partial: 'list'
