.infobox
  %h4.action-heading
    Project Info
    = render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: "If you need to edit name or description go to Capacity & Masterdata -> Masterdata" }
  %table.table
    %tbody
      %tr
        %th.snug-nowrap
          Name:
        %td
          = @active_project.name
      %tr
        %th.snug-nowrap
          Description:
        %td
          = @active_project.description


- if current_user.is_allowed?('identity:project_request')
  %h4.action-heading
    Sub Projects
    -# Todo - This is not working because user is always project scoped and can't do domain based actions
    - if current_user.is_allowed?('identity:project_create',{project: {domain_id: @scoped_domain_id}})
      = link_to plugin('identity').domains_create_project_path(), class: "header-action" , title: "Request new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
        %i.fa.fa-plus-square-o
    - else
      = link_to plugin('identity').projects_request_project_path(), class: "header-action" , title: "Request new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
        %i.fa.fa-plus-square-o
- if @subprojects.blank?
  %p None available.
- else
  %p= subprojects_tree(@subprojects.collect(&:id),@user_domain_projects, class: 'content-list subprojects')
