.infobox
  %h4.action-heading
    Project Info
    - can_edit = current_user.is_allowed?('identity:project_update', {target: {project: @active_project}})
    - if can_edit
      .dropdown.header-action
        %i.fa.fa-cog.dropdown-toggle{ data: { toggle: "dropdown"}, aria: { expanded: true} }
        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          %li
            = link_to plugin('masterdata_cockpit').project_masterdata_edit_project_path({load_project_root: true}), title: "Edit project info", data: {modal: true, toggle: "tooltip", placement: "left"} do
              %i.fa.fa-edit.fa-fw
              Edit Project

  %table.table
    %tbody
      %tr
        %th.snug-nowrap
          Name:
        %td
          = @project.name
      %tr
        %th.snug-nowrap
          Description:
        %td
          = @project.description
      - if current_user.is_allowed?("access_profile:tag_list", {target: {project: @active_project}})
        %tr
          %th.snug-nowrap
            Access Profiles:
          %td
            = link_to plugin('access_profile').root_path(modal_size: "none"), data: {modal: true, modal_size: "none"} do
              Edit

- if current_user.is_allowed?('identity:project_request')
  %h4.action-heading
    Sub Projects
    -# Todo - This is not working because user is always project scoped and can't do domain based actions
    - if current_user.is_allowed?('identity:project_create',{project: {domain_id: @scoped_domain_id}})
      = link_to plugin('identity').domains_create_project_path(), class: "header-action" , title: "Request new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
        %i.fa.fa-plus-square-o
    - else
      = link_to plugin('identity').projects_request_project_path(), class: "header-action" , title: "Request new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
        %i.fa.fa-plus-square-o

%div{data: {react_auth_projects: true, root: @scoped_project_id, title: 'false' } }


- unless @sharding_enabled || @project.name == "cloud_admin"
  .bs-callout.bs-callout-warning.bs-callout-emphasize.u-margin-top-normal
    Not all resource pools are enabled. 
    - if current_user.is_allowed?("identity:project_update", {target: {project: @active_project}})
      To get access to additional resources click
      = link_to plugin('identity').project_enable_sharding_path(), title: "Enable Resource Pooling", data: {modal: true, toggle: "tooltip", placement: "left"}  do
        %i.fa.fa-arrow-right.fa-fw
        here

- unless @project_resource.nil?
  - if @project_resource.bursting && !@project_resource.burst_usage.empty? && @active_project.name != "cloud_admin"
    .bs-callout.bs-callout-warning.bs-callout-emphasize.u-margin-top-normal
      Your resource usage is bursting.
      = link_to 'Check details here',plugin('resources').project_path, style: "color:inherit; text-decoration:underline;"
  - elsif @project_resource.bursting && @project_resource.bursting_enabled && @active_project.name != "cloud_admin"
    .bs-callout.bs-callout-info.bs-callout-emphasize.u-margin-top-normal
      Quota bursting is now available. See
      = link_to 'documentation', sap_url_for('documentation') + "docs/blogs/introduction-of-quota-bursting/", style: "color:inherit; text-decoration:underline;"
      for details.

-# Customer Survey
.bs-callout.bs-callout-info-cta.bs-callout-emphasize.u-margin-top-normal
  = image_tag "CCLoud_Logo_light_250.svg", alt: "Converged Cloud", class: "bs-callout-image"
  Take our survey now and help us shape the future of Converged Cloud!
  %a{href: "https://employeeexperience.surveys.sap.com/jfe/form/SV_80WgMq7WTBJFdP0", target: "_blank"} 
    %i.fa.fa-fw.fa-arrow-right
    Go to survey
    