.projects{ data: {update_path: plugin('identity').projects_path(params.merge(partial:true)), update_interval: 1000*60*30} }
  - if current_user.is_allowed?("identity:project_request",{project: {user_id: current_user.id}})
    .toolbar
      %b Your projects
      = link_to 'Request new project', plugin('identity').projects_request_path, data: {modal: true}, class: 'btn btn-primary btn-lg'
    
  %table.table
    %thead
      %tr
        %th Name
        %th ID
        %th Description
        %th Status
    %tbody
      - @projects.each do |project|
        %tr
          %td= link_to project.name, plugin('identity').project_path(project_id:project.friendly_id)
          %td= project.id
          %td= project.description
          %td= project.enabled ? 'enabled' : 'disabled'