- if @webcli_endpoint
  #terminal

  :javascript
    $(document).ready(function() {
      console.log("ready");
      console.log("endpoint: #{@webcli_endpoint} --- token: #{@token} ----- identity url: #{@identity_url}")
      $.ajax({
        url: '#{@webcli_endpoint}/auth',
        xhrFields: {
          withCredentials: true
        },
        beforeSend: function (request) {
          request.setRequestHeader('X-Auth-Token', '#{@token}');
        },
        dataType: 'json',
        success: function( data ) {
          openCLIWebsocket(data.url, ['#{@token}', '#{@identity_url}'], function() { $('#loading-hint').remove() })
        },
        error: function(xhr, bleep, error) {
          console.log('error: ' + error)
        }
      });
    })

  - content_for :javascripts do
    -# %script{:type => "text/javascript", :src=> @webcli_endpoint + "/js/hterm.js"}
    -# %script{:type => "text/javascript", :src=> @webcli_endpoint + "/js/gotty.js"}
    :javascript
      $(document).ready(function() {
        console.log("ready");
        console.log("endpoint: #{@webcli_endpoint} --- token: #{@token} ----- identity url: #{@identity_url}")
        $.ajax({
          url: '#{@webcli_endpoint}/auth',
          xhrFields: {
            withCredentials: true
          },
          beforeSend: function (request) {
            request.setRequestHeader('X-Auth-Token', '#{@token}');
          },
          dataType: 'json',
          success: function( data ) {
            openCLIWebsocket(data.url, ['#{@token}', '#{@identity_url}'], function() { $('#loading-hint').remove() })
          },
          error: function(xhr, bleep, error) {
            console.log('error: ' + error)
          }
        });
      })

- else
  #terminal
    %span
      No webconsole available
