- unless (@wizard_finished or current_user.admin?)
  .alert.alert-danger
    This Project is not ready for use. Please contact a member of your project who has the admin role to do a proper setup.

= wizard_step(title: 'Project', mandatory: true, status: ProjectProfile::STATUS_DONE) do
  %table.table.no-borders
    %tbody
      %tr
        %th{width: "30%"} Name
        %td= @active_project.name
      %tr
        %th Description
        %td= @active_project.description

-# MASTERDATA
- if @masterdata_cockpit_service_available
  - can_setup_masterdata = current_user.is_allowed?("masterdata:create_masterdata")

  -# this is a special case if some data is missing after the user maintained the masterdata in the first time
  - if @project_masterdata_missing_attributes
    = wizard_step({ title: 'Masterdata',
      mandatory: true,
      status: @project_profile.wizard_status('masterdata_cockpit'),
      action_button: ({label: 'Edit Masterdata', url:plugin('masterdata_cockpit').project_masterdata_edit_path()} if can_setup_masterdata),
      }) do
      %p
        The Masterdata was maintained but there are some data missing.
        %br
        Missing attributes: #{@project_masterdata_missing_attributes}
  - else
    -# regular case to create new masterdata for the project
    = wizard_step({ title: 'Masterdata',
      mandatory: true,
      status: @project_profile.wizard_status('masterdata_cockpit'),
      action_button: ({label: 'Create Masterdata', url:plugin('masterdata_cockpit').project_masterdata_new_path} if can_setup_masterdata),
      }) do
      - if @project_profile.wizard_finished?('masterdata_cockpit')
        %p
          The Masterdata was successfully maintained. For more details take a look to the
          = link_to 'Masterdata details', plugin('masterdata_cockpit').project_masterdata_show_path(), data: { modal: true }
      - else
        %p Please maintain the masterdata for this project
- else
  = wizard_step({title: 'Masterdata',
    mandatory: true,
    status: 'pending'}) do
    %p The Masterdata service is currently unavailable.

-# RESOURCE MANAGEMENT
- if @resource_management_service_available
  - can_setup_quota = current_user.is_allowed?("resource_management:project_resource_new_package_request")
  - quota_data = @project_profile.wizard_data('resource_management')
  - required_roles = current_user.required_roles('resource_management:project_resource_new_package_request')
  - required_roles = required_roles && required_roles.join(', ')

  - if @project_profile.wizard_skipped?('resource_management')
    -# SKIPPED
    = wizard_step({title: 'Request Resource Quotas',
      mandatory: true,
      status: 'skipped'}) do
      %p
        This project skipped quota request. To manage your quota please use the
        =link_to 'Resource Management',plugin('resource_management').resources_path()
  - elsif @project_profile.wizard_finished?('resource_management')
    -# DONE
    = wizard_step({title: 'Request Resource Quotas',
      mandatory: true,
      status: 'done'}) do
      %p This project already has quota.
      - if quota_data and quota_data['aasm_state']=='approved'
        %table.table.no-borders
          %tbody
            %tr
              %th{width:"30%"} Package
              %td= quota_data["package"]
  - else
    -# IN PROCESS
    - if quota_data
      - if quota_data['aasm_state']=='open'
        = wizard_step({title: 'Request Resource Quotas',
          mandatory: true,
          status: 'pending'}) do
          %p
            Your request is being checked. Please have some patience.
            = link_to 'Show request', plugin('inquiry').inquiry_path(id: quota_data[:inquiry_id]), data: {modal: true}

      - elsif quota_data['aasm_state']=='rejected'
        = wizard_step({title: 'Request Resource Quotas',
          mandatory: true,
          action_button: ({label: 'Edit Request', url: plugin('inquiry').edit_inquiry_path(id: quota_data[:inquiry_id], state: 'open')} if can_setup_quota),
          status: 'pending'}) do
          %p Your request has been rejected. Please check the reason and reopen the request.

    - else
      - action_button = { label: 'Request Quotas',
        url: can_setup_quota ? plugin('resource_management').resources_new_package_request_path : nil,
        tooltip: can_setup_quota ? nil : "You don't have permissions to request quotas. Please check if you have one of the following roles: <b>#{required_roles}</b>"}

      = wizard_step({title: 'Request Resource Quotas',
        mandatory: true,
        action_button: action_button,
        skip_button:( { label: 'Skip Step', url: plugin('resource_management').resources_skip_wizard_path(), data: {modal: true, wizard_action_button: true}} if can_setup_quota ),
        status: nil}) do
        %p Here you can decide on the computing resources you want us to reserve for you. This is just an initial setting to get you started. If you realize at a later stage that you need more of something you can request more then.

- else
  = wizard_step({title: 'Request Resource Quotas',
    mandatory: true,
    status: 'pending'}) do
    %p The Resource Management service is currently unavailable.

-# NETWORKING
- if @networking_service_available
  - can_setup_network = current_user.is_allowed?("networking:network_wizard_get")
  - action_button = {label: 'Set Network', url: (plugin('networking').new_network_wizard_path ) }
  = wizard_step({title: 'Configure Your Network',
    mandatory: true,
    action_button: (action_button if can_setup_network),
    status: @project_profile.wizard_status('networking')}) do
    - if @project_profile.wizard_finished?('networking')
      %p The network is set up.
    - else
      - unless @project_profile.wizard_finished?('resource_management')
        %b Please request quota first.
      %p Here you can configure the network for your project.

- else
  = wizard_step({title: 'Set Network',
    mandatory: true,
    status: 'pending'}) do
    %p The Network service is currently unavailable.

- if @wizard_finished
  %p
    = link_to 'Continue', project_path, class: 'btn btn-info pull-right'

:javascript
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
