.well
  %h4
    Here you can find the parameters needed to access the project with an openstack client.
  %h4
    You can download the officially supported clients from the
    %a(title='OpenStack Clients' href='http://docs.openstack.org/user-guide/common/cli-install-openstack-command-line-clients.html' target='blank') OpenStack Clients Wiki Page.
.openrc
  =link_to plugin('identity').projects_download_openrc_path , class:'btn btn-outline' do
    %span.fa.fa-cloud-download.fa-fw
    Download Openstack RC File
  &nbsp;
  =link_to plugin('identity').projects_download_openrc_ps1_path , class:'btn btn-outline' do
    %span.fa.fa-cloud-download.fa-fw
    Download Openstack RC File for Windows PowerShell


%table.table.datatable
  %tbody
    %tr
      %th OS_AUTH_URL
      %td= @identity_url
    %tr
      %th OS_IDENTITY_API_VERSION | OS_AUTH_VERSION
      %td= '3'
    %tr
      %th OS_REGION_NAME
      %td= current_region
    %tr
      %th OS_USER_DOMAIN_ID | OS_USER_DOMAIN_NAME
      %td= "#{@scoped_domain_id} | #{@scoped_domain_name}"
    %tr
      %th OS_PROJECT_DOMAIN_ID | OS_PROJECT_DOMAIN_NAME
      %td= "#{@scoped_domain_id} | #{@scoped_domain_name}"
    %tr
      %th OS_PROJECT_ID | OS_PROJECT_NAME
      %td=  "#{@scoped_project_id} | #{@scoped_project_name}"
    %tr
      %th OS_USERNAME
      %td= '<Your username>'
    %tr
      %th OS_PASSWORD
      %td= '<Your password>'
