
= simple_form_for @prodel, url: plugin("identity").check_delete_project_path, method: :get, remote: request.xhr?, html: {data: {modal: modal?}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  = f.input :project_domain_name, icon_hint: 'domain id is also supported'
  = f.input :project_name, icon_hint: 'project id is also supported (and should be provided when domain is omited)'

  = button_tag "Check", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }

- if @resources == []
  .clearfix
  %hr
    = link_to plugin("identity").delete_with_prodel_path( :project_to_delete_id => @project_to_delete.id, :project_to_delete_name => @project_to_delete.name , :prodel_project_domain_name => @prodel_project_domain&.name ), method: :delete , class: 'btn btn-danger pull-right', data: { confirm:'This cannot be undone, are you sure?', ok: 'Yes, delete it!', confirm_term: @project_to_delete.name, confirm_term_label: "Type project name to confirm (#{@project_to_delete.name})", disable_with: "Please wait..." } do
      %i.fa.fa-trash.fa-fw
      Delete project
    %p{class: "pull-right", style: "padding: 8px 10px 0 0;"}
      No resources found
      = icon('check')
- else
  .clearfix
  #prodel.content
    = javascript_include_tag :identity_prodel_cloud_admin_widget, data: { "json-data": @resources }
