= content_for(:title, "Skip resource pooling for project #{@project.name}")

=simple_form_for @project, url: plugin('identity').project_sharding_skip_wizard_path(), method: :post, remote: request.xhr?, html: { data: { modal: true } } do |f|

  %div{class: modal? ? 'modal-body' : ''}
    = f.input :skip_wizard,
      as: :hidden,
      input_html: { value: true }

    - unless @project.errors.empty?
      %p.alert.alert-error= @project.errors.full_messages.to_sentence

    .bs-callout.bs-callout-primary
      %p
        Are you sure to proceed
        %strong without resource pooling
        ? This means you don't have full access to all resources for this project.
      %p
        Note: If you skip you can enable resource pooling afterwards.

  .buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: { dismiss:"modal" }, aria: { label: "Cancel" }} Cancel
    - else
      = link_to "Cancel", data: {dismiss:"modal"}, class: 'btn btn-default'
    %button.btn.btn-primary{type: "submit", data: { disable_with: 'Please wait...'}} I don't need resource pooling