.row
  .col-md-9
    -# Configuration modules
    -# Once a module has been completed successfully, change class to bs-callout-success and replace button with %i.fa.fa-check.fa-3x
    .bs-callout.bs-callout-success.bs-callout-emphasize
      .row
        .col-md-8
          %h4 Set a Cost Object
          %p Please provide a cost object against which we can bill the services consumed by this project
        .col-md-4
          %i.fa.fa-check.fa-3x.pull-right

    -# This is a standard module for a configuration the user hasn't done yet
    .bs-callout.bs-callout-info.bs-callout-emphasize
      .row
        .col-md-8
          %h4 Choose Networking Setup
          %p Depending on your project you will need a different network setup. This choice will define the network your servers get deployed into. There are three levels to choose from:
          %ol
            %li
              %strong Shared network.
              Access: public. Availability: Internal
            %li
              %strong Managed private network.
              A private network is set up for you to use. Access: Restricted (requires special permissions and security concept). Availability: Internal and External
            %li
              %strong Self-managed private network.
              You set up and manage your own private network. Access: Very Restricted (requires special permissions and security concept). Availability: Internal and External
        .col-md-4
          %a.btn.pull-right(href="#") Choose network configuration

    -# This is a standard module for a configuration the user hasn't done yet
    .bs-callout.bs-callout-info.bs-callout-emphasize
      .row
        .col-md-8
          %h4 Request Resource Quotas
          %p
          %ol
            %li
              %strong Shared network.
              Access: public. Availability: Internal
            %li
              %strong Managed private network.
              A private network is set up for you to use. Access: Restricted (requires special permissions and security concept). Availability: Internal and External
            %li
              %strong Self-managed private network.
              You set up and manage your own private network. Access: Very Restricted (requires special permissions and security concept). Availability: Internal and External
        .col-md-4
          %a.btn.pull-right(href="#") Choose network configuration

    -# This is an example for an optional module. A user may choose not to do the configuration now. Add the "Do this later button" below and the "(Optional)" text
    .bs-callout.bs-callout-info.bs-callout-emphasize
      .row
        .col-md-8
          %h4 Activate Block Storage (Optional)
          %p You probably want to activate block storage as it is required for certain features like snapshots, OS image uploads and more. This is optional and can also be done at a later stage in the Block Storage service itself.

        .col-md-4
          %p
            %a.btn.pull-right(href="#") Activate block storage
          -# For optional configurations add this button. Clicking it will mark the module as completed
          %p
            %a.btn.btn-default.btn-xs.pull-right(href="#") Do this later




    -# commented out for now. Add some logic to only render navigation if project is active
    -# = render_navigation(expand_all: true, renderer: :fancy_list, context: navigation_context(@scoped_domain_name, @scoped_project_name))

  .col-md-3
    .infobox
      %h4.action-heading
        Project Info
        - can_edit = current_user.is_allowed?('identity:project_update', {target: {project: @active_project}})
        - can_delete = current_user.is_allowed?('identity:project_delete',{target: {project: @active_project }})
        - if can_delete or can_edit
          .dropdown.header-action
            %i.fa.fa-cog.dropdown-toggle{ data: { toggle: "dropdown"}, aria: { expanded: true} }
            %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
              - if can_edit
                %li
                  = link_to plugin('identity').edit_project_path, title: "Edit project info", data: {modal: true, toggle: "tooltip", placement: "left"} do
                    %i.fa.fa-edit.fa-fw
                    Edit Project
              - if can_delete and @active_project.subprojects_ids.blank?
                %li.divider{role: "separator"}
                %li
                  = link_to delete_project_path(@active_project.id), method: :delete, data: {confirm:'This will also delete all assigned roles. Are you sure?', ok: 'Yes, delete it!', confirm_term: @active_project.name, confirm_term_label: "Type project name to confirm (#{@active_project.name})" } do
                    %i.fa.fa-trash.fa-fw
                    Delete Project
                    / %i.fa.fa-exclamation-triangle


      %table.table
        %tbody
          %tr
            %th.snug-nowrap
              Name:
            %td
              = @active_project.name
          %tr
            %th.snug-nowrap
              Description:
            %td
              = @active_project.description


    - if current_user.is_allowed?('identity:project_request')
      %h4.action-heading
        Sub Projects
        -# Todo - This is not working because user is always project scoped and can't do domain based actions
        - if current_user.is_allowed?('identity:project_create',{project: {domain_id: @scoped_domain_id}})
          = link_to plugin('identity').domains_create_project_path(), class: "header-action" , title: "Request new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
            %i.fa.fa-plus-square-o
        - else
          = link_to plugin('identity').projects_request_project_path(), class: "header-action" , title: "Request new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
            %i.fa.fa-plus-square-o
    - if @active_project.subprojects_ids.blank?
      %p None available.
    - else
      %p= subprojects_tree(@active_project.subprojects_ids,@user_domain_projects, class: 'content-list subprojects')
