.row
  .col-sm-6
    %p
      This is the project home page. We will display a nicely rendered list of all available services here soon. For now please use the services dropdown menu above.
      %table
        %tr
          %th ID
          %td= @active_project.id
        %tr
          %th Name
          %td= @active_project.name
        %tr
          %th Description&nbsp;
          %td= @active_project.description
        %tr
          %th Enabled?
          %td= @active_project.enabled
  .col-sm-6
    %ul
      - if current_user.is_allowed?('identity:project_edit')
        %li= link_to 'Edit Project', plugin('identity').edit_project_path
      - if current_user.is_allowed?('identity:member_index')
        %li= link_to 'Manage Project Members', plugin('identity').projects_members_path



%h4 Sub Projects
- unless @active_project.subprojects_ids.blank?
  %p= subprojects_tree(@active_project.subprojects_ids,@user_domain_projects, class: 'content-list subprojects')
- else
  %p This project doesn't have any sub projects

= link_to 'Request new sub project', plugin('identity').projects_request_path, data: {modal: true}, class: 'btn btn-outline btn-sm'


-# - unless @active_project.parents_project_ids.blank?
-#   %h4 Parents
-#   %p= parents_tree(@active_project.parents_project_ids, @user_domain_projects)
-#
-#   %h4 Project tree
-#   %p= active_project_tree(@active_project,@user_domain_projects,class: 'content-list subprojects')
-#
-#   %h4 Breadcrumb
-#   %p
-#     - hierarchical_breadcrumb(@active_project,@user_domain_projects) do |project|
-#       \/
-#       = link_to(project.name,plugin('identity').project_path(project_id: project.friendly_id))
-#
-#   %p
-#     - breadcrumb_projects = hierarchical_breadcrumb(@active_project,@user_domain_projects)
-#     - crumb = breadcrumb_projects.collect{|project| link_to(project.name,plugin('identity').project_path(project_id: project.friendly_id)) }
-#     = raw crumb.join(' / ')
