= render "application/context_selection"

.page-header
  %h1
    Project:
    = @current_project.name

  .row
    .col-sm-6
      %p Show super interesting information about this project here.
      - if plugin_available?('compute') 
        %p= link_to "Instances (#{@instances.length})", plugin('compute').instances_path

      - if @current_project.subtree.count>0
        - @current_project.subtree.each do |sub_project|
          = link_to sub_project.name, project_path(sub_project.friendly_id), class: "list-group-item"
    / .col-sm-6
    /   - if current_user.is_allowed?("identity:project_delete", {trarget: {project: @current_project} }) and !@current_project.is_sandbox?
    /     = link_to "Delete Project", project_path(id:@current_project.friendly_id), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }
    /
    /   - if current_user.is_allowed?("identity:project_update", {trarget: {project: @current_project} }) and !@current_project.is_sandbox?
    /     = link_to "Edit Project", edit_project_path(id:@current_project.friendly_id), class: "btn btn-primary", data: { modal: true }
