.row
  .col-md-8
    %h4 Available Services
    = render_navigation(context: :services, expand_all: true, renderer: :fancy_list)

  .col-md-4
    %h4 
      Project Info
      - if current_user.is_allowed?('identity:project_update')
        %small
          = link_to plugin('identity').edit_project_path, data: {modal: true} do 
            %i.fa.fa-pencil
    %dl
      %dt Name
      %dd= @active_project.name
      - unless @active_project.description.blank?
        %dt Description
        %dd= @active_project.description

    
    %h4 Sub Projects
    - unless @active_project.subprojects_ids.blank?
      %p= subprojects_tree(@active_project.subprojects_ids,@user_domain_projects, class: 'content-list subprojects')
    - else
      %p This project doesn't have any sub projects

    = link_to 'Request new sub project', plugin('identity').projects_request_path, data: {modal: true}, class: 'btn btn-outline btn-sm' if current_user.is_allowed?('identity:project_request')
