.row
  .col-sm-6
    %p= @active_project.description

  .col-sm-6
    %ul
      - if current_user.is_allowed?('identity:project_edit')
        %li= link_to 'Edit Project', plugin('identity').edit_project_path
      - if current_user.is_allowed?('identity:member_index')
        %li= link_to 'Manage Project Members', plugin('identity').projects_members_path


.row
  .col-md-8
    %h4 Available Services
    = render_navigation(context: :services, expand_all: true, renderer: :fancy_list)

  .col-md-4
    %h4 Sub Projects
    - unless @active_project.subprojects_ids.blank?
      %p= subprojects_tree(@active_project.subprojects_ids,@user_domain_projects, class: 'content-list subprojects')
    - else
      %p This project doesn't have any sub projects

= link_to 'Request new sub project', plugin('identity').projects_request_path, data: {modal: true}, class: 'btn btn-outline btn-sm' if current_user.is_allowed?('identity:project_request')


-# - unless @active_project.parents_project_ids.blank?
-#   %h4 Parents
-#   %p= parents_tree(@active_project.parents_project_ids, @user_domain_projects)
-#
-#   %h4 Project tree
-#   %p= active_project_tree(@active_project,@user_domain_projects,class: 'content-list subprojects')
-#
-#   %h4 Breadcrumb
-#   %p
-#     - hierarchical_breadcrumb(@active_project,@user_domain_projects) do |project|
-#       \/
-#       = link_to(project.name,plugin('identity').project_path(project_id: project.friendly_id))
-#
-#   %p
-#     - breadcrumb_projects = hierarchical_breadcrumb(@active_project,@user_domain_projects)
-#     - crumb = breadcrumb_projects.collect{|project| link_to(project.name,plugin('identity').project_path(project_id: project.friendly_id)) }
-#     = raw crumb.join(' / ')
