.row
  .col-sm-6
    %p
      This is the project home page. We will display a nicely rendered list of all available services here soon. For now please use the services dropdown menu above.
      %table
        %tr
          %th Name
          %td= @active_project.name
        %tr
          %th Description&nbsp;
          %td= @active_project.description
        %tr
          %th Enabled?
          %td= @active_project.enabled
  .col-sm-6
    %ul
      %li= link_to 'Edit Project', plugin('identity').edit_project_path if current_user.is_allowed?('identity:project_edit')        
      %li= link_to 'Manage Project Members', plugin('identity').projects_members_path if current_user.is_allowed?('identity:member_index')        


%h4 Sub Projects

- unless @current_project.subprojects.blank?
  %p= subprojects_tree(@current_project.subprojects,@user_domain_projects, class: 'content-list subprojects')
- else
  %p This project doesn't have any sub projects

= link_to 'Request new sub project', plugin('identity').projects_request_path, data: {modal: true}, class: 'btn btn-outline btn-sm'
