= content_for :main_toolbar do
  Manage
  = @scope.titleize
  Resources

- if qa? && current_user.is_allowed?('resources:project:edit', {selected: {domain_id: @scoped_domain_id, project_id: @scoped_project_id} })
  .bs-callout.info.bs-callout-info.bs-callout-emphasize
    This is the old UI, allowing direct editing of quotas. However, for managing committed resources, please use the 
    - url = @scope == 'domain' ? plugin("resources").v2_domain_path : plugin("resources").v2_project_path
    =link_to url  do 
      %span.label.label-info="new UI"
  
- if @project_override || @domain_override || @cluster_override
  .bs-callout.bs-callout-info.bs-callout-emphasize
    This view is for the
    = succeed '.' do
      - if @project_override
        %strong= "project #{@project_override.name}"
        - if @project_override.id
          %span.text-muted= "(#{@project_override.id})"
        in
      - if @domain_override
        %strong= "domain #{@domain_override.name}"
        - if @domain_override.id
          %span.text-muted= "(#{@domain_override.id})"
        - if @cluster_override
          in
      - if @cluster_override
        %strong= "cluster #{@cluster_override}"
- else
  - unless @js_data[:can_edit]
    .bs-callout.bs-callout-info.bs-callout-emphasize
      This view is read-only. To edit quotas, you need the
      %code= @edit_role
      role.

- @js_data[:app] = 'main'
= javascript_include_tag "resources_app_widget", data: @js_data
