-# we dont use Keystone credential store anymore
-# can be deleted later

-# - projects = services.identity.auth_projects(@scoped_domain_id)
  
-# %fieldset
-#   = form.input :type,
-#     collection:         Settings.credentials.types,
-#     as:                 :select,
-#     input_html:         { class: "dynamic-form-trigger" },
-#     include_blank:      "Select credential type"


-# %fieldset.dynamic-form-target{class: ('visible' if @credential.type=='ec2'), data: {type: "ec2"}}
-#   - [:access, :secret].each do |field|
-#     = form.input field,
-#       label:              t("credentials.ec2.#{field}"),
-#       input_html:         { maxlength: 255, name: "#{form.object_name}[blob][#{field}]", value: @credential.blob.fetch(field.to_s,nil) },
-#       disabled:           @credential.type!="ec2" ,
-#       required:           true
    
-#   - project_options = @credential.type=="ec2" ? {} : {wrapper_error_class: "ignore_error", error: false}  
-#   = form.input :project_id, { label: "Project",
-#     as:                 :select,
-#     collection:         projects,
-#     include_blank:      "Choose a project",
-#     disabled:           @credential.type!="ec2",
-#     required:           true}.merge(project_options) 

-# %fieldset.dynamic-form-target{class: ('visible' if @credential.type=='ssh-key'), data: {type: "ssh-key"}}
-#   = form.input :name,
-#     label:              t('credentials.ssh-key.name'),
-#     input_html:         { maxlength: 255, name: "#{form.object_name}[blob][name]", value: @credential.blob.fetch("name",nil) },
-#     disabled:           @credential.type!="ssh-key", 
-#     required:           true

-#   = form.input :public_key,
-#     as:                 :text,
-#     label:              t('credentials.ssh-key.public_key'),
-#     input_html:         { rows: 15, name: "#{form.object_name}[blob][public_key]", value: @credential.blob.fetch("public_key",nil) },
-#     disabled:           @credential.type!="ssh-key",
-#     required:           true 
    
-#   - project_options = @credential.type=="ssh-key" ? {} : {wrapper_error_class: "ignore_error", error: false}
-#   = form.input :project_id, project_options.merge({label: "Project",
-#     as:                   :select,
-#     collection:           projects,
-#     include_blank:        "Choose a project",
-#     disabled:             @credential.type!="ssh-key"})
       
      
