%ul.nav.nav-tabs
  -# no need to render 'shared' separately - turns up in the private list and can be determined by owner
  - %w(external private).each do |network_type|
    - if tab == network_type
      %li.active{ role: 'presentation' }
        = link_to network_type.humanize + ' Networks', '#'
    - else
      %li{ role: 'presentation' }
        = link_to network_type.humanize + ' Networks', plugin('networking').send("networks_#{network_type}_index_path") + '?preview=true'

  - if tab == 'routers'
    %li.active{role: 'presentation'}
      = link_to 'Routers', '#'

  - else
    %li{role: 'presentation'}
      = link_to 'Routers', plugin('networking').routers_path

  - if tab == 'bgp_vpns'
    %li.active{role: 'presentation'}
      = link_to 'BGP VPNs', '#'
  - else
    %li{role: 'presentation'}
      = link_to 'BGP VPNs', plugin('networking').bgp_vpns_widget_path    