= content_for :title do
  Create New Domain

= simple_form_for @zone_request, url: plugin('dns_service').create_zone_wizard_path(project_id: 'master'), method: :post, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  %div{class: 'modal-body' }
    - if @zone_request.errors.present?
      .alert.alert-error
        = render_errors(@zone_request.errors)

    = hidden_field_tag :inquiry_id, params[:inquiry_id]
    = f.input :domain_type, required: true, input_html: { disabled: true}, input_wrapper_html: { style: "width: 70%" }
    = f.input :domain_type, as: :hidden

    - if @zone_request.domain_type=='rootdomain'
      = f.input :domain_pool, required: true, input_html: { disabled: true}, input_wrapper_html: { style: "width: 70%" }
      = f.input :domain_pool, as: :hidden
      = f.input :pool_name, required: true, input_html: { disabled: true, value: @pool.name}, input_wrapper_html: { style: "width: 70%" }
      = f.input :attributes, as: :text, required: true, input_html: { disabled: true, value: @pool.read("attributes")}, input_wrapper_html: { style: "width: 70%" }

    = f.input :name, required: true, input_wrapper_html: { style: "width: 70%" }
    = f.input :email, required: true, input_wrapper_html: { style: "width: 70%" }
    = f.input :ttl,   required: false, as: :integer, input_html: {value: @zone_request.ttl || 7200}, input_wrapper_html: { style: "width: 30%" }
    = f.input :description, required: false, as: :text

  %div.buttons{class: 'modal-footer'}
    %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Cancel'}} Cancel
    = button_tag 'Create', { class: 'btn btn-primary pull-right', data: { disable_with: 'Please wait... '} }

:javascript
  $('input[name="zone_request[domain_type]"]').click(function () {
    $(this).tab('show');
  });
