- data = {}
- if l7rule.in_transition?
  - data[:update_path]=plugin('loadbalancing').update_item_loadbalancer_listener_l7policy_l7rule_path(loadbalancer_id: loadbalancer.id,
                                                                                                     listener_id: listener.id, l7policy_id: l7policy.id, id: l7rule.id)
  - data[:update_interval]=2500

%tr{id: "loadbalancer_listener_l7policy_l7rule_#{l7rule.id}", data: data }
  %td
    - if l7rule.in_transition?
      %span{class: 'spinner'}
    = link_to l7rule.type, plugin('loadbalancing').loadbalancer_listener_l7policy_l7rule_path(loadbalancer_id: loadbalancer.id, listener_id: listener.id, l7policy_id: l7policy.id, id: l7rule.id), data: {modal: true}
  %td= l7rule.compare_type
  %td= l7rule.key
  %td= description(l7rule.value,40)
  %td
    - if l7rule.invert
      = icon('check')
    - else
      = icon('times')
  %td
    %label{class: 'spinner', data: {prov_status: "#{l7policy.id}"}}

  %td.snug
    .btn-group
      %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
        %span.fa.fa-cog

      %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
        - if current_user.is_allowed?("loadbalancing:resource_get", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li= link_to 'Show', plugin('loadbalancing').loadbalancer_listener_l7policy_l7rule_path(loadbalancer_id: loadbalancer.id, listener_id: listener.id,
                                                                                                  l7policy_id: l7policy.id, id: l7rule.id), data: {modal: true}
        - if current_user.is_allowed?("loadbalancing:resource_update", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li= link_to 'Edit', plugin('loadbalancing').edit_loadbalancer_listener_l7policy_l7rule_path(loadbalancer_id: loadbalancer.id, listener_id: listener.id, l7policy_id: l7policy.id, id: l7rule.id), data: {modal: true}
        - if current_user.is_allowed?("loadbalancing:resource_delete", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li.divider
          %li= link_to 'Delete',
            plugin('loadbalancing').loadbalancer_listener_l7policy_l7rule_path(loadbalancer_id: loadbalancer.id, listener_id: listener.id, l7policy_id: l7policy.id, id: l7rule.id),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this Listener?',
              ok: "Yes, delete it",
              remote: true,
              confirmed: :loading_status}
