%h3
  Tags
  - if current_user.is_allowed?('automation:node_update')
    %small
      = link_to '#', data: {modal: true}, class: 'js-node-tags-link-edit' do
        %i.fa.fa-pencil
      %i.fa.fa-pencil.js-node-tags-icon-read

%p
  Use a tag to give this node a human readable display name. Ex:
  %code
    tag:db_server

.js-node-tags-read{ data: {node_form_read: node_form_read.tags} }
  - node_form_inline_tags(node_form_read.tags)

.js-node-tags-edit
  = simple_form_for node_form, url: plugin('automation').node_path(node_form.agent_id), method: :put, remote: true,  html: {id: 'form_node_tags'}, wrapper: :inline_form do |f|
    = f.input :agent_id, :as => :hidden
    = f.input :tags, as: :text, required: false, label: false, input_html: { class: 'js-node-input-tags' }, placeholder: 'Enter tags',
        icon_hint: 'Tags are key-value pairs. See hint for more information.',
        help_hint: t('automation.help_hint.key_value_pairs')

    .buttons.inline-form-buttons
      = link_to "Cancel", '#', class: 'btn btn-default js-node-tags-link-cancel'
      = button_tag "Save", { class: 'btn btn-primary pull-right submit', data: { disable_with: "Please wait..." } }
