.job-popover-content
  .row
    .col-md-12
      %b Status:
      = job_state(job.status)
  .row
    .col-md-12
      %b Agent:
      = " #{job.agent}"
  .row
    .col-md-12
      %b Action:
      = " #{job.action}"
  .row
    .col-md-12
      %b Started:
      = date_humanize(job.created_at)

  .row
    .col-md-12
      %b Duration:
      =job.duration

  .row
    .col-md-12.clearfix
      = link_to('Show', plugin('automation').job_path(id: job.request_id), data: {modal: true}, class: 'pull-right js-close-popover')