.modal-section.first
  .modal-section.first
    %h3
      Details

    .job_details
      .row
        .col-md-2
          %b
            Node Id:
        .col-md-10
          = @node.agent_id

      .row
        .col-md-2
          %b
            Node Name:
        .col-md-10
          = @node.name

      .row
        .col-md-2
          %b
            Created at:
        .col-md-4
          = date_humanize(@node.created_at)
        .col-md-2
          %b
            Updated at:
        .col-md-4
          = date_humanize(@node.updated_at)

  .modal-section.js-inline-form-node-tags
    = render partial: 'form_tags', locals: {node_form: @node_form, node_form_read: @node_form_read}

  .modal-section
    %h3
      Facts

    %table.table.datatable
      %tbody
        - @facts.attributes.each do |k,v|
          %tr
            %th= k
            %td= v