= render partial: 'automation/shared/nav.html', locals: {pane: 'nodes'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"nodes-pane"}

    .toolbar
      .row
        .col-md-3
          .toolbar-search-box{data: {toggle: 'automationSearch', search_dimmed_area: 'js-search-dimmed-area', search_render_area: 'js-search-render-area', search_error_area: 'js-search-error-area'}}
            = form_tag plugin('automation').nodes_path() do
              .input-group
                = text_field_tag 'js-search_input', '', class: "form-control", placeholder: 'Name tag, hostname or ID'
                .span.input-group-btn
                  %button.btn.btn-default.btn-default-size{type: "submit"} Go
        .col-md-3
          .js-search-error-area.search-error-area.text-danger            
        .col-md-3.col-md-offset-3
          = link_to "Add Node", plugin('automation').install_nodes_path, data: {modal: true}, class: 'btn btn-primary btn-sm'

    .search-dimmed-area.js-search-dimmed-area
      .search-render-area.js-search-render-area
        = render partial: 'table_nodes_pagination'
