= render partial: 'automation/shared/nav.html', locals: {pane: 'nodes'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"nodes-pane"}

    .toolbar
      .toolbar-search-box{data: {toggle: 'automationSearch', search_dimmed_area: 'js-search-dimmed-area', search_render_area: 'js-search-render-area', search_error_area: 'js-search-error-area'}}
        = form_tag plugin('automation').nodes_path() do
          .input-group
            = text_field_tag 'js-search_input', '', class: "form-control", placeholder: 'Name tag, hostname or ID', value: @search
            .span.input-group-btn
              %button.btn.btn-default{type: "submit"}
                %i.fa.fa-search
      .js-search-error-area.search-error-area.text-danger
      .search-info-tooltip
        .has-feedback-help
          %a.help-link{href: "#", data: {toggle: "popover", "popover-type": "help-hint", content: 'Search by name tag, hostname or ID. To use the advanced search use the format “key=value”. Advanced search will find nodes with the given key and value from tags and facts.'}}
            %i.fa.fa-question-circle

      - if current_user.is_allowed?('automation:node_install')
        .main-buttons
          = link_to "Add Node", plugin('automation').install_nodes_path, data: {modal: true}, class: 'btn btn-primary'


    .search-dimmed-area.js-search-dimmed-area
      .search-render-area.js-search-render-area
        = render partial: 'table_nodes_pagination'
