= content_for :title do
  Install new Node

.modal-body

  .modal-flashes

  #modal_flash_messages
    = render partial: "automation/nodes/install_node_error", locals: {flashes: @errors}

  #modal_messages

  .section#search_instance

    = form_tag plugin('automation').show_instructions_nodes_path, class: 'form-horizontal', remote: true do
      .form-group
        = label_tag 'compute_instance_id', 'Please select an instance:', class: 'col-sm-4 control-label'
        .col-sm-8
          = select_tag 'compute_instance_id', "#{options_for_select(@compute_instances.collect{|v| [ "#{v.name} (#{v.image ? v.image.name : 'image name not found'})", v.id ] }, '')}<option disabled>──────────</option>#{options_for_select([ ["Add external instance", "external"] ], "")}".html_safe, include_blank: "", class: 'form-control', data: {toggle: 'selectAutomationInstance'}

      .js-external-instance.hide
        .form-group
          = label_tag 'external_instance_id', 'Please enter an identifier for the external instance:', class: 'col-sm-4 control-label'
          .col-sm-8
            = text_field_tag 'external_instance_id', '', :maxlength => "256", :placeholder => "Enter identifier", class: 'form-control', autofocus: true

      .buttons{class: modal? ? 'modal-footer' : ''}
        - if modal?
          %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
        - else
          = link_to "Cancel", instances_url(), class: 'btn btn-default'
        = button_tag "Get instructions", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }

= content_for :javascript do
  :javascript
    $('#compute_instances').focus();
