= content_for :title do
  Node details

.modal-body

  .modal-flashes
    = render "automation/shared/dismissible_flashes.html"

  %ul.nav.nav-tabs
    %li.active{role: "presentation"}= link_to 'Details', '#details', aria: {controls:"facts"}, role: "tab", data: {toggle:"tab"}
    %li{role: "presentation"}= link_to 'Jobs', '#jobs', aria: {controls:"jobs"}, role: "tab", data: {toggle:"tab"}

  .tab-content

    .tab-pane.active{role:"tabpanel", id:"details"}

      = render partial: 'show_details'

    .tab-pane{role:"tabpanel", id:"jobs"}
      = render partial: 'automation/shared/table_jobs', locals: {jobs: @jobs[:elements]}

.modal-footer
  - if modal?
    =link_to "Delete Node", plugin('automation').node_path(id: @node.id), class: 'btn btn-danger node-show-actions', :method => 'delete'
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('automation').nodes_url(), class: 'btn btn-default'
