= content_for :title do
  Node details

- unless modal?
  %h3 Node details

.modal-body

  .modal-flashes
    = render "application/flashes.html"

  %ul.nav.nav-tabs
    %li.active{role: "presentation"}= link_to 'Details', '#details', aria: {controls:"facts"}, role: "tab", data: {toggle:"tab"}
    %li{role: "presentation"}= link_to 'Jobs', '#jobs', aria: {controls:"jobs"}, role: "tab", data: {toggle:"tab"}

  .tab-content

    .tab-pane.active{role:"tabpanel", id:"details"}

      = render partial: 'show_details'

    .tab-pane{role:"tabpanel", id:"jobs"}
      = render partial: 'automation/shared/table_jobs', locals: {jobs: @jobs[:elements]}

%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('automation').nodes_url(), class: 'btn btn-default'
