= content_for :title do
  Edit Template

- unless modal?
  %h3 Edit Template

= simple_form_for @template, as: :template, url: plugin('email_service').template_path(id: params[:id],name: params[:name]), method: :put, remote: request.xhr?,  html: {id: 'form_template', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body.static-columns
    .modal-flashes
      = render "email_service/shared/flashes"

    = render partial: 'form', locals: { f: f, form_type: 'edit' }

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').plugin('email_service').templates_path(), class: 'btn btn-default'
    = button_tag "Update", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
