=content_for :main_toolbar do
  Email Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav', formats: :html, locals: {pane: 'templates'}
.tab-content
  .tab-pane.active{role:"tabpanel", id:"templates-pane"}
    %h3
      Available Templates
    .row
      .col-sm-9
        .toolbar
          - if current_user.is_allowed?('email_service:template_create')
            .main-buttons
              = link_to "New Template", plugin('email_service').new_template_path, data: {modal: true}, class: 'btn btn-primary'
      
        .js-table-templates-list
          = render partial: 'table_templates'#, locals: {templates: @templates}
      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            %center
              Templates in use
              %br
              %b
                = @templates.count if @templates
                out of 10000
            %br
            %center
              Max Template Size
              %br
              %b
                500 KB
            %br
            %hr
            Templates are useful when you wish to send customized Emails to your recipients. These templates include a subject line, and the TEXT and HTML parts of the email body. The subject and body sections may also contain unique values that are personalized for each recipient. More on
            %b
              = link_to "Email Templates", "#{sap_url_for('documentation')}docs/customer/services/email-service/email-serv-howto/email-howto-templates", :target => "_blank"
