%p
  = "The generated log has #{truncated_log.data_lines} lines of output. "
  - if truncated_log.data_truncated?
    = "The output is too long and has been truncated to the last lines. "
  = link_to("View", plugin('automation').show_payload_runs_path(id: run.id), target: "_blank")
  full log.

%pre
  %code
    = preserve do
      :escaped
        #{truncated_log.data_output}