= content_for :title do
  Run details

- unless modal?
  %h3 Run details

- data = {update_path: plugin('automation').run_path(params.to_unsafe_hash.merge(partial:true, format: 'js')), update_interval: 10} if run_polling?(@run.state)
.modal-body#run-detail-view{  data: data }

  .modal-section.first
    %h3
      Details

    .show_details
      .row
        .col-md-2
          %b
            ID:
        .col-md-4
          = @run.id

      .row
        .col-md-2
          %b
            Automation:
        .col-md-4
          = @run.automation_name

      .row
        .col-md-2
          %b Revision:
        .col-md-10
          -if @run.revision_from_github?
            = link_to @run.repository_revision, @run.revision_link, target: "_blank"
          -else
            = @run.repository_revision

      .row
        .col-md-2
          %b
            Owner:
        .col-md-4
          = @run.owner_name
        .col-md-2
          %b
            Status:
        .col-md-4.js-run-state
          = render partial: 'run_state', locals: {run: @run}

      .row
        .col-md-2
          %b
            Started:
        .col-md-4
          = date_humanize(@run.created_at)
        .col-md-2
          %b
            Duration:
        .col-md-4.js-run-duration
          = @run.duration



  .modal-section
    %h3
      Jobs
    .js-run_jobs_table
      = render partial: 'automation/shared/table_jobs', locals: {jobs: @jobs}

  .modal-section
    %h3
      Log

    .js-run-log
      = render partial: 'run_log', locals: {truncated_log: @truncated_log, run: @run}

  .modal-section
    %h3
      Automation Snapshot
      %small
        Automation definition at time of job execution

    .js-run-snapshot
      - if @run.snapshot.empty?
        No data found
      - else
        #jsoneditor.compact{data:{mode: "view", content_id: @run.snapshot.to_json}}


%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
