- class_name = ''
- class_name += 'active' if current_user.id==user_id
- class_name += 'warning' if local_assigns.has_key?(:highlight)
- class_name += 'danger' if local_assigns.has_key?(:new_member)

%tr.table{class: class_name, data: {search_name: "#{user_id}_#{user_name}_#{user_description}", marker_id: user_id}}
  %td.user-name-cell
    = render_user_name(user_name, user_description)
    %br
    .info-text=user_id

  %td{data: {roles_display: true, roles_current: user_roles.collect{|r| role_label_long(r[:name])}.sort }}
  %td.snug
    - all_roles = roles.collect{|r| [role_label_long(r.name), r.id] }.sort_by { |a| puts a[0]; a[0]}
    - user_role_ids = user_roles.collect{|r| r[:id]}
    = select_tag("role_assignments[#{user_id}]",options_for_select(all_roles, user_role_ids), {multiple: true, data: {roles_select: true}, disabled: !can_update})
