- if modal?
  = content_for :title do
    New Project Member
- else
  = content_for :main_toolbar do
    New Project Member

= simple_form_for :member, url: url, method: :post, remote: request.xhr?, html: {data: {modal: modal?}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  %div{class: modal? ? 'modal-body' : ''}
    - if @error
      %p.alert.alert-error= @error
    - if local_assigns[:hidden_fields]
      - hidden_fields.each do |key,value|
        = hidden_field_tag key, value

    .form-group.string.required.member_name
      %label.string.required.col-sm-4.control-label{for: "member_name"}
        %abbr{title:"required"} *
        User name or ID
      .col-sm-6
        .input-wrapper
          %input{ name: "user_name",
            class: "string required form-control",
            id: "member_name",
            data: {autocomplete: {url: main_app.users_cache_path, label: 'name', details: 'full_name', value: 'id' } }}

        %p.help-block
          %i.fa.fa-info-circle
          You can add users from the same domain as members of this project.



  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to 'Back', plugin('identity').project_path, class: 'btn btn-default'
    = f.submit 'Add', class: 'btn btn-primary', data: { disable_with: "Please wait..." }
