- if modal?
  = content_for :title do 
    Manage Project Members   
- else
  = content_for :main_toolbar do
    Manage Project Members   
  
= simple_form_for :role_assignments, url: plugin('identity').projects_members_path, method: :put, remote: request.xhr?, html: {data: {modal: modal?} } do |f|
  %div{class: modal? ? 'modal-body' : ''}
    .toolbar
      = link_to 'New Project Member', plugin('identity').new_projects_member_path, data: {modal: true}, class: 'btn btn-primary btn-sm'
        
    - role_ids = @roles.keys.sort
    
    %table.table#project_members
      %thead
        %tr
          %th User
          - role_ids.each do |role_id|
            %th{data: {role_id: role_id} }= @roles[role_id].name
      %tbody
        - if @user_roles.blank?
          %tr
            %td{colspan: role_ids.length+1} No members assigned this project. 
        - else    
          - @user_roles.each do |user_id, values|
            = render partial: 'member', locals: {user: values[:user], role_ids: role_ids, user_role_ids: values[:role_ids]}
                    
  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to 'Back', plugin('identity').project_path, class: 'btn btn-default'  
    = f.submit 'Save', class: 'btn btn-primary hidden', data: { disable_with: "Please wait..." }
    

