- if modal?
  = content_for :title do
    Assign Group
- else
  = content_for :main_toolbar do
    Assign Group

= simple_form_for :member, url: url, method: :post, remote: request.xhr?, html: {data: {modal: modal?}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  %div{class: modal? ? 'modal-body' : ''}
    - if @error
      %p.alert.alert-error= @error
      
    - if local_assigns[:hidden_fields]
      - hidden_fields.each do |key,value|
        = hidden_field_tag key, value  

    
    .form-group.string.required.member_name
      %label.string.required.col-sm-4.control-label{for: "group_name"}
        %abbr{title:"required"} *
        Group name or ID
      .col-sm-6
        .input-wrapper
          = select_tag :name, options_from_collection_for_select(@groups, 'id', 'name'), class: 'form-control', name: 'group_name'
          /%input{name: "group_name", class: "string required form-control", id: "group_name"}


  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to 'Back', plugin('identity').project_path, class: 'btn btn-default'
    = f.submit 'Add', class: 'btn btn-primary', data: { disable_with: "Please wait..." }