= content_for :page_lead do
  .jumbotron.jumbotron-fancy
    .container
      .row
        .col-sm-8
          %h1 SAP Converged Cloud
          %p From Playground to Production on one Infrastructure-as-a-Service (IaaS), powered by Kubernetes, OpenStack, SAP HANA and Monsoon Automation
          = link_to "Enter the cloud", main_app.domain_home_path(domain_id: params[:domain_id], project_id:nil), id: 'enter_the_cloud_button', class: "btn btn-outline-negative btn-lg"
        .col-sm-4
          %span.moo-cloud-white
          -# .row
          -#   .col-sm-6.hero-info
          -#     .info-stat
          -#       21.164
          -#     .info-stat-text
          -#       virtual machines
          -#   .col-sm-6.hero-info
          -#     .info-stat
          -#       3,7 PB
          -#     .info-stat-text
          -#       storage
          -#
          -# .row
          -#   .col-sm-6.hero-info
          -#     .info-stat
          -#       13
          -#     .info-stat-text
          -#       regions
          -#   .col-sm-6.hero-info
          -#     .info-stat
          -#       73
          -#     .info-stat-text
          -#       networks


%h1.page-header Converged Cloud Is Available In These Regions

#worldmap

%h1.page-header Our Services


%ul.fancy-list.fancy-list-2col
  %li
    .fancy-icon
      %span.moo-cloud
    %h5.fancy-header Compute & Block Storage
    %ul.content-list
      %li Create virtual machines with up to 1 TB RAM on vmware.
      %li Create volumes, attach them to vms and take snapshots.

  %li
    .fancy-icon
      %span.fa.fa-sitemap.fa-fw
    %h5.fancy-header Networking & Load Balancing
    %ul.content-list
      %li Manage networks, routers, floating IPs & Loadbalancers backed by hardware.
      %li Implement security groups backed by hypervisors and switches.
      %li get all the benefits from SDN but hardened in proven vendor technology from Cisco, Arista & vmware.



  %li
    .fancy-icon
      %span.fa.fa-database.fa-fw
    %h5.fancy-header Additional Storage Types & Software Repositories
    %ul.content-list
      %li Low-cost shared object storage.
      %li NFS file system storage as service.
      %li Consume Windows update services & linux repos around the globe.

  %li
    .fancy-icon
      %span.fa.fa-lock.fa-fw
    %h5.fancy-header Access Management & Auditing
    %ul.content-list
      %li Manage authorizations
      %li Delegate administrative rights to central operators.
      %li Use Cloud Access Manager (CAM).
      %li Soon: Keep an audit trail for your project services.

  %li
    .fancy-icon
      %span.fa.fa-gears.fa-fw
    %h5.fancy-header Monsoon Automation (IaC)
    %ul.content-list
      %li Execute ad-hoc jobs and defined runlists using scripts & Chef.
      %li Integrate your own servers or clients.


  %li
    .fancy-icon
      %span.fa.fa-code.fa-fw
    %h5.fancy-header API Access & Tested Tool Belt
    %ul.content-list
      %li Download the tested SDKs for your preferred language
      %li Consume the industry standard Openstack API


  %li
    .fancy-icon
      %span.fa.fa-area-chart.fa-fw
    %h5.fancy-header Capacity & Cost Control
    %ul.content-list
      %li Manage your quotas & monitor consumption.

  %li
    .fancy-icon
      %span.fa.fa-hdd-o.fa-fw
    %h5.fancy-header Bare Metal Data Processing & HANA
    %ul.content-list
      %li Soon: Setup HANA databases on bare metal using HANA cloud cells.


  %li
    .fancy-icon
      %span.fa.fa-globe.fa-fw
    %h5.fancy-header Global distribution
    %ul.content-list
      %li Choose the region where you want to run your solution.

  %li
    .fancy-icon
      %span.fa.fa-map-signs.fa-fw
    %h5.fancy-header DNS
    %ul.content-list
      %li Manage your own domains
      %li Allow your customers to bring their own domain.

  %li
    .fancy-icon
      %span.fa.fa-archive.fa-fw
    %h5.fancy-header OS Images
    %ul.content-list
      %li Choose from Redhat Enterprise Linux, SUSE Linux Enterprise, Ubuntu, Debian, CoreOS or Windows images.
      %li Create your own private images.



= javascript_include_tag 'worldmap'
:javascript
  new Worldmap("#worldmap", {current_region: "#{ENV['MONSOON_DASHBOARD_REGION'] || 'eu-de-1'}", regions_config: "#{asset_path('regions.json')}"});
