%style
  :plain
    :root {
      --timeout: 10s;
    }
    body {
      background-color: rgb(0, 8, 16);
      font-family: "BentonSans Regular", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .loader {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      flex-direction: column;
    }

    .loader .info {
      margin-top: 10px;
    }

    .spinner {
      width: 48px;
      height: 48px;
      border:4px solid #FFF;
      border-radius: 50%;
      position: relative;
      transform:rotate(45deg);
      box-sizing: border-box;
    }
    .spinner::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      inset:-4px;
      border-radius: 50%;
      border:4px solid rgb(21, 208, 224);
      animation: prixClipFix infinite linear;
      animation-duration: var(--timeout);
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }

%noscript
  %h1 SAP Converged Cloud
  = link_to "Enter the cloud", main_app.domain_home_path(domain_id: params[:domain_id], project_id:nil)
  = link_to "Log in with password", monsoon_openstack_auth.login_path(domain_fid: @scoped_domain_fid || params[:domain_id], domain_name: (params[:domain_id] || Rails.configuration.default_domain), after_login: main_app.domain_home_path(domain_id:params[:domain_id]))
-# global landing page with preselected region/domain
= javascript_include_tag "https://assets.juno.global.cloud.sap/apps/widget-loader@latest/build/app.js", defer: true, data: {"importmap-only": "true"}

#dashboard
  .loader
    %span.spinner
    .info
      Loading...

  %script{type: "module"}
    :plain
      // try to load juno app "dashboard" via dynamic import
      // In case of an error or after a timeout, the domain home page will be loaded
      const timeout = 10 // seconds
      const url = new URL(window.location.href)
      const domain = (url.pathname || "").split("/",2)[1]
      const homeUrl = new URL(`${domain}/home`,url)

      const root = document.querySelector(":root");
      root.style.setProperty("--timeout", `${timeout}s`);

      let timer = setTimeout(()=>{
        root.style.setProperty("--timeout", `0s`);
        document.querySelector(".loader .info").textContent = "Something went wrong, you are being redirected to domain home page."
        setTimeout(()=>window.location.href=homeUrl,3000)
      },timeout*1000)


      window.addEventListener("JUNO_IMPORTMAP_LOADED",()=>{
        importShim("@juno/dashboard@latest").then((app) => {
          app.mount(document.getElementById("dashboard"),{props: {region: "#{current_region}", domain: "#{current_domain}", prodmode: "#{Rails.env.production?}"}})
        }).catch((error) => {
          console.log("ERROR",error)
          window.location.href=homeUrl
        }).finally(() => clearTimeout(timer))
      })
