= render "application/context_selection"

%br
%h2 Inquiries
%ul.nav.nav-tabs
  %li.active{role: "presentation"}= link_to 'My Inquiries', '#myinquiries', aria: {controls:"myinquiries"}, role: "tab", data: {toggle:"tab"}
  %li{role: "presentation"}= link_to 'Open inquiries', '#openinquiries', aria: {controls:"openinquiries"}, role: "tab", data: {toggle:"tab"}

.tab-content
  #myinquiries.tab-pane.active{role: "tabpanel"}
    = remote_inquiries(per_page: 3, filter: {requester_id:current_user.id})
  #openinquiries.tab-pane{role: "tabpanel"}
    = remote_inquiries(per_page: 3, filter: {state: 'open'})
