= content_for :title do
  Backup Network Access

= simple_form_for @rbac, url: plugin('networking').backup_networks_path, method: :post, remote: request.xhr?, html: {data: {modal: true} } do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - unless @rbac.errors.blank?
      %p.alert.alert-error= @rbac.errors.full_messages.to_sentence

    %p
      - if @backup_network
        Assign the backup network <b>#{@backup_network.name}</b> to my project <b>#{@scoped_project_name}</b>.
      - else
        The backup network cannot be automatically assigned in this domain. Please open a support ticket so our support staff can take care of this for you.

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if @backup_network
      %button.btn.btn-default{ type: 'button', data: { dismiss:'modal' }, aria: { label: 'Cancel' } } Cancel
      %button{ type: 'submit', class: 'btn btn-primary', data: { disable_with: 'Please wait...'} } Assign Network
    - else
      %button.btn.btn-default{ type: 'button', data: { dismiss:'modal' }, aria: { label: 'Close' } } Close

