%tr{id: "service_#{service.id}", class: "#{service.enabled? ? '' : 'state-shutoff'}" }

  %td= service.host
  %td= service.zone
  %td= service.state
  %td
    = service.status
    - if service.disabled_reason
      %br
      %span.info-text= service.disabled_reason
  %td= service.pretty_updated_at
  %td.snug
    .btn-group
      %button.btn.btn-default.btn-sm.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown'}, aria: { expanded: true} }
        %span.fa.fa-cog
      %ul.dropdown-menu.dropdown-menu-right{ role:'menu'}
        - if service.enabled?
          - if current_user.is_allowed?('compute:service_disable')
            %li= link_to 'Disable',
              plugin('compute').confirm_disable_service_path(service.host),
              data: { modal: true }
              -#plugin('compute').disable_service_path(service.host),
        - else
          - if current_user.is_allowed?('compute:service_enable')
            %li= link_to 'Enable',
              plugin('compute').enable_service_path(service.host),
              method: :put
          -# - if current_user.is_allowed?('compute:service_update')
          -#   %li= link_to 'Edit Disablement Reason',
          -#     plugin('compute').edit_service_path(service.host, reason: service.disabled_reason),
          -#     data: { modal: true }
