= content_for :title do
  Service Disablement Reason

%div{class: modal? ? 'modal-body' : ''}

  = simple_form_for @service, url: plugin('compute').service_path(@service.id), method: :put, remote: request.xhr?, html: {id: 'form_service', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

    = f.input :reason

    %div.buttons{class: modal? ? 'modal-footer' : ''}
      - if modal?
        %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
      - else
        = link_to "Cancel", snapshots_url(), class: 'btn btn-default'
      = button_tag "Change", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
