.infobox{data: {update_path: plugin('loadbalancing').update_status_loadbalancer_path(id: loadbalancer.id, format: :js), update_interval: 30, update_immediately: 'true'}}
  %h4.action-heading
    Listener Info
  %table.table
    %tbody
      %tr
        %th
          Provisioning Status:
        %td
          %label{class: 'spinner', data: {prov_status: "#{listener.id}"}}
      %tr
        %th.snug-nowrap
          Name:
        %td
          = listener.name
      %tr
        %th.snug-nowrap
          Description:
        %td
          = listener.description
      %tr
        %th.snug-nowrap
          ID:
        %td.small
          = listener.id
      %tr
        %th.snug-nowrap
          Protocol:
        %td
          = listener.protocol
      %tr
        %th.snug-nowrap
          Port:
        %td
          = listener.protocol_port