.infobox
  %h4.action-heading
    Listener Info
  %table.table
    %tbody
      %tr
        %th.snug-nowrap
          Name:
        %td
          = listener.name
      %tr
        %th.snug-nowrap
          Description:
        %td
          = listener.description
      %tr
        %th.snug-nowrap
          ID:
        %td
          = listener.id
      %tr
        %th.snug-nowrap
          Protocol:
        %td
          = listener.protocol
      %tr
        %th.snug-nowrap
          Port:
        %td
          = listener.protocol_port