- unless @pool
  .row
    .col-md-12
      .toolbar.toolbar-aligntop
        %h4
          Pool
          - if current_user.is_allowed?('loadbalancing:loadbalancer_create')
            - unless @pool
              = link_to 'New', plugin('loadbalancing').new_listener_pool_path(listener_id: listener.id ), data: {modal: true}, class: 'btn btn-primary btn-sm'
            - else
              = link_to 'Edit', plugin('loadbalancing').edit_pool_path(id: @pool.id), data: {modal: true}, class: 'btn btn-primary btn-sm'
              = link_to 'Delete', plugin('loadbalancing').pool_path(id: @pool.id), method: :delete, data: { confirm: 'Are you sure you want to delete this Pool?', ok: "Yes, delete it", confirmed: :loading_status}, class: 'btn btn-primary btn-sm'
      = render partial: 'loadbalancing/loadbalancers/listeners/pools/item', locals: {pool: @pool}

- else
  .row
    .col-md-6
      .toolbar.toolbar-aligntop
        %h4
          Pool
          - if current_user.is_allowed?('loadbalancing:loadbalancer_create')
            - unless @pool
              = link_to 'New', plugin('loadbalancing').new_listener_pool_path(listener_id: listener.id ), data: {modal: true}, class: 'btn btn-primary btn-sm'
            - else
              = link_to 'Edit', plugin('loadbalancing').edit_pool_path(id: @pool.id), data: {modal: true}, class: 'btn btn-primary btn-sm'
              = link_to 'Delete', plugin('loadbalancing').pool_path(id: @pool.id), method: :delete, data: {confirm: 'Are you sure you want to delete this Pool?', ok: "Yes, delete it", confirmed: :loading_status}, class: 'btn btn-danger btn-sm pull-right'
      = render partial: 'loadbalancing/loadbalancers/listeners/pools/item', locals: {pool: @pool}

    .col-md-6
      .toolbar.toolbar-aligntop
        %h4
          Health Monitor
          - if current_user.is_allowed?('loadbalancing:loadbalancer_create')
            - unless @healthmonitor
              = link_to 'New', plugin('loadbalancing').new_pool_healthmonitor_path(pool_id: @pool.id ), data: {modal: true}, class: 'btn btn-primary btn-sm'
            - else
              = link_to 'Edit', plugin('loadbalancing').edit_healthmonitor_path(@healthmonitor.id), data: {modal: true}, class: 'btn btn-primary btn-sm'
              = link_to 'Delete', plugin('loadbalancing').healthmonitor_path(id: @healthmonitor.id), method: :delete, data: { confirm: 'Are you sure you want to delete this Health Monitor?', ok: "Yes, delete it", confirmed: :loading_status}, class: 'btn btn-danger btn-sm pull-right'
      = render partial: 'loadbalancing/loadbalancers/listeners/pools/healthmonitors/item', locals: {healthmonitor: @healthmonitor}

  .row
    .col-md-12
      = render partial: 'loadbalancing/loadbalancers/listeners/pools/members/index', locals: {pool: @pool, members: @members, servers: @servers}
