= content_for :title do
  Edit Listener

- if modal?
  .flashes_area
    = render 'flashes'

= simple_form_for @listener, url: plugin('loadbalancing').loadbalancer_listener_path(loadbalancer_id: @loadbalancer.id, id: @listener.id), method: :put, remote: request.xhr?, html: {id: 'listener_form', class: 'form-horizontal', data: {modal: true} }, wrapper: :horizontal_form do |f|

  %div{class: modal? ? 'modal-body' : ''}

    = render :partial => 'loadbalancing/application/errors', locals: {object: @listener}

    = render partial: 'form', locals: {f: f, update: true}


  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{ type: 'button', data: { dismiss:'modal' }, aria: { label: 'Cancel' } } Cancel
    - else
      = link_to 'Cancel', plugin('loadbalancing').loadbalancer_listeners_path(@loadbalancer.id), class: 'btn btn-default'
    %button{ type: 'submit', class: 'btn btn-primary', data: { disable_with: 'Please wait...'} } Save
