= content_for :main_toolbar do
  = link_to 'Load Balancing', plugin('loadbalancing').loadbalancers_path()
  = ' / '
  = link_to "#{@loadbalancer.name} / Listeners" , plugin('loadbalancing').loadbalancer_listeners_path(@loadbalancer.id)

.row
  .col-md-9
    - if current_user.is_allowed?('loadbalancing:resource_create', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
      .toolbar.toolbar-aligntop= link_to 'Add New Listener', plugin('loadbalancing').new_loadbalancer_listener_path(@loadbalancer.id), data: {modal: true}, class: 'btn btn-primary btn-sm'

    %table.table#group_members
      %tr
        %th Name
        %th Description
        %th Protocol
        %th Protocol Port
        %th Pool
        %th
      -unless @listeners.blank?
        - @listeners.each do |listener|
          = render partial: 'loadbalancing/loadbalancers/listeners/item', locals: {loadbalancer: @loadbalancer, listener: listener}
      -else
        %tr
          %td{colspan:5} No Listeners defined
  .col-md-3
    .infobox
      %h4.action-heading
        Loadbalancer Info
      %table.table
        %tbody
          %tr
            %th.snug-nowrap
              Name:
            %td
              = @loadbalancer.name
          %tr
            %th.snug-nowrap
              Description:
            %td
              = @loadbalancer.description