= content_for :title do
  Empty container: #{@container.name}

- pl = plugin('object_storage')
- encoded_container_name = URI.encode_www_form_component(@container_name)
- unless @empty
  = simple_modal_form_for @form, submit_action: 'Empty', url: pl.pre_empty_container_path(encoded_container_name), method: :post, cancel_url: pl.containers_path do |f|
    .bs-callout.bs-callout-danger
      %span.fa.fa-exclamation-circle
      %strong Are you sure?
      All objects in the container will be deleted. This cannot be undone.
      %br
      %small{style: 'margin-left:15px'}
        Please note: for 
        %strong dynamic 
        and 
        %strong static large objects 
        only the manifests are deleted. The related segments are not deleted. 
    .row
      .col-md-6
        %fieldset
          = f.input :name, label: 'Type container name to confirm', input_html: { autofocus: true }
          = f.hidden_field :container_name, value: @container.name

- else
  %div{class: modal? ? 'modal-body' : ''}
    .bs-callout.bs-callout-info
      %span.fa.fa-exclamation-circle
      Nothing to do. Container is already empty.
  .buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: { dismiss:"modal" }, aria: { label: "Got it" }} Got it
    - else
      = link_to "Got it", pl.containers_path, class: 'btn btn-default'
