= content_for :title do
  Access Control for Container #{@container.name}

- pl = plugin('object_storage')

= simple_modal_form_for @container, 'Update Access', url: pl.container_path(@container.name), method: :put, cancel_url: pl.containers_path do |f|
  %table.table
    %tbody
      %tr
        %th Read ACLs
        %td
          = f.input :read_acl, as: :string, label: false, placeholder: 'Leave empty to disable', readonly: @container.public_read_access
          %p
            = f.input :public_read_access, as: :boolean, label: 'Public Read Access'
      %tr
        %th Write ACLs
        %td
          = f.input :write_acl, as: :string, label: false, placeholder: 'Leave empty to disable', readonly: @container.public_write_access
          %p
            = f.input :public_write_access, as: :boolean, label: 'Public Write Access'

