= content_for :title do
  Access Control Lists for Container: #{@container.name}

- pl = plugin('object_storage')

= simple_modal_form_for @container, submit_action: 'Update Access', url: pl.update_access_control_container_path(URI.encode_www_form_component(@container_name)), method: :post, cancel_url: pl.containers_path do |f|
  .row
    .col-md-6
      - if has_capability?('staticweb')
        = f.input :read_acl, as: :string, label: "Read ACLs", readonly: @container.public_read_access?
        %p
          = f.input :public_read_access?, as: :boolean, label: 'Public Read Access'
      - else
        = f.input :read_acl, as: :string, label: 'Read ACLs'
      = f.input :write_acl, as: :string, label: "Write ACLs"
      = link_to 'Check ACLs' , '#', class: 'btn btn-default pull-right', id: 'check_acls'
    .col-md-6
      .bs-callout.bs-callout-info
        %p
          Entries in ACLs are comma-separated. Examples:
        %dl
          %dt
            %code PROJECT_ID:USER_ID
          %dd Grant access to a user from a different project.
          %dt
            %code PROJECT_ID:*
          %dd Grant access to all users from that project.
        %p
          For more details, have a look at the
          = succeed '.' do
            = link_to "documentation", "https://docs.openstack.org/swift/latest/overview_acl.html#container-acls", target: "_blank"
  #acls

:javascript
  $('#check_acls').click(
    function() {
      $.get("#{plugin('object_storage').check_acls_container_path()}", 
        { 
          read_acl: $('#container_read_acl').val(),
          write_acl:  $('#container_write_acl').val()
        } , function(data){
          $('#acls').html(data);
        },
        "html");
    }
  );

- if has_capability?('staticweb')
  :javascript
    $('#container_public_read_access').change(
      function() {
        var input = $('#container_read_acl');
        if ($(this).is(":checked")) {
          input.data('org', input.val());
          input.val('.r:*,.rlistings');
          input.prop('readonly', true);
       }
         else {
          input.val(input.data('org'));
          input.prop('readonly', false);
        }
      }
    );
