= content_for :title do
  Container: #{@container.name}

- pl = plugin('object_storage')

= simple_modal_form_for @container, 'Update container', url: pl.container_path(@container.name), method: :put, cancel_url: pl.containers_path do |f|
  %table.table
    %tbody
      %tr
        %th Object count
        %td= @container.object_count
      %tr
        %th Total size
        %td= format_bytes(@container.bytes_used)
      %tr
        %th Custom metadata
        %td= render partial: 'editable_metadata_display', locals: { metadata: @container.metadata }
