- data = {}
- if volume
  %tr
    - if current_user.is_allowed?("block_storage:volume_get", {})
      %td
        = link_to volume.name, plugin('block_storage').volume_path(id: volume.id), data: {modal: true}
    - else
      %td= volume.name
    %td= volume.description
    %td= volume.size
    %td= volume.status

    %td.snug
      - if current_user.is_allowed?("block_storage:volume_delete", {}) or current_user.is_allowed?("block_storage:volume_update", {})
        .btn-group
          %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
            %span.fa.fa-cog
          %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
            - if current_user.is_allowed?("block_storage:volume_update", {})
              %li= link_to 'Change', plugin('block_storage').edit_volume_path(id: volume.id), data: {modal: true}
              %li= link_to 'Create Snapshot', plugin('block_storage').new_snapshot_volume_path(id: volume.id), data: {modal: true}
            - if current_user.is_allowed?("block_storage:volume_assign", {})
              %li.divider
              %li= link_to 'Assign', plugin('block_storage').assign_volume_path(id: volume.id), data: {modal: true}
            - if current_user.is_allowed?("block_storage:volume_delete", {})
              %li.divider
              %li= link_to 'Delete', plugin('block_storage').volume_path(id: volume.id), method: :delete, data: { confirm: 'Are you sure you want to delete this volume?' }
