= content_for :title do
  Change Volume

%div{class: modal? ? 'modal-body' : ''}
  .flashes
    = render "application/flashes"

  - unless @volume.blank?
    = simple_form_for @volume, url: plugin('block_storage').volume_path(@volume.id), method: :put, remote: request.xhr?, html: {id: 'form_volume', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

      = render partial: 'errors', locals: {data: @volume}

      = f.input :name
      = f.input :description

      %div.buttons{class: modal? ? 'modal-footer' : ''}
        - if modal?
          %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
        - else
          = link_to "Cancel", volumes_url(), class: 'btn btn-default'
        = button_tag "Change", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
