= content_for :title do
  Attach Volume to Server

%div{class: modal? ? 'modal-body' : ''}

  = simple_form_for @volume_server, url: plugin('block_storage').attach_volume_path(@volume_server.volume.id), method: :put, remote: request.xhr?, html: {id: 'form_attach', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

    = render partial: 'errors', locals: {data: @volume_server}

    -#= f.input :device,
      placeholder: "Server internal device name for volume"
    = f.input :server, { label: "Server",
      input_html:         {},
      prompt: "Select a server",
      as:                 :grouped_select,
      required:           true,
      collection:         { "--#{@volume.availability_zone}" => @volume_server.servers},
      label_method:       -> (s) { s.name },
      group_method:       :last}

    %div.buttons{class: modal? ? 'modal-footer' : ''}
      - if modal?
        %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
      - else
        = link_to "Cancel", volumes_url(), class: 'btn btn-default'
      = button_tag "Attach", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
