= content_for :title do
  Create Volume

= simple_form_for @volume, url: plugin('block_storage').volumes_path, method: :post, remote: request.xhr?, html: {id: 'form_volume', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  %div{class: modal? ? 'modal-body' : ''}

    = render partial: 'errors', locals: {data: @volume}

    - if @volume.snapshot_id
      .form-group.string
        %label.col-sm-4.control-label.string{for: "snapshot_id"} Snapshot
        .col-sm-8
          = cached_object(@volume.snapshot_id) do |snapshot|
            = snapshot['name']
            %br
            %span.info-text
              = "ID: #{snapshot['id']}"
              - if snapshot['volume_id']
                %br
                = "Source Volume: #{snapshot['volume_id']}"

    = f.input :name
    = f.input :description
    = f.input :size, { as: :integer, input_html: { min: '1' }, label: "Size in GB" }
    = f.input :snapshot_id, :as => :hidden, :input_html => { value: @volume.snapshot_id } unless @volume.snapshot_id.blank?

    - unless @volume.snapshot_id
      = f.input :availability_zone, { label: "Availability zone",
        input_html:         {},
        required:           true,
        as:                 :select,
        collection:         @availability_zones}

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", volumes_url(), class: 'btn btn-default'
    = button_tag "Create", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
