= content_for :title do
  Create Snapshot

%div{class: modal? ? 'modal-body' : ''}

  = simple_form_for @snapshot, url: plugin('block_storage').snapshot_volume_path(id: @volume.id), method: :post, remote: request.xhr?, html: {id: 'form_snapshot', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form  do |f|

    = render partial: 'errors', locals: {data: @snapshot}
    - unless  @volume.snapshotable?
      %h3.alert.alert-warning
        This Volume is attached to a server!
      Creating a snapshot from an attached volume might disable read/write operations to the volume. So your applications might stop working until snapshot creation finished!
      %p
      %input{ id: 'snapshot_confirmed', name: "snapshot_confirmed", type:"checkbox", value:"true" }
        I've understood that creating a snapshot might block server operations!
      %p
      = f.input :name, { wrapper_html: {class: ("hidden")} }
      = f.input :description, { wrapper_html: {class: ("hidden")} }
    - else
      = f.input :name
      = f.input :description

    %div.buttons{class: modal? ? 'modal-footer' : ''}
      - if modal?
        %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
      - else
        = link_to "Cancel", volumes_url(), class: 'btn btn-default'
      - if  @volume.snapshotable?
        = button_tag "Create", { id: 'create_button', class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." }}
      - else
        = button_tag "Create", { id: 'create_button', class: 'btn btn-primary pull-right disabled', data: { disable_with: "Please wait..." } , disabled: true}

