= content_for :title do
  Reset Status

= simple_form_for @volume, url: plugin('block_storage').reset_status_volume_path(id: @volume.id), method: :post, remote: request.xhr?, html: {id: 'form_volume_status', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form  do |f|
  %div{class: modal? ? 'modal-body' : ''}

    = render partial: 'errors', locals: {data: @volume}

    %p
      = f.input :status,
        as: :select,
        collection: BlockStorage::Volume::STATUS,
        include_blank: false

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", volumes_url(), class: 'btn btn-default'
    = button_tag "Reset", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
