= content_for :title do
  Create Snapshot

= simple_form_for @snapshot, url: plugin('block_storage').snapshot_volume_path(id: @volume.id), method: :post, remote: request.xhr?, html: {data: {modal: true} } do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - unless @snapshot.errors["message"].blank?
      %p.alert.alert-error= @snapshot.errors.full_messages.to_sentence

    .row
      .col-md-6
        %fieldset
          = f.input :name
          = f.input :description

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", volumes_url(), class: 'btn btn-default'
    %button{type: "submit", class: 'btn btn-primary', data: { disable_with: 'Please wait...'}} Create

