= content_for :title do
  Create Snapshot

%div{class: modal? ? 'modal-body' : ''}

  = simple_form_for @snapshot, url: plugin('block_storage').snapshot_volume_path(id: @volume.id), method: :post, remote: request.xhr?, html: {id: 'form_snapshot', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form  do |f|

    = render partial: 'errors', locals: {data: @snapshot}

    = f.input :name
    = f.input :description

    %div.buttons{class: modal? ? 'modal-footer' : ''}
      - if modal?
        %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
      - else
        = link_to "Cancel", volumes_url(), class: 'btn btn-default'
      = button_tag "Create", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }

