#pool
  .toolbar.toolbar-aligntop
    %h4
      Pool
      - if current_user.is_allowed?('loadbalancing:resource_update', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
        = link_to 'Edit', plugin('loadbalancing').edit_pool_path(id: @pool.id), data: {modal: true}, class: 'btn btn-primary btn-sm'

  - if pool.blank?
    %table.table.datatable
      %thead
      %tbody
        %tr
          %td
            No Pool defined
  - else
    %table.table.datatable
      %thead
      %tbody
        %tr
          %th Name
          %td= pool.name
        %tr
          %th Description
          %td= pool.description
        %tr
          %th Load Balancing Algorithm
          %td= pool.lb_algorithm
        %tr
          %th Protocol
          %td= pool.protocol
        - unless pool.session_persistence_type.blank?
          %tr
            %th Session Persistence Type
            %td= pool.session_persistence_type
          - unless pool.session_persistence_cookie_name.blank?
            %tr
              %th Session Persistence Cookie Name
              %td= pool.session_persistence_cookie_name
        - if pool.listener
          %tr
            %th Assigned to Listener
            - if pool.listener.loadbalancers && pool.listener.loadbalancers.first['id']
              %td= link_to pool.listener.name, plugin('loadbalancing').loadbalancer_listener_path(loadbalancer_id: pool.listener.loadbalancers.first['id'], id: pool.listener.id), data: {modal: true}
            - else
              %td= pool.listener.name if pool.listener
