/ = content_for :title do
/   Show

.modal-body
  %table.table.datatable
    %tbody
      %tr
        %th Name
        %td= @port.name
      %tr
        %th ID
        %td= @port.id
      %tr
        %th Project ID
        %td= @port.tenant_id || @port.project_id
      %tr
        %th Status
        %td= @port.status
      %tr
        %th Admin State
        %td= @port.admin_state_up ? 'UP' : 'DOWN'
      %tr
        %th Allowed Address Pairs
        %td= @port.allowed_address_pairs
      %tr
        %th Description
        %td= @port.description
      %tr
        %th Device ID
        %td= @port.device_id
      %tr
        %th Device Owner
        %td= @port.device_owner
      %tr
        %th Data Plane Status
        %td= @port.data_plane_status
      %tr
        %th DNS Assignment
        %td= @port.dns_assignment
      %tr
        %th DNS Domain
        %td= @port.dns_domain
      %tr
        %th DNS Name
        %td= @port.dns_name
      %tr
        %th Extra DHCP Options
        %td= @port.extra_dhcp_opts
      %tr
        %th Fixed IPs
        %td= @port.fixed_ips
      %tr
        %th MAC Address
        %td= @port.mac_address
      %tr
        %th Network ID
        %td= @port.network_id
      %tr
        %th Port Security Enabled
        %td= @port.port_security_enabled
      %tr
        %th Revision Number
        %td= @port.revision_number
      %tr
        %th Security Groups
        %td= @port.security_groups
      %tr
        %th Created At
        %td= @port.created_at
      %tr
        %th Updated At
        %td= @port.updated_at

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", ports_url(), class: 'btn btn-default'
