.row
  .col-sm-10.col-sm-offset-2
    %h3 Chef

.form-group
  = label_tag 'runlist', 'Runlist', class: 'col-sm-2 control-label'
  .col-sm-10
    = text_area_tag 'runlist', '', :maxlength => "256", :placeholder => "Enter runlist", class: 'form-control'

.form-group
  = label_tag 'attributes', 'Attributes', class: 'col-sm-2 control-label'
  .col-sm-10
    = text_area_tag 'attributes', '', :maxlength => "256", :placeholder => "Enter attributes", class: 'form-control'

.form-group
  = label_tag 'log_level', 'Log level', class: 'col-sm-2 control-label'
  .col-sm-5
    = text_field_tag 'log_level', '', :maxlength => "256", :placeholder => "Enter log level", class: 'form-control'