#chef-automation{class: ('hide' if hide_chef_automation(@automation.type))}
  %h3 Chef

  = f.input :run_list, as: :text, required: true, label: 'Runlist', input_html: { data: {toggle:'tagEditor', tagEditor_type: 'tag', tagEditor_name: 'runlist'} }, placeholder: 'Enter runlist',
  icon_hint: 'Runlist is an array of strings. See hint for more information.',
  help_hint: t('automation.help_hint.string_array')

  = f.input :chef_attributes, as: :hidden, input_html: { data: { chef_attributes_field_reference: true} }

  = form_horizontal_json_editor("chef_attributes", "forms_chef_automation_chef_attributes_json_editor", "Attributes", "optional", "$('*[data-chef-attributes-field-reference=\"true\"]').val()", t('automation.icon_hint.chef_attributes'), "$('*[data-chef-attributes-field-reference=\"true\"]')", @automation)

  = f.input :chef_version,
      as: :grouped_select,
      collection: grouped_chef_versions,
      label_method:  -> (version) { version.empty? ?  "Latest" : version  },
      group_method: :last,
      selected: @automation.chef_version

  = f.input :debug,
      as: :boolean,
      :wrapper => :horizontal_radio_and_checkboxes_4x8,
      icon_hint: t('automation.icon_hint.debug'),
      icon_hint_container: 'body',
      help_hint: t('automation.help_hint.debug')
