.row
  .col-sm-10.col-sm-offset-2
    %h3 Script

.form-group
  = label_tag 'paht', 'Path', class: 'col-sm-2 control-label'
  .col-sm-5
    = text_area_tag 'paht', '', :maxlength => "256", :placeholder => "Enter path", class: 'form-control'

.form-group
  = label_tag 'arguments', 'Arguments', class: 'col-sm-2 control-label'
  .col-sm-10
    = text_field_tag 'arguments', '', :maxlength => "256", :placeholder => "Enter arguments", class: 'form-control'

.form-group
  = label_tag 'environment', 'Environment', class: 'col-sm-2 control-label'
  .col-sm-10
    = text_area_tag 'environment', '', :maxlength => "256", :placeholder => "Enter environment variables", class: 'form-control'