%tr
  %td
    = link_to(run.automation_name, plugin('automation').run_path(id: run.id), data: {modal: true})
    %div.info-text 
      = run.id
  %td
    = date_humanize(run.created_at)
  %td
    = run.duration
  %td
    = run.owner_name
  %td
    - run_state(run.state)
  %td
    .run-job
      %i.fa.fa-square.state_success
      %span.state= run.attributes.fetch('jobs_states',{}).fetch('complete', 0)
    .run-job
      %i.fa.fa-square.state_failed
      %span.state= run.attributes.fetch('jobs_states', {}).fetch('failed',0)
    .run-job
      %i.fa.fa-refresh
      %span.state= run.attributes.fetch('jobs_states', {}).fetch('executing', 0) + run.attributes.fetch('jobs_states',{}).fetch('queued', 0)
