%tr
  %td
    = link_to(automation.form_attribute('name'), plugin('automation').automation_path(id: automation.id), data: {modal: true})
  %td= automation.form_attribute('type')
  %td= automation.form_attribute('repository')
  %td= automation.form_attribute('repository_revision')
  %td
    = link_to plugin('automation').edit_automation_path(id: automation.id), data: {modal: true}, class: 'btn btn-default btn-sm' do
      %i.fa.fa-pencil