%tr
  %td
    = link_to(run.automation_name, plugin('automation').run_path(id: run.id), data: {modal: true})
  %td
    = "#{run.created_at}".to_time.strftime('%a %b %d %H:%M:%S %Z %Y')
  %td
    = run.duration
  %td
    = run.owner
  %td
    - run_state(run.state, run.state_to_string)
  %td