= content_for :title do
  Edit Automation

- unless modal?
  %h3 Edit Automation

= simple_form_for @automation, url: plugin('automation').automation_path(id: @automation.id), method: :put, remote: request.xhr?,  html: {id: 'form_automation', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body.static-columns

    .modal-falshes
      = render partial: "automation/shared/flashes"

    = render partial: 'automation_form', locals: {automation: @automation, f: f, form_type: 'edit'}

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('automation').automations_path(), class: 'btn btn-default'
    = button_tag "Save", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait...", toggle: "update_repository_credentials", authentication_enabled: @automation.repository_authentication_enabled } }
