= content_for :title do
  Repository Credentials

- unless modal?
  %h3 Repository Credentials

= simple_form_for @automation, url: plugin('automation').update_repository_credentials_automations_path(id: @automation.id), method: :put, remote: request.xhr?,  html: {id: 'form_repository_credentials', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body.static-columns

    .modal-falshes
      = render "automation/shared/flashes.html"

    %p
      - if @automation.repository_authentication_enabled
        Due to security reasons credentials will not be displayed. To edit enter new credentials. Saving empty credentials will remove the existing ones.
      - else
        No repository credentails set.

    .form-group
      %label.col-sm-4.control-label.text
        %b
          Automation Id:
      .col-sm-8
        .control-text
          = @automation.id

    .form-group
      %label.col-sm-4.control-label.text
        %b
          Automation Name:
      .col-sm-8
        .control-text
          = @automation.name

    = f.input :id, :as => :hidden
    = f.input :repository_credentials, :as => :text, label: 'Repository credentials', input_html: { class: 'auto-text-field', :rows => 5 , :data => { :toggle => "update_repository_credentials"}}, placeholder: 'Enter new repository credentials'

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('automation').automations_path(), class: 'btn btn-default'
    = button_tag "Save", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait...", toggle: "update_repository_credentials", authentication_enabled: @automation.repository_authentication_enabled } } 