= content_for :title do
  New Automation

.modal-body

  .flashes_area
    = render "automation/shared/flashes.html"

  = simple_form_for @automation, url: plugin('automation').automations_path(), method: :post, remote: request.xhr?,  html: {id: 'form_automation', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form_automation do |f|

    = f.input :name, custom_wrapper_html: {class: 'col-sm-5'}, required: true, label: 'Name', input_html: { autofocus: 'autofocus' }, placeholder: 'Enter name'

    = f.input :repository, custom_wrapper_html: {class: 'col-sm-5'}, required: true, label: 'Repository', input_html: {}, placeholder: 'Enter repository'

    = f.input :repository_revision, custom_wrapper_html: {class: 'col-sm-5'}, label: 'Repository version', input_html: {}, placeholder: 'Enter repository revision'

    = f.input :timeout, custom_wrapper_html: {class: 'col-sm-5'}, required:true, label: 'Timeout', input_html: {}, placeholder: 'Enter timeout'

    = f.input :tags, custom_wrapper_html: {class: 'col-xs-11 col-sm-9'}, as: :text, label_html: {:class => "col-xs-12"}, required: false, label: 'Tags', input_html: { data: {toggle:'tagEditor', tagEditor_type: 'key-value'} }, placeholder: 'Enter tags',
    icon_hint: 'Tags are key-value pairs. See hint for more information.',
    help_hint: "Key-value pairs are separated by ':' or '='. Start a new pair by hitting the Enter key or ','. You can also copy and paste a string containing tags following this pattern: 'key1:value1,key2=value2...'"

    = f.input :type, custom_wrapper_html: {class: 'col-sm-5'}, required: true, input_html: {data: {toggle: 'automationSwitch'}}, collection: @automation_types.sort.map {|k,v| [v,k]}, selected: selected_automation_type(@automation.type)

    %hr

    = render partial: 'chef', locals: {f:f}
    = render partial: 'script', locals: {f:f}

    #popover_container

    .form-group.clearfix
      .col-sm-12
        = button_tag "Save", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }