$(".flashes").html("<%= escape_javascript( render "application/flashes" ) %>");
initAutoDismissibleFlash();

<%if @automation%>
  $("#automation_<%=params[:id]%>").replaceWith("<%= j(render(partial: 'table_automations_item', locals: {automation: @automation})) %>");
  $("#automation_<%=params[:id]%>").update()
<%else%>
  $("#automation_<%=params[:id]%>").remove();

  if($(".automations_table tbody tr").length==0){
    $(".automations_table tbody").prepend("<tr data-empty><td colspan=5>No automations available</td></tr>");
  }
<%end%>
