%ul.nav.nav-tabs
  %li{class: ('active' if pane == 'emails'), role: "presentation"}= link_to 'Send eMail', plugin('email_service').emails_path, aria: {controls:"emails-pane"}, role: "tab"
  %li{class: ('active' if pane == 'templates'), role: "presentation"}= link_to 'Templates', plugin('email_service').templates_path, aria: {controls:"templates-pane"}, role: "tab"
  %li{class: ('active' if pane == 'verified-emails'), role: "presentation"}= link_to 'Verify eMail', plugin('email_service').verifications_path, aria: {controls:"verified-emails-pane"}, role: "tab"
  %li{class: ('active' if pane == 'verified-domains'), role: "presentation"}= link_to 'Verify Domain', plugin('email_service').domain_verifications_path, aria: {controls:"verified-domains-pane"}, role: "tab"
  %li{class: ('active' if pane == 'configsets'), role: "presentation"}= link_to 'Configsets', plugin('email_service').configsets_path, aria: {controls:"configsets-pane"}, role: "tab"
  %li{class: ('active' if pane == 'stats'), role: "presentation"}= link_to 'Statistics', plugin('email_service').stats_path, aria: {controls:"stats-pane"}, role: "tab"
  %li{class: ('active' if pane == 'settings'), role: "presentation"}= link_to 'Settings', plugin('email_service').settings_path, aria: {controls:"settings-pane"}, role: "tab"