%ul.nav.nav-tabs
  %li{class: ('active' if pane == 'emails'), role: "presentation"}= link_to 'Send Email', plugin('email_service').emails_path, aria: {controls:"emails-pane"}, role: "tab"
  %li{class: ('active' if pane == 'verified-emails'), role: "presentation"}= link_to 'Verify Email', plugin('email_service').email_verifications_path, aria: {controls:"verified-emails-pane"}, role: "tab"
  %li{class: ('active' if pane == 'verified-domains'), role: "presentation"}= link_to 'Verify Domain', plugin('email_service').domain_verifications_path, aria: {controls:"verified-domains-pane"}, role: "tab"
  %li{class: ('active' if pane == 'templates'), role: "presentation"}= link_to 'Templates', plugin('email_service').templates_path, aria: {controls:"templates-pane"}, role: "tab"
  -# %li{class: ('active' if pane == 'custom-templates'), role: "presentation"}= link_to 'Custom Templates', plugin('email_service').custom_verification_email_templates_path, aria: {controls:"custom-templates-pane"}, role: "tab"
  -# %li{class: ('active' if pane == 'configsets'), role: "presentation"}= link_to 'Configsets', plugin('email_service').configsets_path, aria: {controls:"configsets-pane"}, role: "tab"
  -# %li{class: ('active' if pane == 'statistics'), role: "presentation"}= link_to 'Statistics', plugin('email_service').statistics_path, aria: {controls:"statistics-pane"}, role: "tab"
  %li{class: ('active' if pane == 'ec2'), role: "presentation"}= link_to 'EC2 Credentials', plugin('email_service').ec2_credentials_path, aria: {controls:"settings-pane"}, role: "tab"
  %li{class: ('active' if pane == 'settings'), role: "presentation"}= link_to 'Settings', plugin('email_service').settings_path, aria: {controls:"settings-pane"}, role: "tab"
  %li{class: ('active' if pane == 'suppression-list'), role: "presentation"}= link_to 'Suppression List', plugin('email_service').suppression_lists_path, aria: {controls:"suppression-list-pane"}, role: "tab"
  %li{class: ('active' if pane == 'maillog'), role: "presentation"}= link_to 'Maillog', plugin('email_service').maillog_path, aria: {controls:"maillog-pane"}, role: "tab"
