- @header_title ||= "Application"
- @title ||= "Warning"
- @description ||= "MultiCloud Account Status"
- @nebula_status = nebula_account_details
- @cronus_account_details = cronus_account_details
= @cronus_account_details

- if modal?
  = content_for :title do
    %span{class: "#{plugin_name}-icon warning-icon"}
    %span.active
      = "#{@header_title} Warning"

  .modal-body
    .bs-callout.bs-callout-info.bs-callout-emphasize

      - if @nebula_status == "NOT_ACTIVATED" && current_user.is_allowed?('email_service:multicloud_account_create')
        %h2 Multicloud Account is not activated for this project
        %br 
        %h3 In order to use CRONUS service, you need to activate SAP MultiCloud Account
        %br 
        = link_to "Activate Multicloud account", plugin('email_service').new_multicloud_account_path, data: { modal: true }, class: 'btn btn-secondary'
        %br
        %br 
        %ul
          %li Activate cronus by executing this command your terminal or command prompt or embedded WebCLI 
          %li <code>cronuscli nebula activate --account-env {valid environment from this list [PROD QA DEV DEMO TRAIN SANDBOX LAB]} --security-officer {I/C/D userid or email} --mail-type {MARKETING or TRANSACTIONAL}</code>.
          %li Please refer to our documetation on this from 
          = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/quick-start-sending-emails/#step-2-activate-email-service"

      - if @nebula_status == 'PENDING'
        %h2
          You MultiCloud Account is in <b>PENDING</b> state. It is not ready to use yet.
        %ul
          %li Cronus activation could still be in progress..and could take up to 72 hours.
          %li Check back again later..  Activation Requests are processed by SAP MultiCloud team.
          %li If it is taking longer than 72 hours. Contact Cronus Support by creating a ticket.
          %li Please refer our documetation on our support procedures
          = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"

      - if @nebula_status == 'PENDING-CUSTOMER-ACTION'
        %h2 
          You MultiCloud Account is in <b>PENDING-CUSTOMER-ACTION</b> state. It is not ready to use yet.
        %ul
          %li Cronus activation could still be in progress..and could take up to 72 hours.
          %li Check back again later.. Activation Requests are processed by SAP MultiCloud team.
          %li If it is taking longer than 72 hours. Contact Cronus Support by creating a ticket.
          %li Please refer our documetation on our support procedures
          = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"

      - if @nebula_status == 'CUSTOMER-ACTION-COMPLETED'
        %h2
          You MultiCloud Account is in <b>CUSTOMER-ACTION-COMPLETED</b> state. It is not ready to use yet.
        %ul
          %li Cronus activation could still be in progress..and could take up to 72 hours.
          %li Check back again later.. It has to activated by SAP MultiCloud team.
          %li If it is taking longer than 72 hours. Contact Cronus Support by creating a ticket.
          %li Please refer our documetation on our support procedures
          = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"

      - if @nebula_status == 'DENIED'
        %h2 
          Your multicloud (aws) account is in <b>DENIED</b> state.
        %ul
          %li Cronus activation could still be in progress..and could take up to 72 hours.
          %li Check back again later.. It has to activated by SAP MultiCloud team.
          %li If it is taking longer than 72 hours. Please contact Cronus Support Team by creating a ticket.
          %li Please refer our documetation on our support procedures
          = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"
          
      - if @nebula_status == "TERMINATED" || @cronus_account_details == "account is terminated"
        %h2
          Your multicloud (aws) account is either already <b>terminated</b> or <b>marked for termination</b>.
        %ul
          %li It has to activated by SAP MultiCloud team. Please contact Cronus Support by creating a ticket.
          %li Please refer our documetation on our support procedures
          = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"

  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

- else

  .bs-callout.bs-callout-info.bs-callout-emphasize

    - if @nebula_status == "NOT_ACTIVATED" && current_user.is_allowed?('email_service:multicloud_account_create')
      %h2 Multicloud Account is not activated for this project
      %br 
      %h3 In order to use CRONUS service, you need to activate SAP MultiCloud Account
      %br 
      -# = link_to "Activate Multicloud account", plugin('email_service').new_multicloud_account_path, data: { modal: true }, class: 'btn btn-secondary'
      %br
      %br 
      %ul
        %li Activate cronus by executing this command your terminal or command prompt or embedded WebCLI 
        %li <code>cronuscli nebula activate --account-env {valid environment from this list [PROD QA DEV DEMO TRAIN SANDBOX LAB]} --security-officer {I/C/D userid or email} --mail-type {MARKETING or TRANSACTIONAL}</code>.
        %li   
          = link_to "Please refer to our documetation", "#{sap_url_for('documentation')}docs/customer/services/email-service/quick-start-sending-emails/#step-2-activate-email-service"

    - if @nebula_status == 'PENDING'
      %h2
        You MultiCloud Account is in <b>PENDING</b> state. It is not ready to use yet.
      %ul
        %li Cronus activation could still be in progress..and could take up to 72 hours.
        %li Check back again later.. It has to activated by SAP MultiCloud team.
        %li If it is taking longer than 72 hours. Contact Cronus Support by creating a ticket.
        %li Please refer our documetation on our support procedures
        = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"

    - if @nebula_status == 'PENDING-CUSTOMER-ACTION'
      %h2 
        You MultiCloud Account is in <b>PENDING-CUSTOMER-ACTION</b> state. It is not ready to use yet.
      %ul
        %li Cronus activation could still be in progress..and could take up to 72 hours.
        %li Check back again later.. It has to activated by SAP MultiCloud team.
        %li If it is taking longer than 72 hours. Contact Cronus Support by creating a ticket.
        %li Please refer our documetation on our support procedures
        = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"

    - if @nebula_status == 'CUSTOMER-ACTION-COMPLETED'
      %h2
        You MultiCloud Account is in <b>CUSTOMER-ACTION-COMPLETED</b> state. It is not ready to use yet.
      %ul
        %li Cronus activation could still be in progress..and could take up to 72 hours.
        %li Check back again later.. It has to activated by SAP MultiCloud team.
        %li If it is taking longer than 72 hours. Contact Cronus Support by creating a ticket.
        %li Please refer our documetation on our support procedures
        = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"

    - if @nebula_status == 'DENIED'
      %h2 
        Your multicloud (aws) account is in <b>DENIED</b> state.
      %ul
        %li Cronus activation could still be in progress..and could take up to 72 hours.
        %li Check back again later.. It has to activated by SAP MultiCloud team.
        %li If it is taking longer than 72 hours. Please contact Cronus Support Team by creating a ticket.
        %li Please refer our documetation on our support procedures
        = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"
    
    - if @nebula_status == "TERMINATED" || @cronus_account_details == "account is terminated"
      %h2
        Your multicloud (aws) account is either already <b>terminated</b> or <b>marked for termination</b>.
      %ul
        %li It has to activated by SAP MultiCloud team. Please contact Cronus Support by creating a ticket.
        %li Please refer our documetation on our support procedures
        = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/incident-management"

