- @header_title ||= "Application"
- @title ||= "Warning"
- @description ||= "Service unavailable"

- if modal?
  = content_for :title do
    %span{class: "#{plugin_name}-icon warning-icon"}
    %span.active
      = "#{@header_title} Warning"

  .modal-body
    = render partial: 'email_service/shared/ec2_creds_creation'
    
    %h3= sanitize(@title)
    %p= sanitize(@description, tags: %w(b))

  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

- else
  = render partial: 'email_service/shared/ec2_creds_creation'

  %h3= sanitize(@title)
  %p= sanitize(@description, tags: %w(b))
