- @header_title ||= "Application"
- @title ||= "Warning"
- @description ||= "Ec2 credentials are not created"

- if modal?
  = content_for :title do
    %span{class: "#{plugin_name}-icon warning-icon"}
    %span.active
      = "#{@header_title} Warning"

  .modal-body

    .bs-callout.bs-callout-info.bs-callout-emphasize
      %h4
        EC2 Credentials are not created
      %p
        Click on the button below to create EC2 credentials for this project.
      %br
        - if current_user.is_allowed?('email_service:ec2_credentials_create')
          = button_to "Create EC2 credentials", plugin('email_service').ec2_credentials_path, method: :post, data: { modal: true }, class: 'btn btn-primary'


  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

- else

  .bs-callout.bs-callout-info.bs-callout-emphasize
    %h4
      EC2 Credentials are not created !!
    %p
      Click on the button below to create EC2 credentials for this project.
    %br
      - if current_user.is_allowed?('email_service:ec2_credentials_list')
        = button_to "Create EC2 credentials", plugin('email_service').ec2_credentials_path, method: :post, data: { modal: true }, class: 'btn btn-primary'

