- @header_title ||= "Application"
- @title ||= "Warning"
- @description ||= "Roles Missing"

- if modal?
  = content_for :title do
    %span{class: "#{plugin_name}-icon warning-icon"}
    %span.active
      = "#{@header_title} Warning"

  .modal-body

    %h3= sanitize(@title)
    %p= sanitize(@description, tags: %w(b))

    = render partial: 'email_service/shared/role_attention_box'

  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

- else

  %h3= sanitize(@title)
  %p= sanitize(@description, tags: %w(b))

  = render partial: 'email_service/shared/role_attention_box'
