- @header_title ||= "Application"
- @title ||= "Warning"
- @description ||= "Roles Missing"

- if modal?
  = content_for :title do
    %span{class: "#{plugin_name}-icon warning-icon"}
    %span.active
      = "#{@header_title} Warning"

  .modal-body

    %h3= sanitize(@title)
    %p= sanitize(@description, tags: %w(b))

    .bs-callout.bs-callout-info.bs-callout-emphasize
      %h4
        Role assignment missing !
      %p
        Two new roles,
        %code
          email_admin
        and
        <code>email_user</code>, are available to manage the email service.
        From now on you will need one of the role to be able to access email service.
        You can assign these roles to your user or the group you belong to.
        If you do not have permissions, ask your team member who has permissions to assign relevant role to you.
        %br
        = link_to "Read more on role from Converged Cloud documentation", "#{sap_url_for('documentation')}docs/customer/access-management/identity-service/ccroles/", target: :_blank
      %ul
        %li
          %b email_admin:
          email administrator in the project. Can perform any action in the email service.

        %li
          %b email_user:
          email user can send emails, verify identities (domains and email addresses) and manage templates, configsets.
      %br
      = link_to "Fix Roles", plugin('identity').projects_role_assignments_path, data: { modal: false }, class: 'btn btn-primary'
      %br

  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

- else

  %h3= sanitize(@title)
  %p= sanitize(@description, tags: %w(b))

  .bs-callout.bs-callout-info.bs-callout-emphasize
    %h4
      Role assignment missing !
    %p
      Two new roles,
      %code
        email_admin
      and
      <code>email_user</code>, are available to manage the email service.
      From now on you will need one of the role to be able to access email service.
      You can assign these roles to your user or the group you belong to.
      If you do not have permissions, ask your team member who has permissions to assign relevant role to you.
      %br
      = link_to "Read more on role from Converged Cloud documentation", "#{sap_url_for('documentation')}docs/customer/access-management/identity-service/ccroles/", target: :_blank
    %ul
      %li
        %b email_admin:
        email administrator in the project. Can perform any action in the email service.

      %li
        %b email_user:
        email user can send emails, verify identities (domains and email addresses) and manage templates, configsets.
    %br
    = link_to "Fix Roles", plugin('identity').projects_role_assignments_path, data: { modal: false }, class: 'btn btn-primary'
    %br
