- @header_title ||= "Cronus"
- @title ||= "Welcome"
- @description ||= "Initial Setup"

- if modal?
  = content_for :title do
    %span{class: "#{plugin_name}-icon warning-icon"}
    %span.active
      = "#{@header_title} Setup"

  .modal-body

    %h3= sanitize(@title)
    %p= sanitize(@description, tags: %w(b))

    - if ec2_creds.nil? || !ec2_creds
      = render partial: 'email_service/shared/ec2_credentials_creation'
    - if !current_user.has_role?('email_user') && !current_user.has_role?('email_admin') 
      = render partial: 'email_service/shared/role_attention_box'
    - if !email_addresses || email_addresses.empty? 
      = render partial: 'email_service/shared/verified_email_missing'
    - unless nebula_active?
      = render partial: 'email_service/shared/cronus_activation'

    
  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

- else

  %h3= sanitize(@title)
  %p= sanitize(@description, tags: %w(b))

  - if ec2_creds.nil? || !ec2_creds
    = render partial: 'email_service/shared/ec2_credentials_creation'
  - if !current_user.has_role?('email_user') && !current_user.has_role?('email_admin') 
    = render partial: 'email_service/shared/role_attention_box'
  - unless nebula_active?
    = render partial: 'email_service/shared/cronus_activation'
  - if !email_addresses || email_addresses.empty? 
    -# = render partial: 'email_service/shared/verified_email_address.html'
    = render partial: 'email_service/shared/verified_email_missing'