-if form_type == 'edit'
  c_name = @configset.name
= simple_form_for :configset, url: plugin('email_service').configsets_path, method: :post, remote: request.xhr?, html: {id: 'form_configset', data: {modal: true}, class: 'form_horizontal' }, wrapper: :horizontal_form do |f|
  .modal-body
    .modal-falshes
      = render "email_service/shared/flashes.html"
    .row
      .col-sm-8
        -if form_type == 'new'
          = f.input :name, { label: "Name",
            hint: "Enter Configuration Set Name",
            required: true}
        - if form_type == 'edit'
          = f.input :name, { label: "Name",
            value: c_name,
            required: true}
        -#= render partial: 'form_event_destination', locals: { f: f }

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').configsets_path(), class: 'btn btn-default'
    = button_tag "Save", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
