- name_
= f.input :event_configuration, { label: "Name",
    placeholder: "Name",
    required: true}
= f.input :enabled, { label: "Enabled",
    placeholder: "Enabled",
    required: true}
= f.input :matching_event_types_name, { label: "Matching EventType Name",
    placeholder: "Matching EventType Name",
    required: true}
= f.input :kinesis_firehose_destination_iam_role_arn, { label: "Enabled",
    placeholder: "Enabled",
    required: true}
= f.input :kinesis_firehose_destination_delivery_stream_arn, { label: "Name",
    placeholder: "Name",
    required: true}
= f.input :dimension_configurations_0_dimension_name, { label: "Enabled",
    placeholder: "Enabled",
    required: true}
= f.input :dimension_configurations_0_dimension_name, { label: "Dimension name",
    placeholder: "Dimension name",
    required: true}
= f.input :dimension_configurations_0_dimension_value_source, { label: "Dimension_value_Source",
    placeholder: "Dimension_value_Source",
    required: true}
= f.input :dimension_configurations_0_default_dimension_value, { label: "Dimension_value",
    placeholder: "Dimension_value",
    required: true}
= f.input :dimension_configurations_0_default_dimension_value, { label: "sns_destination_topic_arn",
    placeholder: "sns_destination_topic_arn",
    required: true}