= content_for :title do
  Configset details

- unless modal?
  %h3 Configset details

.modal-body.static-columns

  .modal-flashes
    = render "email_service/shared/flashes"
  %h3
    Details

  .show_details
    .row
      .col-md-2
        %b
          Name:
      .col-md-10
        = @configset_description[:configuration_set][:name] if @configset_description
        -#.row
          .col-md-2
            %b
              Event destinations:
          .col-md-10
            = @configset_description[:configuration_set][:event_destinations]
        -#.row
          .col-md-2
            %b
              Tracking options:
          .col-md-10
            = @configset_description[:configuration_set][:tracking_options]
        -#.row
          .col-md-2
            %b
              Delivery options:
          .col-md-10
            = @configset_description[:configuration_set][:delivery_options]
        -#.row
          .col-md-2
            %b
              Reputation options:
          .col-md-10
            = @configset_description[:configuration_set][:reputation_options]

%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('email_service').configsets_path, class: 'btn btn-default'
