=render partial: 'networking/shared/tabs', locals: { tab: 'routers' }

- if @scoped_project_id
  - if current_user.is_allowed?("networking:router_create", tenant_id: @scoped_project_id)
    .toolbar
      .main-buttons
        = link_to 'Create new', plugin('networking').new_router_path, data: {modal: true}, class: 'btn btn-primary'


  %table.table
    %thead
      %tr
        %th Name
        %th Project ID
        %th Status
        %th External Network
        %th External IP / Subnet
        %th.snug
    %tbody
      - if @routers.length==0
        %tr
          %td{colspa: 5} No routers available.
      - else
        - @routers.each do | router |
          %tr{id: "router_#{router.id}", class: "#{'foreign-object' if foreign_router?(router)}"}
            %td= link_to router.name, plugin('networking').router_path(router.id), data: {modal: true}
            %td
              = router.tenant_id
              %br
              %span.info-text= foreign_router?(router) ? 'foreign router' : 'owned by this project'
            %td= router.status
            %td
              - if router.network_object
                = router.network_object.name
                %br
                %span.info-text= router.try(:external_gateway_info).fetch('network_id',nil)
              - else
                = router.try(:external_gateway_info).fetch('network_id',nil)
            %td
              - if router.ip_subnet_objects
                - router.ip_subnet_objects.each do |ip,subnet|
                  = "#{ip} / "
                  %span.info-text= subnet.name

            %td.snug
              .btn-group
                %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
                  %span.fa.fa-cog
                  -# %span.spinner

                %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
                  - if current_user.is_allowed?("networking:router_get", router: router)
                    %li= link_to 'Show', plugin('networking').router_path(id: router.id), data: { modal: true}
                    %li= link_to 'Topology', plugin('networking').router_topology_path(router_id: router.id), data: { modal: true }

                  - if current_user.is_allowed?("networking:router_update", router: router)
                    %li.divider
                    %li= link_to 'Edit', plugin('networking').edit_router_path(id: router.id), data: { modal: true }
                  - if current_user.is_allowed?("networking:router_delete", router: router )
                    %li= link_to 'Delete', plugin('networking').router_path(id: router.id), method: :delete, data: { confirm: 'Are you sure you want to delete this router?', ok: "Yes, delete it", confirmed: :loading_status}, remote: true


- else
  = render "application/projects_list"
