- wrapper = @router.errors.present? ? :horizontal_form_disabled : :horizontal_form
= simple_form_for @router, url: plugin('networking').routers_path, method: :post, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal' }, wrapper: wrapper do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - if @router.errors.present?
      %p.alert.alert-error
        = @router.errors.full_messages.to_sentence + '.'

    = f.input :name
    = f.input :admin_state_up, {label: 'Admin State',
      as:                 :select,
      collection:         [['UP', 'true'],['DOWN', 'false']]}

    = f.simple_fields_for :external_gateway_info do |info|
      = info.input :network_id, {label: "External Network",
        input_html:         {},
        as:                 :select,
        collection:         @external_networks,
        selected:           @router.external_gateway_info,
        required:           true}

    = f.input :internal_subnets, {label: "Internal Networks",
      input_html:         {multiple: true},
      as:                 :select,
      collection:         @internal_subnets,
      selected:           [],
      required:           true}

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", routers_url, class: 'btn btn-default'
    = button_tag "Create", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
