/ = content_for :title do
/   Show

.modal-body
  %ul.nav.nav-tabs
    %li.active{role: "presentation"}= link_to 'Overview', '#overview', aria: {controls:"overview"}, role: "tab", data: {toggle:"tab"}
    %li{role: "presentation"}= link_to 'External Network', '#external_network', aria: {controls:"external_network"}, role: "tab", data: {toggle:"tab"} 

    %li{role: "presentation"}
      = link_to '#internal_networks', aria: {controls:"internal_networks"}, role: "tab", data: {toggle:"tab"} do
        Internal Networks
        %span.badge= @router_interface_ports.length
  
  .tab-content
    .tab-pane.active{role:"tabpanel", id:"overview"}
      %table.table.datatable
        %tbody
          %tr
            %th Name
            %td= @router.name
          %tr
            %th ID
            %td= @router.id
          %tr
            %th Project ID
            %td= @router.tenant_id  
          %tr
            %th Status
            %td= @router.status
          %tr
            %th Admin State
            %td= @router.admin_state_up ? 'UP' : 'DOWN'
        

    .tab-pane{role:"tabpanel", id:"external_network"}
      %table.table.datatable
        %tbody
          %tr
            %th Network Name
            %td= @external_network.name
          %tr
            %th Network ID
            %td= @external_network.id
          %tr
            %th External Fixed IPs
            %td
              %ul
                - @router.external_gateway_info["external_fixed_ips"].each do |data|
                  %li 
                    %b Subnet ID: 
                    = data['subnet_id']
                  %li
                    %b IP
                    = data['ip_address']
 
                    
    .tab-pane{role:"tabpanel", id:"internal_networks"}
      %table.table.datatable
        %thead
          %tr
            %th	Name	
            %th Fixed IPs	
            %th Status	
            %th Type	
            %th Admin State
            
        %tbody   
          - @router_interface_ports.each do |port|
            %tr
              %td= port.network_object.name
              %td
                - (port.fixed_ips || []).each do |fixed_ip|
                  = fixed_ip["ip_address"]
                  %br
                  
              %td= port.status
              %td= port.device_owner
              %td= port.admin_state_up ? 'UP' : 'DOWN'
           
              

- if modal?
  .modal-footer
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
    - else
      = link_to "Close", networks_url(), class: 'btn btn-default'
