%tr
  %td
    = link_to(job.request_id, plugin('automation').job_path(id: job.request_id), data: ({ modal_transition: true } if modal?))
  %td= job.agent
  %td= job.action
  %td= date_humanize(job.created_at)
  %td= job.duration
  %td
    = job_state(job.status)
    
