%ul.nav.nav-tabs
  %li.active{role: "presentation"}= link_to 'Information', '#information', aria: {controls:"information"}, role: "tab", data: {toggle:"tab"} 
  / %li{role: "presentation"}= link_to 'Quota', '#quota', aria: {controls:"quota"}, role: "tab", data: {toggle:"tab"}
  / %li{role: "presentation"}= link_to 'Network', '#network', aria: {controls:"network"}, role: "tab", data: {toggle:"tab"}


.tab-content
  .tab-pane.active{role:"tabpanel", id:"information"} 
    %p
      %fieldset
        = hidden_field_tag :inquiry_id, params[:inquiry_id]
          
        = form.input :name,
          input_html:  { maxlength: 255 },
          placeholder: "Enter name",
          autofocus:   true,
          label:       'Name'
      
        = form.input :description, as: :text
        = form.input :enabled, as: :boolean

  / .tab-pane{role:"tabpanel", id:"quota"}
  /   %p
  /     Metadata Items
  /     VCPUs
  /     Instances
  /     Injected Files
  /     Injected File Content (Bytes)
  /     Volumes
  /     Volume Snapshots
  /     Total Size of Volumes and Snapshots (GB)
  /     RAM (MB)
  /     Floating IPs
  /     Fixed IPs
  /     Security Groups
  /     Security Group Rules
  /
  /
  / .tab-pane{role:"tabpanel", id:"network"}
  /   %p No content yet!     