= hidden_field_tag :inquiry_id, params[:inquiry_id]

- if @project.parent_id and @project.parent_name
  = form.input :parent_name,
    input_html:  { maxlength: 255, value: @project.parent_name },
    disabled:    true,
    label:       'Parent Project'
  = form.input :parent_id, :as => :hidden, :input_html => { value: @project.parent_id }
  = form.input :parent_name, :as => :hidden, :input_html => { value: @project.parent_name }

= form.input :name,
  input_html:  { maxlength: 255 },
  placeholder: "Enter name",
  autofocus:   true,
  label:       'Name'

= form.input :description, { as: :text,
  placeholder: 'Additional information about this project'}
= form.input :enabled, as: :hidden, :input_html => { value: true}

= form.input :lob, label: 'Line of business',
  as:            :grouped_select,
  collection:    @lobs,
  group_method:  :last
