- current_tab = controller.controller_name
= render partial: 'tabs', locals: { current_tab: current_tab}

.toolbar
  .has-feedback.has-feedback-searchable
    = text_field_tag "search_#{current_tab}_images_input", '', class: "form-control", placeholder: 'Image name or ID'

  .has-feedback-help
    %a.help-link{href: "#", data: {toggle: "popover", "popover-type": "help-hint", content: "Searches by image name or ID in visible image list only. Entering a search term will automatically start loading the next pages and filter the loaded items using the search term. Emptying the search input field will show all currently loaded items."}}
      %i.fa.fa-question-circle

= render partial: "image/os_images/#{current_tab}/index_table"

=# render_paginatable(@images)
- if @pagination_has_next
  .ajax-paginate{ data: { ajax_paginate: true, list_selector: "table.#{current_tab}_images tbody", search_input_selector: "#search_#{current_tab}_images_input"} }
