= content_for :title do
  Image: #{@image.name}

- pl = plugin('image')

= simple_modal_form_for @image, url: pl.os_images_public_path(id: @image.id), cancel_url: pl.os_images_public_index_path, cancel_text: 'Close', html: {class: "form-readonly"} do |f|

  .row
    .col-md-6
      = f.input :name, readonly: true

      = f.input :created do
        %div= Core::Formatter.format_modification_time(DateTime.parse(@image.created_at.to_s))

      = f.input :visibility do
        %div
          = @image.visibility
          = icon 'question-circle', class: 'help_icon', data: {toggle: 'tooltip', placement: 'right'}, title: 'A public image is globally visible.'

      = f.input :size, readonly: true, input_html: { value: Core::DataType.new(:bytes).format(@image.size) }


      = f.input :container_format, readonly: true, label: 'Container Format'


    .col-md-6
      = f.input :id, readonly: true, label: 'UUID'

      = f.input :updated do
        %div= Core::Formatter.format_modification_time(DateTime.parse(@image.updated_at.to_s))

      = f.input :protection do
        %div
          = @image.protected ? 'protected' : 'not protected'
          = icon 'question-circle', class: 'help_icon', data: {toggle: 'tooltip', placement: 'right'}, title: 'A protected image can only be edited by an admin.'

      = f.input :status, readonly: true

      = f.input :disk_format, readonly: true, label: 'Disk Format'


  %h5 Additional Properties
  = render partial: 'show_properties', locals: { properties: @properties }
