- @area_services.each do |service|
  - if @area != service
    %h3= t("resource_management.#{service}")
  - if @resource_status[service]
    - @resource_status[service].sort_by { |data| data[:capacity].resource }.each do |resource|
      = render partial: 'bar_row', locals: { overview: false,  data: resource, service: service }
  - else
    .bs-callout
      No #{t("resource_management.#{service}")} Quotas found!
= render partial: 'data_age', locals: { sync_now_url: plugin('resource_management').cloud_admin_sync_now_url }


