- domain_resource = domain_status[:domain_resource]
- data_type       = domain_resource.data_type
- warning_level   = warning_level_for_domain(domain_resource, domain_status[:usage_sum], domain_status[:project_quota_sum])

%tr{ class: warning_level, data: { domain: domain_resource.domain_id, resource: domain_resource.id } }
  %td.col-md-3
    .resource-domain-name
      = domain_status[:name]
  %td.col-md-3
    .resource-approved-quota.input-group.input-group-sm
      = data_type.format(domain_resource.approved_quota)
  %td.col-md-2
    .resource-current-quota
      = data_type.format(domain_status[:project_quota_sum])
  %td.col-md-2
    = data_type.format(domain_status[:usage_sum])
  %td.col-md-2
    .resource-actions
      = link_to 'Edit', '#', class: 'btn btn-primary btn-sm', remote: true

