%table.table.resource-details
  %thead
    %tr
      %th Domain
      %th Approved Quota
      %th Granted to projects
      %th Usage
      %th Edit
  %tbody
    - @domains.each do |domain_status|
      = render partial: 'details_table_row', locals: { domain_status: domain_status }

= paginate @domains, theme: 'twitter-bootstrap-3', remote: true

-# TODO: code duplication with same view for domain_admin controller
= content_for :javascripts do
  :javascript
    function set_approved_quota(button) {
      // resource ID is annotated on the row
      row = $(button).closest('tr');

      $.ajax({
        url: "#{plugin('resource_management').cloud_admin_update_path()}",
        dataType: 'script',
        data: {
          id:    row.data('resource'),
          value: row.find('.resource-approved-quota-edit').val(),
        },
        error: function(xhr) {
          $('.alert-success').css('display','none');
          $('.alert-danger').html(xhr.responseText);
          $('.alert-danger').css('display','block')
        }
      });
    };

    //TODO: generic function name (asking for trouble)
    function cancel(button) {
      // resource ID is annotated on the row
      row = $(button).closest('tr');

      $.ajax({
        url: "#{plugin('resource_management').cloud_admin_cancel_path()}",
        dataType: 'script',
        data: {
          id: row.data('resource'),
        }
      });
    };
        
