%table.table
  %thead
    %tr
      %th.sortable#sortable_name_column
        Domain
        %i.fa.fa-sort-alpha-asc.hide-sort-order
      %th.sortable#sortable_resource_column
        Resource
        %i.fa.fa-sort-alpha-asc.hide-sort-order
      %th.sortable#sortable_domain_quota_column
        Domain quota
        %i.fa.fa-sort-amount-asc.hide-sort-order
      %th.sortable#sortable_projects_quota_column
        Granted to projects
        %i.fa.fa-sort-amount-asc.hide-sort-order
  %tbody
    - @domain_quota_overcommitted.each do |row|
      - data_type = Core::DataType.from_unit_name(row['unit'] || '')
      %tr
        %td
          - domain = row.fetch("domain", {})
          = domain["name"]
          .small.text-muted= domain["id"]
        %td
          = userfriendly_resource_name(row["resource"])
          .small.text-muted= t("resource_management.#{row["service"]}")
        %td= data_type.format(row["domain_quota"])
        %td= data_type.format(row["projects_quota"])
= paginate @domain_quota_overcommitted, theme: 'twitter-bootstrap-3', remote: true
