%table.table
  %thead
    %tr
      %th.project_overspent#project_overspent_name_column
        Project
        %i.fa.fa-sort-alpha-asc.hide-sort-order
      %th.project_overspent#project_overspent_resource_column
        Resource
        %i.fa.fa-sort-alpha-asc.hide-sort-order
      %th.project_overspent#project_overspent_quota_column
        Approved quota
        %i.fa.fa-sort-amount-asc.hide-sort-order
      %th.project_overspent#project_overspent_usage_column
        Usage
        %i.fa.fa-sort-amount-asc.hide-sort-order
  %tbody
    - @project_quota_overspent.each do |row|
      - data_type = Core::DataType.from_unit_name(row['unit'] || '')
      %tr
        %td
          - project = row.fetch("project", {})
          = project.fetch("domain", {}).fetch("name", "") + "/" + project["name"]
          .small.text-muted= project["id"]
        %td
          = userfriendly_resource_name(row["resource"])
          .small.text-muted= t("resource_management.#{row["service"]}")
        %td= data_type.format(row["quota"])
        %td= data_type.format(row["usage"])
= paginate @project_quota_overspent, theme: 'twitter-bootstrap-3', remote: true

= content_for :javascripts do
  :javascript
    #{render partial: 'sort_details_table_script.js', locals: {sortable_table:"project_overspent", path: plugin('resource_management').cloud_admin_inconsistencies_path()}}
