= content_for :title do
  Quota/usage inconsistency report

.modal-body

  %ul.nav.nav-tabs
    %li.active{role: "presentation"}
      = link_to '#inconsistency-dqoc', aria: {controls:"information"}, role: "tab", data: {toggle:"tab"} do
        Domain Quota Overcommitted
        %span.badge= @inconsistencies.fetch('domain_quota_overcommitted', []).length
    %li{role: "presentation"}
      = link_to '#inconsistency-pqo', aria: {controls:"information"}, role: "tab", data: {toggle:"tab"} do
        Project Quota Overspent
        %span.badge= @inconsistencies.fetch('project_quota_overspent', []).length
    %li{role: "presentation"}
      = link_to '#inconsistency-pqm', aria: {controls:"information"}, role: "tab", data: {toggle:"tab"} do
        Project Quota Mismatch
        %span.badge= @inconsistencies.fetch('project_quota_mismatch', []).length
    .pull-right
      %span.loading-place

  .tab-content

    .tab-pane.active{role:"tabpanel", id:"inconsistency-dqoc"}
      #domain_quota_overcommitted_details_table
        = render partial: 'domain_quota_overcommitted_details_table'

    .tab-pane{role:"tabpanel", id:"inconsistency-pqo"}
      #project_quota_overspent_details_table
        = render partial: 'project_quota_overspent_details_table'

    .tab-pane{role:"tabpanel", id:"inconsistency-pqm"}
      #project_quota_mismatch_details_table
        = render partial: 'project_quota_mismatch_details_table'

- if modal?
  .modal-footer
