= content_for(:title, "Details for resource #{@resource}")
.modal-body
  %p.alert.alert-danger{style: "display:none"}
  %div#usage_bars
    = render :partial => "details_usage_bar"

  .row
    .col-md-12
      %h2
        %small Details
      %div{:id => "details_table"}
        = render partial: "details_table"
 
- if modal?
  .modal-footer
    - if @service and @show_all_button
      = link_to "Show all #{t("resource_management.#{@service}")} quotas", plugin('resource_management').cloud_admin_area_path(area: @area), class: 'btn btn-primary btn-sm'
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close



