= content_for(:title, "Details for quota #{@resource_type}")
.modal-body
  .row
    .col-md-2.quota-label
      .text-muted
        Resource usage
    .col-md-10
      .quota
        .quota-current
          %span.text-nowrap
            4000
        .progress
          .progress-bar.progress-bar-quota{:style => "width:28%"} 1000

  .row
    .col-md-2.quota-label
      .text-muted
        Quota usage
    .col-md-10
      .quota
        .quota-approved{:style => "right:25%"} 
          %span.text-nowrap
            Approved quota: 3000
        .quota-current
          %span.text-nowrap
            4000
        .progress
          .progress-bar.progress-bar-danger.progress-bar-quota{:style => "width:75%"} 3500
          .progress-bar.progress-bar-quota.quota-overcommit-danger{:style => "width:12%"}

  %h2
    %small Details

  %table.table
    %thead
      %tr
        %th Domain
        %th approved Quota
        %th current Quota
        %th Usage
        %th Edit
    %tbody
      %tr
        %th bla
        %th 1500
        %th 
          .text-danger 2000
        %th 500
        %th 
          = link_to "Edit", '#', class: 'btn btn-primary btn-xs'
      %tr
        %th sap_default
        %th 1500
        %th 1500
        %th 500
        %th 
          = link_to "Edit", '#', class: 'btn btn-primary btn-xs'
 

- if modal?
  .modal-footer
    - if modal?
      - case @level
      - when "compute"
        = link_to 'Show all compute quotas', plugin('resource_management').cloud_admin_compute_path(), class: 'btn btn-primary btn-sm'
      - when "network"
        = link_to 'Show all network quotas', plugin('resource_management').cloud_admin_network_path(), class: 'btn btn-primary btn-sm'
      - when "storage"
        = link_to 'Show all storage quotas', plugin('resource_management').cloud_admin_storage_path(), class: 'btn btn-primary btn-sm'

      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
   


