= content_for(:title, "Details for resource: #{t("resource_management.#{@service_type}")} > #{userfriendly_resource_name(@resource_name)}")
.modal-body.clearfix
  %p.alert.alert-danger{style: "display:none"}
  #usage_bars
    = render partial: "details_usage_bar"

  %h2
    %small
      Details
      %span.loading-place
  = render partial: "details_foreign_clusters"
  #details_table
    = render partial: "details_table"

- if modal?
  .modal-footer
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

= content_for :javascripts do
  :javascript
    #{render partial: 'sort_details_table_script.js', locals: {sortable_table: "details_table", path: plugin('resource_management').cloud_admin_details_path()}}
