=content_for :title do
  Edit resource: #{t("resource_management.#{@cluster_resource.category.presence || @cluster_resource.service_type}")} &gt; #{userfriendly_resource_name(@cluster_resource)}

=simple_form_for @cluster_resource, url: cloud_admin_update_capacity_path(service: @cluster_resource.service_type, resource: @cluster_resource.name), method: :put, remote: request.xhr?, html: { data: { modal: true } } do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - unless @cluster_resource.errors.empty?
      %p.alert.alert-error= @cluster_resource.errors.full_messages.to_sentence

    %fieldset
      - data_type = @cluster_resource.data_type
      - if data_type.to_sym == :number
        = f.input :capacity, label: 'Available capacity'
      - else
        - previous_value = params[:new_style_resource] ? params[:new_style_resource][:capacity] : nil
        = f.input :capacity, label: 'Available capacity', as: :string, input_html: { value: previous_value || @cluster_resource.capacity.try { |val| @cluster_resource.data_type.format(val) } || '' }
      = f.input :comment, label: 'How did you arrive at this value?'

    %div.buttons{class: modal? ? 'modal-footer' : ''}
      - if modal?
        %button.btn.btn-default{type:"button", data: { dismiss:"modal" }, aria: { label: "Cancel" }} Cancel
      - else
        = link_to "Cancel", plugin('inquiry').inquiries_url(), class: 'btn btn-default'
      %button.btn.btn-primary{type: "submit", data: { disable_with: 'Please wait...'}} Save
