= content_for :title do
  Review Request for more: #{t("resource_management.#{@domain_resource.service_type}")} &gt; #{userfriendly_resource_name(@domain_resource)}

= simple_form_for @domain_resource,
  url: plugin('resource_management').cloud_admin_approve_request_path,
  authenticity_token: true,
  method: :post, remote: request.xhr?, html: { data: { modal: true } } do |f|
  =hidden_field_tag :inquiry_id, params[:inquiry_id]

  %div{class: modal? ? 'modal-body' : ''}
    #usage_bars
      = render partial: 'details_usage_bar'

    %p
      The domain
      %strong= @domain_resource.domain_name
      requests that their quota be extended from
      %strong= @domain_resource.data_type.format(@domain_resource.quota)
      to
      = succeed '.' do
        %strong>= @domain_resource.data_type.format(@desired_quota)
      This will increase quota usage to:

    .row
      .col-md-2.quota-label.text-muted Preview
      .col-md-9= render partial: 'bar', locals: { resource: @cluster_resource_projected }

    - if @desired_quota > @maximum_quota_before_overcommit
      %p.text-danger{style:"margin-top:1rem"}
        This request would exceed the cluster capacity. If you do not want to overcommit capacity, you can only approve a domain quota of
        %strong= @domain_resource.data_type.format(@maximum_quota_before_overcommit)
        or less.

    %fieldset
      - previous_value = params[:new_style_resource] ? params[:new_style_resource][:quota] : nil
      - if @domain_resource.data_type.to_sym == :number
        = f.input :quota, label: 'New domain quota', input_html: { value: previous_value || @desired_quota }
      - else
        - requested_value = @domain_resource.data_type.format(@desired_quota)
        = f.input :quota, label: 'New domain quota', as: :string, input_html: { value: previous_value || requested_value }

      - previous_comment = params[:new_style_resource] ? params[:new_style_resource][:comment] : nil
      = f.input :comment, label: 'Comment', as: :string, input_html: { value: previous_comment, placeholder: 'Optional'}

      - if @desired_quota > @maximum_quota_before_overcommit
        = f.input :accept_overcommit, label: 'I am aware of the consequences of overcommitting this resource.', as: :boolean

  .buttons{class: modal? ? 'modal-footer' : ''}
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    = f.submit 'Approve', class: 'btn btn-primary', data: { disable_with: "Please wait..." }
