=render partial: 'header'
=render partial: 'tabs', locals: { scope: 'cloud_admin', tab: @area.to_s }

.row.quota-row
  .col-md-9
    - @area_services.each do |service|
      - if @area_services.size > 1
        %h3= t("resource_management.#{service}")
      - if @resource_status[service]
        - @resource_status[service].each do |resource|
          = render partial: 'bar_row', locals: { overview: false,  data: resource, service: service }
      - else
        .bs-callout
          No #{t("resource_management.#{service}")} Quotas found!
    = render partial: 'data_age', locals: { sync_now_url: plugin('resource_management').cloud_admin_sync_now_url }
  .col-md-3
    = render partial: 'good_to_know'