= content_for :main_toolbar do
  OpenStack Object Lookup

.row
  .col-md-9
    = simple_form_for @os_object, url: plugin('lookup').show_object_path(id:params[:id]), method: :put, remote: request.xhr?, html: { data: { modal: false }, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

      %div
        = f.input :os_type,
          prompt: 'Select an Object Type',
          as: :select,
          collection: @types,
          include_blank: false,
          label: 'OpenStack Object',
          selected: params[:os_type]

        = f.input :query, required: true, label: 'Object Identifier', input_html: {value: params[:query]}
        = f.hidden_field :lookup_method, value: 'show'

      %div.u-clearfix
        = button_tag 'Look Up', { class: 'btn btn-primary pull-right', data: { disable_with: 'Please wait...' } }


    %section
      - if @friendly_id

        %h4 Friendly ID Info
        %table.table
          %tr
            %th Slug
            %td= @friendly_id.slug

          %tr
            %th Project ID:
            %td= @friendly_id.key

          %tr
            %th Project Name:
            %td= @friendly_id.name

      - elsif params[:os_type] == "friendly_id"
        %p Sorry, couldn't find that friendly ID


  .col-md-3
    = render partial: 'good_to_know'
