= content_for :main_toolbar do
  OpenStack Object Lookup

.row
  .col-md-9
    = simple_form_for @os_object, url: plugin('lookup').show_object_path(id:params[:id]), method: :put, remote: request.xhr?, html: { data: { modal: false }, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

      %div
        = f.input :os_type,
          prompt: 'Select an Object Type',
          as: :select,
          collection: @types,
          include_blank: false,
          label: 'OpenStack Object'
        = f.input :query, required: true, label: 'Object Identifier'
        = f.hidden_field :lookup_method, value: 'show'

      %div
        = button_tag 'Look Up', { class: 'btn btn-primary pull-right', data: { disable_with: 'Please wait...' } }

  .col-md-3
    = render partial: 'good_to_know'
