- id = domain_item[:id]
- identity = domain_item[:identity_name]
.btn-group
  %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true } }
    %span.fa.fa-cog
  %ul.dropdown-menu.dropdown-menu-right{ role:"menu" }
    -# %li= link_to 'Show details', plugin('email_service').domain_verification_path(id: id, identity_name: identity, action_from_show: show_view), data: {modal: true}
    -# if domain_item[:dkim_verification_status] != ("Success" || "Pending")
      %li= link_to 'Verify DKIM', plugin('email_service').verify_dkim_domain_verification_path(id: id, identity_name: identity, action_from_show: show_view), method: :post
    -# if domain_item[:dkim_enabled]
      %li= link_to 'Disable DKIM', plugin('email_service').deactivate_dkim_domain_verification_path(id: id, identity_name: identity, action_from_show: show_view), method: :post
    -# else
      %li= link_to 'Enable DKIM', plugin('email_service').activate_dkim_domain_verification_path(id: id, identity_name: identity, action_from_show: show_view), method: :post
    - if current_user.is_allowed?("email_service:verified_email_delete", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
      %li= link_to 'Delete', plugin('email_service').domain_verification_path(id: id, identity_name: identity, action_from_show: show_view), method: :delete, data: { confirm: "Are you sure you want to remove this domain '#{identity}'?", ok: "Yes, remove it", confirmed: :loading_status}
