- is_edit_form = form_type == 'edit' ? true : false
- domain_name_hint = is_edit_form ? "cannot edit domain name. delete and create another domain if name is to be changed." : "enter name"

= f.input :identity_name, required: true, icon_hint: domain_name_hint
= f.input :dkim_type,  as: :select, input_html: {data: {toggle: 'dkimTypeSwitch'}}, collection: @dkim_types, label: "DKIM type"

%hr
  = render partial: 'byo_dkim', locals: {f:f}
  = render partial: 'easy_dkim', locals: {f:f}

- if configset_names && !configset_names.empty?
  = f.input :configuration_set_name, label: "Configset Name", input_html: {}, as: :select, collection: configset_names
