- identity = domain_item[:identity]
- status = domain_item[:dkim_verification_status]
%tr
  %td
    = domain_item[:id]
  %td
    - if status == "Pending"
      %a{ href: "#", title: "You need to create a TXT record for your domain. Click on the domain link for more details.", data: { toggle: "tooltip", html: true} }
        %i.fa.fa-question-circle-o
    = link_to domain_item[:identity], plugin('email_service').domain_verification_path(id: domain_item[:id], identity: domain_item[:identity]), data: {modal: true}
  %td
    = domain_item[:status]
  %td
    = domain_item[:dkim_enabled]
  %td
    = domain_item[:dkim_verification_status]
  %td.snug
    - if current_user.is_allowed?("email_service:verified_domain_delete", {target: { domain_item: domain_item, project: @active_project, scoped_domain_name: @scoped_domain_name}}) or current_user.is_allowed?("email_service:verified_domain_update", {})
      = render partial: 'domain_item_actions', locals: { domain_item: domain_item, show_view: false }