- identity = all_domain[:identity]
%tr
  %td
    = all_domain[:id]
  %td
    = all_domain[:identity]
  %td
    = all_domain[:status]
  %td
    = all_domain[:dkim_enabled]
  %td
    = all_domain[:dkim_verification_status]
  %td.snug
    - if current_user.is_allowed?("email_service:verified_domain_delete", {target: { all_domain: all_domain, project: @active_project, scoped_domain_name: @scoped_domain_name}}) or current_user.is_allowed?("email_service:verified_domain_update", {})
      = render partial: 'domain_item_actions', locals: { all_domain: all_domain, show_view: false }