= content_for :title do
  Edit Verified Domain
- url = plugin('email_service').domain_verifications_path((id: params[:id],identity_name: params[:identity_name]))
- unless modal?
  %h3  Edit Verified Domain
= simple_form_for @verified_domain, as: :verified_domain, url: url, method: :put, remote: request.xhr?, html: {id: 'form_verified_domain_edit', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  .modal-body.static-columns
    .modal-flashes
      = render "email_service/shared/flashes.html"
    = render partial: 'form', locals: { f: f, form_type: 'edit' }
    %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').domain_verifications_path(), class: 'btn btn-default'

    = button_tag "Verify domain", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
