=content_for :main_toolbar do
  Email Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav', formats: :html, locals: { pane: 'verified-domains' }

.tab-content
  .tab-pane.active{ role:"tabpanel", id:"verified-domains-pane" }
    %h3
      Verified Domains
    .row
      .col-sm-9
        .toolbar
          - if current_user.is_allowed?('email_service:verified_domain_create')
            .main-buttons
              = link_to "Verify a domain", plugin('email_service').new_domain_verification_path, data: {modal: true}, class: 'btn btn-primary'
        .js-table-verified-domain
          = render partial: 'table_verified_domains', locals: { domains: domains }

      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            You need to have one or more Verified identities (Domain) in order to send an Email from Cronus. More information on Cronus Email Service can be found
            %b
              = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service", :target => "_blank"
          \.
