=content_for :main_toolbar do
  Email Service
  .placeholder-div

= simple_form_for @verified_domain, as: :verified_domain, url: plugin('email_service').domain_verifications_path, method: :post, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal' } do |f|
  .modal-body
    %div{class: modal? ? 'modal-body' : ''}
      = f.input :identity, required: true
      = f.input :dkim_enabled,  as: :boolean, checked_value: true, unchecked_value: false, label: "Enable DKIM"
    %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').domain_verifications_path(), class: 'btn btn-default'
    = button_tag "Verify domain", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
