= content_for :title do
  Identity details
Verified Identity
.modal-body.static-columns
  .modal-section.first
    %h3
      Details

    - if @verified_domain
      %table.table
        %tr
          %td
            %strong Identity:
          %td
            =@verified_domain[:identity_name]
        %tr
          %td
            %strong Identity type:
          %td
            =@verified_domain[:identity_type]
        %tr
          %td
            %strong sending_enabled:
          %td
            =@verified_domain[:sending_enabled]
        %tr
          %td
            %strong verification_status:
          %td
            =@verified_domain[:verification_status]     
        %tr
          %td
            %strong feedback_forwarding_status:
          %td
            =@verified_domain[:feedback_forwarding_status]
        %tr
          %td
            %strong Verified_for_sending_status:
          %td
            =@verified_domain[:verified_for_sending_status]
        - if @verified_domain[:dkim_attributes]
          %tr
            %td
              %strong dkim_attributes:
            %td
              =@verified_domain[:dkim_attributes].inspect
          %tr
            %td
              %strong status:
            %td
              =@verified_domain[:dkim_attributes][:status]
          %tr
            %td
              %strong tokens:
            %td
              =@verified_domain[:dkim_attributes][:tokens]
          %tr
            %td
              %strong signing_attributes_origin:
            %td
              =@verified_domain[:dkim_attributes][:signing_attributes_origin]
          %tr
            %td
              %strong current_signing_key_length:
            %td
              =@verified_domain[:dkim_attributes][:current_signing_key_length].inspect
          %tr
            %td
              %strong next_signing_key_length:
            %td
              =@verified_domain[:dkim_attributes][:next_signing_key_length].inspect
          %tr
            %td
              %strong last_key_generation_timestamp:
            %td
              =@verified_domain[:dkim_attributes][:last_key_generation_timestamp].inspect
        %tr
          %td
            %strong mail_from_attributes:
          %td
            =@verified_domain[:mail_from_attributes].inspect
        %tr
          %td
            %strong policies:
          %td
            =@verified_domain[:policies]
        %tr
          %td
            %strong tags:
          %td
            =@verified_domain[:tags].inspect
        %tr
          %td
            %strong configuration_set_name:
          %td
            =@verified_domain[:configuration_set_name].inspect
        %hr
        -#
          %tr
            %td
              %strong Verification Token:
              %a{ href: "#", title: "You need to create a TXT record for your domain using this token displayed here.", data: { toggle: "tooltip", html: true} }
                %i.fa.fa-question-circle-o
            %td
              =@verified_domain[:tokens]
          %tr
            %td
              %strong Status:
            %td
              =@verified_domain[:status]
          %tr
            %td
              %strong DKIM Tokens:
            %td
              =@verified_domain.dkim_tokens
          %tr
            %td
              %strong DKIM Enabled:
            %td
              =@verified_domain.dkim_enabled
          %tr
            %td
              %strong DKIM Verification Status:
            %td
              =@verified_domain.dkim_verification_status

%hr
-# if @verified_domain[:dkim_tokens]
  Create the following CNAME DNS records.
  %table.table.table-striped
    %th Name
    %th Type
    %th Content
  - @verified_domain[:dkim_tokens].each  do |token|
    %tr
      %td
      = "#{token}._domainkey.#{@verified_domain[:identity]}"
      %td
        CNAME
      %td
      = "#{token}.dkim.amazonses.com."

%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('email_service').domain_verifications_url(), class: 'btn btn-default'
