- if @aws_account_details
  %table.table.table-striped
    %tr
      %td Dedicated ip auto warmup enabled
      %td
        = @aws_account_details[:dedicated_ip_auto_warmup_enabled]
    %tr
      %td Enforcement Status
      %td
        = @aws_account_details[:enforcement_status]
    %tr
      %td Production access enabled ?
      %td
        = @aws_account_details[:production_access_enabled]
    %tr
      %td Send Quota - max 24 hour send
      %td
        = @aws_account_details[:send_quota][:max_24_hour_send]
    %tr
      %td Send Quota - max send rate
      %td
        = @aws_account_details[:send_quota][:max_send_rate]
    %tr
      %td Send Quota - sent last 24 hours
      %td
        = @aws_account_details[:send_quota][:sent_last_24_hours]
    %tr
      %td Sending enabled ?
      %td
        = @aws_account_details[:sending_enabled]
    %tr
      %td Suppression attributes - suppressed reasons
      %td
        = @aws_account_details[:suppression_attributes][:suppressed_reasons]
    %tr
      %td Mail type
      %td
        = @aws_account_details[:details][:mail_type]
    %tr
      %td Website url
      %td
        = @aws_account_details[:details][:website_url]
    %tr
      %td Contact Language
      %td
        = @aws_account_details[:details][:contact_language]
    %tr
      %td Usecase description
      %td
        = @aws_account_details[:details][:use_case_description]
    %tr
      %td Additional contact email addresses
      %td
        = @aws_account_details[:details][:additional_contact_email_addresses]
    %tr
      %td Review details - status
      %td
        = @aws_account_details[:details][:review_details][:status]
    %tr
      %td Case ID
      %td
        = @aws_account_details[:details][:review_details][:case_id]
