=content_for :main_toolbar do
  Email Service - AWS SES (Cronus)
= render partial: 'email_service/shared/nav', locals: {pane: 'settings'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"settings-pane"}
    %h2
      Settings
    .row
      .col-sm-9
        %h3 Multicloud Account
        = render partial: 'multicloud'
        %br
        %h3 EC2 Credentials
        .toolbar
          .main-buttons
          - if ec2_creds_collection && ec2_creds_collection.size > 1
            = link_to "Manage EC2 Credentials", plugin('email_service').ec2_credentials_path, class: 'btn btn-primary'
        %br
        = render partial: 'ec2_creds'
        %br
        %h3 AWS Account
        = render partial: 'aws_account'
        %br
        %h3 Deliverability options
        = render partial: 'deliverability_dashboard_options'
      .col-sm-3
        .bs-callout.bs-callout-primary.toolbar-aligment
          %p
            Here you can find information about Cronus Endpoint and AWS Credentials to interact with cronus programmatically. More information can be found
            = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/overview/", :target => "_blank"
            and you can find How-To guides
            = link_to "here", "#{sap_url_for('documentation')}docs/customer/services/email-service/email-serv-howto/", :target => "_blank"
            \.
