- protos = {}
- @listeners.each do |l|
  - l.name = "#{name_or_id(l.name, l.id)} (#{l.protocol})"
  - protos[l.id] = l.protocol == 'TERMINATED_HTTPS' ? 'HTTP' : l.protocol

%fieldset
  = f.input :name, required: false
  = f.input :description
  = f.input :lb_algorithm, as: :select, collection: Lbaas::Pool::ALGORITHMS, required: true
  = f.input :protocol, as: :select, collection: @protocols, required: true,  disabled: update
  = f.input :session_persistence_type, as: :select, collection: Lbaas::Pool::SESSION_PERSISTENCE_TYPES  #, disabled: update
  = f.input :session_persistence_cookie_name, label: 'Cookie Name', required: true, wrapper_html: {class: ("hidden" unless @pool.session_persistence_type == 'APP_COOKIE')} #, disabled: update
  - if @pool.listener_id
    = f.input :listener_id, as: :select, collection: @listeners, selected: @pool.listener_id, disabled: update, label: 'Default Pool for Listener'
  - else
    = f.input :listener_id, as: :select, collection: @listeners, disabled: update, label: 'Default Pool for Listener'
  = f.input :loadbalancer_id, readonly: true, label: 'Load Balancer', input_html: { value: name_or_id(@loadbalancer.name, @loadbalancer.id, 30) }

=content_for :javascripts do
  :javascript
    protodata = #{protos.to_json.html_safe};
