#pool
  .toolbar.toolbar-aligntop
    %h4
      Pool

    - if current_user.is_allowed?('lbaas:resource_update', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
      .main-buttons
        = link_to 'Edit', plugin('lbaas').edit_loadbalancer_pool_path(id: pool.id, loadbalancer_id: loadbalancer.id), data: {modal: true}, class: 'btn btn-primary btn-sm'

  - if pool.blank?
    %table.table
      %thead
      %tbody
        %tr
          %td
            No Pool defined
  - else
    %table.table
      %thead
      %tbody
        %tr
          %th States
          %td
            %label{class: 'spinner', data: {op_status: "#{pool.id}"}}
            %label{class: 'spinner', data: {prov_status: "#{pool.id}"}}
        %tr
          %th Name/ID
          %td= name_or_id(pool.name, pool.id)
        %tr
          %th Description
          %td= description(pool.description)
        %tr
          %th Load Balancing Algorithm
          %td= pool.lb_algorithm
        %tr
          %th Protocol
          %td= pool.protocol
        - unless pool.session_persistence_type.blank?
          %tr
            %th Session Persistence Type
            %td= pool.session_persistence_type
          - unless pool.session_persistence_cookie_name.blank?
            %tr
              %th Session Persistence Cookie Name
              %td= description(pool.session_persistence_cookie_name)
        %tr
          - if listener
            %th Assigned to Listener
            %td= link_to name_or_id(listener.name, listener.id), plugin('lbaas').loadbalancer_listener_path(loadbalancer_id: loadbalancer.id, id: listener.id), data: {modal: true}
          - else
            %th Assigned to Loadbalancer
            %td= link_to name_or_id(loadbalancer.name, loadbalancer.id), plugin('lbaas').loadbalancer_path(id: loadbalancer.id), data: {modal: true}
