=content_for :main_toolbar do
  web test
= render partial: 'email_service/shared/nav', formats: :html, locals: {pane: 'test'}

.tab-content
  .tab-pane.active{role:"tabpanel", id:"test-pane"}
    %h3 Test functions
  .row
    .col-sm-9
      .toolbar
        - if current_user.is_allowed?('email_service:template_create')
          .main-buttons
            = link_to "New Template", plugin('email_service').new_template_path, data: {modal: true}, class: 'btn btn-primary'
      %br
      - if @nebula_details
        %h3 MultiCloud Account details
        %table.table.table-striped
          - @nebula_details.each do |k, v|
            %tr
              %td
                =k
              %td
                =v
          %tr
            %td Nebula endpoint
            %td
              = nebula_endpoint_url
          %tr
            %td Cronus endpoint
            %td
              = @email_service_url
          %tr
            %td Nebula activated ?
            %td
              = nebula_active?
      - else
        %p Cronus is not enabled on this project.
      - if @aws_account_details
        %h3 AWS SES account details
        %table.table.table-striped
          %tr
            %td Dedicated ip auto warmup enabled
            %td
              = @aws_account_details[:dedicated_ip_auto_warmup_enabled]
          %tr
            %td Enforcement Status
            %td
              = @aws_account_details[:enforcement_status]
          %tr
            %td Production access enabled ?
            %td
              = @aws_account_details[:production_access_enabled]
          %tr
            %td Send Quota - max 24 hour send
            %td
              = @aws_account_details[:send_quota][:max_24_hour_send]
          %tr
            %td Send Quota - max send rate
            %td
              = @aws_account_details[:send_quota][:max_send_rate]
          %tr
            %td Send Quota - sent last 24 hours
            %td
              = @aws_account_details[:send_quota][:sent_last_24_hours]
          %tr
            %td Sending enabled ?
            %td
              = @aws_account_details[:sending_enabled]
          %tr
            %td Suppression attributes - suppressed reasons
            %td
              = @aws_account_details[:suppression_attributes][:suppressed_reasons]
          %tr
            %td Mail type
            %td
              = @aws_account_details[:details][:mail_type]
          %tr
            %td Website url
            %td
              = @aws_account_details[:details][:website_url]
          %tr
            %td Contact Language
            %td
              = @aws_account_details[:details][:contact_language]
          %tr
            %td Usecase description
            %td
              = @aws_account_details[:details][:use_case_description]
          %tr
            %td Additional contact email addresses
            %td
              = @aws_account_details[:details][:additional_contact_email_addresses]
          %tr
            %td Review details - status
            %td
              = @aws_account_details[:details][:review_details][:status]
          %tr
            %td Case ID
            %td
              = @aws_account_details[:details][:review_details][:case_id]
      - if @templates
        %h3 Email templates
        %table.table.table-striped
          - @templates.each do |k|
            %tr
              %td ID
              %td
                =k[:id]
            %tr
              %td Name
              %td
                =k[:name]
            %tr
              %td Subject
              %td
                =k[:subject]
            %tr
              %td Html Part
              %td
                =k[:html_part]
            %tr
              %td Text Part
              %td
                =k[:text_part]

      .js-table-templates-list
        -# = render partial: 'templates/table_templates', locals: {templates: @templates}
      .js-table-cloudwatch-list
        = render partial: 'cloud_watch', locals: {}
    .col-sm-3
      .bs-callout.bs-callout-primary.toolbar-aligment
        %p
          %center
            Templates in use
            %br
            %b
              = @templates.count if @templates
              out of 10000
          %br
          %center
            Max Template Size
            %br
            %b
              500 KB
          %br
          %hr
          Templates are useful when you wish to send customized Emails to your recipients. These templates include a subject line, and the TEXT and HTML parts of the email body. The subject and body sections may also contain unique values that are personalized for each recipient. More on
          %b
            = link_to "Email Templates", "https://docs.aws.amazon.com/ses/latest/dg/send-personalized-email-api.html", :target => "_blank"
