.row
  = render partial: 'resource_name', locals: { resource: resource, scope: 'resources', overview: overview }

  .col-md-6
    - if resource.burst_usage > 0
      - dt = resource.data_type
      - maximum = (resource.quota + (resource.quota * @project.bursting_multiplier)).to_i
      = resource_bar(fill: { value: resource.usage, label: "#{dt.format(resource.quota)}+#{dt.format(resource.burst_usage)}" }, maximum: { value: maximum, label: 'max burst: $VALUE'}, data_type: resource.data_type, threshold: { value: resource.quota, label:'quota: $VALUE' })
    - else
      = resource_bar(fill: resource.usage, maximum: resource.quota, data_type: resource.data_type)

    - if resource.backend_quota != nil
      %p.text-danger.quota-warning
        %i.fa.fa-lg.fa-warning
        Backend quota (#{resource.data_type.format(resource.backend_quota)}) deviates from approved quota (#{resource.data_type.format(resource.quota)})!

  .col-md-4
    - if current_user.is_allowed?('resource_management:project_resource_new_request')
      - if @has_requested_package
        = link_to 'Request more', '#', class: 'btn btn-primary btn-sm disabled'
      - elsif resource.externally_managed?
        = link_to 'Request more', '#', disabled: true, class: 'btn btn-default btn-sm', title: 'Externally Managed', data: { toggle: 'popover', placement: 'right', content: 'The resource is flagged as externally managed. No configuration possible.' }
      - else
        = link_to 'Request more',plugin('resource_management').resources_new_request_path(service: resource.service_type, resource: resource.name), data: {modal: true}, class: 'btn btn-primary btn-sm'
    - if current_user.is_allowed?('resource_management:project_resource_confirm_reduce_quota') and not @index
      - if resource.externally_managed?
        = link_to 'Reduce', '#', disabled: true, class: 'btn btn-default btn-sm', title: 'Externally Managed', data: { toggle: 'popover', placement: 'right', content: 'The resource is flagged as externally managed. No configuration possible.' }
      - elsif resource.quota > 0 && resource.quota > resource.usage
        = link_to 'Reduce',plugin('resource_management').resources_confirm_reduce_quota_path(service: resource.service_type, resource: resource.name), data: {modal: true}, class: 'btn btn-primary btn-sm'
      - else
        = link_to 'Reduce', '#', class: 'btn btn-default btn-sm disabled'
