.row
  .col-md-2.quota-label
    .text-muted
      - if overview
        = link_to t("resource_management.#{data.name}"), plugin('resource_management').send("resources_area_path", data.attributes[:area])
      - else
        = t("resource_management.#{data.name}")
      - if overview
        .small
          .small= t(data.service)

  .col-md-7
    - display_unit   = data.attributes[:display_unit] || 1
    - usage          = data.usage
    - current_quota  = data.current_quota
    - approved_quota = data.approved_quota
    -# to render the warning in good_to_know partial
    - @warning       = true if current_quota > approved_quota or current_quota == -1

    - if current_quota >= 0
      -# case 1: finite current quota
      = resource_bar( fill: usage, maximum: current_quota, threshold: { value: approved_quota, label: "Approved quota: $VALUE" }, display_unit: display_unit )
    - else
      = resource_bar( fill: usage, maximum: { value: -1, label: "Quota currently unlimited" }, threshold: { value: approved_quota, label: "Approved quota: $VALUE" }, display_unit: display_unit )

  .col-md-1.quota-request-more
    = link_to 'Details', '#', class: 'btn btn-primary btn-sm', title: 'open related service'
  .col-md-1.quota-request-more
    - if data.current_quota >= 0
      = link_to 'Request more',plugin('resource_management').resources_request_path(:service => data.service, :resource => data.name ), data: {modal: true}, class: 'btn btn-primary btn-sm'
    - else
      = link_to 'Request more','#', class: 'btn btn-primary btn-sm disabled'
