.row
  .col-md-2.quota-label
    .text-muted
      - if overview
        = link_to t("resource_management.#{data.name}"), plugin('resource_management').resources_area_path(area: data.attributes[:area])
      - else
        - case @area
          - when :storage
            = link_to t("resource_management.#{data.name}"), '#', data: { confirm: "storage service not implemented yet." }, title: "open #{data.name} service"
          - when :compute
            = link_to t("resource_management.#{data.name}"), plugin('compute').instances_path(), title: "open #{data.name} service"
          - when :network
            = link_to t("resource_management.#{data.name}"), plugin('networking').networks_path(), title: "open #{data.name} service"
          - else
            = t("resource_management.#{data.name}")
      - if overview
        .small
          .small= t(data.service)

  .col-md-7
    - data_type      = data.attributes[:data_type]
    - usage          = data.usage
    - current_quota  = data.current_quota
    - approved_quota = data.approved_quota
    -# to render the warning in good_to_know partial
    - @warning       = true if current_quota > approved_quota or current_quota == -1

    - if current_quota >= 0
      = resource_bar(fill: usage, maximum: current_quota, threshold: { value: approved_quota, label: "Approved quota: $VALUE" }, data_type: data_type)
    - else
      = resource_bar(fill: usage, maximum: { value: -1, label: "Quota currently unlimited" }, threshold: { value: approved_quota, label: "Approved quota: $VALUE" }, data_type: data_type)

  .col-md-1.quota-request-more
    - if data.current_quota >= 0
      = link_to 'Request more',plugin('resource_management').resources_request_path(:service => data.service, :resource => data.name ), data: {modal: true}, class: 'btn btn-primary btn-sm'
    - else
      = link_to 'Request more','#', class: 'btn btn-primary btn-sm disabled'
