= render partial: 'message'

- @view_services.sort_by { |srv| t("resource_management.#{srv.type}") }.each do |service|
  - if service.type.to_s != @area.to_s
    -# show service type if not equal to area name
    -# (this means that a service named like its area should always be at the top)
    %h3= t("resource_management.#{service.type}")
  - resources = service.resources
  - if resources.empty?
    .bs-callout
      No #{t("resource_management.#{service.type}")} quotas found!
  - else
    - resources.map(&:category).uniq.each do |category|
      - if category != :""
        %h3= t("resource_management.#{category.to_s}")
      - resources.select { |res| res.category == category }.each do |res|
        = render partial: 'bar', locals: { resource: res, overview: false }

- if current_user.is_allowed?('resource_management:project_resource_sync_now') and @view_services.map(&:updated_at).min < 1.minute.ago
  = render layout: 'data_age' do
    = render partial: 'sync_now_button'
- else
  = render partial: 'data_age'
