- @area_services.each do |service|
  - if service.name.to_s != @area.to_s
    -# show service name if not equal to area name
    -# (this means that a service named like its area should always be at the top)
    %h3= t("resource_management.#{service.name}")
  - resources = @resources.select { |r| r.config.service.name == service.name }.sort_by(&:name)
  - if resources.empty?
    .bs-callout
      No #{t("resource_management.#{service.name}")} quotas found!
  - else
    - resources.each do |res|
      = render partial: 'bar', locals: { resource: res, overview: false }

- if current_user.is_allowed?('resource_management:project_resource_sync_now')
  = render partial: 'data_age', locals: { sync_now_url: plugin('resource_management').resources_sync_now_path }
- else
  = render partial: 'data_age'
