= content_for :title do
  Reduce Quota: #{t("resource_management.#{@resource.category.presence || @resource.service_type}")} &gt; #{userfriendly_resource_name(@resource)}

=simple_form_for @resource, url: resources_reduce_quota_path(service: @resource.service_type, resource: @resource.name), method: :post, remote: request.xhr?, html: { data: { modal: true } }, wrapper: :horizontal_form do |f|

  %div{class: modal? ? 'modal-body' : ''}

    - unless @resource.errors.empty?
      %p.alert.alert-error= @resource.errors.full_messages.to_sentence

    %fieldset
      - if @resource.data_type.to_sym == :number
        = f.input :quota,
            label: 'Reduce your quota to',
            input_html: { value: @resource.usage},
            icon_hint:  "Your current quota is #{@resource.quota} and you are using #{@resource.usage} #{userfriendly_resource_name(@resource)} in your project"
      - else
        - current_usage = @resource.data_type.format(@resource.usage)
        - previous_value = params[:new_style_resource] ? params[:new_style_resource][:quota] : nil
        = f.input :quota,
          label: 'Reduce your quota to',
          as: :string,
          input_html: { value: previous_value || current_usage },
          icon_hint:  "Your current quota is #{@resource.data_type.format(@resource.quota)} and you are using #{current_usage} of #{userfriendly_resource_name(@resource)} in your project"

  .buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: { dismiss:"modal" }, aria: { label: "Cancel" }} Cancel
    - else
      = link_to "Cancel", data: {dismiss:"modal"}, class: 'btn btn-default'
    %button.btn.btn-primary{type: "submit", data: { disable_with: 'Please wait...'}} Reduce
