=render partial: 'header'

- if !current_user.is_allowed?('resource_management:project_resource_new_request')
  .bs-callout.bs-callout-info.bs-callout-emphasize
    We have recently implemented a more fine-grained permission system for resource management. From now on you need the
    %code resource_admin
    role to request more quota.

=render partial: 'tabs', locals: { scope: 'resources', tab: 'overview' }
=render partial: 'offer_package_request'
=render partial: 'resource_bar_debugger'

.row.quota-row
  .col-md-9
    -if @critical_resources.blank? and @nearly_full_resources.blank?
      .bs-callout.bs-callout-info
        No signs of critical resource usage found.

    - @critical_resources.sort_by { |r| [ r.name, r.service_type ] }.each do |res|
      = render partial: 'bar', locals: { resource: res, overview: true }
    - unless @nearly_full_resources.empty?
      %h3 Current quota nearly used up
      - @nearly_full_resources.sort_by { |r| [ r.name, r.service_type ] }.each do |res|
        = render partial: 'bar', locals: { resource: res, overview: true }

    - if current_user.is_allowed?('resource_management:project_resource_sync_now') && @view_services && @view_services.map(&:updated_at).select{|timestamp| !timestamp.blank?}.min < 1.minute.ago
      = render layout: 'data_age' do
        = render partial: 'sync_now_button'
    - else
      = render partial: 'data_age'
  .col-md-3
    = render partial: 'good_to_know'

- content_for :javascripts do
  :javascript
    $(function() {
      $('[data-toggle=popover]').popover();
    });
