=render partial: 'header'
=render partial: 'tabs', locals: { scope: 'resources', tab: 'overview' }
=render partial: 'offer_package_request'

.row.quota-row
  .col-md-9
    - @critical_resources.sort_by { |r| [ r.name, r.config.service.name ] }.each do |res|
      = render partial: 'bar', locals: { resource: res, overview: true }
    - unless @nearly_full_resources.empty?
      %h3 Current quota nearly used up
      - @nearly_full_resources.sort_by { |r| [ r.name, r.config.service.name ] }.each do |res|
        = render partial: 'bar', locals: { resource: res, overview: true }

    - if current_user.is_allowed?('resource_management:project_resource_sync_now')
      = render partial: 'data_age', locals: { sync_now_url: plugin('resource_management').resources_sync_now_path }
    - else
      = render partial: 'data_age'
  .col-md-3
    = render partial: 'good_to_know'
