= content_for :title do
  Request quota package

%div{ class: modal? ? 'modal-body' : '' }

  - unless @show_package_request_banner
    %p
      %span.label.label-info Note
      &nbsp;A package request can only enlarge quotas. It will never reduce any of your quotas below the already-approved level.

  %table.table.table-hover.package-comparison.without-insignificant
    %thead
      %tr
        %th &nbsp;
        - ResourceManagement::PackageConfig::PACKAGES.each do |pkg|
          %th= t("resource_management.packages.#{pkg}")
    %tbody
      - prev_service = ''
      - ResourceManagement::ResourceConfig.all.each do |res|
        %tr{ class: res.significant? ? 'significant' : 'insignificant' }
          %td.resource-name= t("resource_management.#{res.service.name}") + " > " + t("resource_management.#{res.name}")
          - ResourceManagement::PackageConfig::PACKAGES.each do |pkg|
            %td= res.data_type.format(res.value_for_package(pkg))
      %tr
        %td
          %a{ href: "javascript:void(0)", onclick: "$('.package-comparison').toggleClass('with-insignificant without-insignificant')" }
            %span.insignificant Less Details
            %span.not-insignificant More Details
        - ResourceManagement::PackageConfig::PACKAGES.each do |pkg|
          %td
            = form_tag plugin('resource_management').resources_create_package_request_path(package: pkg), method: "post", remote: true do
              = submit_tag 'Request', class: 'btn btn-primary btn-sm', data: { disable_with: 'Please wait...'}
            =# link_to 'Request', plugin('resource_management').resources_create_package_request_path(package: pkg), class: 'btn btn-primary btn-sm', method: 'POST', remote: true, data: { disable_with: 'Please wait...'}

:javascript
  $(function() {
    $.get("#{escape_javascript(plugin('resource_management').resources_initial_sync_path())}");
  });
