= content_for :title do
  Request quota package

%div{ class: modal? ? 'modal-body' : '' }

  - unless @show_package_request_banner
    %p
      %span.label.label-info Note
      &nbsp;A package request can only enlarge quotas. It will never reduce any of your quotas below the already-approved level.

  %table.table.table-hover.package-comparison.without-insignificant
    %thead
      %tr
        %th &nbsp;
        - ResourceManagement::Package.all.each do |pkg|
          %th= t("resource_management.packages.#{pkg.key}")
    %tbody
      - prev_service = ''
      - @project.resources.each do |res|
        %tr{ class: ResourceManagement::Package.significant?(res.service_type, res.name) ? 'significant' : 'insignificant' }
          %td.resource-name= t("resource_management.#{res.category.presence || res.service_type}") + " > " + userfriendly_resource_name(res)
          - ResourceManagement::Package.all.each do |pkg|
            %td= res.data_type.format(pkg.quota(res.service_type, res.name))
      %tr
        %td
          %a{ href: "javascript:void(0)", onclick: "$('.package-comparison').toggleClass('with-insignificant without-insignificant')" }
            %span.insignificant Less Details
            %span.not-insignificant More Details
          - ResourceManagement::Package.all.each do |pkg|
            %td
              = form_tag plugin('resource_management').resources_create_package_request_path(package: pkg.key), method: "post", remote: true do
                = submit_tag 'Request', class: 'btn btn-primary btn-sm', data: { disable_with: 'Please wait...'}
