= render :partial => 'header'
%ul{:class => "nav nav-tabs"}
  = render :partial => 'tabs', :locals => { :tab => @area.to_s }

.row.quota-row
  .col-md-9
    - @area_services.each do |service|
      - if service != @area
        -# show service name if not equal to area name (this means that a service
        -# (this means that a service named like its area should always be at the top)
        %h3= t(service)
      - resources = @resources.select { |r| r.service == service.to_s }.sort_by { |r| r.name }
      - if resources.empty?
        .bs-callout
          No #{t(service)} Quotas found!
      - else
        - resources.each do |resource|
          = render :partial => 'bar', :locals => { :overview => false,  :data => resource }
  .col-md-3
    = render :partial => 'good_to_know', :locals => { :tab => @area.to_s }
