- members.each do |member|
  %tr{id: "member_#{member.id}"}
    %td
      - if member.address and !member.errors
        %input{ name: "servers[][address]", value: "#{member.address}", readonly: true }
      - else
        %input{ id: 'ip', name: "servers[][address]", value: "#{member.address}", required: true }
      -if member.errors
        %p.span.info-text
          -if member.errors.messages[:api]
            = member.errors.messages[:api].first
          -else
            = member.errors.messages.first
    %td
      %input{ type: 'number',  min: 1, max: 65535, name: "servers[][protocol_port]", value: "#{member.protocol_port}", required: true }
    %td
      %input{ type: 'number', min: 0, max: 256, name: "servers[][weight]", value: "#{member.weight}", required: true }
    %td.snug
      - if current_user.is_allowed?("loadbalancing:loadbalancer_delete", {})
        = link_to "javascript:$('#member_#{member.id}').remove();", { class: 'btn btn-default' } do
          %i.fa.fa-minus


=content_for :javascripts do
  :javascript

    function minus(id) {
      $(id).remove();
    }