%tr{id: "member_#{member.id}"}
  %td
    - if member.in_transition?
      %span{class: 'spinner'}
    = member.address
  %td
    = member.protocol_port
  %td
    = member.weight
  -if (!defined?(noupdate) or noupdate != :true)
    %td
      %label{class: 'spinner', data: {op_status: "#{member.id}"}}
      %label{class: 'spinner', data: {prov_status: "#{member.id}"}}
  %td.snug
    - if member.id and (!defined?(noupdate) or noupdate != :true)
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.fa.fa-cog

        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if current_user.is_allowed?('loadbalancing:resource_update', {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
            %li= link_to 'Edit', plugin('loadbalancing').edit_loadbalancer_pool_member_path(id: member.id, pool_id: pool.id, loadbalancer_id: loadbalancer.id), data: {modal: true}
          - if current_user.is_allowed?('loadbalancing:loadbalancer_delete', {}) and member.id and (!defined?(nodestroy) or nodestroy != :true)
            %li.divider
            %li= link_to 'Delete',
              plugin('loadbalancing').loadbalancer_pool_member_path(id: member.id, pool_id: pool.id, loadbalancer_id: loadbalancer.id),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this Member?',
                ok: "Yes, delete it",
                remote: true,
                confirmed: :loading_status }
