= content_for :title do
  New Pool Members

- if modal?
  .flashes_area
    = render 'flashes'

.row
  .col-md-1
  .col-md-10
    .toolbar
      %h4
        Members
    = form_tag plugin('loadbalancing').pool_members_path(@pool.id), method: :post , remote: true, id: 'newMembers' do
      %table.table.table-condensed#newmembers
        %thead
          %tr
            -#%th Name
            %th IP Address
            %th Protocol Port
            %th Weight
            %th.snug
        %tbody
          - if @members.blank?
            %tr#nomember{data:{empty:true}}
              %td{colspa: 4} No Members available
          - else
            - @members.each do | member |
              = render partial: 'loadbalancing/loadbalancers/pools/members/item', locals: {pool: @pool, member: member, nodestroy: :true}
            - if @error_members
              = render partial: 'loadbalancing/loadbalancers/pools/members/add_members', locals: {pool: @pool, members: @error_members}

      %div.buttons{class: 'modal-footer'}
        - if current_user.is_allowed?('loadbalancing:loadbalancer_create')
          = button_tag "Save", { class: 'btn btn-primary pull-right submit', data: { disable_with: "Please wait..." } }

  .col-md-1

.row
  .col-md-1
  .col-md-10
    .toolbar
      %h4
        Servers
    = form_tag plugin('loadbalancing').add_pool_members_path(@pool.id), method: :post, remote: true do
      %table.table.table-condensed#ips
        %thead
          %tr
            %th
            %th IP Address
            %th Name
            %th.snug
        %tbody
          - if @ips.blank?
            %tr{data:{empty:true}}
              %td{colspa: 3} No Servers available
          - else
            - @ips.each do | ip |
              = render partial: 'loadbalancing/loadbalancers/pools/members/ip_item', locals: {ip: ip}

      %div.buttons{class: 'modal-footer'}
        - if current_user.is_allowed?('loadbalancing:loadbalancer_create')
          =# button_tag "Cancel", { class: 'btn btn-default submit', data: {dismiss:"modal"} }
          = link_to 'Cancel', plugin('loadbalancing').show_details_pool_path(id: @pool.id ), class: 'btn btn-default'
          = link_to 'Add External', plugin('loadbalancing').add_external_pool_members_path(pool_id: @pool.id ), class: 'btn btn-default', remote: true
          = button_tag "Add", { class: 'btn btn-primary pull-right submit', data: { disable_with: "Please wait..." } }

  .col-md-1

.row
  %br
