- unless data.blank?
  - quota_data    = data[:quota]
  - percent       = data[:percent]
  - name          = data[:name]
  - service       = data[:service]
  - description   = t(service)
  - resource_type = "#{service} #{name}"
  - danger_level  = data[:danger_level]
  .row
    .col-md-2.quota-label
      .text-muted
        - if overview
          - case service
          - when "compute"
            = link_to t("resource_management.#{name}"), plugin('resource_management').compute_path() 
          - when "network"
            = link_to t("resource_management.#{name}") , plugin('resource_management').network_path()
          - when "block_storage" 
            = link_to t("resource_management.#{name}"), plugin('resource_management').storage_path()
          - when "object_storage"
            = link_to t("resource_management.#{name}"), plugin('resource_management').storage_path()
        - else
          .text-muted 
            = t("resource_management.#{name}")
        - if description and overview
          .small 
            .small #{description}
  
    .col-md-7
      - if quota_data[:current] > 0
        .quota
          - if quota_data[:approved] < quota_data[:current]
            .quota-approved{:style => "right:#{100-percent[:approved]}%"} 
              %span.text-nowrap
                Approved quota: #{quota_data[:approved]}
    
          .quota-current
            %span.text-nowrap #{quota_data[:current]}
          
          .progress
            - if percent[:usage] >= danger_level or quota_data[:usage] >= quota_data[:approved] 
              .progress-bar.progress-bar-danger.progress-bar-quota{:style => "width:#{percent[:usage]}%"} #{quota_data[:usage]}
            - else
              .progress-bar.progress-bar-quota{:style => "width:#{percent[:usage]}%"} #{quota_data[:usage]}
    
            -if quota_data[:approved] < quota_data[:current]
              .progress-bar.progress-bar-quota.quota-overcommit{:style => "width:#{100-percent[:usage]}%"}
      - else
        .quota
          %span.text-danger 
            quota is not set. Current usage:#{quota_data[:usage]}
          %span.label.label-warning
            Warning!     
    .col-md-1.quota-request-more
      = link_to 'Details', '#', class: 'btn btn-primary btn-sm', title: 'open related service'
    .col-md-1.quota-request-more
      - if quota_data[:current] > 0
        = link_to 'Request more',plugin('resource_management').resources_request_path(:service => service, :resource_type => resource_type ), data: {modal: true}, class: 'btn btn-primary btn-sm'
      - else
        = link_to 'Request more','#', class: 'btn btn-primary btn-sm disabled'

 
