.row
  .col-md-2.quota-label
    .text-muted
      - if overview
        = link_to t("resource_management.#{data.name}"), plugin('resource_management').send("#{data.attributes[:area]}_path") 
      - else
        = t("resource_management.#{data.name}")
      - if overview
        .small
          .small= t(data.service)

  .col-md-7
    - if data.current_quota > 0
      - display_unit = data.attributes[:display_unit] || 1
      - usage          = data.usage          / display_unit
      - current_quota  = data.current_quota  / display_unit
      - approved_quota = data.approved_quota / display_unit
      - usage_percent    = ((data.usage.to_f / data.current_quota.to_f) *100).to_i
      - approved_percent = ((data.approved_quota.to_f / data.current_quota.to_f) *100).to_i
      - usage_level      = data.usage.to_f / [data.current_quota, data.approved_quota].min.to_f
      .quota
        - if approved_quota < current_quota
          .quota-approved{:style => "right:#{100-approved_percent}%"} 
            %span.text-nowrap
              Approved quota: #{approved_quota}

        .quota-current
          %span.text-nowrap #{current_quota}

        .progress
          - if usage_level >= 0.95
            .progress-bar.progress-bar-quota.progress-bar-danger{:style => "width:#{usage_percent}%"}= usage
          - elsif usage_level >= 0.8
            .progress-bar.progress-bar-quota.progress-bar-warning{:style => "width:#{usage_percent}%"}= usage
          - else
            .progress-bar.progress-bar-quota{:style => "width:#{usage_percent}%"}= usage
          -if approved_quota < current_quota
            .progress-bar.progress-bar-quota.quota-overcommit{:style => "width:#{100-usage_percent}%"}
    - else
      .quota
        .quota-current
          %span.text-nowrap Unlimited
        .progress
          .quota-overcommit &nbsp;

  .col-md-1.quota-request-more
    = link_to 'Details', '#', class: 'btn btn-primary btn-sm', title: 'open related service'
  .col-md-1.quota-request-more
    - if data.current_quota >= 0
      = link_to 'Request more',plugin('resource_management').resources_request_path(:service => data.service, :resource => data.name ), data: {modal: true}, class: 'btn btn-primary btn-sm'
    - else
      = link_to 'Request more','#', class: 'btn btn-primary btn-sm disabled'
