-# This partial renders the resource name left of a resource bar. Locals:
-# * resource: a Resource or Capacity record (required)
-# * scope: one of "resources", "admin", "cloud_admin" (required)
-# * overview: if true, render the service name below the resource name (for views that mix multiple services)

.col-md-2.quota-label
  .text-muted
    - conf = resource.config
    - name = conf.name
    - area = conf.service.area
    - if overview
      = link_to t("resource_management.#{conf.name}"), plugin('resource_management').send("#{scope}_area_path", area: area)
      .small
        .small= t("resource_management.#{conf.service_name}")
    - else
      - translated_name = t("resource_management.#{conf.name}")
      - linktitle = "Open #{area} service"
      - if scope == 'resources'
        - case area
          - when :storage
            - case name
              - when :volumes, :capacity
                = link_to translated_name, plugin('block_storage').volumes_path, title: linktitle
              - when :snapshots
                = link_to translated_name, plugin('block_storage').snapshots_path, title: linktitle
              - else 
                = translated_name
          - when :compute
            = link_to translated_name, plugin('compute').instances_path(), title: linktitle
          - when :networking
            - case name
              - when :networks, :subnets, :ports, :rbac_policies
                = link_to translated_name, plugin('networking').networks_private_index_path, title: linktitle
              - when :floating_ips
                = link_to translated_name, plugin('networking').floating_ips_path, title: linktitle
              - when :routers
                = link_to translated_name, plugin('networking').routers_path, title:linktitle
              - when :security_groups, :security_group_rules
                = link_to translated_name, plugin('networking').security_groups_path, title: linktitle
              - when :loadbalancers, :listeners
                = link_to translated_name, plugin('loadbalancing').loadbalancers_path, title: linktitle
              - when :pools, :healthmonitors, :l7policies
                = link_to translated_name, plugin('loadbalancing').loadbalancers_path, title: linktitle
              - else
                = translated_name
          - when :dns
            - case name
              - when :zones, :recordsets
                = link_to translated_name, plugin('dns_service').zones_path, title: linktitle
              - else
                = translated_name
          - else
            = translated_name
      - else
        = translated_name
