-# This partial renders the resource name left of a resource bar. Locals:
-# * resource: a Resource or Capacity record (required)
-# * scope: one of "resources", "admin", "cloud_admin" (required)
-# * overview: if true, render the service name below the resource name (for views that mix multiple services)
-# * burst_warning: if true, it shows a small warning that burst is in use

.col-md-2.quota-label
  - name = resource.name
  - service = resource.service_type
  - translated_name = userfriendly_resource_name(resource)
  - if overview
    = link_to translated_name, plugin('resource_management').send("#{scope}_area_path", area: resource.service_area)
    .small
      .small
        - if burst_warning
          =icon("bell")
          burst in use
        - else
          = t("resource_management.#{resource.service_type}")
  - else
    - linktitle = "Open #{service} service"
    - if scope == 'resources'
      - case service
        - when :volumev2
          - case name
            - when :volumes, :capacity
              = link_to translated_name, plugin('block_storage').volumes_path, title: linktitle
            - when :snapshots
              = link_to translated_name, plugin('block_storage').snapshots_path, title: linktitle
            - else
              = translated_name
        - when :'object-store'
          - case name
            - when :capacity
              = link_to translated_name, plugin('object_storage').entry_path, title: linktitle
            - else
              = translated_name
        - when :sharev2
          - case name
            - when :share_capacity, :shares
              = link_to translated_name, plugin('shared_filesystem_storage').start_path('shares'), title: linktitle
            - when :snapshot_capacity, :share_snapshots
              = link_to translated_name, plugin('shared_filesystem_storage').start_path(anchor: 'snapshots'), title: linktitle
            - when :share_networks
              = link_to translated_name, plugin('shared_filesystem_storage').start_path(anchor: 'share-networks'), title: linktitle
            - else
              = translated_name
        - when :compute
          - if resource.name =~ /^instances_/
            - primary_desc, secondary_desc = userfriendly_resource_description(resource)
            %span{title: secondary_desc, data: { toggle: "tooltip", placement: "right" }}= translated_name
            - if primary_desc
              %small.text-muted= primary_desc
          - else
            = link_to translated_name, plugin('compute').instances_path(), title: linktitle
        - when :network
          - case name
            - when :networks, :subnets, :ports, :rbac_policies
              = link_to translated_name, plugin('networking').networks_private_index_path, title: linktitle
            - when :floating_ips
              = link_to translated_name, plugin('networking').floating_ips_path, title: linktitle
            - when :routers
              = link_to translated_name, plugin('networking').routers_path, title:linktitle
            - when :security_groups, :security_group_rules
              = link_to translated_name, plugin('networking').security_groups_path, title: linktitle
            - when :loadbalancers, :listeners, :pools, :healthmonitors, :l7policies
              = link_to translated_name, plugin('loadbalancing').loadbalancers_path, title: linktitle
            - else
              = translated_name
        - when :dns
          - case name
            - when :zones, :recordsets
              = link_to translated_name, plugin('dns_service').zones_path, title: linktitle
            - else
              = translated_name
        - else
          = translated_name
    - else
      - if resource.name =~ /^instances_/
        - primary_desc, secondary_desc = userfriendly_resource_description(resource)
        %span{title: secondary_desc, data: { toggle: "tooltip", placement: "right" }}= translated_name
        - if primary_desc
          %small.text-muted= primary_desc
      - else
        = translated_name
        - if burst_warning
          %br
          .small
            .small
              =icon("bell")
              burst in use
