.resource-bar
  - if threshold[:value] < upper_bound
    - if threshold[:value] > 0
      .label-threshold{ style: "right:#{100-threshold[:percent]}%"}
        %span.text-nowrap= threshold[:label]
    - else
      .label-threshold-missing.text-nowrap.text-danger= threshold[:label]
  - if marker[:value] < upper_bound && marker[:value] != threshold[:value]
    - if marker[:value] > 0
      .label-threshold{ style:"left:#{marker[:percent]}%"}
        %span.text-nowrap= marker[:label]
    - else
      .label-threshold-missing.text-nowrap.text-danger= threshold[:label]
  - if maximum[:value] >= 0
    -# upper_bound is maximum
    .label-maximum.text-nowrap.text-muted= maximum[:label]
  - elsif upper_bound == threshold[:value]
    -# upper_bound is threshold
    .label-maximum.text-nowrap.text-danger= [ maximum[:label], threshold[:label] ].reject(&:blank?).join(" – ")
  - else
    -# upper_bound is fill level (but don't show fill label twice)
    .label-maximum.text-nowrap.text-danger= maximum[:label]
  .progress
    - bars.each do |bar|
      - bar_class = bar[:type] == 'default' ? '' : "progress-bar-#{bar[:type]}"
      .progress-bar{ class: bar_class, style: bar.has_key?(:percent) ? "width: #{bar[:percent]}%" : '' }= bar.fetch(:label, '')
