%nav
  %ul.nav.nav-tabs
    - if tab == 'overview'
      %li.active{role: 'presentation'}
        = link_to 'Overview', '#'
    - else
      %li{role: 'presentation'}
        = link_to 'Overview', plugin('resource_management').send("#{scope}_path")

    - list_areas_with_enabled_services.each do |area|
      - area_str = area.to_s
      - if tab == area_str
        %li.active{role: 'presentation'}
          = link_to t("resource_management.#{area_str}"), '#'
      - else
        %li{role: 'presentation'}
          = link_to t("resource_management.#{area_str}"), plugin('resource_management').send("#{scope}_area_path", area: area_str)
