%nav.nav-with-buttons
  %ul.nav.nav-tabs
    - if tab == 'overview'
      %li.active{role: 'presentation'}
        = link_to 'Overview', '#'
    - else
      %li{role: 'presentation'}
        = link_to 'Overview', plugin('resource_management').send("#{scope}_path")

    - @areas.sort.each do |area|
      - area_str = area.to_s
      - if tab == area_str
        %li.active{role: 'presentation'}
          = link_to t("resource_management.#{area_str}"), '#'
      - else
        %li{role: 'presentation'}
          = link_to t("resource_management.#{area_str}"), plugin('resource_management').send("#{scope}_area_path", area: area_str)

  - if @project and @project.bursting and current_user.is_allowed?('context_is_project_resource_admin')
    .nav-main-buttons
      = link_to 'Settings',plugin('resource_management').resources_settings_path(), data: {modal: true}, class: 'btn btn-primary btn-sm', style: 'margin-bottom:10px'
