= content_for(:title, "Details for quota #{@resource_type}")
.modal-body
  .container
    
- if modal?
  .modal-footer
    - if modal?
      - case @level
      - when "compute"
        = link_to 'Show all compute quotas', plugin('resource_management').resources_compute_path(), class: 'btn btn-primary btn-sm'
      - when "network"
        = link_to 'Show all network quotas', plugin('resource_management').resources_network_path(), class: 'btn btn-primary btn-sm'
      - when
        = link_to 'Show all storage quotas', plugin('resource_management').resources_storage_path(), class: 'btn btn-primary btn-sm'

      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
   


