= render :partial => 'header'
%ul{:class => "nav nav-tabs"}
  = render :partial => 'tabs', :locals => { :tab => 'storage'}
 

.container
  .row.quota-row
    .col-md-9   
      %h3 Block Storage
      - unless @block_storage_quotas.nil? or @block_storage_quotas.blank?
        - @block_storage_quotas.each do |resource_data|
          = render :partial => 'bar', :locals => { :overview => false,  :data => resource_data }
      - else
        .bs-callout
          No Block Storage Quotas found!

      %h3 Object Storage
      - unless @object_storage_quotas.nil? or @object_storage_quotas.blank?
        - @object_storage_quotas.each do |resource_data|
          = render :partial => 'bar', :locals => { :overview => false,  :data => resource_data }
      - else
        .bs-callout
          No Object Storage Quotas found!

    .col-md-3
      = render :partial => 'good_to_know'

