= content_for :title do
  - if @object.is_directory?
    Directory: #{@object.path}
  - else
    File: #{@object.path}

.modal-body
  .row
    .col-md-3 Size
    -# TODO: format
    .col-md-9 #{@object.size_bytes} bytes
  .row
    .col-md-3 Last Modified
    .col-md-9= @object.last_modified
  .row
    .col-md-3 Content type
    .col-md-9= @object.content_type
  .row
    .col-md-3 MD5 checksum
    .col-md-9= @object.md5_hash
