%tr{:data => {target: secret.display_name}}
  %td
    - if current_user.is_allowed?('key_manager:secret_get')
      = link_to(secret.display_name, plugin('key_manager').secret_path(id: secret.uuid), data: {modal: true})
      %small.info-text.visible{:data => {target: "secret-uuid"}}
        = secret.uuid        
    - else
      = secret.display_name
      
  %td
    = secret.secret_type
  %td
    = secret_content_types(secret.content_types)
  %td
    = secret.status.capitalize
  %td
    - if current_user.is_allowed?('context_is_keymanager_editor')
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown", target: "secret-dropdown-btn" }, aria: { expanded: true} }
          %span.fa.fa-cog

        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if current_user.is_allowed?('key_manager:secret_delete')
            %li= link_to 'Remove', plugin('key_manager').secret_path(id: secret.uuid), method: :delete, data: { target: secret.uuid, confirm: "Are you sure you want to remove the secret #{secret.name}?", ok: "Yes, remove it", confirmed: :loading_status}, remote: true
