= content_for :title do
  New Secret


= simple_form_for @secret, url: plugin('key_manager').secrets_path(), method: :post, remote: request.xhr?,  html: {id: 'form_secrets', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body
    - if @secret.errors.present?
      .alert.alert-error
        = render_errors(@secret.errors)

    = f.input :name, required: true, label: 'Name', input_html: { autofocus: 'autofocus' }, placeholder: 'Enter name'

    = f.input :expiration, required: true, as: :date_time_picker, label: 'Expiration', input_html: {data: 'miau', class: 'maiu readonly'},
      icon_hint: t('key_manager.form.new.icon_hint.expiration')

    = f.input :bit_length, label: 'Bit length', placeholder: 'Enter bit length',
      icon_hint: t('key_manager.form.new.icon_hint.bit_length')

    = f.input :algorithm, label: 'Algorithm', placeholder: 'Enter algorithm',
      icon_hint: t('key_manager.form.new.icon_hint.algorithm')

    = f.input :mode, label: 'Mode', placeholder: 'Enter mode',
      icon_hint: t('key_manager.form.new.icon_hint.mode')

    = f.input :secret_type, label: 'Secret Type', required: true, collection: @types.sort.map{|k,v| ["#{k} - #{v}",k]}, selected: @selected_type, input_html: {data: {toggle: 'secretTypeSwitcher', update_url: plugin('key_manager').type_update_secrets_path()}}

    = f.input :payload, as: :text, required: true, label: 'Payload', placeholder: 'Enter payload', input_html: { rows: 15},
              icon_hint: t('key_manager.form.new.icon_hint.payload')

    .loading-spinner-section.hide
    .js-secret-payload-content-info
      = render partial: 'secret_payload', locals: {f: f, payload_content_types: @payload_content_types, payload_encoding_relation: @payload_encoding_relation, selected_payload_content_type: @selected_payload_content_type}

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('key_manager').secrets_path(), class: 'btn btn-default'
    = button_tag "Create", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
