= content_for :title do
  New Secret


= simple_form_for @secret, url: plugin('key_manager').secrets_path(), method: :post, remote: request.xhr?,  html: {id: 'form_secrets', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body
    .modal-flashes
      = render "automation/shared/flashes.html"

      = f.input :name, required: true, label: 'Name', input_html: { autofocus: 'autofocus' }, placeholder: 'Enter name'

      = f.input :expiration, label: 'Expiration', placeholder: 'Enter expiration',
        icon_hint: 'This is a UTC timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ. If set, the secret will not be available after this time.'

      = f.input :bit_length, label: 'Bit length', placeholder: 'Enter bit length',
        icon_hint: 'Metadata provided by a user or system for informational purposes. Value must be greater than zero.'

      = f.input :algorithm, label: 'Algorithm', placeholder: 'Enter algorithm',
        icon_hint: 'Metadata provided by a user or system for informational purposes.'

      = f.input :mode, label: 'Mode', placeholder: 'Enter mode',
        icon_hint: 'Metadata provided by a user or system for informational purposes.'

      = f.input :secret_type, label: 'Secret Type', placeholder: 'Enter secret type',
      icon_hint: 'The media type for the content of the payload. For more information see <a href="http://docs.openstack.org/developer/barbican/api/reference/secret_types.html" target="_blank">Secret Types</a>'

      = f.input :payload, label: 'Payload', placeholder: 'Enter payload',
        icon_hint: 'The secret’s data to be stored.'

      = f.input :payload_content_type, label: 'Payload Content Type', placeholder: 'Enter payload content type',
        icon_hint: "['text/plain', 'text/plain;charset=utf-8', 'text/plain; charset=utf-8', 'application/octet-stream', 'application/pkcs8', 'application/pkix-cert']"

      = f.input :payload_content_encoding, label: 'Payload Content Encoding', placeholder: 'Enter payload content encoding',
        icon_hint: 'The encoding used for the payload to be able to include it in the JSON request. Currently only base64 is supported.'



  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('key_manager').secrets_path(), class: 'btn btn-default'
    = button_tag "Create", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }