= content_for :title do
  Secret details

.modal-body.static-columns

  %h3
    Details

  .secret-details
    .row
      .col-md-2
        %b
          Name:
      .col-md-10
        = @secret.name
    .row
      .col-md-2
        %b
          Secret Ref:
      .col-md-10
        = @secret.secret_ref
    .row
      .col-md-2
        %b
          Secret Type:
      .col-md-4
        = @secret.secret_type
      .col-md-2
        %b
          Status:
      .col-md-4
        = @secret.status
    .row
      .col-md-2
        %b
          Created at:
      .col-md-4
        = @secret.created
      .col-md-2
        %b
          Expiration:
      .col-md-4
        = @secret.expiration

  %h3
    Payload

  #jsoneditor{data:{mode:"view", content: @secret.payload}}

attribute :bit_length
attribute :algorithm
attribute :mode

attribute :payload_content_type
attribute :payload_content_encoding
attribute :content_types
attribute :creator_id

%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('key_manager').secrets_url(), class: 'btn btn-default'