= content_for :title do
  Secret details

- unless @secret
  .modal-body
    = @error
- else 
  .modal-body.static-columns

    .modal-section.first
      %h3
        Details

      .secret-details
        .row
          .col-md-2
            %b
              Name:
          .col-md-10
            = @secret.display_name
        .row
          .col-md-2
            %b
              Secret Ref:
          .col-md-10
            = @secret.secret_ref

        .attribute-group
          .row
            .col-md-2
              %b
                Secret Type:
            .col-md-4
              = @secret.secret_type
            .col-md-2
              %b
                Status:
            .col-md-4
              = secret_status(@secret.status)
          .row
            .col-md-2
              %b
                Created at:
            .col-md-4
              = date_humanize(@secret.created)
            .col-md-2
              %b
                Expiration:
            .col-md-4
              = date_humanize(@secret.expiration)

        -if @user
          .row
            .col-md-2
              %b
                Owner:
            .col-md-10
              = @user

        .attribute-group
          .row
            .col-md-2
              %b
                Content Type:
            .col-md-10
              = secret_content_types(@secret.content_types)
          .row
            .col-md-2
              %b
                Bit Length:
            .col-md-10
              = @secret.display_bit_length
          .row
            .col-md-2
              %b
                Algorithm:
            .col-md-10
              = @secret.algorithm
          .row
            .col-md-2
              %b
                Mode:
            .col-md-10
              = @secret.mode

    .modal-section
      %h3
        Payload

      - unless @secret.payload_binary?
        .row
          .col-md-12
            %pre
              %code
                = html_escape(@secret.attributes[:payload])              
      - else
        The Payload can not be displayed. To download the payload click following
        %a{href: plugin('key_manager').payload_secret_path(@secret.uuid)} Link.

    .modal-section
      %h3
        Metadata

      #jsoneditor{data:{mode: "view", content: @secret.metadata.to_json}}

%div{class: modal? ? 'modal-footer' : ''}
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Close", plugin('key_manager').secrets_url(), class: 'btn btn-default'