- if @project_masterdata.errors.present?
  .alert.alert-error
    = render_errors(@project_masterdata.errors)

- if @project_masterdata

  -# because of disabling the select boxes  on start we need to send the hidden input fields instead
  = f.input :revenue_relevance, :as => :hidden, :input_html => { :value => @project_masterdata.revenue_relevance }
  = f.input :cost_object_type, :as  => :hidden, :input_html => { :value => @project_masterdata.cost_object_type }

  - co_inheritable            = @inheritance.co_inheritable == true

  %label.control-label Cost Info
  %a.help-link{data:{content: t('masterdata_cockpit.co_help'), popover: {type: "help-hint"}, toggle: "popover"}}
    = icon('question-circle')
  .loading-place.loading-right
  .panel.panel-default
    .panel-body
      .row
        .col-md-3
          - help_text = "Disabled by domain"
          - if co_inheritable
            - help_text = "Enabled by domain"
          = f.input :cost_object_inherited, 
              label: raw("Inherited #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: help_text }}"),
              as: :select, 
              include_hidden: false, 
              include_blank: false, 
              required:false,
              disabled: !co_inheritable
        .col-md-3
          - types = MasterdataCockpit::Config.cost_object_types
          = f.input :cost_object_type, 
              label: raw("Type #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.co_type_help') }}"),
              as:           :select, 
              collection:   types.keys, 
              label_method: -> (k) { types[k] },
              required: true
        .col-md-6
          = f.input :cost_object_name, 
              label: raw("Name/Number #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.co_name_help') }}"),
              required:true
  %label.control-label Contact
  .panel.panel-default
    .panel-body
      .row
        .col-md-6.operator-id
          = f.input :responsible_primary_contact_id, 
            label: "Primary Contact", 
            placeholder: "C/D/I User",
            required: true, 
            input_html: { class: 'operator-id-input', value: f.object.responsible_primary_contact_id || current_user.name }
        .col-md-6.operator-email
          = f.input :responsible_primary_contact_email, 
            placeholder: "Email", 
            input_html: { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          = t('masterdata_cockpit.responsible_primary_contact_help') 
      .row
        .col-md-12
          = f.input :additional_information,
            label: "Hotline/TicketQueue/Other",
            as: :text,
            placeholder: "Phone Hotline:\nSPC Queue:\nTicket Categories for interaction:\nDistribution Lists:",
            input_html: {:rows => 4}
  %label.control-label Significance
  .panel.panel-default
    .panel-body
      .row
        .col-md-4
          - business_criticalitys = MasterdataCockpit::Config.business_criticalitys
          = f.input :business_criticality, 
            label: raw("Business Criticality #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.business_criticality_help') }}"),
            as: :select, 
            collection: business_criticalitys.keys,
            label_method: -> (k) { business_criticalitys[k] },
            required:true
        .col-md-4
          - revenue_relevances = MasterdataCockpit::Config.revenue_relevances
          = f.input :revenue_relevance, 
            label: raw("Revenue Relevances #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.revenue_relevances_help') }}"),
            as: :select, 
            collection: revenue_relevances.keys,
            label_method: -> (k) { revenue_relevances[k] },
            required: true
        .col-md-4
          = f.input :number_of_endusers ,
            label: raw("Number of Endusers #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.number_of_endusers_help') }}")
  %label.control-label Other Responsibility
  .panel.panel-default
    .panel-body
      .row
        .col-md-6.operator-id
          = f.input :responsible_operator_id, label: "Operator", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
        .col-md-6.operator-email
          = f.input :responsible_operator_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          = t('masterdata_cockpit.responsible_operator_help') 
      .row
        .col-sm-6.operator-id
          = f.input :responsible_security_expert_id, label: "Security Expert", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
        .col-sm-6.operator-email
          = f.input :responsible_security_expert_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          = t('masterdata_cockpit.responsible_security_expert_help') 
      .row
        .col-sm-6.operator-id
          = f.input :responsible_product_owner_id, label: "Product Owner", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
        .col-sm-6.operator-email
          = f.input :responsible_product_owner_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          = t('masterdata_cockpit.responsible_product_owner_help') 
      .row
        .col-sm-6.operator-id
          = f.input :responsible_controller_id, label: "Controller", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
        .col-sm-6.operator-email
          = f.input :responsible_controller_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          = t('masterdata_cockpit.responsible_controller_help')

:javascript
  $(function(){
    // to hide the label of the email input field
    $('label.control-label.email.optional').html("&nbsp");
    // for attribute: when labels have the for attribute and you add an ID to the input it will wire that up
    // remove label -> input autofocus because the help in the label and disabled and readonly fields
    $('[for]').removeAttr('for')
  });

= render partial: '/masterdata_cockpit/application/renew_popover'
