- if @project_masterdata.errors.present?
  .alert.alert-error
    = render_errors(@project_masterdata.errors)

- if @project_masterdata

  = f.input :project_id,    :as => :hidden, :input_html => { :value => @scoped_project_id }
  = f.input :project_name,  :as => :hidden, :input_html => { :value => @scoped_project_name }
  = f.input :domain_id,     :as => :hidden, :input_html => { :value => @scoped_domain_id }
  
  -# because of disabling the select boxes  on start we need to send the hidden input fields instead
  = f.input :revenue_relevance, :as => :hidden, :input_html => { :value => @project_masterdata.revenue_relevance }
  = f.input :cost_object_type, :as  => :hidden, :input_html => { :value => @project_masterdata.cost_object_type }
  
  = f.input :description, label: "Description"
  
  - co_readonly               = @project_masterdata.solution.nil? == false 
  - inherited_help            = 'Inherit the costobject from domain masterdata'
  - solution_help             = 'Choose a solution, if the project is used for one of the strategic Solutions of SAP'
  - revenue_relevances_help   = 'to be defined'
  - co_type_help              = 'If unclear, please ask the responsible controller of the given cost object for permission'
  - co_name_help              = 'Name or Id of the used cost object where the costs should be charged to'
  - business_criticality_help = 'Indicates, how critical the system is for your ability to provide your service to your customer'
  - number_of_endusers_help   = 'Roughly estimated number of users the service you provide. Always provide the lower end (-1 indicates that it is infinite)'

  %label.control-label Cost Object
  %a.help-link{data:{content: "Where the costs should be charged to. If unclear, please ask the responsible controller of the given costobject for permission", popover: {type: "help-hint"}, toggle: "popover"}}
    = icon('question-circle')
  .loading-place.loading-right
  .panel.panel-default
    .panel-body
      .row
        - if @inheritance.co_inheritable
          .col-md-2
            = f.input :cost_object_inherited, 
               label: raw("Inherited #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: inherited_help }}"),
               as: :select, 
               include_hidden: false, 
               required:true
               
        %div{ class: @inheritance.co_inheritable ? 'col-md-2' : 'col-md-3' }
          - unless @solutions.nil?
            = f.input :solution, 
              label: raw("Solution #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: solution_help }}"),
              as: :select, 
              collection: @solutions.map {|solution| solution.name}, 
              include_blank: "Other",
              required: true
        #solution
          .col-md-3
            - revenue_relevances = MasterdataCockpit::Config.revenue_relevances
            = f.input :revenue_relevance, 
              label: raw("Revenue Relevances #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: revenue_relevances_help }}"),
              as: :select, 
              collection: revenue_relevances.keys,
              label_method: -> (k) { revenue_relevances[k] },
              required: true,
              disabled: co_readonly
          %div{ class: @inheritance.co_inheritable ? 'col-md-2' : 'col-md-3' }
            - types = MasterdataCockpit::Config.cost_object_types
            = f.input :cost_object_type, 
                label: raw("Type #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: co_type_help }}"),
                as:           :select, 
                collection:   types.keys, 
                label_method: -> (k) { types[k] },
                required: true,
                disabled: co_readonly
          .col-md-3
            = f.input :cost_object_name, 
                label: raw("Name #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: co_name_help }}"),
                required:true, 
                readonly: co_readonly
  %label.control-label Responsibility
  %a.help-link{data:{content: "Please define the person in charge for the topics below", popover: {type: "help-hint"}, toggle: "popover"}}
    = icon('question-circle')
  .panel.panel-default
    .panel-body
      .row
        .col-sm-6.operator-id
          = f.input :responsible_operator_id, label: "Operator", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
        .col-sm-6.operator-email
          = f.input :responsible_operator_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          The person responsible for uptime of the systems and who can make decisions on e.g. Instance restarts etc. Used as emergency engineering contact, if CCloud operations needs a name.
      .row
        .col-sm-6.operator-id
          = f.input :responsible_security_expert_id, label: "Security Expert", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
        .col-sm-6.operator-email
          = f.input :responsible_security_expert_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          The person responsible to request and validate firewall and other security settings. The person who will be contacted by security e.g. If a vulnerability is found by a scan etc.
      .row
        .col-sm-6.operator-id
          = f.input :responsible_product_owner_id, label: "Product Owner", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
        .col-sm-6.operator-email
          = f.input :responsible_product_owner_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          The person owning the applications features.
      .row
        .col-sm-6.operator-id
          = f.input :responsible_controller_id, label: "Controller", placeholder: "C/D/I User", :input_html => { class: 'operator-id-input' }
        .col-sm-6.operator-email
          = f.input :responsible_controller_email, placeholder: "Email", :input_html => { class: 'operator-email-input' }
      .row
        .col-md-12.op-help-block
          = icon ('info-circle')
          The person responsible for the given cost object and empowered to decide, which costs are billed on this cost object.
  %label.control-label Importance
  %a.help-link{data:{content: "To define the importance of this project set the fields below", popover: {type: "help-hint"}, toggle: "popover"}}
    = icon('question-circle')
  .panel.panel-default
    .panel-body
      .row
        .col-sm-6
          - business_criticalitys = MasterdataCockpit::Config.business_criticalitys
          = f.input :business_criticality, 
            label: raw("Business Criticality #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: business_criticality_help }}"),
            as: :select, 
            collection: business_criticalitys.keys,
            label_method: -> (k) { business_criticalitys[k] },
            required:true
        .col-sm-6
          = f.input :number_of_endusers ,
            label: raw("Number of Endusers #{render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: number_of_endusers_help }}")


:javascript
  // to hide the label of the email input field
  $(function(){
    $('label.control-label.email.optional').html("&nbsp")
  });
