- inquiry = Inquiry::Inquiry.where(kind: "project", domain_id: @scoped_domain_id).find{|i| i.payload["name"] == @scoped_project_name}  
- requester = inquiry.present? ? inquiry.requester : nil

- if @project_masterdata
  .infobox
    %h4.action-heading
      Masterdata Status
    %table.table
      %tbody
        %tr
          %th
          %td
            - if @project_masterdata.is_complete
              = icon('thumbs-up')
              Complete
            - else
              = icon('thumbs-down')
              Incomplete
              %br
              %span.label.label-warning 
                = @project_masterdata.missing_attributes
        %tr
          %th.snug-nowrap
            Last change:
          %td
            - if @project_masterdata.changed_at
              - last_change = DateTime.parse(@project_masterdata.changed_at)
              = last_change.strftime('%I:%M:%S %p %d.%B %Y')
            - else
              \-
        - if requester.present? 
          %tr
            %th.snug-nowrap Requested by 
            %td= requester.name                


Masterdata is needed for billing purposes but it is also the first source of information for the Converged Cloud operations team in case of questions and incidents.
%br
%br
Hint: To minimize maintenance effort, masterdata is synced automatically to CCIR (Central Configuration Item Repository). This happens in a frequent interval, so please wait in case updates are not visible right away.