%h4 Cost Object
.panel.panel-default
  .panel-body
    .row
      .col-sm-4.details-label
        %strong
          Solution 
      .col-sm-8.details-value
        - unless @project_masterdata.solution
          \-
        = @project_masterdata.solution 
    .row
      .col-sm-4.details-label
        %strong
          Type
      .col-sm-8.details-value
        = @project_masterdata.cost_object['type']
    .row
      .col-sm-4.details-label
        %strong
          Name
      .col-sm-8.details-value
        = @project_masterdata.cost_object['name']
    .row
      .col-sm-4.details-label
        %strong
          Inherited from domain
      .col-sm-8.details-value
        - if @project_masterdata.cost_object_inherited
          = icon('check-square-o')
        -else 
          = icon('times')
%h4 Responsibility
.panel.panel-default
  .panel-body
    .row
      .col-sm-4.details-label
        %strong
          Operator
      .col-sm-2.details-value
        - unless @project_masterdata.responsible_operator_id
          \-
        = @project_masterdata.responsible_operator_id
      - if @project_masterdata.responsible_operator_email
        .col-sm-1.details-label
          Contact:
        .col-sm-4.details-value
          = icon('envelope-o')
          = @project_masterdata.responsible_operator_email
    .row
      .col-sm-4.details-label
        %strong
          Security Expert
      .col-sm-2.details-value
        - unless @project_masterdata.responsible_security_expert_id
          \-
        = @project_masterdata.responsible_security_expert_id
      - if @project_masterdata.responsible_security_expert_email
        .col-sm-1.details-label
          Contact:
        .col-sm-4.details-value
          = icon('envelope-o')
          = @project_masterdata.responsible_security_expert_email
    .row
      .col-sm-4.details-label
        %strong
          Product Owner
      .col-sm-2.details-value
        - unless @project_masterdata.responsible_product_owner_id
          \-
        = @project_masterdata.responsible_product_owner_id
      - if @project_masterdata.responsible_product_owner_email
        .col-sm-1.details-label
          Contact:
        .col-sm-4.details-value
          = icon('envelope-o')
          = @project_masterdata.responsible_product_owner_email
    .row
      .col-sm-4.details-label
        %strong
          Controller
      .col-sm-2.details-value
        - unless @project_masterdata.responsible_controller_id
          \-
        = @project_masterdata.responsible_controller_id
      - if @project_masterdata.responsible_controller_email
        .col-sm-1.details-label
          Contact:
        .col-sm-4.details-value
          = icon('envelope-o')
          = @project_masterdata.responsible_controller_email
%h4 Customer Information
.panel.panel-default
  .panel-body
    .row
      .col-sm-4.details-label
        %strong
          Revenue Relevance
      .col-sm-8.details-value
        = @project_masterdata.revenue_relevance
    .row
      .col-sm-4.details-label
        %strong
          Business Criticality
      .col-sm-8.details-value
        = @project_masterdata.business_criticality
    .row
      .col-sm-4.details-label
        %strong
          Number of Endusers
      .col-sm-8.details-value
        - unless @project_masterdata.number_of_endusers
          \-
        = @project_masterdata.number_of_endusers