.masterdata-group
  %h5.masterdata-heading
    Significance
    %a.help-link{
      data: {
      content: t('masterdata_cockpit.significance'),
      popover: { type: "help-hint" },
      toggle: "popover"
      }
    }
      = icon('question-circle-o')
  .row
    .col-sm-4.details-label
      Business Criticality
      %a.help-link{
        data: {
        content: t("masterdata_cockpit.business_criticality_help"),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.business_criticality
        = MasterdataCockpit::Config.business_criticalitys[@project_masterdata.business_criticality]
        %a.help-link{
          data: {
          content: t("masterdata_cockpit.#{@project_masterdata.business_criticality}"),
          popover: { type: "help-hint" },
          toggle: "popover"
          }
        }
          = icon('question-circle-o')
      - else
        \-
  .row
    .col-sm-4.details-label
      Revenue Relevance
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.revenue_relevances_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.revenue_relevance
        = MasterdataCockpit::Config.revenue_relevances[@project_masterdata.revenue_relevance]
      - else
        \-
  .row
    .col-sm-4.details-label
      Number of Endusers
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.number_of_endusers_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - unless @project_masterdata.number_of_endusers
        \-
      - else
        - if @project_masterdata.number_of_endusers == -1
          Unlimited
        - else
          = @project_masterdata.number_of_endusers
  .row
    .col-sm-4.details-label
      Customer
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.customer_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.customer
        = @project_masterdata.customer
      - else
        \-
.masterdata-group
  %h5.masterdata-heading
    Contact
    %a.help-link{
      data: {
      content: t('masterdata_cockpit.contact_info'),
      popover: { type: "help-hint" },
      toggle: "popover"
      }
    }
      = icon('question-circle-o')
  .row
    .col-sm-4.details-label
      Hotline/Ticket Queue/Other
    .col-sm-8.details-value
      - unless @project_masterdata.additional_information
        \-
      = @project_masterdata.additional_information
.masterdata-group
  %h5.masterdata-heading
    Roles
    %a.help-link{
      data: {
      content: t('masterdata_cockpit.roles'),
      popover: { type: "help-hint" },
      toggle: "popover"
      }
    }
      = icon('question-circle-o')
  .row
    .col-sm-4.details-label
      Asset Owner (Primary Contact)
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.responsible_primary_contact_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_primary_contact_id
        \-
      = @project_masterdata.responsible_primary_contact_id
    - if @project_masterdata.responsible_primary_contact_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_primary_contact_email
  .row
    .col-sm-4.details-label
      Run Team (Operator)
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.responsible_operator_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_operator_id
        \-
      = @project_masterdata.responsible_operator_id
    - if @project_masterdata.responsible_operator_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_operator_email
  .row
    .col-sm-4.details-label
      Inventory Role
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.responsible_inventory_role_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_inventory_role_id
        \-
      = @project_masterdata.responsible_inventory_role_id
    - if @project_masterdata.responsible_inventory_role_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_inventory_role_email
  .row
    .col-sm-4.details-label
      Infrastructure Coordinator
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.responsible_infrastructure_coordinator_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_infrastructure_coordinator_id
        \-
      = @project_masterdata.responsible_infrastructure_coordinator_id
    - if @project_masterdata.responsible_infrastructure_coordinator_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_infrastructure_coordinator_email
.masterdata-group
  %h5.masterdata-heading
    Cost Info
    %a.help-link{
      data: {
      content: t('masterdata_cockpit.co_info'),
      popover: { type: "help-hint" },
      toggle: "popover"
      }
    }
      = icon('question-circle-o')
  - if @inheritance && @inheritance.co_inheritable
    .row
      .col-sm-4.details-label
        - if @active_project.parent_id == @active_project.domain_id
          Inherited from domain
        - else
          Inherited from parent project
      .col-sm-8.details-value
        - if @project_masterdata.cost_object_inherited
          = icon('check-square-o')
        - else
          = icon('times')
  .row
    .col-sm-4.details-label
      Type
    .col-sm-8.details-value
      - if @project_masterdata.cost_object_type
        = MasterdataCockpit::Config.cost_object_types[@project_masterdata.cost_object['type']]
      - else
        \-
  .row
    .col-sm-4.details-label
      Name/Number
    .col-sm-8.details-value
      - if @project_masterdata.cost_object_name
        = @project_masterdata.cost_object_name
      - else
        \-
.masterdata-group
  %h5.masterdata-heading
    Project Info
    %a.help-link{
      data: {
      content: t('masterdata_cockpit.project_info_help'),
      popover: { type: "help-hint" },
      toggle: "popover"
      }
    }
      = icon('question-circle-o')
  .row
    .col-sm-4.details-label
      Environment
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.environment_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.environment
        = MasterdataCockpit::Config.environment[@project_masterdata.environment]
      - else
        \-
  .row
    .col-sm-4.details-label
      Type of Data
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.type_of_data_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.type_of_data
        = MasterdataCockpit::Config.type_of_data[@project_masterdata.type_of_data]
      - else
        \-
  .row
    .col-sm-4.details-label
      GPU Enabled
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.gpu_enabled_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.gpu_enabled == 1
        = icon('check-square-o')
      - else
        = icon('times')
  .row
    .col-sm-4.details-label
      Contains PII DPP HR
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.contains_pii_dpp_hr_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.contains_pii_dpp_hr == 1
        = icon('check-square-o')
      - else
        = icon('times')
  .row
    .col-sm-4.details-label
      External Customer Data
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.contains_external_customer_data_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.contains_external_customer_data == 1
        = icon('check-square-o')
      - else
        = icon('times')
.masterdata-group
  %h5.masterdata-heading
    External Certification
    %a.help-link{
      data: {
      content: t('masterdata_cockpit.external_certification_help'),
      popover: { type: "help-hint" },
      toggle: "popover"
      }
    }
      = icon('question-circle-o')
  .row
    .col-sm-4.details-label
      ISO
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.external_certification_iso_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.ext_cert_iso == 1
        = icon('check-square-o')
      - else
        = icon('times')
  .row
    .col-sm-4.details-label
      C5
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.external_certification_c5_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.ext_cert_c5 == 1
        = icon('check-square-o')
      - else
        = icon('times')
  .row
    .col-sm-4.details-label
      PCI
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.external_certification_pci_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.ext_cert_pci == 1
        = icon('check-square-o')
      - else
        = icon('times')
  .row
    .col-sm-4.details-label
      SOC1
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.external_certification_soc_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.ext_cert_soc1 == 1
        = icon('check-square-o')
      - else
        = icon('times')
  .row
    .col-sm-4.details-label
      SOC2
      %a.help-link{
      data: {
      content: t('masterdata_cockpit.external_certification_soc_help'),
      popover: { type: "help-hint" },
      toggle: "popover"
      }
    }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.ext_cert_soc2 == 1
        = icon('check-square-o')
      - else
        = icon('times')
  .row
    .col-sm-4.details-label
      SOX
      %a.help-link{
        data: {
        content: t('masterdata_cockpit.external_certification_sox_help'),
        popover: { type: "help-hint" },
        toggle: "popover"
        }
      }
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.ext_cert_sox == 1
        = icon('check-square-o')
      - else
        = icon('times')
