
.masterdata-group
  %h5.masterdata-heading 
    Significance
    %a.help-link{data:{content: t('masterdata_cockpit.significance'), popover: {type: "help-hint"}, toggle: "popover"}}
      = icon('question-circle-o')

  .row
    .col-sm-4.details-label
      Business Criticality
      %a.help-link{data:{content: t('masterdata_cockpit.business_criticality_help'), popover: {type: "help-hint"}, toggle: "popover"}}
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.business_criticality
        = MasterdataCockpit::Config.business_criticalitys[@project_masterdata.business_criticality]
      - else
        \-
  .row
    .col-sm-4.details-label
      Revenue Relevance
      %a.help-link{data:{content: t('masterdata_cockpit.revenue_relevances_help'), popover: {type: "help-hint"}, toggle: "popover"}}
        = icon('info-circle')
    .col-sm-8.details-value
      - if @project_masterdata.revenue_relevance
        = MasterdataCockpit::Config.revenue_relevances[@project_masterdata.revenue_relevance]
      - else
        \-
  .row
    .col-sm-4.details-label
      Number of Endusers
      %a.help-link{data:{content: t('masterdata_cockpit.number_of_endusers_help'), popover: {type: "help-hint"}, toggle: "popover"}}
        = icon('info-circle')
    .col-sm-8.details-value
      - unless @project_masterdata.number_of_endusers
        \-
      - else
        - if @project_masterdata.number_of_endusers == -1
          Unlimited
        - else
          = @project_masterdata.number_of_endusers


.masterdata-group
  %h5.masterdata-heading 
    Contact
    %a.help-link{data:{content: t('masterdata_cockpit.contact_info'), popover: {type: "help-hint"}, toggle: "popover"}}
      = icon('question-circle-o')
  .row
    .col-sm-4.details-label
      Hotline/Ticket Queue/Other
    .col-sm-8.details-value
      - unless @project_masterdata.additional_information
        \-
      = @project_masterdata.additional_information


.masterdata-group
  %h5.masterdata-heading 
    Roles
    %a.help-link{data:{content: t('masterdata_cockpit.roles'), popover: {type: "help-hint"}, toggle: "popover"}}
      = icon('question-circle-o')
  .row
    .col-sm-4.details-label
      Primary Contact
      %a.help-link{data:{content: t('masterdata_cockpit.responsible_primary_contact_help'), popover: {type: "help-hint"}, toggle: "popover"}}
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_primary_contact_id
        \-
      = @project_masterdata.responsible_primary_contact_id
    - if @project_masterdata.responsible_primary_contact_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_primary_contact_email
  .row
    .col-sm-4.details-label
      Security Expert
      %a.help-link{data:{content: t('masterdata_cockpit.responsible_security_expert_help'), popover: {type: "help-hint"}, toggle: "popover"}}
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_security_expert_id
        \-
      = @project_masterdata.responsible_security_expert_id
    - if @project_masterdata.responsible_security_expert_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_security_expert_email
  .row
    .col-sm-4.details-label
      Operator
      %a.help-link{data:{content: t('masterdata_cockpit.responsible_operator_help'), popover: {type: "help-hint"}, toggle: "popover"}}
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_operator_id
        \-
      = @project_masterdata.responsible_operator_id
    - if @project_masterdata.responsible_operator_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_operator_email
  .row
    .col-sm-4.details-label
      Product Owner
      %a.help-link{data:{content: t('masterdata_cockpit.responsible_product_owner_help') , popover: {type: "help-hint"}, toggle: "popover"}}
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_product_owner_id
        \-
      = @project_masterdata.responsible_product_owner_id
    - if @project_masterdata.responsible_product_owner_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_product_owner_email
  .row
    .col-sm-4.details-label
      Controller
      %a.help-link{data:{content: t('masterdata_cockpit.responsible_controller_help'), popover: {type: "help-hint"}, toggle: "popover"}}
        = icon('info-circle')
    .col-sm-2.details-value
      - unless @project_masterdata.responsible_controller_id
        \-
      = @project_masterdata.responsible_controller_id
    - if @project_masterdata.responsible_controller_email
      .col-sm-1.details-label
      .col-sm-4.details-value
        = icon('envelope-o')
        = mail_to @project_masterdata.responsible_controller_email


.masterdata-group
  %h5.masterdata-heading
    Cost Info
    %a.help-link{data:{content: t('masterdata_cockpit.co_info'), popover: {type: "help-hint"}, toggle: "popover"}}
      = icon('question-circle-o')

  - if @inheritance && @inheritance.co_inheritable
    .row
      .col-sm-4.details-label
        - if @active_project.parent_id == @active_project.domain_id
          Inherited from domain
        - else
          Inherited from parent project
      .col-sm-8.details-value
        - if @project_masterdata.cost_object_inherited
          = icon('check-square-o')
        -else
          = icon('times')
  .row
    .col-sm-4.details-label
      Type
    .col-sm-8.details-value
      - if @project_masterdata.cost_object_type
        = MasterdataCockpit::Config.cost_object_types[@project_masterdata.cost_object['type']]
      - else
        \-
  .row
    .col-sm-4.details-label
      Name/Number
    .col-sm-8.details-value
      - if @project_masterdata.cost_object_name
        = @project_masterdata.cost_object_name
      - else
        \-