.col-md-3
  .form-group.select.required.project_masterdata_revenue_relevance
    %label.control-label.select.required
      %abbr{title:"", "data-original-title":"required"} *
      Revenue Relevance
      = render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.revenue_relevances_help') }
    %select.form-control.select.required{required:"required", "aria-required":"true", name:"project_masterdata[revenue_relevance]", id:"project_masterdata_revenue_relevance"}
      - @solution_revenue_relevances.keys.sort.each do |rr| 
        %option{value: rr}
          #{MasterdataCockpit::Config.revenue_relevances[rr]}

#cost_object
  - co_type = @solution_revenue_relevances[@solution_revenue_relevances.keys.sort[0]]["type"]
  - co_name = @solution_revenue_relevances[@solution_revenue_relevances.keys.sort[0]]["name"]
  %div{ class: @inheritance.co_inheritable ? 'col-md-2' : 'col-md-3' }
    .form-group.select.required.project_masterdata_cost_object_type
      %label.control-label.select.required
        %abbr{title:"", "data-original-title":"required"} *
        Type
        = render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.co_name_help') }
      %select.form-control.select.required{required:"required", "aria-required":"true", name:"project_masterdata[cost_object_type]", id:"project_masterdata_cost_object_type"}
        %option{value: co_type}
          #{MasterdataCockpit::Config.cost_object_types[co_type]}
  .col-md-3
    .form-group.string.required.project_masterdata_cost_object_name
      %label.control-label.string.required
        %abbr{title:"", "data-original-title": "required"} *
        Name/Number
        = render partial: '/masterdata_cockpit/application/help_icon', locals: { help_text: t('masterdata_cockpit.co_name_help') }
      %input.form-control.string.required{readonly: true, required:"required", "aria-required":"true",value: co_name, name:"project_masterdata[cost_object_name]", id:"project_masterdata_cost_object_name", type:"text"}

:javascript
  $('select#project_masterdata_revenue_relevance').change(function(){
    var solution = $("select#project_masterdata_solution").val();
    $.get("#{plugin('masterdata_cockpit').project_masterdata_cost_object_path()}", { revenue_relevance: $(this).val(), solution: solution } , function(data){});
  });

= render partial: '/masterdata_cockpit/application/renew_popover'
