=content_for :main_toolbar do
  Project Masterdata

.row
  .col-sm-9
    - unless @masterdata_found
      .alert.alert-danger
        No masterdata is maintained for this project yet.
    - else
      .row
        .col-sm-4.details-label
          %strong
            Project ID
        .col-sm-8.details-value
          = @project_masterdata.project_id
      .row
        .col-sm-4.details-label
          %strong
            Project Name
        .col-sm-8.details-value
          = @project_masterdata.project_name
      .row
        .col-sm-4.details-label
          %strong
            Description
        .col-sm-8.details-value
          = @project_masterdata.description
      %hr
      .panel.panel-default
        .panel-heading
          Costobject
        .panel-body
          .row
            .col-sm-4.details-label
              %strong
                Type
            .col-sm-8.details-value
              = @project_masterdata.cost_object['type']
          .row
            .col-sm-4.details-label
              %strong
                Name
            .col-sm-8.details-value
              = @project_masterdata.cost_object['name']
          .row
            .col-sm-4.details-label
              %strong
                Inherited from domain
            .col-sm-8.details-value
              - if @project_masterdata.cost_object['co_inherited']
                = icon('check-square-o')
              -else 
                = icon('times')
      .panel.panel-default
        .panel-heading
          Resposibility
        .panel-body
          .row
            .col-sm-4.details-label
              %strong
                Operator
            .col-sm-2.details-value
              = @project_masterdata.responsible_operator_id
            - unless @project_masterdata.responsible_operator_email.empty?
              .col-sm-1.details-label
                Contact:
              .col-sm-4.details-value
                = icon('envelope-o')
                = @project_masterdata.responsible_operator_email
          .row
            .col-sm-4.details-label
              %strong
                Security Expert
            .col-sm-2.details-value
              = @project_masterdata.responsible_security_expert_id
            - unless @project_masterdata.responsible_security_expert_email.empty?
              .col-sm-1.details-label
                Contact:
              .col-sm-4.details-value
                = icon('envelope-o')
                = @project_masterdata.responsible_security_expert_email
          .row
            .col-sm-4.details-label
              %strong
                Product Owner
            .col-sm-2.details-value
              = @project_masterdata.responsible_product_owner_id
            - unless @project_masterdata.responsible_product_owner_email.empty?
              .col-sm-1.details-label
                Contact:
              .col-sm-4.details-value
                = icon('envelope-o')
                = @project_masterdata.responsible_product_owner_email
          .row
            .col-sm-4.details-label
              %strong
                Controller
            .col-sm-2.details-value
              = @project_masterdata.responsible_controller_id
            - unless @project_masterdata.responsible_controller_email.empty?
              .col-sm-1.details-label
                Contact:
              .col-sm-4.details-value
                = icon('envelope-o')
                = @project_masterdata.responsible_controller_email
      .panel.panel-default
        .panel-heading
          Other
        .panel-body
          .row
            .col-sm-4.details-label
              %strong
                Revenue Relevance
            .col-sm-8.details-value
              = @project_masterdata.revenue_relevance
          .row
            .col-sm-4.details-label
              %strong
                Business Criticality
            .col-sm-8.details-value
              = @project_masterdata.business_criticality
          .row
            .col-sm-4.details-label
              %strong
                Solution 
            .col-sm-8.details-value
              = @project_masterdata.solution 
          .row
            .col-sm-4.details-label
              %strong
                Number of Endusers
            .col-sm-8.details-value
              = @project_masterdata.number_of_endusers


  .col-md-3
    - unless @masterdata_found
      = link_to 'Create Masterdata', plugin('masterdata_cockpit').project_masterdata_new_path(), data: { modal: true }, class: 'btn btn-primary btn-sm'
    - else
      = link_to 'Edit Masterdata', plugin('masterdata_cockpit').project_masterdata_edit_path(), data: { modal: true }, class: 'btn btn-primary btn-sm'
