.infobox{data: {update_path: plugin('loadbalancing').update_status_loadbalancer_path(id: loadbalancer.id, format: :js), update_interval: 15, update_immediately: 'true'}}
  %h4.action-heading
    Loadbalancer Info
  %table.table
    %tbody
      %tr
        %th
          Provisioning Status:
        %td
          %label{class: 'spinner', data: {prov_status: "#{loadbalancer.id}"}}
      %tr
        %th.snug-nowrap
          Name:
        %td
          = loadbalancer.name
      %tr
        %th.snug-nowrap
          Description:
        %td
          = loadbalancer.description
      %tr
        %th.snug-nowrap
          ID:
        %td.small
          = loadbalancer.id
      %tr
        %th.snug-nowrap
          IP Address:
        %td
          = loadbalancer.vip_address