%tr{id: "loadbalancer_#{loadbalancer.id}"}
  %td
    = link_to loadbalancer.name, plugin('loadbalancing').loadbalancer_listeners_path(loadbalancer_id: loadbalancer.id)
  %td= loadbalancer.description
  %td= loadbalancer.operating_status
  %td= loadbalancer.provisioning_status
  %td.snug-nowrap
    .list-group.borderless
      %p.list-group-item-text
        %i.fa.fa-desktop.fa-fw
        = loadbalancer.vip_address
      - if loadbalancer.floating_ip
        %p.list-group-item-text
          %i.fa.fa-globe.fa-fw
          = loadbalancer.floating_ip.floating_ip_address
  %td= loadbalancer.listeners.count

  %td.snug
    .btn-group
      %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
        %span.fa.fa-cog

      %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
        - if current_user.is_allowed?("loadbalancing:resource_get", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li= link_to 'Show', plugin('loadbalancing').loadbalancer_path(id: loadbalancer.id), data: {modal: true}
        - if current_user.is_allowed?("loadbalancing:resource_update", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li= link_to 'Edit', plugin('loadbalancing').edit_loadbalancer_path(id: loadbalancer.id), data: {modal: true}

        - if current_user.is_allowed?("loadbalancing:loadbalancer_assign_ip", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li.divider
          - if loadbalancer.floating_ip
            %li= link_to 'Detach Floating IP', plugin('loadbalancing').detach_floatingip_loadbalancer_path(id: loadbalancer.id, floating_ip_id: loadbalancer.floating_ip.id), method: :delete, data: { confirm: 'Are you sure you want to detach floating?', ok: "Yes, detach it", confirmed: :loading_status}, remote: true
          - else
            %li= link_to 'Attach Floating IP', new_floatingip_loadbalancer_path(id: loadbalancer.id), data: {modal: true }

        - if loadbalancer.listeners.count == 0 and current_user.is_allowed?("loadbalancing:resource_delete", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li.divider
          %li= link_to 'Delete',
            plugin('loadbalancing').loadbalancer_path(id: loadbalancer.id),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this Load Balancer?',
              ok: "Yes, delete it",
              confirmed: :loading_status}


