= content_for :title do
  Edit Load Balancer

- if modal?
  .flashes_area
    = render 'flashes'

= simple_form_for @loadbalancer, url: plugin('loadbalancing').loadbalancer_path(@loadbalancer.id), method: :put, remote: request.xhr?, html: {class: 'form-horizontal', data: {modal: true} }, wrapper: :horizontal_form do |f|

  %div{class: modal? ? 'modal-body' : ''}

    = render :partial => 'loadbalancing/application/errors', locals: {object: @loadbalancer}

    %fieldset
      = f.input :name, required: false
      = f.input :description
      = f.input :vip_address, disabled: true

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{ type: 'button', data: { dismiss:'modal' }, aria: { label: 'Cancel' } } Cancel
    - else
      = link_to 'Cancel', plugin('loadbalancing').loadbalancers_path(), class: 'btn btn-default'
    %button{ type: 'submit', class: 'btn btn-primary', data: { disable_with: 'Please wait...'} } Create
