= content_for :title do
  New Load Balancer

- if modal?
  .flashes_area
    = render 'flashes'

= simple_form_for @loadbalancer, url: plugin('loadbalancing').loadbalancers_path, method: :post, remote: request.xhr?, html: {data: {modal: true} } do |f|

  %div{class: modal? ? 'modal-body' : ''}

    = render :partial => 'loadbalancing/application/errors', locals: {object: @loadbalancer}

    .row
      .col-sm-6
        = render partial: 'form', locals: {f: f, update: false}

      .col-sm-6
        .bs-callout.bs-callout-primary.small
          %h3= "Load Balancer"
          %p= "The Load Balancer object defines the internal IP address under which all associated listeners can be reached. For external access a Floating IP can be attached to the Load Balancer."
          %h4= "Private Network"
          %p= "The network which provides the internal IP of the load balancer."
          %h4= "IP Address"
          %p= "Specify an unused IP from the private network (optionally)"



  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{ type: 'button', data: { dismiss:'modal' }, aria: { label: 'Cancel' } } Cancel
    - else
      = link_to 'Cancel', plugin('loadbalancing').loadbalancers_path(), class: 'btn btn-default'
    %button{ type: 'submit', class: 'btn btn-primary', data: { disable_with: 'Please wait...'} } Create
