%tr{:data => {target: container.display_name}}
  %td
    - if current_user.is_allowed?('key_manager:container_get')
      = link_to(container.display_name, plugin('key_manager').container_path(id: container.uuid), data: {modal: true})
      %small.info-text.visible{:data => {target: "container-uuid"}}
        = container.uuid
    - else
      = container.display_name
  %td
    = container.type
  %td
    = container.status
  %td
    - if current_user.is_allowed?('context_is_keymanager_editor')
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown", target: "container-dropdown-btn" }, aria: { expanded: true} }
          %span.fa.fa-cog

        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if current_user.is_allowed?('key_manager:container_delete')
            %li= link_to 'Remove', plugin('key_manager').container_path(id: container.uuid), method: :delete, data: { target: container.uuid, confirm: "Are you sure you want to remove the container #{container.name}?", ok: "Yes, remove it", confirmed: :loading_status}, remote: true
