= content_for :title do
  Container details

.modal-body.static-columns

  .modal-section.first
    %h3
      Details

    .secret-details
      .row
        .col-md-2
          %b
            Name:
        .col-md-10
          = @container.display_name
      .row
        .col-md-2
          %b
            Container Ref:
        .col-md-10
          = @container.container_ref

      .attribute-group
        .row
          .col-md-2
            %b
              Container Type:
          .col-md-4
            = @container.type
          .col-md-2
            %b
              Status:
          .col-md-4
            - secret_status(@container.status)
        .row
          .col-md-2
            %b
              Created at:
          .col-md-10
            = date_humanize(@container.created)
      
        .row
          .col-md-2
            %b
              Owner:
          .col-md-10
            -if @user
              = @user
            -else
              unknown

      .attribute-group
        .row
          .col-md-2
            %b
              Secrets:
          .col-md-10
            = render partial: 'table_container_secrets', locals: {secrets: @container.secrets}