%tr{id: "network_#{network.id}", data: {search_name: network.name, marker_id: network.id}, class: "#{'foreign-object' if network.shared}"}
  %td
    - if current_user.is_allowed?("networking:network_get", network: network.attributes)
      = link_to network.name, plugin('networking').send("networks_#{@network_type}_path", network.id), data: {modal: true}
    - else
      = network.name

  %td
    - if @network_subnets[network.id]
      - @network_subnets[network.id].each do |subnet|
        %strong= subnet.name
        = "(#{subnet.cidr})"
        %br
    - else

  %td
    -# project_id_and_name(network.tenant_id)
    - # improve performance: load project from cache
    - if @network_projects[network.tenant_id]
      = @network_projects[network.tenant_id].name
    %br
    %span.info-text= network.tenant_id
  %td= network.shared ? 'Yes' : 'No'
  %td= network.status
  %td= network.admin_state_up==true ? 'UP' : 'DOWN'

  %td.snug
    = render partial: 'item_actions', locals: {network:network,show_view:false, preview: preview}
