- content_for (:details) do
  %ul.nav.nav-tabs
    %li.active{role: "presentation"}= link_to 'Overview', '#overview', aria: {controls:"overview"}, role: "tab", data: {toggle:"tab"}
    - if current_user.is_allowed?('networking:network_get:segments') && @network.segments.present?
      %li{role: "presentation"}
        = link_to '#segments', aria: {controls:"segments"}, role: "tab", data: {toggle:"tab"} do
          Segments
          %span.badge= @network.segments.length

    %li{role: "presentation"}
      = link_to '#subnets', aria: {controls:"subnets"}, role: "tab", data: {toggle:"tab"} do
        Subnets
        %span.badge= @subnets.length

    %li{role: "presentation"}
      = link_to '#network_ports', aria: {controls:"network_ports"}, role: "tab", data: {toggle:"tab"} do
        Ports
        %span.badge= @ports.length

  .tab-content
    .tab-pane.active{role:"tabpanel", id:"overview"}
      %table.table.datatable
        %tbody
          %tr
            %th Name
            %td= @network.name
          %tr
            %th ID
            %td= @network.id
          %tr
            %th Status
            %td= @network.status
          %tr
            %th Admin State
            %td= @network.admin_state_up ? 'UP' : 'DOWN'
          %tr
            %th Shared
            %td= @network.shared ? 'Yes' : 'No'
          %tr
            %th External Network
            %td= @network.external ? 'Yes' : 'No'
          %tr
            %th Tags
            %td= @network.tags
          - if @network.dns_domain.present?
            %tr
              %th DNS Domain
              %td= @network.dns_domain
          %tr
            %th Project
            %td
              = project_id_and_name(@network.tenant_id)

    - if current_user.is_allowed?('networking:network_get:segments') && @network.segments.present?
      .tab-pane{role:"tabpanel", id:"segments"}
        %table.table.datatable
          %tbody
            %tr
              %th Network Type
              %th Physical Network
              %th Segmentation ID
            - @network.segments.each do |segment|
              %tr
                %td= segment['provider:network_type']
                %td= segment['provider:physical_network']
                %td= segment['provider:segmentation_id']

    .tab-pane{role:"tabpanel", id:"subnets"}
      .subnets{ data: {network_subnets: true,
        network: @network.attributes.to_json,
        url: networks_subnets_path(@network.id),
        items: @subnets.to_json } }

    .tab-pane{role:"tabpanel", id:"network_ports"}
      %table.table.datatable
        %tbody
          %tr
            %th ID
            %th Fixed IPs
            %th Attached Device
            %th Status
            %th Admin State
          - @ports.each do |port|
            %tr
              %td= port.id
              %td
                - port.fixed_ips.each do |ip|
                  = ip["ip_address"]
                  %br
              %td= port.device_owner
              %td= port.status
              %td= port.admin_state_up ? 'UP' : 'DOWN'
              %td

- if modal? && !@action_from_show
  = yield :details
- else
  .row
    .col-md-11
      = yield :details
    .col-md-1
      .loading-place
      .btn-group
        = render partial: 'item_actions', locals: {network: @network, show_view: true}