= simple_form_for @network,
url: plugin('networking').send("networks_#{@network_type}_path", domain_id: @scoped_domain_fid, project_id: @scoped_project_fid, id: @network.id),
method: :put,
remote: request.xhr?,
html: { data: { modal: true } } do |f|

  %div{class: modal? ? 'modal-body' : ''}
    - unless @network.errors["message"].blank?
      %p.alert.alert-error= @network.errors.full_messages.to_sentence

    = f.input :action_from_show, :as => :hidden, :input_html => { :value => @action_from_show }

    %fieldset
      = f.input :name, { label: "Network Name" }
      = f.input :admin_state_up, { label: "Admin State",
        as:         :select,
        collection: [["UP",true],["DOWN",false]] }

  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('networking').send("networks_#{@network_type}_index_url"), class: 'btn btn-default'
    %button{type: "submit", class: 'btn btn-primary', data: { disable_with: 'Please wait...'}} Save
