= render "intro"
= render partial: 'networking/shared/tabs', locals: { tab: @network_type }

.toolbar
  .has-feedback.has-feedback-searchable
    = text_field_tag 'search_networks_input', '', class: "form-control", placeholder: 'Network name'

  .has-feedback-help
    %a.help-link{
      href: "#",
      data: {
        toggle: "popover",
        "popover-type": "help-hint",
        content: "Searches by network name in visible network list only. Entering a search term will automatically start loading the next pages and filter the loaded items using the search term. Emptying the search input field will show all currently loaded items."
      }
    }
      %i.fa.fa-question-circle

  - if current_user.is_allowed?("networking:network_#{@network_type}_create", project: @active_project)
    .main-buttons
      = link_to 'Create new', plugin('networking').send("new_networks_#{@network_type}_path"), data: {modal: true}, class: 'btn btn-primary'

.js-table-networks
  = render partial: 'table', locals: {networks: @networks, preview: @preview, timeout:@timeout, pagination_has_next: @pagination_has_next}
