= content_for :title do
  = "Create #{@network_type.humanize} Network"
= simple_form_for @network, url: plugin('networking').send("networks_#{@network_type}_index_path"), method: :post, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  %div{class: modal? ? 'modal-body' : ''}
    - unless @network.errors.blank?
      %p.alert.alert-error= @network.errors.full_messages.to_sentence
    - unless @errors.blank?
      %p.alert.alert-error= @errors.full_messages.to_sentence
    %fieldset
      = f.input :name
      = f.input :admin_state_up, { as: :select, collection: [['UP', true], ['DOWN', false]], selected:   true }
    %hr/
    %label
      Create Subnet
      = check_box_tag 'Create Subnet', 1, !@subnet.nil?, hidden: true, data:{toggle: 'collapse', target: '#collapseExample'} # checkbox hidden until create subnet available
    -# FIXME: anti-pattern of doing two things in one dialog - labelling already indicates a hack
    %fieldset.collapse{id: "collapseExample", class: "#{"in" if !@subnet.nil?}"}
      = f.simple_fields_for :subnets do |subnets|
        = subnets.input :name, { label: "#{Networking::Subnet.human_attribute_name(:name)}", input_html: { value: @subnet.try(:name) } }
        = # subnets.input :cidr, icon_hint: "Allowed network ranges please check #{link_to 'here', "https://netbox.global.cloud.sap/ipam/prefixes/?mask_length__lte=&q=&within_include=&fami[…]ngth=&present_in_vrf_id=&is_pool=&tag=cc-net-tenant-range", {target: :_blank}}", label: "#{Networking::Subnet.human_attribute_name(:cidr)}", input_html: { value: @subnet.try(:cidr) }
        = subnets.input :cidr, icon_hint: "must be in cidr range like 10.180.0.0/16", label: "#{Networking::Subnet.human_attribute_name(:cidr)}", input_html: { value: @subnet.try(:cidr) }
  .buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{
type: "button",
data: { dismiss: "modal" },
aria: { label: "Cancel" }
}
        Cancel
    - else
      = link_to 'Cancel', plugin('networking').send("networks_#{@network_type}_index_url"), class: 'btn btn-default'
    %button{
type: "submit",
class: "btn btn-primary",
data: { disable_with: "Please wait..." }
}
      Create
