.row
  .col-sm-12
    - if current_user.is_allowed?("identity:inquiry_admin_list") && admin_view
      %ul.nav.nav-tabs
        %li.active{role: "presentation"}= link_to 'Pending inquiries', '#openinquiries', aria: {controls:"openinquiries"}, role: "tab", data: {toggle:"tab"}
        %li{role: "presentation"}= link_to 'All inquiries', '#allinquiries', aria: {controls:"allinquiries"}, role: "tab", data: {toggle:"tab"}
      .tab-content
        #openinquiries.tab-pane.active{role: "tabpanel"}
          = remote_inquiries(per_page: 10, filter: {processor_id: current_user.id, state: ['open']})
        #allinquiries.tab-pane{role: "tabpanel"}
          = remote_inquiries(per_page: 10,filter: {domain_id: current_user.domain_id})
    - else
      = remote_inquiries(per_page: 10, filter: {requester_id:current_user.id})
