.row
  .col-sm-12
    - if admin_view and (current_user.is_allowed?("identity:inquiry_admin_list") or current_user.is_allowed?("cloud_admin"))
      - if current_user.is_allowed?("cloud_admin")
        - domain_id = nil
      - else
        - domain_id = current_user.user_domain_id
      %ul.nav.nav-tabs
        %li.active{role: "presentation"}= link_to 'Pending inquiries', '#openinquiries', aria: {controls:"openinquiries"}, role: "tab", data: {toggle:"tab"}
        %li{role: "presentation"}= link_to 'Processed inquiries', '#allinquiries', aria: {controls:"allinquiries"}, role: "tab", data: {toggle:"tab"}
      .tab-content
        .inquiries.spinner
        #openinquiries.tab-pane.active{role: "tabpanel"}
          = remote_inquiries(per_page: Inquiry::Inquiry.default_per_page, filter: {approver_domain_id: domain_id, processor_id: current_user.id, state: ['open']})
        #allinquiries.tab-pane{role: "tabpanel"}
          = remote_inquiries(per_page: Inquiry::Inquiry.default_per_page,filter: {approver_domain_id: domain_id, processor_id: current_user.id, state: ['closed','approved','rejected']})
    - else
      .inquiries.spinner
      = remote_inquiries(per_page: Inquiry::Inquiry.default_per_page, filter: {domain_id: current_user.user_domain_id, requester_id:current_user.id})
