= simple_form_for @inquiry, url: plugin('inquiry').inquiries_path(domain_id: @scoped_domain_fid, project_id: @scoped_project_fid), method: :post, remote: request.xhr?, html: {data: {modal: true} } do |f|
  %div{class: modal? ? 'modal-body' : ''}
    .alert.alert-error= render_errors(@inquiry.errors) unless @inquiry.errors.blank?
      

    %fieldset
      = f.input :kind, { label: "Request for",
        as:         :select,
        include_blank: false,
        collection: [["Project","project"],["Domain","domain"]] }
      = f.input :description, as: :text


  %div.buttons{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", inquiries_url(), class: 'btn btn-default'
    %button{type: "submit", class: 'btn btn-primary', data: { disable_with: 'Please wait...'}} Create
