- data = {search_name: "#{loadbalancer.id} #{loadbalancer.name} #{loadbalancer.description} #{loadbalancer.vip_address} #{loadbalancer.floating_ip.floating_ip_address if loadbalancer.floating_ip}", marker_id: loadbalancer.id}
- if loadbalancer.in_transition?
  - data[:update_path]=plugin('lbaas').update_item_loadbalancer_path(id:loadbalancer.id)
  - data[:update_interval]=60
  - data[:update_immediately]='true'

%tr{id: "#{loadbalancer.id}", data: data}
  %td
    - if loadbalancer.in_transition?
      %span{class: 'spinner'}
    - if current_user.is_allowed?("lbaas:resource_get", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
      = link_to name_or_id(loadbalancer.name, loadbalancer.id, 36), plugin('lbaas').loadbalancer_listeners_path(loadbalancer_id: loadbalancer.id)
    - else
      %td= name_or_id(loadbalancer.name, loadbalancer.id, 36)
  %td= description(loadbalancer.description)
  %td
    %label{class: 'spinner', data: {op_status: "#{loadbalancer.id}"}}
  %td
    %label{class: 'spinner', data: {prov_status: "#{loadbalancer.id}"}}
  %td.snug-nowrap
    .list-group.borderless
      - if loadbalancer.subnet
        %p.list-group-item-text
          = loadbalancer.subnet.name
      %p.list-group-item-text
      %i.fa.fa-desktop.fa-fw
      = loadbalancer.vip_address
      - if loadbalancer.floating_ip
        %p.list-group-item-text
          %i.fa.fa-globe.fa-fw
          = loadbalancer.floating_ip.floating_ip_address
  - nlisteners = loadbalancer.listeners ? loadbalancer.listeners.count : 0
  %td= link_to nlisteners, plugin('lbaas').loadbalancer_listeners_path(loadbalancer_id: loadbalancer.id) if current_user.is_allowed?("lbaas:resource_get", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
  - npools = loadbalancer.pools ? loadbalancer.pools.count : 0
  %td= link_to npools, plugin('lbaas').loadbalancer_pools_path(loadbalancer_id: loadbalancer.id) if current_user.is_allowed?("lbaas:resource_get", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})

  %td.snug
    .btn-group
      - if loadbalancer.in_transition?
        %button.btn.btn-default.btn-sm.dropdown-toggle{ disabled: true, type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.fa.fa-cog
      - else
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.fa.fa-cog

      %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
        - if current_user.is_allowed?("lbaas:resource_get", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li= link_to 'Show', plugin('lbaas').loadbalancer_path(id: loadbalancer.id), data: {modal: true}
        - if current_user.is_allowed?("lbaas:resource_update", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}}) && loadbalancer.active?
          %li= link_to 'Edit', plugin('lbaas').edit_loadbalancer_path(id: loadbalancer.id), data: {modal: true}
        - if current_user.is_allowed?("lbaas:loadbalancer_refresh_state", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li= link_to 'Refresh State',
            plugin('lbaas').refresh_state_loadbalancer_path(id: loadbalancer.id),
            method: :put,
            remote: true
        - if current_user.is_allowed?("lbaas:resource_update", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}}) && loadbalancer.active?
          %li.divider
          %li= link_to 'Listeners', plugin('lbaas').loadbalancer_listeners_path(loadbalancer_id: loadbalancer.id)
          %li= link_to 'Pools', plugin('lbaas').loadbalancer_pools_path(loadbalancer_id: loadbalancer.id)
        - if current_user.is_allowed?("lbaas:loadbalancer_assign_ip", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li.divider
          - if loadbalancer.floating_ip
            %li= link_to 'Detach Floating IP', plugin('lbaas').detach_floatingip_loadbalancer_path(id: loadbalancer.id, floating_ip_id: loadbalancer.floating_ip.id), method: :delete, data: { confirm: 'Are you sure you want to detach floating?', ok: "Yes, detach it", confirmed: :loading_status}, remote: true
          - else
            %li= link_to 'Attach Floating IP', new_floatingip_loadbalancer_path(id: loadbalancer.id), data: {modal: true }

        - if loadbalancer.delete? and current_user.is_allowed?("lbaas:resource_delete", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
          %li.divider
          %li= link_to 'Delete',
            plugin('lbaas').loadbalancer_path(id: loadbalancer.id),
            method: :delete,
            remote: true,
            data: { confirm: 'Are you sure you want to delete this Load Balancer?',
              ok: "Yes, delete it",
              confirmed: :loading_status }
