.well
  %h4
    Here you can find the parameters needed to access the domain with an openstack client.
  %h4
    To install the openstack (cli) client follow the officially provided instructions from the
    %a(title='OpenStack Clients' href='https://docs.openstack.org/newton/user-guide/common/cli-install-openstack-command-line-clients.html' target='blank') OpenStack Documentation
  %p
    The OpenStack RC file contains the necessary environment variables to authenticate for this domain to interact with the OpenStack API.
    <br>
    To source the OpenStack RC file, use the following command in your terminal:
    %code
      source openrc-#{@scoped_domain_name}
    <br>
    After sourcing, the environment variables are set, you can run OpenStack CLI commands (e.g. 
    %code
      openstack project list, openstack endpoint list
    )
.openrc
  =link_to plugin('identity').domains_download_openrc_path , class:'btn btn-outline' do
    %span.fa.fa-cloud-download.fa-fw
    Download Openstack RC File
  &nbsp;
  =link_to plugin('identity').domains_download_openrc_ps1_path , class:'btn btn-outline' do
    %span.fa.fa-cloud-download.fa-fw
    Download Openstack RC File for Windows PowerShell


%table.table.datatable
  %tbody
    %tr
      %th OS_AUTH_URL
      %td= @identity_url
    %tr
      %th OS_IDENTITY_API_VERSION | OS_AUTH_VERSION
      %td= '3'
    %tr
      %th OS_REGION_NAME
      %td= current_region
    %tr
      %th OS_USER_DOMAIN_ID | OS_USER_DOMAIN_NAME
      %td= "#{@scoped_domain_id} | #{@scoped_domain_name}"
    %tr
      %th OS_USERNAME
      %td= '<Your username>'
    %tr
      %th OS_PASSWORD
      %td= '<Your password>'
