
-# = render "intro_section"

.row
  .col-md-3
    %h4.heading-top= @scoped_domain_name

    %p
      = @domain.description if @domain



    -# ADMIN ACTIONS
    - if current_user and current_user.admin?
      %h4.heading-whitespace Domain Administration

      - if plugin_available?('resource_management')
        %h5
          %i.monitoring-icon
          Resource Management

        %ul.plain-list
          - if current_user.is_allowed?('resource_management:cloud_admin_list')
            %li
              = link_to "Cloud Resources Administration", plugin('resource_management').cloud_admin_path

          - if current_user.is_allowed?('resource_management:domain_admin_list')
            %li
              = link_to "Domain Resources Administration", plugin('resource_management').admin_path


        - if plugin_available?('inquiry') && current_user.is_allowed?('inquiry:inquiry_all_list')
          %h5
            %i.inquiry-icon
            Domain Admin Requests

          %ul.plain-list
            %li
              = link_to "Manage Requests", plugin('inquiry').admin_inquiries_path

        - if plugin_available?('identity')
          %h5
            %i.access_management-icon
            Access Management

          %ul.plain-list
            - if current_user.is_allowed?('identity:group_list', domain_id: @scoped_domain_id)
              %li
                = link_to "Group Management", plugin('identity').groups_path

            - if current_user.is_allowed?('identity:technical_user_list', domain_id: @scoped_domain_id)
              %li
                = link_to "Create/Edit Technical Users", plugin('identity').domains_technical_users_path
            
            - if current_user.is_allowed?('identity:user_list', domain_id: @scoped_domain_id)
              %li
                = link_to "User Management", plugin('identity').domains_users_path    




        -  if current_user.is_allowed?('identity:project_create',{project: {domain_id: @scoped_domain_id}})
          %h5
            %i.project-icon
            Projects

          %ul.plain-list
            %li
              = link_to 'Create a New Project', plugin('identity').domains_create_project_path, data: {modal: true}



  .col-md-3
    %h4.heading-top
      = @scoped_domain_name
      Actions

    %h5
      %i.inquiry-icon
      Requests

    %ul.plain-list
      %li
        = link_to 'Your Requests', plugin('inquiry').inquiries_path

    - if current_user.is_allowed?('identity:project_request', domain_id: @scoped_domain_id)
      %h5
        %i.project-icon
        Projects

      %ul.plain-list
        %li
          = link_to 'Request a New Project', plugin('identity').projects_request_project_path(project_id: nil), data: {modal: true}



  .col-md-3
    = render 'projects_tree'


  .col-md-3
    .infobox
      %h4 Infobox
      %table.table
        %tbody
          %tr
            %th.snug-nowrap
              Region:
            %td
              = current_region
          %tr
            %th.snug-nowrap
              Domain:
            %td
              = @scoped_domain_name


      %h5 Helpful Links

      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-file-text-o
          %a(href="#{sap_url_for('documentation')}docs/start/whatis.html") Getting Started
        %li
          %i.fa.fa-li.fa-file-text-o
          %a(href="#{sap_url_for('documentation')}docs/trouble/") Troubleshooting & FAQ
        %li
          %i.fa.fa-li.fa-file-text-o
          %a(href="#{sap_url_for('documentation')}docs/monitor/") Monitoring and Cost Control
        %li
          %i.fa.fa-li.fa-file-text-o
          %a(href="#{sap_url_for('documentation')}docs/guides/") Tutorials
