
-# = render "intro_section"

.row
  .col-md-3
    %h4.heading-top= @scoped_domain_name

    %p
      = @domain.description if @domain



    -# ADMIN ACTIONS
    - if current_user and current_user.admin?
      %h4.heading-whitespace Domain Administration

      - if plugin_available?('resource_management') || plugin_available?('cost_control')
        %h5
          %i.monitoring-icon
          Resources & Masterdata

        %ul.plain-list
          - if  plugin_available?('masterdata_cockpit') && current_user.is_allowed?('masterdata_cockpit:masterdata_get')
            %li
              = link_to "Masterdata", plugin('masterdata_cockpit').domain_masterdata_path

          - if plugin_available?('resource_management') && current_user.is_allowed?('resource_management:cloud_admin_list')
            %li
              = link_to "Cloud Capacity and Resources", plugin('resource_management').cloud_admin_path

          - if plugin_available?('resource_management') && current_user.is_allowed?('resource_management:domain_admin_list')
            %li
              = link_to "Domain Resources Administration", plugin('resource_management').admin_path


      - if plugin_available?('inquiry') && current_user.is_allowed?('inquiry:inquiry_all_list')
        %h5
          %i.inquiry-icon
          Domain Admin Requests

        %ul.plain-list
          %li
            = link_to plugin('inquiry').admin_inquiries_path do
              Manage Requests
              = " (#{::Inquiry::Inquiry.processor_open_requests(@scoped_domain_id, current_user.id).length})"

      - if plugin_available?('identity')
        %h5
          %i.access_management-icon
          Access Management

        %ul.plain-list
          - if current_user.is_allowed?('identity:group_list', domain_id: @scoped_domain_id)
            %li
              = link_to "Group Management", plugin('identity').groups_path

          - if current_user.is_allowed?('identity:user_list', domain_id: @scoped_domain_id)
            %li
              = link_to "User Management", plugin('identity').domains_users_path

        -  if current_user.is_allowed?('identity:project_create',{project: {domain_id: @scoped_domain_id}})
          %h5
            %i.project-icon
            Projects

          %ul.plain-list
            %li
              = link_to 'Create a New Project', plugin('identity').domains_create_project_path, data: {modal: true}

      - if plugin_available?('lookup') # TODO: ADD policy check here
        %h5
          %i.lookup-icon
          Project Lookup

        %ul.plain-list
          %li
            = link_to 'Find Project by Child IP or DNS', plugin('lookup').reverselookup_index_path, data: {modal: true}

  .col-md-3
    %h4.heading-top
      = @scoped_domain_name
      Actions

    %h5
      %i.inquiry-icon
      Requests

    %ul.plain-list
      %li
        = link_to plugin('inquiry').inquiries_path do
          My Requests
          = " (#{::Inquiry::Inquiry.requestor_open_requests(@scoped_domain_id, current_user.id).length})"


    - if current_user.is_allowed?('identity:project_request', domain_id: @scoped_domain_id)
      %h5
        %i.project-icon
        Projects

      %ul.plain-list
        %li
          = link_to 'Request a New Project', plugin('identity').projects_request_project_path(project_id: nil), data: {modal: true}



  .col-md-3
    = render 'projects_tree'


  .col-md-3
    .infobox
      %h4 Infobox
      %table.table
        %tbody
          %tr
            %th.snug-nowrap
              Region:
            %td
              = current_region
          %tr
            %th.snug-nowrap
              Domain:
            %td
              = @scoped_domain_name


      %h5
        Helpful Links
        %i.fa.fa-external-link

      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-file-text-o
          %a(href="#{sap_url_for('documentation')}" target="_blank") Documentation Main Page
        %li
          %i.fa.fa-li.fa-file-text-o
          %a(href="#{sap_url_for('documentation')}docs/faq/" target="_blank") Troubleshooting & FAQ
        %li
          %i.fa.fa-li.fa-file-text-o
          %a(href="#{sap_url_for('documentation')}docs/learn/" target="_blank") Tutorials
        %li
          %i.fa.fa-li.fa-ambulance
          %a(href="#{sap_url_for('documentation')}docs/support/" target="_blank") Get Support
