.context-breadcrumb.context-breadcrumb-fancy
  .container.context-container
    - if @user_domain_projects
      %ol.context-list
        %li.dropdown
          %span.glyphicon.glyphicon-th
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            - if @active_project
              = @active_project.name
            - else
              Choose a Project
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            - @user_domain_projects.each do |project|
              %li{class: ("active" if project.id == @scoped_project_id)}
                = link_to "#{project.name}", plugin('identity').project_path(project_id:project.friendly_id)



    - if @scoped_project_id
      %ol.context-list
        %li.dropdown.dropdown-mega
          %span.glyphicon.glyphicon-cloud
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = processed_controller_name
            %span.caret
          = render_navigation(context: :services, expand_all: true, renderer: :fancy_list)


    - if current_user.admin?
      %ol.context-list.pull-right
        %li.dropdown.context-admin
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fa.fa-sliders
            = "Admin"
            %span.caret
          = render_navigation(context: :"admin", expand_all: true)
