.context-breadcrumb.context-breadcrumb-fancy
  .container.context-container
    - if @scoped_domain_id
      %ol.context-list
        %li.dropdown
          = link_to plugin('identity').domain_path(project_id:nil) do
            %i.icon-link.fa.fa-home

      - unless @domain_switch
        %ol.context-list
          %li.dropdown
            = link_to plugin('identity').user_projects_path, data: {modal: true} do
              %i.icon-link.fa.fa-th-list


    - if @scoped_project_id and not @domain_switch
      %ol.context-list
        %li
          = link_to @scoped_project_name, plugin('identity').project_path(project_id: @scoped_project_id)

      %ol.context-list
        %li.dropdown.dropdown-mega
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i{class: selected_category_icon}
            = selected_service_name
            %span.caret
          = render_navigation(context: :services, expand_all: true, renderer: :fancy_list)

    .special-crumb
      - if services.available?(:webconsole) and plugin_name!='webconsole' and plugin_name!='loadbalancing'
        = link_to 'javascript:void(0)', class: 'solo-icon-link', data: {trigger: 'webconsole:open'} do
          %span.fa-stack
            %i.fa.fa-square.fa-stack-2x
            %i.fa.fa-terminal.fa-stack-1x.fa-inverse
    

