- header_title ||= "Application"
- title ||= "An error has occurred"
- description ||= "Something went wrong while processing your request.<br> Please try later again."
- token ||= nil
- details ||= nil


- if modal?
  = content_for :title do
    %span{class: "#{plugin_name}-icon error-icon"}
    %span.active
      = "#{header_title} Error"

  .modal-body

    %h3
      = title.html_safe

    .alert.alert-error.alert-extended
      .alert-body
        = description.html_safe
      - unless token.nil?
        %hr
        .alert-footer
          %b Error ID:
          %span
            = token

    - unless details.nil?
      %p
        = link_to "#", data: {toggle: "show-error-details"} do
          Show error details
          %i.fa.fa-caret-down

      .scrollable-text.error-details-area.hide
        = details


  - if modal?
    .modal-footer
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close

- else

  %h3
    = title.html_safe

  .alert.alert-error.alert-extended
    .alert-body
      = description.html_safe
    - unless token.nil?
      %hr
      .alert-footer
        %b Error ID:
        %span
          = token

  - unless details.nil?
    %p
      = link_to "#", data: {toggle: "show-error-details"} do
        Show error details
        %i.fa.fa-caret-down

    .scrollable-text.error-details-area.hide
      = details