.row
  .col-sm-3
    %ul.list-unstyled
      %li= link_to "Terms of Use", main_app.terms_of_use_path, data:{modal: true} unless @scoped_domain_id.blank?
      %li
        %a(href="#{sap_url_for('documentation')}" target='ccdocs') Documentation

  .col-sm-3
    - if Rails.env.development?
      = render partial: 'layouts/dev_tools'
  .col-sm-3
    - if Rails.env.development? and current_user
      = raw "Token expires at: #{current_user.token_expires_at.to_time.localtime.strftime('%d.%m.%Y %H:%M:%S')} (ca. <span id='token-counter'>#{((current_user.token_expires_at.to_time-Time.now)/60).round}</span> minutes)"
      :javascript
        setInterval(function(){ var counter = parseInt($('#token-counter').text()); $('#token-counter').text(counter-1) }, 60000);

