.main-toolbar
  .container
    %h1
      .small
        = link_to @scoped_domain_name, plugin('identity').domain_path(project_id:nil)
        - hierarchical_breadcrumb(@active_project, @user_domain_projects) do |project|
          \/
          = link_to(project.name,plugin('identity').project_path(project_id: project.friendly_id))

        - unless @active_project.blank?
          .info-box.pull-right
            .info-text
              Project ID:
              = @active_project.id
            - if show_beta?
              .info-text
                %i.monitoring-icon
                = link_to "Quota: 7 floating IPs", plugin('resource_management').resources_path, data: {toggle: "tooltip", placement: "right"}, title: "Click to manage quotas"

      .page-title
        %i.fa.fa-angle-right
        = link_to request.fullpath do
          - if content_for? :main_toolbar
            = yield :main_toolbar
          - else
            = active_service_breadcrumb
