- if @can_access_domain
  .main-toolbar
    .container
      %h1
        .small
          = link_to @scoped_domain_name, main_app.domain_home_path(domain_id: @scoped_domain_fid, project_id:nil)
          - current_project_parents do |project|
            \/
            = link_to(project.name.try(:html_safe), main_app.project_home_path(domain_id: @scoped_domain_fid, project_id: project.id))
          - if @scoped_project_id
            \/
            = link_to(@scoped_project_name, main_app.project_home_path(domain_id: @scoped_domain_fid, project_id: @scoped_project_fid))

          - unless @scoped_domain_id.blank?
            .info-box
              .info-text
                Domain ID:
                = @scoped_domain_id

              - unless @active_project.blank?

                .info-text
                  Project ID:
                  = @active_project.id

                -# this is called in any view, check plugins/resources/app/controllers/resources/application_controller.rb 
                -# to prevent loading meaningless data if there is no quota usage like for identity or web-console
                %div{data: {"react-quota-usage": true, type: plugin_name}} 
                  
                - if @plugin_help_text
                  %div
                    %a.help-link{href: "#", data: {toggle: "help"}}
                      Help
                      %i.fa.fa-question-circle-o


        .page-title
          %i.fa.fa-angle-right
          .title-content
            - crumb,url = active_service_breadcrumb

            = link_to url do
              - if content_for? :main_toolbar
                = yield :main_toolbar
              - else
                = crumb


          = release_state_tag(release_state) if release_state
