.main-toolbar
  .container
    %h1
      .small
        = link_to @scoped_domain_name, plugin('identity').domain_path(project_id:nil)
        - hierarchical_breadcrumb(@active_project, @user_domain_projects) do |project|
          \/
          = link_to(project.name,plugin('identity').project_path(project_id: project.id))

        - unless @active_project.blank?
          .info-box.pull-right
            .info-text
              Project ID:
              = @active_project.id

            - if @quota_data and @quota_data.length>0
              .info-text.info-clickable
                %i.monitoring-icon
                = link_to "Quota: #{@quota_data.collect{|qd| qd.display_string}.join(', ')}", plugin('resource_management').resources_path, data: {toggle: "tooltip", placement: "right"}, title: "Click to manage quotas"

            - if @plugin_help_text
              %div
                %a.help-link{href: "#", data: {toggle: "help"}}
                  Help
                  %i.fa.fa-question-circle-o


      .page-title
        %i.fa.fa-angle-right
        = link_to request.fullpath do
          - if content_for? :main_toolbar
            = yield :main_toolbar
          - else
            = active_service_breadcrumb

        - if experimental
          %span.experimental-tag{data: {toggle: "tooltip"}, title: "This is an experimental. There will be errors/missing features!"}
            %i.fa.fa-flash
            Experimental
