- if logged_in?
  .modal.fade#profile{ tabindex: "-1", role: "dialog" }
    .modal-dialog.modal-lg{ role: "document" }
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss": "modal", "aria-label": "Close"}
            %span{ "aria-hidden": "true"} &times;

          %h4.modal-title My Profile
        .modal-body
          %table.table.no-borders
            %tbody
              %tr
                %th Name
                %td= current_user.name
              %tr
                %th Full Name
                %td= current_user.full_name
              %tr
                %th Current Scope
                %td
                  %b Domain:
                  = current_user.project_domain_name || current_user.domain_name
                  %br
                  %b Project:
                  = current_user.project_name
                  %b Assigned Roles: 
                  = current_user.role_names.join(', ')

        .modal-footer
          %button.btn.btn-default{ type: "button", "data-dismiss": "modal"} Close
