= content_for :page_lead do
  .jumbotron
    .container
      %h1
        Domain Switch Detected

      %p
        Do you really want to switch domains?

.content
  %p.lead
    You are currently signed into the
    %strong= @current_domain_name
    domain. Are you sure you want to switch to
    %strong= @new_domain_name
    ? (Choosing "Yes" will sign you out of
    = @current_domain_name
    )


  %p
    = link_to "No, I want to stay here", main_app.landing_page_path(@current_domain_name), class: 'btn btn-outline btn-lg'
    = link_to "Yes, take me there", monsoon_openstack_auth.login_url(domain_name:@new_domain_name), class: 'btn btn-primary btn-lg'
