.content
  .container
    .page-header
      %h1
        = @error_title || "Error occured"

    %ul
      - if @errors
        - @errors.each do |name,message|
          %li= "#{name}: #{message}"
      - elsif @error_message
        = @error_message
      - else
        Unknown error.      