- env_hint = "Account Environment: can be one from [ 'PROD', 'QA', 'DEV', DEMO', 'TRAIN', 'SANDBOX', 'LAB' ]"

- identity_hint = "Enter email address or domain name to send email from"

- mail_type_hint = "Purpose: can be of one from ['MARKETING', 'TRANSACTIONAL'] "

- provider_hint = "Choose Provider: can be one from ['aws', 'int']"

- security_officer_hint = 'Email address or SAP User ID of the security officer.'

- endpoint_url_hint = "Custom endpoint URL"

= f.input :account_env,   required: true, label: "Account Environment", collection: account_env_collection, as: :select, icon_hint: env_hint

= f.input :identity,  required: true, label: 'Identity (email / domain)', placeholder: 'Identity (email / domain)', icon_hint: identity_hint

= f.input :mail_type,  required: true, label: 'Purpose', collection: aws_mail_type_collection, icon_hint: mail_type_hint

= f.input :provider, required: true, label: 'Provider', collection: nebula_provider_collection, icon_hint: provider_hint

= f.input :security_officer,  required: true, label: 'Security Officer details', placeholder: 'Email address or SAP User ID of the security officer.', icon_hint: security_officer_hint

= f.input :endpoint_url, required: false, label: "Custom endpoint url", placeholder: "Custom endpoint URL", icon_hint: 'Your own endpoint URL to use'
    
    