= content_for :title do
  Cronus Account - NEW

- unless modal?
  %h3 Cronus Account

= simple_form_for @multicloud_account, as: :multicloud_account, url: plugin('email_service').multicloud_accounts_path(), method: :post, remote: request.xhr?,  html: {id: 'form_multicloud_account', data: {modal: true}, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  .modal-body.static-columns
    .modal-flashes
      = render partial: "email_service/shared/flashes", formats: :html

    = render partial: 'form', locals: { f: f, form_type: 'new' }

  %div{class: modal? ? 'modal-footer' : ''}
    - if modal?
      %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Cancel"}} Cancel
    - else
      = link_to "Cancel", plugin('email_service').settings_path(), class: 'btn btn-default'
    = button_tag "Enable", { class: 'btn btn-primary pull-right', data: { disable_with: "Please wait..." } }
