= content_for :title do
  Cronus Account details

.row
  .accounts_table
  %table.table.table-striped
    %tbody
      %tr
        %th dedicated_ip_auto_warmup_enabled
        %td
          = @account.dedicated_ip_auto_warmup_enabled
      %tr
        %th enforcement_status
        %td
          = @account.dedicated_ip_auto_warmup_enabled
      %tr
        %th production_access_enabled
        %td
          = @account.production_access_enabled
      %tr
        %th send_quota.max_24_hour_send
        %td
          = @account.send_quota.max_24_hour_send
      %tr
        %th send_quota.max_send_rate
        %td
          = @account.send_quota.max_send_rate
      %tr
        %th send_quota.sent_last_24_hours
        %td
          = @account.send_quota.sent_last_24_hours
      %tr
        %th sending_enabled
        %td
          = @account.sending_enabled
      %tr
        %th suppression_attributes.suppressed_reasons
        %td
          = @account.suppression_attributes.suppressed_reasons
      %tr
        %th details.mail_type
        %td
          = @account.details.mail_type
      %tr
        %th details.website_url
        %td
          = @account.details.website_url
      %tr
        %th details.contact_language
        %td
          = @account.details.contact_language
      %tr
        %th details.use_case_description
        %td
          = @account.details.use_case_description
      %tr
        %th details.additional_contact_email_addresses
        %td
          = @account.details.additional_contact_email_addresses
      %tr
        %th details.review_details.status
        %td
          = @account.details.review_details.status
      %tr
        %th details.review_details.case_id
        %td
          = @account.details.review_details.case_id
