- if modal?
  = content_for :title do
    Technical User Created
- else
  = content_for :main_toolbar do 
    Technical User Created
  
%div{class: modal? ? 'modal-body' : ''}
  %p.alert.alert-info 
    The following technical user has been created. 
    %strong Please be sure to write down the name and password. 
    For security reasons we won't be able to display it again later!
  
  %table.table
    %tbody
      %tr
        %th Name
        %td= @technical_user.name
      %tr
        %th 
          Password
          %i.fa.fa-fw.fa-exclamation-triangle.confirm-icon
          
        %td= @password
      %tr
        %th Domain
        %td
          = @technical_user.domain_id  
          - if @scoped_domain_id == @technical_user.domain_id
            %br
            %span.info-text= @scoped_domain_name
      %tr
        %th Description
        %td= @technical_user.description    
  
%div.buttons{class: modal? ? 'modal-footer' : ''}  
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Back", domains_technical_users_path, class: 'btn btn-default'