- if modal?
  = content_for :title do
    Password renewed
- else
  = content_for :main_toolbar do 
    Password renewed
  
%div{class: modal? ? 'modal-body' : ''}
  %p.alert.alert-info 
    Password has been renewed. 
    %strong Please be sure to write down the name and password. 
    For security reasons we won't be able to display it again later!
  
  %table.table
    %tbody
      %tr
        %th Name
        %td= @technical_user.name
      %tr
        %th 
          New password
          %i.fa.fa-fw.fa-exclamation-triangle.confirm-icon
          
        %td= @new_password
  
%div.buttons{class: modal? ? 'modal-footer' : ''}  
  - if modal?
    %button.btn.btn-default{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}} Close
  - else
    = link_to "Back", domains_technical_users_path, class: 'btn btn-default'