%tr{id: "technical_user_#{user.id}"}
  %td
    = user.name
    %br
    %span.small.info-text= user.id
  %td= user.description 
  %td.snug
    - if current_user.is_allowed?("identity:technical_user_reset_password", user: user) or current_user.is_allowed?("identity:technical_user_delete", user: user) or current_user.is_allowed?("identity:technical_user_update", user: user) 
      
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}, aria: { expanded: true} }
          %span.fa.fa-cog
          -# %span.spinner
         
        %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
          - if current_user.is_allowed?("identity:technical_user_update", user: user)
            %li= link_to 'Edit Description', edit_domains_technical_user_path(id:user.id), data: {modal: true}
          - if current_user.is_allowed?("identity:technical_user_reset_password", user: user)
            %li= link_to 'Reset Password', reset_password_domains_technical_user_path(id:user.id), data: {modal: true}
          - if current_user.is_allowed?("identity:technical_user_delete", user: user)
            %li= link_to 'Delete', plugin('identity').domains_technical_user_path(id: user.id || 'dsdsds'), method: :delete, data: { confirm: 'Are you sure you want to delete this user?', ok: "Yes, delete it", confirmed: :loading_status}, remote: true