!!!
%html
  %head
    %title Monsoon Converged Cloud Dashboard
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    -# = content_for :javascripts do
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_png
    = favicon_ico
    = apple_touch_icon

    = csrf_meta_tags

    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")

  %body{class: "#{controller.controller_name}"}

    = render "nav"
    = render "breadcrumb"

    .container
      = render "application/flashes"
      %pre.debug-info= MonsoonOpenstackAuth.api_client(MonsoonOpenstackAuth.configuration.default_region).service_user.to_json
    = yield

    %footer.footer
      .container
        = image_tag "monsoon_logo.png", class: "pull-right"

    = yield :templates
    = yield :javascripts
