!!!
%html{class: action_name}
  %head
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")


    %title Monsoon Converged Cloud Dashboard
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    -# = content_for :javascripts do
    :javascript
      //window.History = { options: { html4Mode: true} };
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_png
    = favicon_ico
    = apple_touch_icon

    = csrf_meta_tags

  %body{class: "#{body_class}"}

    = render "nav"
    = render "breadcrumb"
    = render "main_toolbar"

    = yield :page_lead

    .container
      .content{class: "#{plugin_name if plugin_name}"}
        - if service_user
          %h4 Service User
          %p
            = service_user.roles.collect{|r|r.name}
            %br
            = "token: #{service_user.token}"
            %br
            = "expiration time: #{service_user.token_expires_at.utc}, now: #{Time.now}"
            %br
            = "domain: #{service_user.domain_name}"
            %br
            = service_user.list_cloud_admins.collect{|a|a.name}
            %br
            = service_user.list_scope_admins(domain_id: @scoped_domain_id).collect{|a|a.name}

        = render "application/flashes"
        = yield

    %footer.footer
      .container
        = image_tag "monsoon_logo.png", class: "pull-right"

        .row
          .col-sm-3
            - if Rails.env.development?
              = render partial: 'layouts/dev_tools'
          .col-sm-3
          .col-sm-3



    = yield :templates
    = yield :javascripts

    #modal-holder
