!!!
%html
  %head
    %title= "CCloud #{@domain_name if @domain_name}"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    
    = render "layouts/favicon" 

    = csrf_meta_tags

    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")

  %body

    %nav.navbar.navbar-login
      .navbar-header
        = link_to "/#{@domain_name}", class: "navbar-brand" do
          .logo
          Converged Cloud

    = yield


    = yield :templates
    = yield :javascripts
