!!!
%html
  %head
    %title Monsoon Converged Cloud Dashboard
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = content_for :javascripts do
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")

  %body

    %nav.navbar.navbar-fixed-top.navbar-inverse.navbar-sap
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target": "#main-nav-collapse", "data-toggle": "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "/", class: "navbar-brand" do
            .logo
            Monsoon Converged Cloud

    = yield

    %footer.footer
      .container
        = image_tag "monsoon_logo.png", class: "pull-right"

    = yield :templates
    = yield :javascripts
