/ .modal#mainModal.fade{tabindex: "-1", role: "dialog", data: { backdrop: 'static' }, aria: {labelledby: "mainModalLabel", hidden: true} }
.modal#mainModal{tabindex: "-1", role: "dialog", data: { backdrop: 'static' }, aria: {labelledby: "mainModalLabel", hidden: true} }
  %div{class: "modal-dialog #{modal_size}"}
    .modal-content{class: "#{plugin_name if plugin_name}"}
      .modal-header
        %button.close{type:"button", data: {dismiss:"modal"}, aria: {label: "Close"}}
          %span{aria: {hidden: "true"}} &times;
        %h4.modal-title
          - if content_for? :title
            = yield :title
          - else
            = "#{action_name.capitalize} #{controller.controller_name.singularize.humanize}"

        - if @quota_data and @quota_data.length>0
          .info-text
            %i.monitoring-icon
            = "Remaining Quota: #{@quota_data.collect(&:available_as_display_string).join(', ')}"

      = yield

= yield :javascripts
