!!!
%html
  %head
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")

    %title= page_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'essentials', 'data-turbolinks-track' => true

    = render "layouts/favicon"

    = csrf_meta_tags

  %body{class: "#{body_class}"}

    %nav.navbar.navbar-fixed-top.navbar-inverse.navbar-sap
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target": "#main-nav-collapse", "data-toggle": "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to main_app.landing_page_url(@scoped_domain_fid ? @scoped_domain_fid : params[:domain_id]), class: "navbar-brand" do
            .logo
            Converged Cloud

        .collapse.navbar-collapse#main-nav-collapse
          %ul.nav.navbar-nav
            %li
              = link_to params[:domain_id], "/#{params[:domain_id]}"

          %ul.nav.navbar-nav.navbar-right
            - unless logged_in?
              %li
                = link_to "Log in", main_app.domain_home_path(domain_id: params[:domain_id], project_id:nil), id: "navbar-login-btn"

    = yield :page_lead

    .container
      .content
        .flashes
          = render "application/flashes"
        = yield

    %footer.footer
      .container
        = image_tag "monsoon_cloud.svg", alt: "Monsoon Converged Cloud", class: "pull-right"

        .row
          .col-sm-2
            %ul.list-unstyled
              %li= link_to "Terms of Use", main_app.terms_of_use_path, data:{modal: true}
              %li
                %a(href="#{sap_url_for('documentation')}" target='ccdocs') Documentation

          .col-sm-3
            %ul.list-unstyled
              %li= link_to "Log in with password", monsoon_openstack_auth.login_path(domain_fid: @scoped_domain_fid || params[:domain_id],
                    domain_name: (params[:domain_id] || Rails.configuration.default_domain),
                    after_login: main_app.domain_home_path(domain_id:params[:domain_id]))

    = yield :templates
    = yield :javascripts

    #modal-holder
